package ${table.packageName}.service;

import com.github.pagehelper.PageInfo;
import ${table.packageName}.dao.model.${table.className};
import ${table.packageName}.dao.vo.${table.className}Vo;

public interface ${table.className}Service extends ICommonService<${table.className}>{

    public PageInfo<${table.className}Vo> findByParams(${table.className}Vo ${table.classNameFirstLower}Vo,Integer pageNum,Integer pageSize);
}
