package ${table.packageName}.service.impl;

import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;
import ${table.packageName}.dao.ICommonDao;
import ${table.packageName}.dao.${table.className}Dao;
import ${table.packageName}.dao.model.${table.className};
import ${table.packageName}.dao.vo.${table.className}Vo;
import ${table.packageName}.service.AbsCommonService;
import ${table.packageName}.service.${table.className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import java.util.List;

@Service
public class ${table.className}ServiceImpl  extends AbsCommonService<${table.className}> implements ${table.className}Service{

	@Autowired
	private ${table.className}Dao ${table.classNameFirstLower}Dao;


	@Override
	public PageInfo<${table.className}Vo> findByParams(${table.className}Vo ${table.classNameFirstLower}Vo,Integer pageNum,Integer pageSize) {
    PageHelper.startPage(pageNum, pageSize);
    	List<${table.className}Vo>  list = ${table.classNameFirstLower}Dao.findByParams(${table.classNameFirstLower}Vo);
        PageInfo page = new PageInfo(list);
        return page;
	}


	@Override
	public ICommonDao<${table.className}> getDao() {
		return ${table.classNameFirstLower}Dao;
	}

}
