<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.dao.AdminDao">
    <resultMap id="AdminResultMap" type="com.ms.dao.model.Admin">
            <id column="id"  property="id" />
            <result column="username"  property="username" />
            <result column="password"  property="password" />
            <result column="create_date"  property="createDate" />
        
    </resultMap>

    <resultMap id="AdminResultMapVo" type="com.ms.dao.vo.AdminVo">
            <id column="id"  property="id" />
            <result column="username"  property="username" />
            <result column="password"  property="password" />
            <result column="create_date"  property="createDate" />
        
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,create_date
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="AdminResultMap">
        select
        <include refid="Base_Column_List" />
        from admin
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="AdminResultMap">
        select
        <include refid="Base_Column_List" />
        from admin
    </select>

    <select id="findByParams" resultMap="AdminResultMapVo" parameterType="com.ms.dao.vo.AdminVo">
        select
        <include refid="Base_Column_List" />
        from admin
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from admin
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.ms.dao.model.Admin">
        insert into
        admin (username,password,create_date)
        values
        (#{username},#{password},#{createDate})
    </insert>

    <update id="update" parameterType="com.ms.dao.model.Admin">
        update admin
        <set>
                                                        
            <if test="username != null">
                username = #{username},
            </if>
                                            
            <if test="password != null">
                password = #{password},
            </if>
                                            
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
                            
        </set>
        where id = #{id}
    </update>
</mapper>