<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.dao.CategoryDao">
    <resultMap id="CategoryResultMap" type="com.ms.dao.model.Category">
            <id column="id"  property="id" />
            <result column="pid"  property="pid" />
            <result column="variety"  property="variety" />
            <result column="title"  property="title" />
            <result column="price_desc"  property="priceDesc" />
            <result column="unit"  property="unit" />
            <result column="sort"  property="sort" />
            <result column="create_time"  property="createTime" />
            <result column="picture_url"  property="pictureUrl" />
            <result column="status"  property="status" />
            <result column="level"  property="level" />
            <result column="update_time"  property="updateTime" />
        
    </resultMap>

    <resultMap id="CategoryResultMapVo" type="com.ms.dao.vo.CategoryVo" extends="CategoryResultMap">
        <result column="parent_name"  property="parentName" />
    </resultMap>

    <sql id="Base_Column_List">
        id,pid,variety,title,price_desc,unit,sort,create_time,picture_url,status,level,update_time
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="CategoryResultMap">
        select
        <include refid="Base_Column_List" />
        from category
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="CategoryResultMap">
        select
        <include refid="Base_Column_List" />
        from category
    </select>

    <select id="findByParams" resultMap="CategoryResultMapVo" parameterType="com.ms.dao.vo.CategoryVo">
        select
        *,c2.variety parent_name
        from category c1
        LEFT JOIN  category c2  on c1.pid=c2.id
        <where>
        <if test="variety!= null">
                 c1.variety like CONCAT('%','${variety}','%' )
        </if>
        <if test="level!= null">
                and c1.level = #{level}
        </if>
        <if test="status!= null">
            and c1.status = #{status}
        </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from category
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.ms.dao.model.Category">
        insert into
        category (pid,variety,title,price_desc,unit,sort,create_time,picture_url,status,level,update_time)
        values
        (#{pid},#{variety},#{title},#{priceDesc},#{unit},#{sort},#{createTime},#{pictureUrl},#{status},#{level},#{updateTime})
    </insert>

    <update id="update" parameterType="com.ms.dao.model.Category">
        update category
        <set>
                                                        
            <if test="pid != null">
                pid = #{pid},
            </if>
                                            
            <if test="variety != null">
                variety = #{variety},
            </if>
                                            
            <if test="title != null">
                title = #{title},
            </if>
                                            
            <if test="priceDesc != null">
                price_desc = #{priceDesc},
            </if>

            <if test="unit != null">
                unit = #{unit},
            </if>
                                            
            <if test="sort != null">
                sort = #{sort},
            </if>
                                            
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
                                            
            <if test="pictureUrl != null">
                picture_url = #{pictureUrl},
            </if>
                                            
            <if test="status != null">
                status = #{status},
            </if>
                                            
            <if test="level != null">
                level = #{level},
            </if>
                                            
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
                            
        </set>
        where id = #{id}
    </update>
    <select id="findAllCategory"  resultMap="CategoryResultMapVo" parameterType="com.ms.dao.vo.CategoryVo">
        select
        <include refid="Base_Column_List" />
        from category
        where level = #{level}
        <if test="status != null">
         and   status = #{status}
        </if>
    </select>

    <select id="getVoById" resultMap="CategoryResultMapVo" parameterType="java.lang.Integer">
        select
        *,c2.variety parent_name
        from category c1
        LEFT JOIN  category c2  on c1.pid=c2.id
        where c1.id=#{id}
    </select>

    <select id="findVoByPage" resultMap="CategoryResultMapVo">
        select
        *,c2.variety parent_name
        from category c1
        LEFT JOIN  category c2  on c1.pid=c2.id
    </select>
</mapper>