<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.dao.RoleResourcesDao">
    <resultMap id="RoleResourcesResultMap" type="com.ms.dao.model.RoleResources">
            <id column="id"  property="id" />
            <result column="role_id"  property="roleId" />
            <result column="resources_id"  property="resourcesId" />
        
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,resources_id
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="RoleResourcesResultMap">
        select
        <include refid="Base_Column_List" />
        from role_resources
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="RoleResourcesResultMap">
        select
        <include refid="Base_Column_List" />
        from role_resources
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from role_resources
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.ms.dao.model.RoleResources">
        insert into
        role_resources (role_id,resources_id)
        values
        (#{roleId},#{resourcesId})
    </insert>

    <update id="update" parameterType="com.ms.dao.model.RoleResources">
        update role_resources
        <set>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            <if test="resourcesId != null">
                resources_id = #{resourcesId},
            </if>
        </set>
        where id = #{id}
    </update>


    <delete id="deleteByRoleId"   parameterType="java.lang.Integer">
        delete from role_resources
        where role_id = #{id}
    </delete>

    <select id="findByRoleId" parameterType="java.lang.Integer" resultMap="RoleResourcesResultMap">
        select
        <include refid="Base_Column_List" />
        from  role_resources
        where role_id = #{roleId}
    </select>

</mapper>