<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.dao.SendSampleDao">
    <resultMap id="SendSampleResultMap" type="com.ms.dao.model.SendSample">
            <id column="id"  property="id" />
            <result column="user_id"  property="userId" />
            <result column="code"  property="code" />
            <result column="intention"  property="intention" />
            <result column="status"  property="status" />
            <result column="update_time"  property="updateTime" />
            <result column="create_time"  property="createTime" />
        
    </resultMap>

    <resultMap id="SendSampleResultMapVo" type="com.ms.dao.vo.SendSampleVo">
            <id column="id"  property="id" />
            <result column="user_id"  property="userId" />
            <result column="code"  property="code" />
            <result column="intention"  property="intention" />
            <result column="status"  property="status" />
            <result column="update_time"  property="updateTime" />
            <result column="create_time"  property="createTime" />
            <result column="nickname"  property="nickname" />
            <result column="phone"  property="phone" />
            <result column="area"  property="area" />
        
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,code,intention,status,update_time,create_time
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="SendSampleResultMap">
        select
        <include refid="Base_Column_List" />
        from send_sample
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="SendSampleResultMap">
        select
        <include refid="Base_Column_List" />
        from send_sample
    </select>

    <select id="findByParams" resultMap="SendSampleResultMapVo" parameterType="com.ms.dao.vo.SendSampleVo">
        select
        *,ud.nickname,ud.phone,ud.area
        from send_sample ss
        LEFT JOIN user_detail ud on ss.user_id = ud.user_id
        <where>
            ss.status!=-1
            <if test="nickname != null">
                and ud.nickname  like CONCAT('%','${nickname}','%' )
            </if>
            <if test="phone != null">
                and ud.phone like CONCAT('%','${phone}','%' )
            </if>
            <if test="code != null">
                and ss.code=#{code}
            </if>
            <if test="status != null">
                and ss.status=#{status}
            </if>
            <if test="userId != null">
                and ss.user_id=#{userId}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from send_sample
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.ms.dao.model.SendSample">
        insert into
        send_sample (user_id,code,intention,status,update_time,create_time)
        values
        (#{userId},#{code},#{intention},#{status},#{updateTime},#{createTime})
    </insert>

    <update id="update" parameterType="com.ms.dao.model.SendSample">
        update send_sample
        <set>
                                                        
            <if test="userId != null">
                user_id = #{userId},
            </if>
                                            
            <if test="code != null">
                code = #{code},
            </if>
                                            
            <if test="intention != null">
                intention = #{intention},
            </if>
                                            
            <if test="status != null">
                status = #{status},
            </if>
                                            
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
                                            
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
                            
        </set>
        where id = #{id}
    </update>
    <select id="findDetailById" parameterType="java.lang.Integer" resultMap="SendSampleResultMapVo">
        select
        *,ud.nickname,ud.phone,ud.area
        from send_sample ss
        LEFT JOIN user_detail ud on ss.user_id = ud.user_id
        where ss.id = #{id}
    </select>


    <select id="findByCommodityId" resultMap="SendSampleResultMapVo">
        select
        *,ud.nickname,ud.phone,ud.area
        from send_sample ss
        LEFT JOIN user_detail ud on ss.user_id = ud.user_id
        <where>
            ss.status!=-1
            and ss.user_id=#{userId}
            and ss.intention REGEXP #{ids}


        </where>
    </select>

</mapper>