<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.dao.SpecialDao">
    <resultMap id="SpecialResultMap" type="com.ms.dao.model.Special">
            <id column="id"  property="id" />
            <result column="title"  property="title" />
            <result column="pictuer_url"  property="pictuerUrl" />
            <result column="description"  property="description" />
            <result column="status"  property="status" />
            <result column="update_time"  property="updateTime" />
            <result column="create_time"  property="createTime" />
            <result column="sort"  property="sort" />
            <result column="update_mem"  property="updateMem" />
            <result column="create_mem"  property="createMem" />
        
    </resultMap>

    <resultMap id="SpecialResultMapVo" type="com.ms.dao.vo.SpecialVo">
            <id column="id"  property="id" />
            <result column="title"  property="title" />
            <result column="pictuer_url"  property="pictuerUrl" />
            <result column="description"  property="description" />
            <result column="status"  property="status" />
            <result column="update_time"  property="updateTime" />
            <result column="create_time"  property="createTime" />
            <result column="sort"  property="sort" />
            <result column="update_mem"  property="updateMem" />
            <result column="create_mem"  property="createMem" />
        
    </resultMap>

    <sql id="Base_Column_List">
        id,title,pictuer_url,description,status,update_time,create_time,sort,update_mem,create_mem
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="SpecialResultMap">
        select
        <include refid="Base_Column_List" />
        from special
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="SpecialResultMap">
        select
        <include refid="Base_Column_List" />
        from special
    </select>

    <select id="findByParams" resultMap="SpecialResultMapVo" parameterType="com.ms.dao.vo.SpecialVo">
        select
        <include refid="Base_Column_List" />
        from special
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="title != null">
                title like CONCAT('%','${title}','%' )
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from special
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.ms.dao.model.Special">
        insert into
        special (title,pictuer_url,description,status,update_time,create_time,sort,update_mem,create_mem)
        values
        (#{title},#{pictuerUrl},#{description},#{status},#{updateTime},#{createTime},#{sort},#{updateMem},#{createMem})
    </insert>

    <update id="update" parameterType="com.ms.dao.model.Special">
        update special
        <set>
                                                        
            <if test="title != null">
                title = #{title},
            </if>
                                            
            <if test="pictuerUrl != null">
                pictuer_url = #{pictuerUrl},
            </if>
                                            
            <if test="description != null">
                description = #{description},
            </if>
                                            
            <if test="status != null">
                status = #{status},
            </if>
                                            
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
                                            
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
                                            
            <if test="sort != null">
                sort = #{sort},
            </if>
                                            
            <if test="updateMem != null">
                update_mem = #{updateMem},
            </if>
                                            
            <if test="createMem != null">
                create_mem = #{createMem},
            </if>
                            
        </set>
        where id = #{id}
    </update>
</mapper>