<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.dao.TrackingDetailDao">
    <resultMap id="TrackingDetailResultMap" type="com.ms.dao.model.TrackingDetail">
            <id column="id"  property="id" />
            <result column="send_id"  property="sendId" />
            <result column="type"  property="type" />
            <result column="company"  property="company" />
            <result column="tracking_no"  property="trackingNo" />
            <result column="vistor"  property="vistor" />
            <result column="vistor_phone"  property="vistorPhone" />
            <result column="vistor_time"  property="vistorTime" />
            <result column="create_time"  property="createTime" />
        
    </resultMap>

    <resultMap id="TrackingDetailResultMapVo" type="com.ms.dao.vo.TrackingDetailVo">
            <id column="id"  property="id" />
            <result column="send_id"  property="sendId" />
            <result column="type"  property="type" />
            <result column="company"  property="company" />
            <result column="tracking_no"  property="trackingNo" />
            <result column="vistor"  property="vistor" />
            <result column="vistor_phone"  property="vistorPhone" />
            <result column="vistor_time"  property="vistorTime" />
            <result column="create_time"  property="createTime" />
        
    </resultMap>

    <sql id="Base_Column_List">
        id,send_id,type,company,tracking_no,vistor,vistor_phone,vistor_time,create_time
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="TrackingDetailResultMap">
        select
        <include refid="Base_Column_List" />
        from tracking_detail
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="TrackingDetailResultMap">
        select
        <include refid="Base_Column_List" />
        from tracking_detail
    </select>

    <select id="findByParams" resultMap="TrackingDetailResultMapVo" parameterType="com.ms.dao.vo.TrackingDetailVo">
        select
        <include refid="Base_Column_List" />
        from tracking_detail
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from tracking_detail
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.ms.dao.model.TrackingDetail">
        insert into
        tracking_detail (send_id,type,company,tracking_no,vistor,vistor_phone,vistor_time,create_time)
        values
        (#{sendId},#{type},#{company},#{trackingNo},#{vistor},#{vistorPhone},#{vistorTime},#{createTime})
    </insert>

    <update id="update" parameterType="com.ms.dao.model.TrackingDetail">
        update tracking_detail
        <set>
                                                        
            <if test="sendId != null">
                send_id = #{sendId},
            </if>
                                            
            <if test="type != null">
                type = #{type},
            </if>
                                            
            <if test="company != null">
                company = #{company},
            </if>
                                            
            <if test="trackingNo != null">
                tracking_no = #{trackingNo},
            </if>
                                            
            <if test="vistor != null">
                vistor = #{vistor},
            </if>
                                            
            <if test="vistorPhone != null">
                vistor_phone = #{vistorPhone},
            </if>
                                            
            <if test="vistorTime != null">
                vistor_time = #{vistorTime},
            </if>
                                            
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
                            
        </set>
        where id = #{id}
    </update>
</mapper>