/* 订单 */
.order-wrap{margin-top:20px;border:1px solid #e7e7e7;}
.order-wrap .title{line-height:50px;padding:0 30px;border-bottom:1px solid #e7e7e7;background:#f0eff5;} 
.order-wrap .main{line-height:1;padding:30px;font-size:12px;}
.order-wrap .main h3{margin-bottom:18px;font-size:14px;font-weight:700;}
.order-wrap .main .hd{padding-bottom:28px;border-bottom:1px solid #e7e7e7;}
.order-wrap .main .hd h3{font-size:24px;}
.order-wrap .main .hd p{font-size:12px;color:#666;}
.order-wrap .main .hd p span{margin-right:10px;}
.order-wrap .main .hd p em{color:#c3272b;font-weight:700;}
.order-wrap .main .bd{font-size:12px;}
.order-wrap .main .bd h3{padding:30px 0 0;}
.order-wrap .main .bd dt{padding:15px 0 5px;font-weight:700;}
.order-wrap .main .bd dd{color:#666;line-height:24px;}
.order-wrap .main .bd p{line-height:24px;}
.order-wrap .main .address .btn{padding:2px 10px;font-size:12px;}
.order-wrap .main .address li{position:relative;padding-bottom:30px;border-bottom:1px solid #e7e7e7;}
.order-wrap .main .address h3{margin-bottom:18px;}
.order-wrap .main .address p{margin-top:12px;color:#999;}
.order-wrap .main .address em{color:#333;}
.order-wrap .main .address .extra{position:absolute;bottom:30px;right:0;text-align:right;}
.order-wrap .main .address .extra .btn{display:block;margin-top:20px;}

.order{padding:0 30px;overflow:hidden;}
.order span{color:#999;}
.order .group{padding:30px 0;font-size:12px;border-bottom:1px solid #e7e7e7;}
.order .group .hd{line-height:14px;margin-bottom:20px;overflow:hidden;*zoom:1;}
.order .group .hd h3{font-weight:700;font-size:14px;}
.order .group .consignee{margin:-7px 0;}
.order .group .btn{padding:2px 10px;font-size:12px;}
.order .group .fa-chart .ipt{width:100px;margin:5px;padding:5px 0;font-size:12px;border:1px solid #ccc;}
.order .group .mul{width:580px;height:60px;padding:9px;font-size:12px;}
.order .invoice .tips{display:block;margin-bottom:5px;}
.order .invoice em{margin-right:20px;}
.order .summary{line-height:30px;margin:30px -30px;padding:22px 30px;font-size:14px;background:#f5f5f5;}
.order .summary .item{position:relative;text-align:right;}
.order .summary .dt{position:absolute;top:0;right:160px;}
.order .summary .rmb{margin-right:4px;}
.order .summary .price{font-size:18px;font-weight:700;color:#c3272b;}
.order .submit{padding-bottom:50px;text-align:right;}
.order .submit .btn{padding:10px 60px;font-size:16px;}
.order .submit p{padding:30px 66px 0 0;font-size:12px;}


/* 收货地址 */

.consignee{position:relative;}
.consignee label{display:block;line-height:24px;}
.consignee li{position:relative;line-height:24px;padding:0 110px 0 0;}
.consignee span{color:#999;}
.consignee .empty{padding:60px 0;text-align:center;}
.consignee .extra{position:absolute;top:0;right:0;text-align:right;}
.consignee .extra a{display:block;margin-bottom:12px;}
.consignee-list{display:none;padding:10px 30px 30px;font-size:12px;}
.consignee-list ul{height:248px;overflow:hidden;overflow-y:auto;}
.consignee-list li{margin-top:20px;padding:15px 21px;border:1px solid #ccc;cursor:pointer;}
.consignee-list li.current{padding:14px 20px;border:2px solid #c3272b;background:url(../images/default.png) no-repeat 100% 100%;}
.consignee-list li.current .default{display:block;}
.consignee-list .default{position:absolute;top:20px;right:20px;display:none;}
.consignee-list .button{padding-top:30px;}
.consignee-list .button .btn{padding:0;height:34px;}
.consignee-list .button .submit{width:150px;margin-right:16px;}
.consignee-list .button .cancel{width:100px;}



/* 支付 */
.payment{margin-top:20px;border:1px solid #e7e7e7;}
.payment .title{line-height:50px;padding:0 30px;border-bottom:1px solid #e7e7e7;background:#f0eff5;} 
.payment .main{padding:30px;font-size:12px;}
.payment .main .hd{margin:20px 0 30px;padding-top:30px;font-size:14px;font-weight:700;color:#333;border-top:1px solid #e7e7e7;}
.payment .main{line-height:18px;padding-bottom:40px;}
.payment .main dt{float:left;width:85px;color:#999;text-align:right;}
.payment .main dd{margin-left:85px;min-height:28px;}
.payment .main dd em{font-weight:700;color:#c3272b;font-size:16px;vertical-align:middle;}
.payment .main dd span{margin-left:10px;color:#999;}
.payment .main dd label{line-height:20px;margin-right:20px;}
.payment .main dd input{margin-right:4px;vertical-align:-2px;}
.payment .main dd p{margin-bottom:6px;}
.payment .main .fa-form{padding:0;}
.payment .main .group{padding-left:65px;}
.payment .main .txt{width:auto;line-height:40px;color:#999;}
.payment .main .cnt{height:auto;min-height:40px;padding-bottom:20px;}
.payment .main .ipt{width:200px;padding:9px;}
.payment .main .btn{width:220px;margin-top:10px;}
.payment .main .tips{margin-left:6px;vertical-align:middle;}
.payment .main .up-img{margin-right:20px;vertical-align:middle;}
.payment .main .up-img img{cursor:pointer;}
.payment .main .cnt .msg-box{display:inline-block;line-height:38px;margin:0 0 0 5px;vertical-align:top;}
.payment .main .cnt select{width:220px;height:40px;line-height:40px;}
.payment .state{padding:30px;}
.payment .state h4{font-size:24px;color:#333;font-weight:700;}
.payment .state h4 i{margin-right:10px;color:#58c805;font-size:32px;font-weight:400;vertical-align:-4px;}
.payment .state p{margin-left:44px;color:#999;font-size:12px;}
/*2016.12.20*/
.payment .cont{line-height:1;padding:30px;font-size:12px;}
.payment .cont .info{margin-bottom:30px;padding-bottom:30px;border-bottom:1px solid #e7e7e7;}
.payment .cont .info span{margin-right:14px;color:#999;}
.payment .cont .h1{margin-bottom:14px;font-size:18px;font-weight:700;}
.payment .cont .h2{margin-bottom:30px;font-size:14px;font-weight:700;}
.payment .cont strong{display:block;}
.payment .cont em{color:#333;}
.payment .cont .red{color:#c3272b;}
.payment .cont .paytype label{position:relative;display:inline-block;width:148px;height:38px;line-height:38px;margin-right:16px;font-size:14px;font-weight:700;border:1px solid #ccc;text-align:center;cursor:pointer;overflow:hidden;}
.payment .cont .paytype label input{position:absolute;opacity:0;}
.payment .cont .paytype label.checked{border-color:#c3272b;}
.payment .cont .paytype label.checked i{position:absolute;bottom:0;right:-7px;border:7px dashed transparent;border-bottom:7px solid #c3272b;}
.payment .cont .button{margin-top:30px;}
.payment .cont .button .btn{width:140px;margin-right:10px;}
.payment .cont .button label{display:inline-block;width:86px;color:#999;}
.payment .cont .button em{display:block;height:50px;}
.payment .cont .button .ipt{width:200px;padding:9px;}
.payment .cont .bank{display:none;margin:30px 0 0;}
.payment .cont .bank .cbx{margin-right:-4px;}
.payment .cont .bank p{height:34px;}
.payment .cont .bank em{margin-left:14px;font-weight:700;}
.payment .cont .bank .send{display:block;width:120px;height:30px;margin-top:10px;background:#f0eff5;font-size:12px;cursor:pointer;}
.payment .cont .bank .send:hover{opacity:.8;filter:alpha(opacity=80);}
.payment .cont .bank .h2{margin-top:30px;padding-top:30px;border-top:1px solid #e7e7e7;}
.payment .cont .bank .tips{display:block;margin-top:20px;color:#999;}
.payment .cont .bill{display:none;margin:30px 0 0;padding-top:30px;border-top:1px solid #e7e7e7;color:#999;}
.payment .cont .bill select{width:220px;height:40px;line-height:40px;margin-right:10px;}
.payment .cont .bill label{display:inline-block;width:86px;}
.payment .cont .bill p{margin-top:20px;}
.payment .cont .error{color:#c3272b;}
.pay-modal{line-height:24px;padding:0 40px;}
.pay-modal .hd{padding:35px 0 4px 34px;font-size:16px;}
.pay-modal .hd i{margin-right:14px;color:#ffb200;font-size:40px;}
.pay-modal p{padding-left:90px;font-size:12px;color:#999;}
.pay-modal .op{margin-top:36px;text-align:center;}
.pay-modal .op a{width:118px;height:32px;line-height:32px;margin:0 8px;padding:0;font-size:12px;}
.pay-modal .op a:hover{text-decoration:none;}
.pay-modal .tc{margin-top:23px;text-align:center;}
.pay-modal .tc span{cursor:pointer;font-size:12px;}
