@charset "utf-8";
/* CSS Document */
/*
 * zhouli 2015.1.16
*/
/* css sprite */
.call-nav .list i,
.call-nav .list .call-sub-nav li i,
.call-nav .list .call-sub-nav .call-sub-navs li a{background: url("../../images/callCenter/callCenter.png") no-repeat;}
.call-top{
    background: #e72b10;
    height: 95px;
    min-width: 1200px;
	overflow:hidden;
}
.call-logo{
    background: url("../../images/callCenter/call-logo.png") no-repeat;
    width: 310px;
    height: 49px;
    margin-top: 25px;
}
.call-search{
    margin: 22px 55px 0 0;
}
.call-search .call-text{
    background: #fff;
    width: 460px;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    color: #888;
    border: 1px solid #f0523b;
}
.call-search .call-btn{
    background: #a11704;
    width: 124px;
    line-height: 38px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #f0523b;
    margin-left: -2px;
}
.call-search p{
    padding-left: 10px;
    line-height: 30px;
    color: #ff9086;
}
.call-search p a{color: #ff9086; padding: 0 5px;} .call-search p a:hover{color: #fff;}
.call-nav{
    height: 50px;
    background: #c51f07;
    min-width: 1200px;
}
.call-nav .list{
    width: 234px;
    line-height: 50px;
    background: #a11704;
    color: #fff;
    font-family: "Microsoft YaHei", "微软雅黑";
    font-size: 16px;
}
.call-nav .list i{
    display: inline-block;
    background-position: 0 0;
    width: 29px;
    height: 28px;
    vertical-align: middle;
    margin: 0 5px 0 15px;
}
.call-nav .list .call-sub-nav{
    position: absolute;
    left: 0;
    top:50px;
    border: 1px solid #dededf;
    border-top: 0 none;
    background: #fff;
    width: 232px;
    height: 620px;
}
.call-nav .list .call-sub-nav li{
    color: #666;
    font-size: 14px;
    line-height: 43px;
    font-family: "宋体";
    border-bottom: 1px solid #e5e6e7;
    cursor: pointer;
}
.call-nav .list .call-sub-nav li span{
    display: inline-block;
    padding-left: 18px;
    width: 214px;
}
.call-nav .list .call-sub-nav li.cur span{
    background: #dfdfe0;
    font-weight: bold;
}
.call-nav .list .call-sub-nav li i{
    display: inline-block;
    background-position: -32px 0;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 0;
}
.call-nav .list .call-sub-nav li.cur i{background-position: -56px 0;}
.call-nav .list .call-sub-nav li a{
    color: #666;
}
.call-nav .list .call-sub-nav .call-sub-navs{
    display: none;
    background: #ebebec;
    margin-bottom: 1px;
    padding: 5px 0;
}
.call-nav .list .call-sub-nav .call-sub-navs li{
    border-bottom: 0 none;
    line-height: 25px;
    padding-left: 15px;
    margin-left: 32px;
    font-size: 12px;
}
.call-nav .list .call-sub-nav .call-sub-navs li a{
    display: inline-block;
    background-position: -80px -29px;
    padding-left: 15px;
    color: #888;
    outline: none;
}
.call-nav .list .call-sub-nav .call-sub-navs li a:hover,
.call-nav .list .call-sub-nav .call-sub-navs li a.cur{
    background-position: -80px 9px;
    color: #fd6638;
    font-weight: bold;
    text-decoration: none;
}
.call-nav .menu li{
    float: left;
    padding: 0 30px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    margin-right: 1px;
}
.call-nav .menu li:hover,
.call-nav .menu li.cur{
    background: #e72b10;
}
.call-nav .menu li a{
    color: #fff;
}
.area-945{width: 945px; min-height: 635px;}
.area-668{width: 668px;}
.border-1{border:1px solid #d9d9da;}
.mt35{margin-top: 35px;}
.area-668 .tabs-1{
    border-bottom: 1px solid #e1e1e1;
    height: 45px;
}
.area-668 .tabs-1 li{
    float: left;
    padding: 0 18px;
    line-height: 45px;
    font-family: "microsoft yahei";
    font-size: 14px;
    color: #9ea2a4;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    margin-left: -1px;
    cursor: pointer;
    position: relative;
}
.area-668 .tabs-1 li .hot{
    position: absolute;
    top:3px;
    right: 3px;
    display: inline-block;
    background: url("../../images/callCenter/hot.png") no-repeat;
    width: 16px;
    height: 15px;
}
.area-668 .tabs-1 li.cur{
    border-top:6px solid #fd6638;
    margin-top: -1px;
    line-height: 35px;
    height: 41px;
    background: #fff;
    color: #666;
}
.list1{padding: 10px 0; display: none;}
.list1 li{
    background: url("../../images/callCenter/li.png") no-repeat 0 13px;
    float: left;
    width: 300px;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    padding-left: 15px;
    margin-left: 15px;
}
.list1 li a{color: #888;}
.list1 li a:hover{color: #fd6638; text-decoration: underline;}
.call-box1{
    margin: 30px 0 0 15px;
}
.call-box1 dl{
    float: left;
    width: 320px;
    padding-bottom: 50px;
}
.call-box1 dl dt{
    color: #fd6638;
    line-height: 22px;
    font-weight: bold;
    font-size: 14px;
}
.call-box1 dl dd{
    line-height: 24px;
    color: #dbdada;
}
.call-box1 dl dd a{color: #888;}
.call-box1 dl dd a:hover,
.tabs-cont2 li a:hover,
.position a:hover,
.question-list li a:hover{color: #fd6638; text-decoration: underline;}
.area-260{
    width: 226px;
    min-height: 555px;
    border-left: 1px solid #d3d4d5;
    margin-top: 35px;
    padding: 0 15px 30px;
    overflow: hidden;
}
.tit1{
    font-size: 16px;
    font-family: "microsoft yahei";
    line-height: 36px;
    color: #323232;
    padding-left: 20px;
}
.hr{padding-bottom: 0;}
.contact-box{
    padding: 15px;
}
.contact-box p{
    font-size: 14px;
    font-family: "microsoft yahei";
    line-height: 36px;
    color: #666;
}
.col_red{
    color: #e72b10;
    font-size: 18px;
}
.tabs-2{width: 300px; padding-top: 20px;}
.tabs-2 li{
    float: left;
    margin: 0 2px;
    padding: 0 25px;
    border-bottom: 2px solid #d9d9da;
    line-height: 42px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    cursor: pointer;
}
.tabs-2 li.cur{
    color: #fd6638;
    border-bottom: 2px solid #fd6638;
}
.tabs-cont2{padding:10px; display: none;}
.tabs-cont2 li{
    background: url("../../images/callCenter/li.png") no-repeat 0 13px;
    line-height: 36px;
    height: 36px;
    overflow: hidden;
    padding-left: 12px;
}
.tabs-cont2 li a,
.position a{color: #888;}
.position{
    color: #888;
}
.position span{color: #666;}
.tips{
    background: #f3f3f4;
    height: 47px;
    margin-top: 30px;
}
.tips a{
    display: inline-block;
    padding: 3px 10px;
    margin: 10px 20px;
    color: #fd6638;
}
.tips a:hover,
.tips a.cur{
    background: #fd6638;
    -moz-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
}
.question-list{
    background: url("../../images/callCenter/ul_bg.png") no-repeat 0 8px;
    margin: 20px 0 0 20px;
}
.question-list li{
    padding-left: 25px;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    font-size: 14px;
}
.question-list li a{color: #666;}
.area-925{width: 925px;}
.call-box2 li{
    float: left;
    width: 370px;
    padding-left: 90px;
    margin: 25px 0 38px;
    border-right: 1px solid #d3d4d5;
}
.call-box2 li.bn{border-right: 0 none;}
.call-box2 li i,
.call-box2 li p{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 0;
}
.call-box2 li i.icon-1,
.call-box2 li i.icon-2,
.call-box3 dl,
.call-box3 dl dd:hover{background: url("../../images/callCenter/liucheng.png") no-repeat;}
.call-box2 li i.icon-1,
.call-box2 li i.icon-2{
    background-position: 0 0;
    width: 128px;
    height: 42px;
    padding-top: 128px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 42px;
}
.call-box2 li i.icon-2{background-position: -129px 0;}

.png{
    display: none;
    position: absolute;
    top:0;
    left:0;
    width: 128px;
    height: 128px;
    background: url("../../images/png.png") repeat;
    z-index: 1;
}
.call-box2 li i:hover .png{
    display: block;
}
.call-box2 li p{
    padding-left: 25px;
	width:150px;
	*float:left;
}
.call-box2{ *height:230px;}
.call-box2 li i{*float:left;}
.call-box2 li p a{
    display: inline-block;
    border: 1px solid #d9d9da;
    padding: 3px 20px;
    font-size: 14px;
    color: #666;
    margin: 8px 0;
    -moz-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.call-box2 li p a.cur,
.call-box2 li p a:hover{
    border: 1px solid #fd6638;
    background: #fd6638;
    color: #fff;
    text-decoration: none;
}
.call-box3 dl{
    margin: 45px 0 0 45px;
}
.call-box3 .first{
    background-position: 0 -174px;
    width: 830px;
    height: 125px;
}
.call-box3 .second{
    background-position: 0 -305px;
    width: 830px;
    height: 125px;
}
.call-box3 dl dt{
    padding-top: 95px;
    line-height: 32px;
    font-size: 16px;
    float: left;
    width: 95px;
    text-align: center;
    color: #323232;
    font-family: "microsoft yahei";
    margin-right: 24px;
}
.call-box3 dl dt .png{display: none;}
.call-box3 dl dt:hover .png{display: block;}
.call-box3 dl dd{
    float: left;
    width: 87px;
    text-align: center;
}
.call-box3 dl dd:hover{
    background-position: -771px 22px;
}
.call-box3 dl dd h4{
    font-size: 14px;
    color: #e98164;
    line-height: 55px;
    padding-top: 22px;
}
.call-box3 dl dd p{
    padding-top: 15px;
    line-height: 18px;
    color: #555;
}
.call-box3 dl dd:hover h4{color: #fff;}
.call-box3 dl dd:hover p{color: #fd6638;}
.call-box3 dl dd a{text-decoration: none;}
.call-box3 dl dd a:hover{text-decoration: none;}
.pb50{padding-bottom: 50px;}
.detail-box{
    margin: 20px 0 40px;
}
.detail-box p{
    font-size: 14px;
    color: #666;
    line-height: 32px;
}
.detail-box .title2{
    font-size: 14px;
    font-weight: bold;
    color: #666;
    line-height: 32px;
}