<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<!-- 应用程序名称 -->
	<contextName>BOSS</contextName>
	
	<!-- 引用的变量文件 -->
	<property useExisted="true"  />


    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ch.qos.logback.core.rolling.RollingFileAppender 文件日志输出 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Encoding>UTF-8</Encoding>
        <File>./BOOSBIZ.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./BOOSBIZ-%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <MaxHistory>10</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>5MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n
            </pattern>
        </layout>
    </appender>

    <!-- 日志级别 -->
    <root>
        <level value="error" />
        <level value="info" />
        <level value="debug" />
        <appender-ref ref="console" />
    </root>

    <logger name="com.pieces.tools.log.internal.LogHandle" additivity="false">
        <level value="info" />
        <appender-ref ref="file" />
    </logger>
	
</configuration>
