@charset "utf-8";

/* css reset */
html{_background:url(about:blank) no-repeat fixed;}
body{background:#fff;}
body,h1,h2,h3,h4,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,th,td{margin:0;padding:0;}
body,button,input,select,textarea{background:#fff;font:14px/1.5 arial,tahoma,'Microsoft Yahei','\5b8b\4f53';color:#333}
h1,h2,h3,h4{font-size:100%;font-weight:400;}
ul,ol{list-style:none;}
a{color:#333;text-decoration:none;outline:none;}
a:hover{color:#c3272b;text-decoration:underline}
button,input,select,textarea{border:1px solid #ccc;outline:none;resize:none;}
fieldset,img{vertical-align:top;border:none}
table{width:100%;border-collapse:collapse;border-spacing:0}
address,cite,dfn,em,b,i,strong{font-style:normal;font-weight:400;}
::selection{background:#af2327;color:#fff;}
::-moz-selection{background:#af2327;color:#fff;}
::-webkit-selection{background:#af2327;color:#fff;}
::-ms-clear,::-ms-reveal{display:none;}
:-ms-input-placeholder{color:#999;} 

/* iconfont.cn */
@font-face{font-family:"fa";src:url('../fonts/iconfont.eot?t=1466759445');src:url('../fonts/iconfont.eot?t=1466759445#iefix') format('embedded-opentype'),url('../fonts/iconfont.woff?t=1466759445') format('woff'),url('../fonts/iconfont.ttf?t=1466759445') format('truetype'),url('../fonts/iconfont.svg?t=1466759445#fa') format('svg')}
.fa{font-family:"fa"!important;font-size:16px;font-style:normal;vertical-align:middle;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:0.2px;-moz-osx-font-smoothing:grayscale}

.fa-download:before{content:"\e61b";}
.fa-cart:before{content:"\e61e";}
.fa-attach:before{content:"\e62d";}
.fa-prompt:before{content:"\e60f";}
.fa-heart:before{content:"\e603";}
.fa-setting:before{content:"\e604";}
.fa-check:before{content:"\e609";}
.fa-lock:before{content:"\e600";}
.fa-chevron-right:before{content:"\e631";}
.fa-search:before{content:"\e612";}
.fa-times-circle-o:before{content:"\e617";}
.fa-tel:before{content:"\e60b";}
.fa-success:before{content:"\e61d";}
.fa-invoice:before{content:"\e605";}
.fa-chevron-down:before{content:"\e632";}
.fa-chevron-up:before{content:"\e633";}
.fa-people:before{content:"\e601";}
.fa-chevron-left:before{content:"\e634";}
.fa-plus:before{content:"\e611";}
.fa-question-circle:before{content:"\e602";}
.fa-li:before{content:"\e61c";}
.fa-times:before{content:"\e616";}
.fa-menu:before{content:"\e606";}
.fa-logistics:before{content:"\e61a";}
.fa-check-circle:before{content:"\e60e";}
.fa-consignee:before{content:"\e619";}
.fa-frown:before{content:"\e618";}
.fa-date:before{content:"\e614";}
.fa-export:before{content:"\e613";}
.fa-bill:before{content:"\e607";}
.fa-clock:before{content:"\e608";}
.fa-fukuan:before{content:"\e6a6";}
.fa-times-circle:before{content:"\e615";}
.fa-xiadan01:before{content:"\e647";}
.fa-chuku:before{content:"\e650";}
.fa-truck:before{content:"\e639";}
.fa-new:before{content:"\e61f";}

.fa-chevron-up,
.fa-chevron-right,
.fa-chevron-down,
.fa-chevron-left{font-size:12px;}
.fa-new{display:inline-block;-webkit-animation:gif 3s ease 1s infinite;animation:gif 3s ease 1s infinite;}

@-webkit-keyframes gif {
	0% {  transform:translateY(0) }
	6% {  transform:translateY(-2px)}
	12% {  transform:translateY(0)}
	18% {  transform:translateY(-2px)}
	24% {  transform:rotateY(0) }
	100% {  transform:rotateY(0) }
}
@keyframes gif {
	0% {  transform:translateY(0) }
	6% {  transform:translateY(-2px)}
	12% {  transform:translateY(0)}
	18% {  transform:translateY(-2px)}
	24% {  transform:rotateY(0) }
	100% {  transform:rotateY(0) }
}
/* layout */
.bg-gray{background-color:#f0eff5;}
.fl{float:left;}
.fr{float:right;}
.tc{text-align:center !important;}
.tl{text-align:left !important;}
.tr{text-align:right !important;}
.hide{display:none;}
.wrap{width:1200px;margin:0 auto;}
.cf,.wrap{*zoom:1;}
.cf:after,.wrap:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.opacity{opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);}
.cbx{width:14px;height:14px;margin-right:4px;vertical-align:-2px;*vertical-align:0;}
.lazyload{background:url(../images/loader.gif) no-repeat 50%;}

/* width */
.site-nav, .nav, .header, .footer, .wrap, .banner-slider, .helper{min-width:1200px;}
.wide-banner{width:1200px;margin:30px auto 0;background:#fff;text-align:center;}
.wide-banner .def{width:90px;height:90px;}

/* button */
.btn{display:inline-block;padding:7px 12px;text-align:center;vertical-align:middle;cursor:pointer;}
.btn:hover{text-decoration:none;}
.btn-red{color:#fff;background:#c3272b;border:1px solid #c3272b;}
.btn-red:hover{color:#fff;background:#af2327;}
.btn-primary{color:#fff;background:#ae9c75;border:1px solid #ae9c75;}
.btn-primary:hover{color:#fff;background:#9c8c69;}
.btn-white{background:#fff;color:#c3272b;border:1px solid #ccc;}
.btn-white:hover{background:#c3272b;color:#fff;border-color:#c3272b;text-decoration:none;}
.btn-gray{background:#e7e7e7;color:#333;border:1px solid #ccc;}
.btn-gray:hover{background:#cfcfcf;color:#333;border-color:#aaa;}
.btn-gray:disabled{color:#999;cursor:default;}
.btn-gray:disabled:hover{background:#e7e7e7;border-color:#ccc;}
.btn-lgray{background:#ededed;color:#666;border:1px solid #ccc;}
.btn-lgray:hover{background:#d5d5d5;color:#666;border-color:#aaa;}
.btn-file{position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;overflow:hidden;}
.btn-file input{position:absolute;width:10000px;height:1000px;right:-20px;top:-20px;font-size:1000px;opacity:0;filter:alpha(opacity=0);z-index:1;cursor:pointer;}

/* link */
.c-blue{color:#1769ff !important;}
.c-blue:hover{color:#155ee5 !important;}
.c-red{color:#c3272b !important;}
.c-red:hover{color:#af2327 !important;}

/* site-nav */
.site-nav{height:29px;line-height:29px;font-size:12px;border-bottom:1px solid #e7e7e7;background:#ededed;overflow:hidden;*zoom:1;}
.site-nav li{float:left;height:29px;padding-left:10px;}

/* header */
.header{height:100px;background:#fff;}
.header .logo{float:left;padding-right:106px;height:100px;background:url(../images/logo_txt.png) no-repeat 100% 50%;overflow:hidden;}
.header .logo a{display:block;width:200px;height:100%;text-indent:-999px;background:url(../images/logo.png) no-repeat 0 50%;}
.header .search{width:500px;margin:0 auto;padding:30px 0 0 72px;}
.header .search .hotwords{height:30px;line-height:30px;font-size:12px;overflow:hidden;}
.header .search .hotwords a{margin-right:4px;color:#999;}
.header .search .hotwords .hot{color:#c3272b;}
.header .search .form{height:40px;overflow:hidden;*zoom:1;}
.header .search .ipt{float:left;width:376px;height:26px;padding:5px 10px;line-height:26px;border:2px solid #c3272b;}
.header .search .btn{float:left;width:100px;height:40px;font-size:16px;color:#fff;cursor:pointer;border:none;background:#c3272b;overflow:hidden;}
.header .cart{float:right;position:relative;z-index:9;width:220px;margin-top:30px;cursor:default;}
.header .cart .hd{position:relative;z-index:2;height:38px;line-height:38px;background:#fff;text-align:center;border:1px solid #e7e7e7;}
.header .cart .hd .fa-cartlist{display:none;}
.header .cart .hd span{display:inline-block;padding-left:22px;background:url(../images/cart.png) no-repeat 0 50%;}
.header .cart .hd .count{position:relative;top:-4px;display:inline-block;height:13px;padding:2px 5px;background:#c3272b;font:12px/12px tahoma;color:#fff;border-radius:10px;}
.header .cart .hd .count i{position:absolute;top:-5px;left:110%;right:0;color:#c3272b;font-size:20px;}
.header .cart .bd{position:absolute;top:50px;right:0;width:320px;background:#fff;border:1px solid #c3272b;box-shadow:0 0 1px rgba(0,0,0,.3);display:none;}
.header .cart .bd .arrow{position:absolute;top:-20px;right:0;width:240px;height:20px;background:#fff url(../images/cart-arrow.png) no-repeat 100% 100%;}
.header .cart .bd .th{margin:0 16px;line-height:33px;font-weight:bold;border-bottom:1px solid #e7e7e7;}
.header .cart .bd .tf{padding:16px;line-height:28px;background:#f0f0f0;border-top:1px solid #e7e7e7;overflow:hidden;*zoom:1;}
.header .cart .bd .tf .count{color:#c3272b;}
.header .cart .bd .tf .btn{float:right;padding:0 19px;font-size:12px;}
.header .cart .bd .tb{max-height:224px;line-height:22px;overflow:hidden;overflow-y:auto;}
.header .cart .bd .tb ul{padding:10px 16px;}
.header .cart .bd .tb li{padding:5px 0;overflow:hidden;*zoom:1;}
.header .cart .bd .tb .name{float:left;width:70px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.header .cart .bd .tb .level{float:left;width:180px;font-size:12px;color:#999;word-wrap:break-word;word-break:break-all;overflow:hidden;}
.header .cart .bd .tb .fa-times{float:right;color:#ccc;font-size:12px;}
.header .cart .bd .tb .fa-times:hover{color:#c3272b;text-decoration:none;}
.header .cart .bd .empty{padding:16px;text-align:center;color:#999;font-size:12px;}
.header .cart .bd .loading{height:50px;background:url(../images/loader.gif) no-repeat 50%;}
.header .cart-hover .bd{display:block;-webkit-animation: fadeIn .3s ease;animation: fadeIn .3s ease;}
.header .plus{float:right;}
.header .plus .btn{display:block;width:180px;height:40px;line-height:40px;padding:0 10px;background:#999;color:#fff;}
.header .title{float:left;padding:25px 24px;}
.header .title h1{height:50px;line-height:48px;padding-left:40px;font-size:16px;border-left:1px solid #ccc;}
.header-red{background:#c3272b;}
.header-red .logo{padding:0;background:#c3272b;}
.header-red .logo a{background-image:url(../images/logo-red.png);}
.header-red .title h1{color:#fff;border-left-color:#fff;}
.header-red .plus .back{display:inline-block;margin-top:37px;padding:4px 11px;font-size:12px;color:#c3272b;background:#e7e7e7;}
.header-red .plus .back:hover{text-decoration:none;}
.header-shadow{margin-bottom:-20px;padding-bottom:20px;background:url(../images/header-shadow.png) repeat-x;}
.header-fixed .inner{width:100%;position:absolute;left:0;top:30px;z-index:9;background:#fff;}
.search-animated .logo{height:80px;}
.search-animated .inner{position:fixed;top:0;-webkit-animation: menufixedEf .5s ease;animation: menufixedEf .5s ease;box-shadow:0 1px 6px rgba(0,0,0,.15);*border-bottom:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5\9;}
.search-animated .search{width:auto;margin:0;padding:20px 0 0 410px;}
.search-animated .search .ipt{width:400px;}
.search-animated .hotwords{display:none;}
.search-animated .cart{margin-top:20px;}
@-webkit-keyframes menufixedEf {
    0% {top: -100px;}
    100% {top: 0;}
}
@keyframes menufixedEf {
    0% {top: -100px;}
    100% {top: 0px;}
}

/* nav */
.nav{height:38px;background:#fff;border-bottom:2px solid #333;}
.nav .cat{position:relative;z-index:5;float:left;width:200px;height:40px;}
.nav .cat .hd{position:absolute;top:0;left:-8px;width:100%;line-height:38px;padding:0 8px 2px;color:#fff;font-size:16px;text-indent:30px;background:url(../images/nav-bg.png) no-repeat;}
.nav .cat .bd{position:absolute;z-index:5;top:100%;left:0;width:200px;height:420px;padding:20px 0;background:url(../images/cat-bg.png);display:none;}
.nav .cat .bd li{height:57px;}
.nav .cat .bd .cat-name{line-height:18px;padding:10px 30px;color:#fff;background:url(../images/cat-arrow.png) no-repeat 163px 23px;cursor:default;overflow:hidden;}
.nav .cat .bd .cat-name em{display:block;font-weight:700;}
.nav .cat .bd .cat-name a{margin-right:2px;color:#fff;font-size:12px;}
.nav .cat .bd .cat-list{position:absolute;left:200px;top:0;width:760px;height:420px;padding:20px 0;background:#fff;overflow:hidden;display:none;}
.nav .cat .bd .cat-list dl{padding:14px 30px;font:12px/24px 'Microsoft Yahei';overflow:hidden;*zoom:1;}
.nav .cat .bd .cat-list dt{float:left;width:70px;font-size:16px;}
.nav .cat .bd .cat-list dt b{display:inline-block;width:14px;font-weight:700;}
.nav .cat .bd .cat-list dd{height:48px;margin-left:70px;overflow:hidden;}
.nav .cat .bd .cat-list a{margin-right:10px;color:#999;white-space:nowrap;}
.nav .cat .bd .cat-list a:hover{color:#c3272b;}
.nav .cat .bd .cat-list .more{position:absolute;right:24px;bottom:26px;font-size:12px;}
.nav .cat .bd .on .cat-name{background-color:#fff;color:#c3272b;background-position:163px -65px;}
.nav .cat .bd .on .cat-name a{color:#c3272b;}
.nav .cat .bd .on .cat-list{display:block;}
.nav .cat-show .bd{display:block;}
.nav .menu{height:40px;line-height:40px;font-size:16px;overflow:hidden;}
.nav .menu li{float:left;padding-left:50px;}
.nav .menu .current a{color:#c3272b;}
.nav .plus{display:none;} /* 改版后删除 */

/* footer */
.footer{line-height:36px;padding:45px 0;font-size:12px;text-align:center;color:#999;background:#fff;}
.footer .links a{margin:0 10px;color:#999;}
.footer .links a:hover{color:#333;}
.footer .authentication{margin-top:15px;}

/* 消息提示 */
.fa-message{padding:140px 0 100px;text-align:center;}
.fa-message .hd{font-size:26px;}
.fa-message .hd i{line-height:1;font-size:38px;color:#58c805;}
.fa-message .hd strong{vertical-align:middle;}
.fa-message .bd{margin-top:10px;font-size:14px;color:#999;}
.fa-message .ft{width:300px;margin:75px auto;}
.fa-message .ft .btn{display:block;margin-bottom:30px;padding:12px 0;font-size:16px;}
.fa-message .links{margin-top:30px;}
.fa-message .links a{color:#1769ff;}
.fa-msg{position:relative;margin-bottom:30px;padding:6px 19px;border:1px solid #e7e7e7;background:#fff8e5;} 
.fa-msg i{margin-right:8px;font-size:24px;}
.fa-msg .fa-prompt{color:#fca31d;} 
.fa-msg .fa-check-circle{color:#58c805;} 
.fa-msg .fa-times-circle{color:#c3272b;} 
.fa-msg .btn-ghost{margin-left:20px;padding:5px 15px;font-size:12px;color:#c3272b;border:1px solid #c3272b;border-radius:3px;} 
.fa-msg span{display:inline-block;vertical-align:middle;}
.fa-msg em{display:block;color:#999;font-size:12px;} 
.member-box .fa-msg span{max-width:670px;}

/* 灰色背景说明 */
.fa-tips{padding:50px 0;background:#f0eff5;}
.fa-tips dt{margin-bottom:10px;}
.fa-tips dd{line-height:26px;color:#999;}

/* 分步向导 */
.fa-guide{padding-bottom:90px;text-align:center;}
.fa-guide li{display:inline-block;*display:inline;*zoom:1;color:#999;}
.fa-guide li i{margin:0 20px;}
.fa-guide li span{display:inline-block;width:20px;line-height:20px;margin-right:10px;font-size:12px;color:#fff;text-align:center;background:#ccc;border-radius:100%;}
.fa-guide .curr{color:#333;}
.fa-guide .curr span{background:#c3272b;}

.fa-step{padding:70px 100px 20px;}
.fa-step li{display:inline-block;*display:inline;*zoom:1;color:#999;}
.fa-step li i{margin:0 24px;}
.fa-step li em{display:inline-block;width:30px;line-height:30px;margin-right:10px;font-size:16px;text-align:center;background:#ccc;color:#fff;border-radius:100%;}
.fa-step .curr{color:#333;}
.fa-step .curr em{background:#c3272b;}

/* fa-filter */
.fa-filter{margin-bottom:20px;padding:10px;border:1px solid #ccc;}
.fa-filter dl{line-height:18px;overflow:hidden;*zoom:1;}
.fa-filter dt{float:left;width:80px;font-weight:700;}
.fa-filter .bd{margin:0 110px 0 80px;}
.fa-filter .bd a{float:left;padding:0 8px;color:#333;}
.fa-filter .bd a:hover{color:#c3272b;text-decoration:none;}
.fa-filter .bd .current{color:#c3272b;}
.fa-filter .bd i{margin-left:6px;font-size:12px;}
.fa-filter .extra{float:right;width:110px;padding-top:5px;}
.fa-filter .extra a{padding:0 13px;font-size:12px;}

/* table */
.fa-chart{font-size:12px;text-align:center;}
.fa-chart thead td{padding:0;background:#ededed;}
.fa-chart tfoot{display:none;}
.fa-chart th{padding:15px 0;;background:#e7e7e7;border:1px solid #ccc;}
.fa-chart th span{font-weight:400;}
.fa-chart td{border:1px solid #ccc;color:#666;font-size:12px;}
.fa-chart td a{margin:0 4px;}
.fa-chart td .btn{width:78px;line-height:24px;margin-bottom:5px;padding:0;}
.fa-chart select{width:90%;height:32px;line-height:32px;text-align:center;font-size:12px;}
.fa-chart option{text-align:center;}
.fa-chart tr:hover{background:#f5f5f5;}
.fa-chart .ipt-wrap{position:relative;}
.fa-chart .ipt{width:100%;height:18px;line-height:18px;padding:11px 0;color:#666;border:none;vertical-align:top;text-align:center;background:none;}
.fa-chart .ipt:focus{box-shadow:0 6px 15px -12px rgba(0, 0, 0, 0.5) inset;}
.fa-chart .error{position:absolute;z-index:2;top:110%;left:0;padding:5px;color:#fa5468;border:1px solid #fa5468;background:#fff;border-radius:2px;white-space:nowrap;display:none;}
.fa-chart .error:before{position:absolute;top:-16px;left:14px;content:"";border:8px dashed transparent;border-bottom:8px solid #fa5468;}
.fa-chart .error:after{position:absolute;top:-13px;left:16px;content:"";border:6px dashed transparent;border-bottom:7px solid #fff;}
.fa-chart .empty{text-align:center;}

/* fa-table */
.fa-table{padding:40px 30px;}
.fa-table .caption{margin-bottom:30px;line-height:34px;color:#999;}
.fa-table .caption strong{color:#333;font-weight:700;}
.fa-table .caption .btn{line-height:18px;margin:0 20px;padding:3px 15px;font-size:12px;color:#666;background:#ededed;border:1px solid #ccc;}
.fa-table .caption .btn:hover{background:#d5d5d5;border-color:#aaa;color:#333;}
.fa-table .submit{padding:100px 0 60px;}
.fa-table .submit .btn{width:160px;height:40px;padding:0;}

.order-list{padding:30px;font-size:12px;}    
.order-list tr.space{height:30px;}    
.order-list tr.space td{border:none;}    
.order-list th{height:30px;padding:0 20px;background:#f0eff5;font-weight:400;border:1px solid #ccc;}    
.order-list th span{margin-right:30px;color:#999;}    
.order-list td{padding:20px 20px 10px;line-height:22px;border:1px solid #ccc;}
.order-list td span{display:block;color:#999;}
.order-list td .name{font-size:14px;}
.order-list td .price{font-size:14px;font-weight:700;color:#333;}
.order-list td .btn{width:78px;line-height:24px;margin-bottom:5px;padding:0;}
.order-list .nr{border-right:none;}
.order-list .nl{border-left:none;}
.order-list .pagin{padding:0;}
.order-detail{padding-top:30px;font-size:12px;overflow:hidden;}
.order-detail table{border:1px solid #ccc;} 
.order-detail td{vertical-align:top;border:none;}  
.order-detail td em{color:#333;font-size:12px;}  
.order-detail .guide{padding:5px 0 45px;overflow:hidden;*zoom:1;}
.order-detail .guide li{position:relative;float:left;width:20%;text-align:center;color:#999;}
.order-detail .guide li:before{content:'';position:absolute;top:24px;left:-43px;width:86px;height:10px;background:url(../images/guide.png) no-repeat;}
.order-detail .guide li.fore:before{display:none;}
.order-detail .guide i{display:block;height:70px;font-size:40px;}
.order-detail .guide em{display:block;font-size:14px;}
.order-detail .guide span{display:block;width:80px;margin:0 auto;}
.order-detail .guide a.btn{margin-top:6px;padding:3px 15px;}
.order-detail .guide .curr{color:#333;}
.order-detail .guide .curr:before{background-position:0 -10px;}
.order-detail .guide .curr i{color:#58c805;}
.order-detail .info{margin-right:-1px;overflow:hidden;*zoom:1;}
.order-detail .info dl{float:left;width:242px;height:120px;padding:25px 35px;line-height:22px;border:1px solid #e7e7e7;border-left:0;}
.order-detail .info dt{margin-bottom:10px;font-size:14px;font-weight:700;}
.order-detail .info dd{position:relative;padding-left:60px;}
.order-detail .info em{position:absolute;left:0;top:0;white-space:nowrap;}
.order-detail .info .wide dd{padding-left:90px;}
.order-detail .info .row{position:relative;clear:both;float:none;width:auto;border:0;border-bottom:1px solid #e7e7e7;}
.order-detail .info .row .express_box{position:absolute;top:0;left:312px;height:100%;padding:0;border-left:1px solid #e7e7e7;overflow:hidden;overflow-y:auto;}
.order-detail .info .row .express_box li{padding:9px 15px;}
.order-detail .info .row .express_box li:nth-child(1){color:#c3272b;}
.order-detail .info .row .express_box .company{margin-bottom:10px;padding:10px 15px;border-bottom:1px solid #e7e7e7;}
.order-detail .info .row .express_box .company em{margin-right:20px;font-size:15px;color:#333;}
.order-detail .info .row .express_box .date{float:left;width:200px;}
.order-detail .info .row .express_box .trace{margin-left:200px;}
.order-detail .table{font-size:14px;}
.order-detail .table table{border:none;}
.order-detail .table th{height:40px;background:#f5f5f5;text-align:left;}
.order-detail .table td{padding:20px 0;border-top:1px solid #e7e7e7;}
.order-detail .table em{font-size:12px;}
.order-detail .pic{width:78px;height:78px;border:1px solid #e7e7e7;vertical-align:middle;overflow:hidden;}
.order-detail .name{padding-right:80px;}
.order-detail .summary{padding:30px;line-height:30px;background:#f0eff5;font-size:14px;text-align:right;}
.order-detail .summary span{display:inline-block;width:90px;color:#c3272b;}
.order-detail .summary .bold{font-size:16px;font-weight:bold;}

.order-detail-list{margin-top:-40px;}    
.order-detail-list td{padding:10px 0;background:#fff;}    


/* fa-form */
.fa-form{padding:50px 0;}
.fa-form .group{position:relative;padding-left:140px;}
.fa-form .txt{position:absolute;top:0;left:0;width:130px;line-height:50px;text-align:right;}
.fa-form .txt i{margin-right:6px;color:#c3272b;vertical-align:middle;}
.fa-form .cnt{height:80px;}
.fa-form .cnt .ipt{width:320px;height:20px;padding:14px;font-size:12px;border:1px solid #ccc;}
.fa-form .cnt .ipt:disabled{background:#ededed;color:#999;}
.fa-form .cnt .btn-inside{position:absolute;top:5px;right:5px;height:40px;border:none;}
.fa-form .cnt .btn-wide{width:350px;height:50px;font-size:16px;}
.fa-form .cnt .tips{color:#999;}
.fa-form .cnt .val{display:block;line-height:50px;}
.fa-form .cnt select{width:110px;height:50px;margin-right:6px;line-height:50px;text-align:center;}
.fa-form .cnt option{text-align:left;}
.fa-form .cnt .msg-box{display:block;line-height:18px;font-size:12px;}
.fa-form .cnt .msg-box .error{color:#c3272b;}
.fa-form .cnt .msg-box .ok{display:none;}
.fa-form .cnt .n-invalid{border-color:#c3272b;}
.fa-form .cnt .Validform_checktip{display:block;}
.fa-form .cnt .Validform_error{border-color:#c3272b;}
.fa-form .cnt .Validform_loading{position:absolute;top:17px;left:460px;width:16px;height:16px;background:url(../images/loader.gif) no-repeat 50%;}
.fa-form .cnt .Validform_right{display:none;}
.fa-form .cnt .Validform_wrong{display:block;margin-top:2px;color:#c3272b;font-size:12px;}
.fa-form .cnt .Validform_wrong:before{content:'\e60f';margin-right:2px;font:16px "fa";-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;vertical-align:-2px;}
.fa-form .group-cbx{margin-top:-10px;}
.fa-form .group-cbx label{display:inline-block;margin:10px 24px 0 0;white-space:nowrap;}
.fa-form .group-cbx .txt{top:10px;line-height:normal;}
.fa-form .group-cbx .cnt{width:400px;}
.fa-form .group-val .cnt{height:60px;}
.fa-form .group-up .cnt{height:150px;}
.fa-form .group-up .cnt .up-img{border-style:solid;vertical-align:middle;}
.fa-form .group-a .cnt{height:auto;margin-bottom:26px;}
.fa-form .group-a label{display:block;width:60px;margin-top:16px;}
.fa-form .group-t{position:relative;padding-left:140px;}
.fa-form .group-t .cnt{height:auto;line-height:50px;}
.fa-form .agreement .cnt{height:46px;}
.fa-form .agreement a{color:#1769ff;}
.fa-form .ft{padding:30px 0 0 140px;}
#area{margin-right:0;} /* last select */

/* pagin */
.pagin{padding-top:40px;text-align:center;overflow:hidden;}
.pagin em{font-size:12px;}
.pagin span,
.pagin a{display:inline-block;line-height:1;margin:0 1px;padding:10px 13px;text-decoration:none;background:#e7e7e7;color:#333;border:1px solid #ccc;vertical-align:middle;}
.pagin a:hover{background:#cfcfcf;color:#333;border-color:#aaa;}
.pagin .curr{color:#fff;border-color:#c3272b;background-color:#c3272b;}
.pagin .disabled{color:#ccc;border-color:#ccc;}
.pagin .btn{width:70px;height:36px;padding:0;}
.pagin .ipt{width:26px;height:26px;line-height:26px;margin:0 3px;padding:4px;font-size:12px;color:#333;border:1px solid #ccc;text-align:center;vertical-align:middle;}

/* 帮助向导 */
.helper{padding:42px 0;background:#f0eff5;overflow:hidden;}
.helper .inner{margin-right:-220px;overflow:hidden;*zoom:1;}
.helper dl{float:left;width:284px;line-height:30px;color:#666;white-space:nowrap;}
.helper dt{font-size:16px;font-weight:700;}
.helper dd{padding-left:4px;}
.helper a{color:#666;}

/* sitemap */
.sitemap{margin-bottom:20px;font-size:14px;line-height:1;}
.sitemap em{margin:0 4px;}
.sitemap span{color:#999;}
.sitemap h1{margin-bottom:50px;padding-bottom:10px;font-size:20px;border-bottom:1px solid #e7e7e7;}
.sitemap dl{padding-bottom:9px;}
.sitemap dt{margin-top:40px;font-size:16px;font-weight:700;}
.sitemap dd{margin-top:12px;}
.sitemap dd a{margin-right:16px;}
.hr{margin-bottom:20px;border-top:1px solid #ccc;}

/* main-body */
.main-body{margin:20px 0 50px;}
.main-body .side{float:left;width:200px;}
.main-body .side dl{border:1px solid #e7e7e7;}
.main-body .side dt{margin-bottom:-1px;line-height:40px;border-bottom:1px solid #e7e7e7;text-align:center;color:#ccc;background:#f0eff5;}
.main-body .side dt em{margin:0 6px;color:#333;}
.main-body .side dd{margin:0 10px;padding:10px 0;border-top:1px solid #e7e7e7;overflow:hidden;*zoom:1;}
.main-body .side .pic{float:left;width:80px;height:80px;}
.main-body .side .desc{margin-left:95px;font-size:12px;color:#999;}
.main-body .side h3 a{display:block;height:18px;margin-bottom:6px;padding-top:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.main-body .side h3 a:hover{text-decoration:none;}
.main-body .main{margin-left:220px;}
.bg-gray .main-body{margin:20px 0 0;}

/* 商品列表 */
.fa-pro-list{text-align:center;}
.fa-pro-list table{border:1px solid #ccc;}
.fa-pro-list th{height:30px;color:#666;font-weight:400;font-size:12px;background:#ededed;}
.fa-pro-list th i{margin-left:4px;}
.fa-pro-list td{padding:10px 0;border-top:1px solid #ccc;}
.fa-pro-list .tl{text-align:left;}
.fa-pro-list .desc{padding:0 10px;}
.fa-pro-list td h3{margin-bottom:12px;line-height:20px;font-size:16px;font-weight:700;}
.fa-pro-list td h3 a:hover{text-decoration:none;}
.fa-pro-list td p{width:220px;color:#999;font-size:12px;}
.fa-pro-list td img{display:inline-block;width:130px;height:130px;}
.fa-pro-list td .btn-cart{display:block;width:100px;margin:0 auto 10px;padding:5px 0;font-size:12px;}
.fa-pro-list td .link{font-size:12px;}
.fa-pro-list .drop-dowm{position:relative;display:inline-block;height:100%;}
.fa-pro-list .drop-dowm .hd{line-height:30px;cursor:pointer;}
.fa-pro-list .drop-dowm .bd{position:absolute;top:0;left:0;min-width:200px;padding-top:33px;display:none;}
.fa-pro-list .drop-dowm dl{border:1px solid #ccc;text-align:left;}
.fa-pro-list .drop-dowm dt{line-height:30px;background:#f5f5f5;border-bottom:1px solid #ccc;}
.fa-pro-list .drop-dowm .btn{position:absolute;top:39px;right:15px;width:42px;height:20px;line-height:1;padding:0;}
.fa-pro-list .drop-dowm dd{display:block;width:100%;max-height:184px;line-height:30px;padding:7px 0;overflow:hidden;overflow-y:auto;background:#fff;}
.fa-pro-list .drop-dowm label{display:block;padding:0 15px;white-space:nowrap;}
.fa-pro-list .drop-dowm:hover .hd{color:#c3272b;}
.fa-pro-list tr:hover td{background:#f5f5f5;}

/* 无搜索结果 */
.fa-pro-empty{width:500px;margin:0 auto;padding:80px 0 50px;overflow:hidden;*zoom:1;}
.fa-pro-empty .fa{float:left;width:100px;line-height:100px;font-size:100px;color:#ccc;}
.fa-pro-empty .text{position:relative;margin-left:135px;padding:15px;background:#f0eff5;border:1px solid #ccc;border-radius:5px;}
.fa-pro-empty .text:after{content:'';position:absolute;top:24px;left:-12px;width:12px;height:22px;background:url(../images/chevron-left.png) no-repeat;}
.fa-pro-empty .text .title{padding:10px 0;font-size:16px;}
.fa-pro-empty .text dt{line-height:30px;}
.fa-pro-empty .text dd{line-height:24px;font-size:12px;color:#999;}
.fa-pro-empty .text a{color:#1769ff;}
.fa-pro-empty .text .btn{margin-right:10px;padding:0 12px;line-height:22px;color:#fff;}

/* 商品详情 */
.product-summary{padding:20px;border:1px solid #e7e7e7;overflow:hidden;*zoom:1;}
.product-summary .preview{float:left;width:360px;height:360px;overflow:hidden;}
.product-summary .preview .miss{background:url(../images/default-img.png) no-repeat 50% 50%;}
.product-summary .ext-info{margin-left:400px;}
.product-summary .name{line-height:60px;font-size:18px;font-weight:700;border-bottom:1px solid #e7e7e7;}
.product-summary dl{margin:10px 0;line-height:30px;font-size:12px;overflow:hidden;*zoom:1;}
.product-summary dt{float:left;width:70px;color:#999;overflow:hidden;}
.product-summary dd{min-height:30px;margin-left:70px;}
.product-summary dd a{display:inline-block;height:24px;line-height:24px;margin:0 6px 8px 0;padding:0 8px;border:1px solid #ccc;text-align:center;}
.product-summary dd a:hover{text-decoration:none;}
.product-summary dd .current{border-color:#c3272b;background:url(../images/select.png) no-repeat 100% 100%;}
.product-summary .line{margin:0;padding-top:18px;border-top:1px solid #e7e7e7;}
.product-summary .buttons{padding:32px 0 20px;}
.product-summary .buttons .btn{width:158px;height:38px;line-height:38px;margin-right:6px;padding:0;font-size:16px;overflow:hidden;}
.product-summary .buttons .btn-gray{color:#c3272b;}
.product-summary .buttons .btn-gray:hover{color:#c3272b;}
.product-summary .buttons .faved{color:#999;background:#ededed;}
.product-summary .buttons .faved:hover{color:#999;background:#ededed;border-color:#ccc;}
.product-summary .buttons .disabled{background:#e7a9aa!important;border-color:#e7a9aa;}
.product-summary .buttons .fa{margin-right:6px;font-size:22px;vertical-align:top;}
.product-detail{margin-top:20px;border:1px solid #e7e7e7;}
.product-detail .parameter{margin:0 20px 16px;padding:30px 0;line-height:1;font-size:12px;border-bottom:1px solid #e7e7e7;overflow:hidden;*zoom:1;}
.product-detail .parameter li{float:left;width:30%;height:12px;margin-right:3%;padding:10px 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.product-detail .tab{height:40px;line-height:40px;background:#f0eff5;border-bottom:1px solid #e7e7e7;}
.product-detail .tab span{float:left;width:120px;text-align:center;}
.product-detail .tab .on{position:relative;margin:-1px 0 0 -1px;color:#c3272b;background:#fff;border-top:2px solid #c3272b;border-left:1px solid #e7e7e7;border-right:1px solid #e7e7e7;}
.product-detail .tab-cont{padding:20px;}
.product-detail .guide{padding-bottom:20px;text-align:center;}
.product-detail p{font-size:12px;line-height:24px;}
.product-detail img{max-width:100%;}

/* 登录框 */
.login-box{width:300px;padding:20px 30px 45px;background:#fff;}
.login-box .title{line-height:1;font-size:16px;}
.login-box .msg{padding:20px 0 6px;color:#c3272b;visibility:hidden;}
.login-box .vis{visibility:visible;}
.login-box .group{position:relative;line-height:38px;padding-left:39px;}
.login-box .txt{position:absolute;top:0;left:0;width:38px;height:38px;color:#ccc;border:1px solid #ccc;text-align:center;}
.login-box .cnt{height:70px;*overflow:hidden;*zoom:1;}
.login-box .ipt{width:238px;height:18px;line-height:18px;padding:10px;border:1px solid #ccc;*float:left;}
.login-box .error .txt{color:#c3272b;border-color:#c3272b;}
.login-box .error .ipt{border-color:#c3272b;}
.login-box .links{margin-bottom:25px;}
.login-box .button{text-align:center;}
.login-box .btn{width:100%;font-size:16px;}
.login-mini{padding:0 30px;}      

/* 注册 */
.reg-box{margin-top:10px;}
.reg-box .wrap{padding:70px 0;border-bottom:1px solid #ccc;}
.reg-box .side{float:right;width:125px;padding:0 140px 0 120px;border-left:1px solid #ccc;font-size:12px;color:#999;}
.reg-box .side .hd{margin-bottom:10px;padding-bottom:30px;border-bottom:1px solid #e7e7e7;}
.reg-box .side .hd .btn{margin-left:10px;padding:0 10px;font-size:14px;}
.reg-box .side .bd{line-height:28px;}
.reg-box .side dt{color:#333;}
.reg-box .side dd a{color:#1769ff;}
.reg-box .side .ft{margin-top:10px;padding-top:20px;line-height:24px;font-size:14px;color:#333;border-top:1px solid #e7e7e7;}
.reg-box .side .ft span{margin-left:4px;font-weight:700;}
.reg-box .side .ft i{line-height:1;font-size:18px;}
.reg-box .fa-form{float:left;width:490px;padding:0 0 0 150px;color:#333;}
.reg-box .fa-form .ipt-code{width:200px;}
.reg-box .fa-form .img{position:absolute;top:0;right:0;width:110px;height:50px;}
.reg-box .fa-form .val{line-height:50px;}
.reg-box .fa-guide{margin-right:-70px;}

/* 用户中心 */
.member-box{margin-top:30px;}      
.member-box .side{float:left;width:220px;padding-top:35px;border:1px solid #e7e7e7;}       
.member-box .side i{display:inline-block;width:25px;vertical-align:-3px;} 
.member-box .side dl{padding:0 0 35px 55px;color:#333;} 
.member-box .side dt{font-size:14px;font-weight:700;} 
.member-box .side dt i{font-size:20px;} 
.member-box .side dd{padding-top:5px;font-size:12px;} 
.member-box .side dd a.curr{color:#c3272b;} 
.member-box .side dd i{font-size:16px;padding-left:2px;width:23px;} 
.member-box .side-helper dt{padding:0 0 0 30px;}
.member-box .side-helper dt span{width:148px;margin-left:0;}
.member-box .side-helper dd a{padding-left:10px;}
.member-box .main{margin-left:260px;border:1px solid #e7e7e7;} 
.member-box .main .title{padding:0 30px;border-bottom:1px solid #e7e7e7;overflow:hidden;*zoom:1;} 
.member-box .main .title h3{float:left;line-height:50px;} 
.member-box .main .title .extra{float:right;} 
.member-box .main .tips{line-height:48px;padding:0 30px;font-size:16px;font-weight:700;border-bottom:1px solid #e7e7e7;background:#f0eff5;}
.member-box .main .tips i{margin-right:6px;color:#58c805;font-size:28px;}
.member-box .main .fa-form{padding-left:50px;}
.member-box .main .article{line-height:30px;padding:40px 30px;color:#666;font-size:12px;}
.member-box .main .consignee{padding:30px;font-size:12px;color:#333;}
.member-box .main .consignee .hd{margin-bottom:14px;overflow:hidden;*zoom:1;}
.member-box .main .consignee table{border:1px solid #ccc;}
.member-box .main .consignee table tr:first-child td{padding-top:16px;}
.member-box .main .consignee table tr:last-child td{padding-bottom:16px;}
.member-box .main .consignee th{padding:6px;color:#999;font-weight:400;background:#f0eff5;border-width:0 0 1px;}
.member-box .main .consignee td{line-height:22px;padding:6px;border:none;background:#fff;vertical-align:top;}
.member-box .main .consignee em{color:#999;}
.member-box .main .consignee b{color:#c3272b;}
.member-box .main .consignee a{color:#1769ff !important;}
.member-box .main .consignee .empty{padding:70px 0 90px;color:#999;text-align:center;}
.member-box .main .consignee .empty .fa-consignee{font-size:60px;}
.member-box .main .consignee .empty p{margin-bottom:20px;padding-left:15px;font-size:16px;}
.member-box .tab{height:40px;line-height:38px;padding:50px 100px 0;}
.member-box .tab span{float:left;width:120px;text-align:center;background:#f0eff5;border:1px solid #ccc;cursor:pointer;}
.member-box .tab .curr{position:relative;background:#c3272b;border-color:#c3272b;color:#fff;}
.member-box .tab .curr:after{content:'';position:absolute;bottom:-11px;right:15px;border:5px dashed transparent;border-top:5px solid #c3272b;}
.member-box .tab strong{clear:both;margin-left:25px;font-size:12px;color:#999;}
.member-box .tab em{color:#c3272b;}
.member-box .main .tabcont{padding:0 100px;border:0px solid #ccc;}
.member-box .main .tabcont .box{margin-top:-1px;padding-top:30px;border:1px solid #ccc;}
.member-box .main .tabcont .button{padding:50px 0;}
.member-box .main .tabcont .button .btn{width:350px;height:50px;font-size:16px;}
.member-box .main .tabcont .error1{color:#c3272b;display:none;}
.member-box .main .tabcont .notice{padding-top:8px;color:#999;font-size:12px;}
.member-box .txtinfo{margin:10px 0 0 260px;border:1px solid #e7e7e7;display:none;}
.member-box .txtinfo h3{padding:0 30px;line-height:50px;border-bottom:1px solid #e7e7e7;}
.member-box .txtinfo .item{position:relative;padding-left:180px;line-height:50px;}
.member-box .txtinfo .item label{position:absolute;top:0;left:0;width:170px;text-align:right;}
.member-box .txtinfo .item span{display:block;}

/* 幻灯片 */
.slide{position:relative;width:900px;margin:0 auto;}
.slide .bd{position:relative;height:500px;overflow:hidden;}
.slide .bd .item{width:100%;height:100%;background-position:50%;background-repeat:no-repeat;}
.slide .bd .item a{display:block;height:100%;}
.slide .hd{position:absolute;bottom:10px;right:10px;text-align:right;}
.slide .hd i{display:inline-block;width:8px;height:8px;margin:0 4px;border:1px solid #414143;border-radius:100%;cursor:pointer;}
.slide .hd .on{background:#414143;}
.slide-full{min-width:1200px;width:100%;}
.slide-full .bd{height:560px;}
.slide-full .login-box{position:absolute;top:100px;left:50%;margin-left:160px;}

/* 新闻公告 */
.news{margin:20px 0 50px;overflow:hidden;*zoom:1;}
.news .side{float:left;width:198px;border:1px solid #e7e7e7;}
.news .side .hd{line-height:48px;border-bottom:1px solid #e7e7e7;background:#f0eff5;text-align:center;font-weight:700;}
.news .side .bd{padding:20px 10px;font-size:12px;}
.news .side .bd li{height:32px;line-height:32px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.news .side .bd li a{color:#999;}
.news .side .bd li a:hover{color:#c3272b;}
.news .side .bd li .curr{color:#c3272b;}
.news .main{margin-left:240px;padding:0 30px;border:1px solid #e7e7e7;text-align:center;}
.news .main h1{line-height:40px;padding-top:20px;font-size:20px;}
.news .main .date{height:40px;font-size:12px;color:#999;}
.news .main .article{line-height:30px;padding:17px 0;color:#666;font-size:12px;text-align:left;border-top:1px solid #e7e7e7;}

/* banner-slider */
.banner-slider{position:relative;height:460px;overflow:hidden;*zoom:1;}
.banner-slider .bd{position:absolute;top:0;left:0;width:100%;text-align:center;}
.banner-slider .bd a{display:block;max-width:1200px;height:460px;margin:0 auto;background-position:50%;background-repeat:no-repeat;}
.banner-slider .hd{position:absolute;bottom:32px;left:0;width:100%;height:0;text-align:center;}
.banner-slider .hd i{display:inline-block;width:12px;height:12px;margin:0 8px;border:2px solid #000;opacity:0.5;filter:alipha(opacity=50);border-radius:100%;cursor:pointer;vertical-align:middle;overflow:hidden;}
.banner-slider .hd i.current{background:#000;}
.banner-slider .side-notice{position:absolute;left:50%;top:20px;width:188px;height:420px;margin-left:380px;padding:0 16px;background:#fff;}
.banner-slider .side-notice h3{line-height:40px;}
.banner-slider .side-notice ul{height:140px;padding:8px 0;border-top:1px solid #e7e7e7;overflow:hidden;}
.banner-slider .side-notice li{height:28px;line-height:28px;font-size:12px;overflow:hidden;}
.banner-slider .side-notice li a{color:#999;}
.banner-slider .side-notice li a:hover{color:#c3272b;}
.banner-slider .side-notice li:first-child a{color:#c3272b;}
.banner-slider .side-notice .quick{padding:20px 0 24px;text-align:center;}
.banner-slider .side-notice .quick span{display:block;line-height:30px;font-size:12px;color:#999;}
.banner-slider .side-notice .quick hr{height:0;margin:10px 0 20px;border:0;border-top:1px solid #e7e7e7;}
.banner-slider .side-notice .btn{display:block;height:0;padding:40px 0 0;background:url(../images/buttons.png) no-repeat;border:none;overflow:hidden;}
.banner-slider .side-notice .btn:hover{opacity:.9;filter:alpha(opacity=90);}
.banner-slider .side-notice .btn-red{background-position:0 0;}
.banner-slider .side-notice .btn-primary{background-position:0 -40px;}

.activity{margin-top:13px;}      
.activity .wrap{overflow:hidden;} 
.activity ul{margin-right:-13px;*zoom:1;} 
.activity li{float:left;width:290px;height:180px;margin-right:13px;background:#fff;overflow:hidden;}      
.activity li .txt{float:left;width:92px;padding:25px 0 0 18px;}
.activity li .txt h4{font-size:18px;font-weight:700;} 
.activity li .txt p{margin:2px 0 15px;font-size:12px;color:#999;} 
.activity li .txt span{padding:1px 4px;color:#fff;}
.activity li:nth-child(1) .txt span{background:#fd8b2b;}
.activity li:nth-child(2) .txt span{background:#01aafd;}
.activity li:nth-child(3) .txt span{background:#f96188;}
.activity li:nth-child(4) .txt span{background:#84d12b;}
.activity li .txt .t-orange{background:#fd8b2b;}
.activity li .txt .t-blue{background:#01aafd;}
.activity li .txt .t-pink{background:#f96188;}
.activity li .txt .t-green{background:#84d12b;}
.activity li .img{float:left;width:160px;height:160px;padding:10px;overflow:hidden;}
.activity li .img img{width:100%;height:100%;transition:all .5s;} 
.activity li .img:hover img{transform:scale(1.08);} 

.idx-main{padding-bottom:80px;border-bottom:1px solid #ccc;}
.idx-floor{height:620px;}
.idx-hd{padding:44px 0 10px;}
.idx-hd h2{line-height:26px;padding-left:10px;font-size:26px;border-left:4px solid #c3272b;}
.idx-bd{background:#fff;overflow:hidden;}
.idx-bd .cat{float:left;width:200px;}
.idx-bd .cat ul{height:230px;padding:20px 30px;line-height:32px;overflow:hidden;}
.idx-bd .cat li{float:left;width:50%;}
.idx-bd .cat li a{color:#999;}
.idx-bd .cat li a:hover{color:#c3272b;}
.idx-bd .pro{height:540px;margin-left:200px;overflow:hidden;}
.idx-bd .pro dl{margin-right:-4px;overflow:hidden;*zoom:1;}
.idx-bd .pro dt{float:left;width:399px;height:270px;border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;overflow:hidden;}
.idx-bd .pro dt .def{display:block;width:180px;height:180px;margin:45px auto 0;}
.idx-bd .pro dd{float:left;width:179px;height:250px;padding:10px;border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;text-align:center;overflow:hidden;}
.idx-bd .pro dd a{font-size:18px;font-weight:700;}
.idx-bd .pro dd a:hover{text-decoration:none;}
.idx-bd .pro dd img{margin-bottom:18px;}
.idx-bd .pro dd span{display:block;margin-top:3px;color:#999;font-size:12px;}
.idx-bd a img{transition:transform .5s;}
.idx-bd a:hover img{transform:scale(1.08);}

/* elevator */
.elevator{position:fixed;top:50%;left:50%;width:40px;margin:-160px 0 0 -650px;display:none;}
.elevator li{text-align:center;font-size:12px;}
.elevator li a{display:block;height:39px;line-height:39px;background:#fff;border-bottom:1px solid #f0eff5;overflow:hidden;}
.elevator li a.mul{height:29px;line-height:14px;padding:6px 5px 4px;}
.elevator li a:hover,
.elevator li.current a{background:#c3272b;border-bottom-color:#c3272b;color:#fff;text-decoration:none;}

/* toolbar */
.toolbar{position:fixed;_position:absolute;bottom:50px;left:50%;margin:-160px 0 0 610px;text-align:center;_top:expression(documentElement.scrollTop+documentElement.clientHeight);}
.toolbar .item{display:block;width:30px;height:28px;line-height:14px;padding:6px 5px;font-size:12px;background:#fff url(../images/toolbar.png) no-repeat;vertical-align:top;}
.toolbar .wechat{background-position:0 50%;position:relative;}
.toolbar .wechat img{display:none;position:absolute;top:-13px;right:28px;}
.toolbar .wechat:hover{background-position:-40px 50%;}
.toolbar .wechat:hover img{display:inline-block;}
.toolbar .qq{background-position:-80px 50%;margin:10px 0;overflow:hidden;}
.toolbar .qq:hover{background-position:-120px 50%;}
.toolbar .gotop{background-position:-160px 50%;overflow:hidden;visibility:hidden;opacity:0;}
.toolbar .gotop:hover{background-position:-200px 50%;}
.toolbar .fade{visibility:visible;opacity:1;}

/* allsort */
.allsort{margin:20px 0 50px;border:1px solid #e7e7e7;}
.allsort .tab{line-height:40px;background:#ededed;overflow:hidden;*zoom:1;}
.allsort .tab li{float:left;padding:0 20px;color:#666;cursor:pointer;}
.allsort .tab li.current{color:#c3272b;background:#fff;}
.allsort .tabcont{padding:40px 20px 10px;}
.allsort .tabcont .group{display:none;overflow:hidden;*zoom:1;}
.allsort .tabcont dl{float:left;width:50%;}
.allsort .tabcont dt{line-height:1;margin-bottom:10px;font-size:18px;font-weight:700;}
.allsort .tabcont dd{line-height:24px;font-size:12px;}
.allsort .tabcont dd a{margin-right:10px;color:#999;white-space:nowrap;}
.allsort .tabcont dd a:hover{color:#c3272b;}
.allsort .tabcont .space{clear:both;height:30px;}

/* 弹层表单 */
.fa-form-layer{line-height:34px;padding:30px 40px;font-size:12px;display:none;}
.fa-form-layer .group{padding:0 0 10px 100px;}
.fa-form-layer .ah{height:auto;}
.fa-form-layer .txt{left:-20px;width:110px;line-height:34px;color:#999;}
.fa-form-layer .txt i{margin-right:0;font:700 14px tahoma;}
.fa-form-layer .cnt{position:relative;height:auto;}
.fa-form-layer .cnt .ipt{width:300px;padding:6px;}
.fa-form-layer .cnt .ipt-short{width:136px;}
.fa-form-layer .cnt select{width:99px;height:34px;line-height:34px;margin-right:6px;}
.fa-form-layer .cnt .msg-box{position:absolute;top:90%;left:5px;padding:2px 5px;margin:0;margin;background:#c3272b;color:#fff;z-index:2;}
.fa-form-layer .cnt .msg-box:after{content:"";position:absolute;top:-10px;left:10px;border:5px dashed transparent;border-bottom:5px solid #c3272b;}
.fa-form-layer .cnt .msg-box .error{color:#fff;}
.fa-form-layer .cnt .btn{position:absolute;top:0;left:212px;width:100px;height:34px;padding:0;font-size:12px;}
.fa-form-layer .button{padding:10px 0 0 100px;}
.fa-form-layer .button .btn{padding:0;height:34px;}
.fa-form-layer .button .submit{width:150px;margin-right:16px;}
.fa-form-layer .button .cancel{width:100px;}
.fa-form-layer label{margin-right:16px;}

/* 我的收藏 */
.mycollect{padding:30px;}
.mycollect td{padding:10px 0;background:#fff;}
.mycollect td .empty{line-height:60px;}

/* 支付记录 */
.mybill{padding:30px;}
.mybill th{line-height:1;padding:0 0 10px;background:#fff;border:none;border-bottom:1px solid #e7e7e7;text-align:left;}
.mybill td{padding:26px 0;background:#fff;border:0;border-bottom:1px solid #e7e7e7;text-align:left;vertical-align:top;}
.mybill td span{display:block;color:#999;}
.mybill .pagin{padding:30px 0 20px;text-align:right;}
.mybill .info{margin-bottom:20px;border:1px solid #ccc;font-size:12px;}
.mybill .info .hd{line-height:29px;padding:0 19px;font-weight:700;background:#f0eff5;border-bottom:1px solid #ccc;}
.mybill .info .bd{margin:0 19px;padding:25px 0;}
.mybill .info .bt1{padding-bottom:45px;border-top:1px solid #ccc;}
.mybill .info table{width:auto;}
.mybill .info td{width:330px;padding:3px 0;border:0;}
.mybill .info b{font-weight:700;}
.mybill .info em{color:#999;}
.mybill .info img{margin-right:6px;vertical-align:middle;}
.mybill .info .img{height:42px;line-height:66px;}
.mybill-extra .info td{width:auto;}
.mybill-extra .info td em{display:inline-block;width:100px;margin-right:10px;text-align:right;}
.mybill-extra .info .ok{margin-left:10px;color:#58c805;}
.mybill-extra .info .link{margin-left:10px;color:#1769ff;}

/* 经方 */
.prescription ul{text-align:left;padding-bottom:30px;border-bottom:1px solid #ccc;}
.prescription li{position:relative;height:210px;margin-bottom:20px;padding:40px 528px 40px 40px;background:#fff;border:1px solid #e7e7e7;}
.prescription li h3{font-size:20px;font-weight:700;line-height:1;}
.prescription li p{line-height:26px;margin-top:13px;font-size:12px;color:#666;}
.prescription dl{position:absolute;bottom:40px;left:40px;width:700px;line-height:1.2;}
.prescription dt{float:left;width:5em;padding-top:30px;}
.prescription dd{min-height:14px;margin-left:5em;padding:30px 0 0 20px;}
.prescription dd a{display:inline-block;margin-right:12px;color:#1769ff;}
.prescription li .pic{position:absolute;top:-1px;right:40px;width:411px;height:212px;padding:40px 0;background:url(../images/sp.png) no-repeat;text-align:right;}
.prescription li .pic img{width:300px;height:212px;}

/* 功效 */
.efficacy{margin-bottom:80px;}
.efficacy .hd{padding:44px 0 10px;}
.efficacy .hd h2{line-height:26px;padding-left:10px;font-size:26px;border-left:4px solid #c3272b;}
.efficacy .bd{border-left:1px solid #e7e7e7;overflow:hidden;}
.efficacy .bd ul{margin-left:-1px;}
.efficacy .bd li{float:left;width:221px;height:300px;line-height:26px;padding:9px;border:1px solid #e7e7e7;border-left:0;text-align:center;}
.efficacy .bd li img{width:220px;height:220px;margin-bottom:14px;}
.efficacy .bd li a{display:inline-block;color:#666;text-align:left;}
.efficacy .bd li b{font-weight:700;color:#333;}
.efficacy .bd li .title{max-height:52px;padding:0 11px;overflow:hidden;}

/* 上传图片 */
.up-img{position:relative;display:inline-block;width:100px;height:100px;line-height:100px;margin-right:20px;border:1px dashed #ccc;background:#fff url(../images/upfile.png) no-repeat 50%;cursor:pointer;text-align:center;}
.up-img img{position:absolute;top:-1px;left:-1px;width:100%;height:100%;border:1px solid #ccc;cursor:default;}
.up-img .del{position:absolute;top:0;right:0;width:30px;height:30px;background:url(../images/cropperIcons.png) no-repeat -270px 0;}
.up-img .loader{position:absolute;top:0;right:0;width:100%;height:100%;line-height:150px;background:#fff url(../images/loader.gif) no-repeat 50%;text-align:center;font-size:12px;cursor:default;z-index:2;}
.img-upload-main{padding:40px 0 90px;background:#fff;overflow:hidden;*zoom:1;}
.img-upload-main .clip{position:relative;width:360px;height:360px;margin:0 auto;border:1px dashed #999;}
.img-upload-main .clip img{width:100%;height:100%;}
.img-upload-main .clip .loader{position:absolute;top:0;right:0;width:100%;height:100%;line-height:410px;background:#fff url(../images/loader.gif) no-repeat 50%;text-align:center;}
.img-upload-main .side{position:absolute;top:20px;right:20px;width:120px;text-align:center;}
.img-upload-main .side .preview{width:108px;height:108px;padding:5px;border:1px solid #ddd;overflow:hidden;}
.img-upload-main .side .preview img{width:100%;height:100%;}
.img-upload-main .side .btn-file{line-height:32px;margin-top:10px;color:#fff;background:#009f95;}
.upimg-msg{position:absolute;bottom:0;left:0;right:0;line-height:18px;padding:5px;background-color:#000;color:#fff;font-size:12px;text-align:center;z-index:2;}

/* artilce */
.article p{margin:1em 0;}
.article b,
.article strong{font-weight:700;}
.article em,
.article i{font-style:italic;}
.article ul{list-style:disc;padding-left:10px;}
.article ol{list-style:decimal;padding-left:10px;}
.article img{max-width:100%;}

/* enquiry */
.enquiry{margin-top:-15px;}
.enquiry .list{margin-top:15px;text-align:center;}
.enquiry .list th{height:50px;border:1px solid #ccc;background:#ededed;}
.enquiry .list td{padding:9px 0;border:1px solid #ccc;}
.enquiry .list tr:nth-child(even){background:#f5f5f5;}
.enquiry .list .del{color:#999;}
.enquiry .list .del:hover{color:#c3272b;}
.enquiry .list .tf{padding:50px 0;line-height:40px;text-align:right;}
.enquiry .list .tf .count{color:#c3272b;}
.enquiry .list .tf .btn{width:140px;height:40px;margin-left:24px;font-size:16px;border-radius:3px;}

.enquity-list{padding:30px;}
.enquity-list .tab{padding:0;}
.enquity-list .tab span:nth-child(n+2){border-left:0;}
.enquity-list .tab .curr a{color:#fff;}
.enquity-list .tab a{display:block;}
.enquity-list .list{margin-top:-1px;padding:20px;border:1px solid #ccc;}
.enquity-list .list li{margin-bottom:20px;border:1px solid #e7e7e7;overflow:hidden;*zoom:1;}
.enquity-list .list .hd{line-height:28px;padding:0 30px;font-size:12px;color:#999;border-bottom:1px solid #e7e7e7;background:#f5f5f5;}
.enquity-list .list .hd span{margin-right:20px;}
.enquity-list .list .col1{float:left;width:412px;padding:10px 30px;line-height:25px;}
.enquity-list .list .col1 .name{display:inline-block;max-width:317px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.enquity-list .list .col1 .count{display:block;font-size:12px;color:#999;}
.enquity-list .list .col1 .fa{color:#c3272b;font-size:40px;}
.enquity-list .list .col2{float:left;width:180px;line-height:70px;text-align:center;border-left:1px solid #e7e7e7;}
.enquity-list .list .c1{color:#c3272b;}
.enquity-list .list .c3{color:#999;}

.enquity-detail{font-size:14px;}
.enquity-detail .hd{margin-bottom:15px;font-size:12px;color:#999;text-align:left;}
.enquity-detail .hd span{margin-right:20px;}
.enquity-detail th span{font-size:12px;}
.enquity-detail td{padding:10px 0;}
.enquity-detail td input:disabled{cursor:not-allowed;}
.enquity-detail .ft{margin-top:50px;font-size:12px;text-align:right;}
.enquity-detail .ft .btn{width:100px;height:40px;padding:0;border-radius:3px;}
.enquity-detail .ft .btn-red{width:140px;margin:0 15px;font-size:16px;}
.enquity-detail .ft em{color:#c3272b;}

/* 上传文件 */
.enquiry_btn{width:98px;line-height:28px;margin:20px 10px 0 0;padding:0;font-size:12px;color:#666;border:1px solid #e7e7e7;}
.filename{display:inline-block;line-height:28px;margin:20px 0 0 0;font-size:12px;vertical-align:middle;}

/* 商品名称联想输入 */
.suggestions{position:absolute;top:100%;left:-1px;z-index:9;width:660px;border:1px solid #ccc;background:#fff;box-shadow:0 2px 5px -2px rgba(0,0,0,.5);display:none;}
.suggestions .hd{font-weight:700;color:#333;background:#f5f5f5;}
.suggestions .bd{padding:6px 0;color:#999;border-top:1px solid #ccc;overflow:hidden;overflow-y:auto;}
.suggestions .group:hover{color:#333;background:#f5f5f5;}
.suggestions .group{line-height:30px;text-align:left;}
.suggestions span{display:inline-block;padding-left:15px;cursor: default;}
.suggestions .w1{width:100px;}
.suggestions .w2{width:90px;}
.suggestions .w3{width:330px;}
.suggestions .w4{width:75px;}

/* 气泡式弹出层组件 */
.notify-wrapper{position:fixed;_position:absolute;top:5px;right:5px;z-index:2147483641;width:350px;}   
.notify-wrapper .message{display:none;margin-bottom:5px;font-size:12px;border:1px solid #ccc;background:#f5f5f5;} 
.notify-wrapper .hidable{cursor:pointer;} 
.notify-wrapper .error{background:#ff4a1a;border-color:#e54217;}
.notify-wrapper .success{background:#58c805;border-color:#4fb404;}
.notify-wrapper .warn{background:#ffb200;border-color:#e5a000;}
.notify-wrapper .inner{position:relative;min-height:38px;padding:10px 20px 10px 60px;color:#fff;}    
.notify-wrapper .inner .icon{position:absolute;top:50%;left:10px;width:40px;height:40px;margin-top:-20px;}    
.notify-wrapper .inner .text h3{line-height:20px;font-size:16px;}  
.notify-wrapper .inner .mid h3{padding-top:9px;}
.notify-wrapper .fa{line-height:1;font-size:40px;}

/* lightbox */
.lightboxOverlay{position:fixed;top:0;left:0;z-index:9998;width:100%;height:100%;background:#000;filter:alpha(opacity=80);opacity:0.8;display:none;}
.lightbox{position:fixed;top:50px;left:50%;top:50%;z-index:9999;width:240px;height:240px;margin:-120px 0 0 -120px;background:#fff;border-radius:4px;border:4px solid #fff;overflow:visible!important;display:none;}
.lb-close{position:absolute;top:-15px;right:-15px;height:31px;width:31px;background:url(../images/l-close.png) no-repeat;cursor:pointer;}
.lb-nav{position:absolute;bottom:0;left:0;z-index:2;height:30px;width:100%;text-align:center;color:#fff;}
.lb-nav span{display:inline-block;padding:4px 10px;background:rgba(0,0,0,.75);border-radius:4px;}
.lb-loader{position:absolute;top:0;left:0;height:100%;width:100%;background:url(../images/loading.gif) no-repeat 50%;}
.lb-prev,.lb-next{position:absolute;top:0;width:50%;height:100%;cursor:pointer;}
.lb-prev{left:0;background:url(../images/prev.png) left 48% no-repeat;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-webkit-transition:opacity 0.6s;-moz-transition:opacity 0.6s;-o-transition:opacity 0.6s;transition:opacity 0.6s;}
.lb-prev:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1;}
.lb-next{right:0;background:url(../images/next.png) right 48% no-repeat;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-webkit-transition:opacity 0.6s;-moz-transition:opacity 0.6s;-o-transition:opacity 0.6s;transition:opacity 0.6s;}
.lb-next:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1;}
.thumb img{cursor:pointer;}

/* jquery pagination */
.jq-page{line-height:28px;padding:6px 15px 0;color:#333;overflow:hidden;*zoom:1;}
.jq-page .p-size{float:left;}
.jq-page .p-num{float:right;}
.jq-page .p-num a,
.jq-page .p-num span{margin:0 4px;padding:0;text-decoration:none;}
.jq-page .p-num .current{color:#c3272b;}
.jq-page .p-num .current.prev,
.jq-page .p-num .current.next{color:#c3272b;}

/* jquery autocomplete */
.autocomplete-suggestions{border:1px solid #999;background:#fff;cursor:default;overflow:auto;-webkit-box-shadow:1px 4px 3px rgba(50,50,50,0.64);box-shadow:1px 4px 3px rgba(50,50,50,0.64);}
.autocomplete-suggestions strong{color:#c3272b;font-weight:700;}
.autocomplete-suggestion{padding:2px 5px;white-space:nowrap;overflow:hidden;}
.autocomplete-no-suggestion{padding:2px 5px;}
.autocomplete-selected{background:#f0f0f0;}
.autocomplete-group{border-bottom:1px solid #000;}
.autocomplete-group strong{display:none;}

.certificate{margin:30px;}
.certificate .type i{margin-right:6px;color:#c3272b;}
.certificate .type label{margin-right:20px;}
.certificate .floor{margin-top:30px;font-size:12px;border:1px solid #e7e7e7;}
.certificate .floor h3{line-height:30px;padding-left:30px;background:#f5f5f5;border-bottom:1px solid #e7e7e7;}
.certificate .floor .check{padding:25px 30px;overflow:hidden;*zoom:1;}
.certificate .floor .check .pic{position:relative;float:left;width:500px;height:102px;}
.certificate .floor .check .pic .up-img{vertical-align:top;}
.certificate .floor .check .pic .error{position:absolute;top:102%;left:0;z-index:9999;display:block;line-height:18px;padding:2px 5px;background:#d74141;color:#fff;}
.certificate .floor .check .pic .error:after{content:"";position:absolute;top:-10px;left:10px;border:5px dashed transparent;border-bottom:5px solid #d74141;}
.certificate .floor .check .pic .error .error{color:#fff;}
.certificate .floor .check .form{float:right;width:300px;line-height:22px;}
.certificate .floor .check .form span{display:inline-block;width:260px;vertical-align:middle;}
.certificate .floor .check .form em{display:inline-block;width:100%;color:#c3272b;vertical-align:top;}
.certificate .floor .check .form i{display:inline-block;height:100px;width:1px;margin-right:26px;background:#ccc;vertical-align:middle;}
.certificate .floor .check .form img{display:none;}
.certificate .button{margin-top:30px;text-align:right;}
.certificate .button .btn{width:120px;height:40px;}