<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.AccountBillDao">
    <resultMap id="AccountBillResultMap" type="com.pieces.dao.model.AccountBill">
            <id column="id"  property="id" />
            <result column="code"  property="code" />
            <result column="order_id"  property="orderId" />
            <result column="user_id"  property="userId" />
            <result column="bill_time"  property="billTime" />
            <result column="amounts_payable"  property="amountsPayable" />
            <result column="already_payable"  property="alreadyPayable" />
            <result column="un_payable"  property="unPayable" />
            <result column="status"  property="status" />
            <result column="repay_time"  property="repayTime" />
            <result column="operate_time"  property="operateTime" />
            <result column="create_date"  property="createDate" />
            <result column="remark"  property="remark" />
            <result column="remark"  property="remark" />
            <result column="member_id"  property="memberId" />
    </resultMap>

    <resultMap id="AccountBillResultMapVo" type="com.pieces.dao.vo.AccountBillVo" extends="AccountBillResultMap">
            <result column="order_code"  property="orderCode" />
            <result column="memberName"  property="memberName" />
            <result column="contactMobile"  property="contactMobile" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,order_id,user_id,bill_time,amounts_payable,already_payable,un_payable,status,repay_time,operate_time,create_date,remark,member_id
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="AccountBillResultMap">
        select
        <include refid="Base_Column_List" />
        from account_bill
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="AccountBillResultMap">
        select
        <include refid="Base_Column_List" />
        from account_bill
    </select>

    <select id="findByParams" resultMap="AccountBillResultMapVo" parameterType="com.pieces.dao.vo.AccountBillVo">
        select
        ab.id as id, ab.code as code, ab.status as status,
        u.contact_name as orderUser, u.company_full_name as orderCompany,
        oform.code as order_code
        from account_bill ab
        LEFT JOIN user u on ab.user_id = u.id
        LEFT JOIN order_form oform on ab.order_id = oform.id
        <where>
            <if test="id != null">
                ab.id = #{id}
            </if>
            <if test="orderUser != null">
                u.contact_name like "%"#{orderUser}"%"
            </if>
            <if test="orderCompany != null">
                u.company_full_name LIKE "%"#{orderCompany}"%"
            </if>
            <if test="code != null">
                ab.code LIKE "%"#{code}"%"
            </if>
            <if test="orderCode != null">
                oform.code LIKE "%"#{orderCode}"%"
            </if>
            <if test="status != null">
                ab.status = #{status}
            </if>
        </where>
        ORDER BY ab.id DESC
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from account_bill
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.AccountBill">
        insert into
        account_bill (code,order_id,user_id,bill_time,amounts_payable,already_payable,un_payable,status,repay_time,operate_time,create_date,remark,member_id)
        values
        (#{code},#{orderId},#{userId},#{billTime},#{amountsPayable},#{alreadyPayable},#{unPayable},#{status},#{repayTime},#{operateTime},#{createDate},#{remark},#{memberId})
    </insert>

    <update id="update" parameterType="com.pieces.dao.model.AccountBill">
        update account_bill
        <set>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="billTime != null">
                bill_time = #{billTime},
            </if>

            <if test="amountsPayable != null">
                amounts_payable = #{amountsPayable},
            </if>
                                            
            <if test="alreadyPayable != null">
                already_payable = #{alreadyPayable},
            </if>
                                            
            <if test="unPayable != null">
                un_payable = #{unPayable},
            </if>
                                            
            <if test="status != null">
                status = #{status},
            </if>
                                            
            <if test="repayTime != null">
                repay_time = #{repayTime},
            </if>
                                            
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="memberId != null">
                member_id = #{memberId},
            </if>
            <if test="operateTime != null">
                operate_time = #{operateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findVoAll"  resultMap="AccountBillResultMapVo" parameterType="com.pieces.dao.vo.AccountBillVo">
        SELECT
        *,o.code as order_code
        FROM  account_bill a
        LEFT JOIN order_form o on a.order_id = o.id
        <where>
            <if test="userId != null">
                a.user_id = #{userId}
            </if>
        </where>
        order by a.id desc
    </select>

    <select id="findVoById"  parameterType="java.lang.Integer" resultMap="AccountBillResultMapVo">
        SELECT
        *,o.code as order_code,
         u.contact_name as orderUser, u.company_full_name as orderCompany,
         m.name as memberName
        FROM  account_bill ab
        LEFT JOIN order_form o on ab.order_id = o.id
        LEFT JOIN user u on ab.user_id = u.id
        LEFT JOIN member m on ab.member_id = m.id
        WHERE ab.id = #{billId}
    </select>


    <select id="getNotHandleCount"  resultType="java.lang.Integer">
        select count(id)
        from account_bill WHERE status=0
    </select>


    <select id="getNotHandleIds"  resultType="java.lang.Integer">
        select id
        from account_bill WHERE status=0 order by id
    </select>

    <select id="findUnpaidBill"  resultMap="AccountBillResultMapVo">
        select ab.*, u.contact_mobile as contactMobile  from account_bill ab
        LEFT JOIN user u on ab.user_id = u.id
        WHERE ab.status=1 AND (DATEDIFF(ab.repay_time,now()) =7 OR DATEDIFF(ab.repay_time,now())=1)
    </select>


</mapper>