<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.AdDao">
    <resultMap id="AdResultMap" type="com.pieces.dao.model.Ad">
            <id column="id"  property="id" />
            <result column="title"  property="title" />
            <result column="type_id"  property="typeId" />
            <result column="picture_url"  property="pictureUrl" />
            <result column="color"  property="color" />
            <result column="start_time"  property="startTime" />
            <result column="end_time"  property="endTime" />
            <result column="link"  property="link" />
            <result column="sort"  property="sort" />
            <result column="status"  property="status" />
            <result column="create_time"  property="createTime" />
    </resultMap>

    <resultMap id="AdResultMapVo" type="com.pieces.dao.vo.AdVo">
        <id column="id"  property="id" />
        <result column="title"  property="title" />
        <result column="type_id"  property="typeId" />
        <result column="typeName"  property="typeName" />
        <result column="picture_url"  property="pictureUrl" />
        <result column="color"  property="color" />
        <result column="start_time"  property="startTime" />
        <result column="end_time"  property="endTime" />
        <result column="link"  property="link" />
        <result column="sort"  property="sort" />
        <result column="status"  property="status" />
        <result column="create_time"  property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,title,type_id,picture_url,color,start_time,end_time,link,sort,status,create_time
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="AdResultMap">
        select
        <include refid="Base_Column_List" />
        from ad
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="AdResultMap">
        select
        <include refid="Base_Column_List" />
        from ad
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from ad
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.Ad">
        insert into
        ad (title,type_id,picture_url,color,start_time,end_time,link,sort,status,create_time)
        values
        (#{title},#{typeId},#{pictureUrl},#{color},#{startTime},#{endTime},#{link},#{sort},#{status},#{createTime})
    </insert>

    <update id="update" parameterType="com.pieces.dao.model.Ad">
        update ad
        <set>

            <if test="title != null ">
                title = #{title},
            </if>

            <if test="typeId != null">
                type_id = #{typeId},
            </if>

            <if test="pictureUrl != null">
                picture_url = #{pictureUrl},
            </if>
                color = #{color},
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
                                            
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
                link = #{link},
                sort = #{sort},
            <if test="status != null">
                status = #{status},
            </if>
                                            
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
                            
        </set>
        where id = #{id}
    </update>


    <select id="findByParam" parameterType="com.pieces.dao.vo.AdVo"  resultMap="AdResultMapVo">
        select
        a.id,a.title,a.type_id,a.picture_url,a.color,a.start_time,a.end_time,a.link,a.sort,a.status,a.create_time,adtype.name as typeName
        from ad a
        left join code adtype ON a.type_id = adtype.id
        where 1=1
        <if test="title != null and title != ''" >
            and a.title like "%"#{title}"%"
        </if>
        <if test="sort != null">
            and a.sort = #{sort}
        </if>
        <if test="status != null">
            and a.status = #{status}
        </if>
        <if test="typeId != null">
            and a.type_id = #{typeId}
        </if>
    </select>

    <select id="findByType" parameterType="java.lang.Integer"  resultMap="AdResultMapVo">
        select
        a.id,a.title,a.type_id,a.picture_url,a.color,a.start_time,a.end_time,a.link,a.sort,a.status
        from ad a
        where a.type_id = #{typeId}
        and status = 1
        and DATE_FORMAT(now(), '%Y-%m-%d %H:%i:%s') >= DATE_FORMAT(a.start_time,'%Y-%m-%d %H:%i:%s')
        and DATE_FORMAT(now(), '%Y-%m-%d %H:%i:%s') <![CDATA[<=]]> DATE_FORMAT(a.end_time,'%Y-%m-%d %H:%i:%s')
        order by a.sort desc
    </select>

</mapper>