<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.AnonEnquiryDao">
    <resultMap id="AnonEnquiryResultMap" type="com.pieces.dao.model.AnonEnquiry">
            <id column="id"  property="id" />
            <result column="content"  property="content" />
            <result column="contacts"  property="contacts" />
            <result column="publish_time"  property="publishTime" />
            <result column="phone"  property="phone" />
            <result column="last_follow_time"  property="lastFollowTime" />
            <result column="last_follow_id"  property="lastFollowId" />
            <result column="status"  property="status" />
            <result column="enquriy_bill_id"  property="enquriyBillId" />
        
    </resultMap>

    <resultMap id="AnonEnquiryResultMapVo" type="com.pieces.dao.vo.AnonEnquiryVo" extends="AnonEnquiryResultMap">
            <result column="lastFollowName"  property="lastFollowName" />
    </resultMap>

    <sql id="Base_Column_List">
        id,content,contacts,publish_time,phone,last_follow_time,last_follow_id,status,enquriy_bill_id
    </sql>

    <sql id="Base_Column_List_Alisa">
        anon.id as id,anon.content as content,anon.contacts as contacts,anon.publish_time as publish_time,anon.phone as phone,
        anon.last_follow_time as last_follow_time,anon.last_follow_id as last_follow_id,anon.status as status,anon.enquriy_bill_id as enquriy_bill_id
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="AnonEnquiryResultMap">
        select
        <include refid="Base_Column_List" />
        from anon_enquiry
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="AnonEnquiryResultMap">
        select
        <include refid="Base_Column_List" />
        from anon_enquiry
    </select>

    <select id="findByParams" resultMap="AnonEnquiryResultMapVo" parameterType="com.pieces.dao.vo.AnonEnquiryVo">
        select
        <include refid="Base_Column_List_Alisa" />,
        mem.name as lastFollowName
        from anon_enquiry anon
        LEFT JOIN member mem on anon.last_follow_id = mem.id
        <where>
            <if test="id != null">
                anon.id = #{id}
            </if>
            <if test="content != null">
                AND anon.content = "%"#{content}"%"
            </if>
            <if test="contacts != null">
                AND anon.contacts LIKE "%"#{contacts}"%"
            </if>
            <if test="status != null">
                AND anon.status = #{status}
            </if>
            <if test="lastFollowName != null">
                AND mem.name LIKE "%"#{lastFollowName}"%"
            </if>
            <if test="lastFollowTimeStart != null">
                AND anon.last_follow_time <![CDATA[ >= ]]> #{lastFollowTimeStart}
            </if>

            <if test="lastFollowTimeEnd != null">
                AND anon.last_follow_time <![CDATA[ <= ]]> #{lastFollowTimeEnd}
            </if>
            <if test="publishTimeStart != null">
                AND anon.publish_time <![CDATA[ >= ]]> #{publishTimeStart}
            </if>

            <if test="publishTimeEnd != null">
                AND anon.publish_time <![CDATA[ <= ]]> #{publishTimeEnd}
            </if>
        </where>
        ORDER BY anon.id DESC
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from anon_enquiry
        where id = #{id}
    </delete>


    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.AnonEnquiry">
        insert into
        anon_enquiry (content,contacts,publish_time,phone,last_follow_time,last_follow_id,status,enquriy_bill_id)
        values
        (#{content},#{contacts},#{publishTime},#{phone},#{lastFollowTime},#{lastFollowId},#{status},#{enquriyBillId})
    </insert>

    <update id="update" parameterType="com.pieces.dao.model.AnonEnquiry">
        update anon_enquiry
        <set>
                                                        
            <if test="content != null">
                content = #{content},
            </if>
                                            
            <if test="contacts != null">
                contacts = #{contacts},
            </if>
                                            
            <if test="publishTime != null">
                publish_time = #{publishTime},
            </if>
                                            
            <if test="phone != null">
                phone = #{phone},
            </if>
                                            
            <if test="lastFollowTime != null">
                last_follow_time = #{lastFollowTime},
            </if>
                                            
            <if test="lastFollowId != null">
                last_follow_id = #{lastFollowId},
            </if>
                                            
            <if test="status != null">
                status = #{status},
            </if>
            <if test="enquriyBillId != null">
                enquriy_bill_id = #{enquriyBillId},
            </if>
                            
        </set>
        where id = #{id}
    </update>

    <select id="getNotHandleCount"  resultType="java.lang.Integer">
        select count(id)
        from anon_enquiry WHERE status=1
    </select>

    <select id="getNotHandleIds"  resultType="java.lang.Integer">
        select id
        from anon_enquiry WHERE status=1 ORDER by id
    </select>

</mapper>