<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.AreaMapper">
  <resultMap id="BaseResultMap" type="com.pieces.dao.model.Area">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="areaname" jdbcType="VARCHAR" property="areaname" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="shortname" jdbcType="VARCHAR" property="shortname" />
    <result column="areacode" jdbcType="INTEGER" property="areacode" />
    <result column="zipcode" jdbcType="INTEGER" property="zipcode" />
    <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    <result column="lng" jdbcType="VARCHAR" property="lng" />
    <result column="lat" jdbcType="VARCHAR" property="lat" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>

  <sql id="Base_Column_List">
    id, areaname, parentid, shortname, areacode, zipcode, pinyin, lng, lat, level, position, sort
  </sql>


  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from area
    where id = #{id}
  </select>

  <select id="findAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from area
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from area
    where id = #{id}
  </delete>

  <insert id="create" parameterType="com.pieces.dao.model.Area">
    insert into
    area (areaname,parentid,shortname,areacode,zipcode,pinyin,lng,lat,level,position,sort)
    values
    (#{areaname},#{parentid},#{shortname},#{areacode},#{zipcode},#{pinyin},#{lng},#{lat},#{level},#{position},#{sort})
  </insert>

  <update id="update" parameterType="com.pieces.dao.model.Area">
    update area
    <set>

      <if test="areaname != null">
        areaname = #{areaname},
      </if>

      <if test="parentid != null">
        parentid = #{parentid},
      </if>

      <if test="shortname != null">
        shortname = #{shortname},
      </if>

      <if test="areacode != null">
        areacode = #{areacode},
      </if>

      <if test="zipcode != null">
        zipcode = #{zipcode},
      </if>

      <if test="pinyin != null">
        pinyin = #{pinyin},
      </if>

      <if test="lng != null">
        lng = #{lng},
      </if>

      <if test="lat != null">
        lat = #{lat},
      </if>

      <if test="level != null">
        level = #{level},
      </if>

      <if test="position != null">
        position = #{position},
      </if>

      <if test="sort != null">
        sort = #{sort},
      </if>

    </set>
    where id = #{id}
  </update>



  <select id="selectByLevel" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from area
    where level = #{level,jdbcType=INTEGER}
  </select>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from area
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="selectByParent" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from area
    where parentid = #{parentid,jdbcType=INTEGER}
  </select>

</mapper>