<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.ArticleCategoryMapper">
    <resultMap id="ArticleCategoryResultMap" type="com.pieces.dao.model.ArticleCategory">
            <id column="id"  property="id" />
            <result column="name"  property="name" />
            <result column="status"  property="status" />
            <result column="sort"  property="sort" />
            <result column="model"  property="model" />
            <result column="create_user"  property="createUser" />
            <result column="create_time"  property="createTime" />
            <result column="icon"  property="icon" />
        
    </resultMap>

    <sql id="Base_Column_List">
        id,name,status,sort,model,create_user,create_time,icon
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="ArticleCategoryResultMap">
        select
        <include refid="Base_Column_List" />
        from article_category
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="ArticleCategoryResultMap">
        select
        <include refid="Base_Column_List" />
        from article_category
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from article_category
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.ArticleCategory">
        insert into
        article_category (name,status,sort,model,create_user,create_time,icon)
        values
        (#{name},#{status},#{sort},#{model},#{createUser},#{createTime},#{icon})
    </insert>

    <update id="update" parameterType="com.pieces.dao.model.ArticleCategory">
        update article_category
        <set>
                                                        
            <if test="name != null">
                name = #{name},
            </if>
                                            
            <if test="status != null">
                status = #{status},
            </if>
                                            
            <if test="sort != null">
                sort = #{sort},
            </if>
                                            
            <if test="model != null">
                model = #{model},
            </if>
                                            
            <if test="createUser != null">
                create_user = #{createUser},
            </if>
                                            
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
                                            
            <if test="icon != null">
                icon = #{icon},
            </if>
                            
        </set>
        where id = #{id}
    </update>
</mapper>