<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.CertifyRecordDao">
    <resultMap id="CertifyRecordResultMap" type="com.pieces.dao.model.CertifyRecord">
            <id column="id"  property="id" />
            <result column="user_id"  property="userId" />
            <result column="user_name"  property="userName" />
            <result column="create_time"  property="createTime" />
            <result column="status"  property="status" />
            <result column="follow_id"  property="followId" />
            <result column="follow_name"  property="followName" />
            <result column="follow_time"  property="followTime" />
            <result column="result"  property="result" />
        
    </resultMap>

    <resultMap id="CertifyRecordResultMapVo" type="com.pieces.dao.vo.CertifyRecordVo">
            <id column="id"  property="id" />
            <result column="user_id"  property="userId" />
            <result column="user_name"  property="userName" />
            <result column="create_time"  property="createTime" />
            <result column="status"  property="status" />
            <result column="follow_id"  property="followId" />
            <result column="follow_name"  property="followName" />
            <result column="follow_time"  property="followTime" />
            <result column="result"  property="result" />
        
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,user_name,create_time,status,follow_id,follow_name,follow_time,result
    </sql>


    <select id="findById" parameterType="java.lang.Integer" resultMap="CertifyRecordResultMap">
        select
        <include refid="Base_Column_List" />
        from certify_record
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="CertifyRecordResultMap">
        select
        <include refid="Base_Column_List" />
        from certify_record
    </select>

    <select id="findByParams" resultMap="CertifyRecordResultMapVo" parameterType="com.pieces.dao.vo.CertifyRecordVo">
        select
        <include refid="Base_Column_List" />
        from certify_record
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="userName != null">
                and user_name like  '%${userName}%'
            </if>

            <if test="status != null">
                and status = #{status}
            </if>
            <if test="followName != null">
                and follow_name like  '%${followName}%'
            </if>
            <if test="startTime != null">
                and create_time <![CDATA[ >= ]]> #{startTime}
            </if>

            <if test="endTime != null">
                and create_time <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="startFollowTime != null">
                and follow_time <![CDATA[ >= ]]> #{startFollowTime}
            </if>

            <if test="endFollowTime != null">
                and follow_time <![CDATA[ <= ]]> #{endFollowTime}
            </if>


        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from certify_record
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.CertifyRecord">
        insert into
        certify_record (user_id,user_name,create_time,status,follow_id,follow_name,follow_time,result)
        values
        (#{userId},#{userName},#{createTime},#{status},#{followId},#{followName},#{followTime},#{result})
    </insert>

    <update id="update" parameterType="com.pieces.dao.model.CertifyRecord">
        update certify_record
        <set>
                                                        
            <if test="userId != null">
                user_id = #{userId},
            </if>

            <if test="userName != null">
                user_name = #{userName},
            </if>
                                            
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
                                            
            <if test="status != null">
                status = #{status},
            </if>
                                            
            <if test="followId != null">
                follow_id = #{followId},
            </if>

            <if test="followName != null">
                follow_name = #{followName},
            </if>
                                            
            <if test="followTime != null">
                follow_time = #{followTime},
            </if>
                                            
            <if test="result != null">
                result = #{result},
            </if>
                            
        </set>
        where id = #{id}
    </update>

    <select id="getLatest" resultMap="CertifyRecordResultMapVo" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from certify_record
        where user_id=#{userId} ORDER by create_time desc limit 1
    </select>


    <select id="getNotHandleCount"  resultType="java.lang.Integer">
        select count(id)
        from certify_record WHERE status=0
    </select>


</mapper>