<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.CodeMapper">
    <resultMap id="CodeResultMap" type="com.pieces.dao.model.Code">
            <id column="id"  property="id" />
            <result column="code"  property="code" />
            <result column="name"  property="name" />
            <result column="related_code"  property="relatedCode" />
            <result column="status"  property="status" />
            <result column="type_id"  property="typeId" />
            <result column="create_time"  property="createTime" />
        
    </resultMap>

    <sql id="Base_Column_List">
        id,code,name,related_code,status,type_id,create_time
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="CodeResultMap">
        select
        <include refid="Base_Column_List" />
        from code
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="CodeResultMap">
        select
        <include refid="Base_Column_List" />
        from code
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from code
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.Code">
        insert into
        code (code,name,related_code,status,type_id,create_time)
        values
        (#{code},#{name},#{relatedCode},#{status},#{typeId},#{createTime})
    </insert>

    <update id="update" parameterType="com.pieces.dao.model.Code">
        update code
        <set>
                                                        
            <if test="code != null">
                code = #{code},
            </if>
                                            
            <if test="name != null">
                name = #{name},
            </if>
                                            
            <if test="relatedCode != null">
                related_code = #{relatedCode},
            </if>
                                            
            <if test="status != null">
                status = #{status},
            </if>
                                            
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
                                            
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
                            
        </set>
        where id = #{id}
    </update>
    
    <select id="find" parameterType="com.pieces.dao.model.Code" resultMap="CodeResultMap">
        select
        <include refid="Base_Column_List" />
        from code
        where 1=1
        <if test="relatedCode != null">
            and related_code = #{relatedCode}
        </if>
        <if test="typeId != null">
            and type_id = #{typeId}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        order by create_time desc
    </select>
</mapper>