<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.EnquiryBillsDao">
    <resultMap id="EnquiryBillsResultMap" type="com.pieces.dao.model.EnquiryBills">
            <id column="id"  property="id" />
            <result column="code"  property="code" />
            <result column="user_id"  property="userId" />
            <result column="member_id"  property="memberId" />
            <result column="status"  property="status" />
            <result column="create_time"  property="createTime" />
            <result column="update_time"  property="updateTime" />
            <result column="update_user"  property="updateUser" />
            <result column="quoted_time"  property="quotedTime" />
            <result column="expire_date"  property="expireDate" />
    </resultMap>

    <resultMap id="EnquiryBillsVOResultMap" type="com.pieces.dao.vo.EnquiryBillsVo" extends="EnquiryBillsResultMap">
        <result column="userName"  property="userName" />
        <result column="companyFullName"  property="companyFullName" />
        <result column="areaFull"  property="areaFull" />
        <result column="contactMobile"  property="contactMobile" />
        <result column="contactName"  property="contactName" />
        <result column="updateUserName"  property="updateUserName" />
        <result column="quotedName"  property="quotedName" />
        <result column="userType"  property="userType" />
        <result column="certifyStatus"  property="certifyStatus" />
        <result column="companyType"  property="companyType" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,user_id,member_id,status,create_time,update_time,update_user,quoted_time,expire_date
    </sql>

    <sql id="Base_Column_List_Alisa">
        eb.id as id,eb.code as code,eb.user_id as user_id,eb.member_id as member_id,eb.status as status,
        eb.create_time as create_time,eb.update_time as update_time,eb.update_user as update_user,
        eb.quoted_time as quoted_time,eb.expire_date as expire_date
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="EnquiryBillsResultMap">
        select
        <include refid="Base_Column_List" />
        from enquiry_bills
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="EnquiryBillsResultMap">
        select
        <include refid="Base_Column_List" />
        from enquiry_bills
    </select>

    <select id="findByParam" parameterType="com.pieces.dao.vo.EnquiryBillsVo" resultMap="EnquiryBillsVOResultMap">
        select
        <include refid="Base_Column_List_Alisa"/>,
        user_name AS userName,company_full_name as companyFullName,area_full as areaFull,
        user.contact_mobile as contactMobile, user.contact_name as contactName
        from enquiry_bills eb
        left join user on user_id = user.id
        <where>
            <if test="id != null">
                eb.id = #{id}
            </if>

            <if test="code != null">
                and eb.code like "%"#{code}"%"
            </if>

            <if test="userId != null">
                and eb.user_id = #{userId}
            </if>

            <if test="memberId != null">
                and eb.member_id = #{memberId}
            </if>

            <if test="status != null">
                and eb.status = #{status}
            </if>

            <if test="createTime != null">
                and eb.create_time = #{createTime}
            </if>
            <if test="startTime != null">
                and eb.create_time <![CDATA[ >= ]]> #{startTime}
            </if>

            <if test="endTime != null">
                and eb.create_time <![CDATA[ <= ]]> #{endTime}
            </if>

            <if test="userName != null">
                and user_name like "%"#{userName}"%"
            </if>

            <if test="companyFullName != null">
                and company_full_name like "%"#{companyFullName}"%"
            </if>

            <if test="areaFull != null">
                and area_full like "%"#{areaFull}"%"
            </if>
        </where>
        order by eb.create_time DESC
    </select>

    <select id="findVOById" parameterType="java.lang.Integer"  resultMap="EnquiryBillsVOResultMap">
         select
        enquiry_bills.id as id,code,enquiry_bills.user_id as user_id,member_id,status,enquiry_bills.create_time as create_time,
        enquiry_bills.update_time as update_time,update_user,quoted_time,expire_date,
        user_name AS userName,company_full_name as companyFullName,area_full as areaFull,
        user.contact_mobile as contactMobile, user.contact_name as contactName,user.type as userType, user.certify_status as certifyStatus,
        updateUser.name as updateUserName, member.name as quotedName,
        certification.type as companyType
        from enquiry_bills
        left join user on enquiry_bills.user_id = user.id
        left join member updateUser on update_user = updateUser.id
        left join member on member_id = member.id
        left join user_certification certification on enquiry_bills.user_id = certification.user_id
        WHERE enquiry_bills.id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from enquiry_bills
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.EnquiryBills">
        insert into
        enquiry_bills (code,user_id,member_id,status,create_time,expire_date)
        values
        (#{code},#{userId},#{memberId},#{status},#{createTime},#{expireDate})
    </insert>

    <update id="update" parameterType="com.pieces.dao.model.EnquiryBills">
        update enquiry_bills
        <set>
                                                        
            <if test="code != null">
                code = #{code},
            </if>
                                            
            <if test="userId != null">
                user_id = #{userId},
            </if>
                                            
            <if test="memberId != null">
                member_id = #{memberId},
            </if>
                                            
            <if test="status != null">
                status = #{status},
            </if>
                                            
            <if test="createTime != null">
                create_time = #{createTime},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>

            <if test="quotedTime != null">
                quoted_time = #{quotedTime},
            </if>

            <if test="expireDate != null">
                expire_date = #{expireDate},
            </if>
        </set>
        where id = #{id}
    </update>


    <select id="findByCommoditys"  parameterType="com.pieces.dao.vo.EnquiryRecordVo" resultMap="EnquiryBillsResultMap">
         select distinct
            b.id,
            b.code,
            b.user_id,
            b.member_id,
            b.status,
            b.create_time,
            b.expire_date
        from
            enquiry_bills b
        left outer join enquiry_commoditys c on b.id = c.bills_id
        <where>
            <if test="userId!=null">
                b.user_id=#{userId}
            </if>
            <if test="status != null">
                and b.status = #{status}
            </if>
            <if test="status == 1">
                and b.expire_date <![CDATA[>=]]> DATE_FORMAT(#{expireDate},'%Y-%m-%d')
            </if>
            <if test="expireDate != null and status == null">
                and b.expire_date <![CDATA[<]]> DATE_FORMAT(#{expireDate},'%Y-%m-%d')
            </if>
            <if test="commodityName != null">
                and c.commodity_name like "%"#{commodityName}"%"
            </if>
            <if test="startDate != null ">
                and DATE_FORMAT(b.create_time, '%Y-%m-%d') >= DATE_FORMAT(#{startDate},'%Y-%m-%d')
            </if>
            <if test="endDate != null ">
                and DATE_FORMAT(b.create_time, '%Y-%m-%d') <![CDATA[<]]> DATE_FORMAT(DATE_ADD(#{endDate},INTERVAL 1 DAY),'%Y-%m-%d')
            </if>
        </where>
        order by  b.create_time DESC
    </select>


    <select id="getNotHandleCount"  resultType="java.lang.Integer">
        select count(id)
        from enquiry_bills WHERE status=0
    </select>

</mapper>