<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.EnquiryCommoditysDao">
    <resultMap id="EnquiryCommoditysResultMap" type="com.pieces.dao.model.EnquiryCommoditys">
            <id column="id"  property="id" />
            <result column="user_id"  property="userId" />
            <result column="bills_id"  property="billsId" />
            <result column="commodity_id"  property="commodityId" />
            <result column="commodity_name"  property="commodityName" />
            <result column="specs"  property="specs" />
            <result column="level"  property="level" />
            <result column="origin"  property="origin" />
            <result column="amount"  property="amount" />
            <result column="my_price"  property="myPrice" />
            <result column="expire_date"  property="expireDate" />
            <result column="create_time"  property="createTime" />
        
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,bills_id,commodity_id,commodity_name,specs,level,origin,amount,my_price,expire_date,create_time
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="EnquiryCommoditysResultMap">
        select
        <include refid="Base_Column_List" />
        from enquiry_commoditys
        where id = #{id}
    </select>
    
    <select id="findByIds" parameterType="java.lang.String" resultMap="EnquiryCommoditysResultMap">
        select
        <include refid="Base_Column_List" />
        from enquiry_commoditys
        where id in (${value})
    </select>

    <select id="findAll"  resultMap="EnquiryCommoditysResultMap">
        select
        <include refid="Base_Column_List" />
        from enquiry_commoditys
    </select>

    <select id="findByBillId"  parameterType="java.lang.Integer" resultMap="EnquiryCommoditysResultMap">
        select
        <include refid="Base_Column_List" />
        from enquiry_commoditys
        <where>
            <if test="billId!=null">
                bills_id = #{billId}
            </if>
            <if test="pageSize!=null">
                limit #{pageSize}
            </if>
        </where>

    </select>

    <select id="findByUserAndBillId"  parameterType="java.util.HashMap" resultMap="EnquiryCommoditysResultMap">
        select
        <include refid="Base_Column_List" />
        from enquiry_commoditys
        <where>
            <if test="billId!=null">
                bills_id = #{billId}
            </if>
            <if test="userId!=null">
                and userId = #{userId}
            </if>
            <if test="pageSize!=null">
                limit #{pageSize}
            </if>
        </where>
    </select>

    <!-- 查询用户最近询价的商品 -->
    <select id="findCommoditysByUser"  parameterType="java.lang.String" resultMap="EnquiryCommoditysResultMap">
        select
        <include refid="Base_Column_List" />
        from enquiry_commoditys
        where bills_id != NULL and user_id = #{userId}
        order by create_time DESC limit 0,5
    </select>


    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from enquiry_commoditys
        where id = #{id}
    </delete>

    <delete id="deleteByBillId" parameterType="java.lang.Integer">
        delete from enquiry_commoditys
        where bills_id = #{billId}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.EnquiryCommoditys">
        insert into
        enquiry_commoditys (user_id,bills_id,commodity_id,commodity_name,specs,level,origin,amount,my_price,expire_date,create_time)
        values
        (#{userId},#{billsId},#{commodityId},#{commodityName},#{specs},#{level},#{origin},#{amount},#{myPrice},#{expireDate},#{createTime})
    </insert>

    <insert id="batchCreate" useGeneratedKeys="true"  parameterType="com.pieces.dao.model.EnquiryCommoditys">
        insert into
        enquiry_commoditys (user_id,bills_id,commodity_id,commodity_name,specs,level,origin,amount,my_price,expire_date,create_time)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.userId},#{item.billsId},#{item.commodityId},#{item.commodityName},#{item.specs},#{item.level},#{item.origin},#{item.amount},#{item.myPrice},#{item.expireDate},#{item.createTime})
        </foreach>
    </insert>



    <!-- 批量更新报价信息 -->
    <update id="quotedUpdate" parameterType="java.util.List">
        <if test="list != null">
            <foreach collection="list" item="item" index="index" open="" close="" separator=";">
                update enquiry_commoditys
                <set>
                    <if test="item.myPrice != null">
                        my_price = #{item.myPrice},
                    </if>

                    <if test="item.expireDate != null">
                        expire_date = #{item.expireDate},
                    </if>
                </set>
                where id = #{item.id}
            </foreach>
        </if>
    </update>

    <update id="update" parameterType="com.pieces.dao.model.EnquiryCommoditys">
        update enquiry_commoditys
        <set>
                                                        
            <if test="userId != null">
                user_id = #{userId},
            </if>
                                            
            <if test="billsId != null">
                bills_id = #{billsId},
            </if>
                                            
            <if test="commodityId != null">
                commodity_id = #{commodityId},
            </if>
                                            
            <if test="commodityName != null">
                commodity_name = #{commodityName},
            </if>
                                            
            <if test="specs != null">
                specs = #{specs},
            </if>
                                            
            <if test="level != null">
                level = #{level},
            </if>
                                            
            <if test="origin != null">
                origin = #{origin},
            </if>
                                            
            <if test="amount != null">
                amount = #{amount},
            </if>

            <if test="myPrice != null">
                my_price = #{myPrice},
            </if>
                                            
            <if test="expireDate != null">
                expire_date = #{expireDate},
            </if>
                                            
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
                            
        </set>
        where id = #{id}
    </update>
</mapper>