<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.EnquiryBillsMapper">
    <resultMap id="EnquiryBillsResultMap" type="com.pieces.dao.model.EnquiryBills">
            <id column="id"  property="id" />
            <result column="code"  property="code" />
            <result column="user_id"  property="userId" />
            <result column="member_id"  property="memberId" />
            <result column="status"  property="status" />
            <result column="create_time"  property="createTime" />
            <collection property="enquiryCommoditys" ofType="com.pieces.dao.model.EnquiryCommoditys">
                <id property="id" column="encomd_id"/>
                <id property="commodityId" column="commodity_id"/>
                <id property="commodityName" column="commodity_name"/>
                <id property="specs" column="specs"/>
                <id property="level" column="level"/>
                <id property="origin" column="origin"/>
                <id property="amount" column="amount"/>
                <id property="expectPrice" column="expect_price"/>
                <id property="expectDate" column="expect_date"/>
                <id property="myPrice" column="my_price"/>
                <id property="expireDate" column="expire_date"/>
                <id property="createTime" column="encomd_create_time"/>
            </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,user_id,member_id,status,create_time
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="EnquiryBillsResultMap">
        select
        <include refid="Base_Column_List" />
        from enquiry_bills
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="EnquiryBillsResultMap">
        select
        <include refid="Base_Column_List" />
        from enquiry_bills
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from enquiry_bills
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.EnquiryBills">
        insert into
        enquiry_bills (code,user_id,member_id,status,create_time)
        values
        (#{code},#{userId},#{memberId},#{status},#{createTime})
    </insert>

    <update id="update" parameterType="com.pieces.dao.model.EnquiryBills">
        update enquiry_bills
        <set>
                                                        
            <if test="code != null">
                code = #{code},
            </if>
                                            
            <if test="userId != null">
                user_id = #{userId},
            </if>
                                            
            <if test="memberId != null">
                member_id = #{memberId},
            </if>
                                            
            <if test="status != null">
                status = #{status},
            </if>
                                            
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>


    <select id="findByCommoditys"  parameterType="java.util.HashMap" resultMap="EnquiryBillsResultMap">
         select distinct
            b.id,
            b. code,
            b.user_id,
            b.member_id,
            b.status,
            b.create_time
        from
            enquiry_bills b
        left outer join enquiry_commoditys c on b.id = c.bills_id
        where 1=1
        <if test="commodityName != null">
            and c.commodity_name like "%"#{commodityName}"%"
        </if>
        <if test="startDate != null ">
            and DATE_FORMAT(b.create_time, '%Y-%m-%d') >= DATE_FORMAT(#{startDate},'%Y-%m-%d')
        </if>
        <if test="endDate != null ">
            and DATE_FORMAT(b.create_time, '%Y-%m-%d') <![CDATA[<]]> DATE_FORMAT(DATE_ADD(#{endDate},INTERVAL 1 DAY),'%Y-%m-%d')
        </if>
    </select>

</mapper>