<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.OrderFormDao">
    <resultMap id="OrderFormResultMap" type="com.pieces.dao.model.OrderForm">
            <id column="id"  property="id" />
            <result column="code"  property="code" />
            <result column="shipping_costs"  property="shippingCosts" />
            <result column="addr_history_id"  property="addrHistoryId" />
            <result column="user_id"  property="userId" />
            <result column="remark"  property="remark" />
            <result column="amounts_payable"  property="amountsPayable" />
            <result column="sum"  property="sum" />
            <result column="invoice_id"  property="invoiceId" />
            <result column="status"  property="status" />
            <result column="creater_time"  property="createrTime" />
            <result column="payment_date"  property="paymentDate" />
        
    </resultMap>

    <resultMap id="OrderFormResultMapVo" type="com.pieces.dao.vo.OrderFormVo" extends="OrderFormResultMap">
        <association property="address" javaType="com.pieces.dao.model.ShippingAddressHistory">
            <id column="a_id"  property="id" />
            <result column="a_user_id"  property="userId" />
            <result column="a_consignee"  property="consignee" />
            <result column="a_tel"  property="tel" />
            <result column="a_area"  property="area" />
            <result column="a_detail"  property="detail" />
            <result column="a_create_time"  property="createTime" />
            <result column="a_aliases"  property="aliases" />
        </association>
        <association property="invoice" javaType="com.pieces.dao.model.OrderInvoice">
            <id column="i_id"  property="id" />
            <result column="i_name"  property="name" />
            <result column="i_type"  property="type" />
            <result column="i_content"  property="content" />
            <result column="i_identifier"  property="identifier" />
            <result column="i_registered_address"  property="registeredAddress" />
            <result column="i_registered_tel"  property="registeredTel" />
            <result column="i_bank_name"  property="bankName" />
            <result column="i_bank_account"  property="bankAccount" />
        </association>
        <collection property="commodities" ofType="com.pieces.dao.model.OrderCommodity">
            <id column="c_id"  property="id" />
            <result column="c_name"  property="name" />
            <result column="c_spec"  property="spec" />
            <result column="c_level"  property="level" />
            <result column="c_originOf"  property="originOf" />
            <result column="c_expectDate"  property="expectDate" />
            <result column="c_amount"  property="amount" />
            <result column="c_price"  property="price" />
            <result column="c_subtotal"  property="subtotal" />
            <result column="c_enquiry_commodity_id"  property="enquiryCommodityId" />
            <result column="c_order_id"  property="orderId" />
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,shipping_costs,addr_history_id,user_id,remark,amounts_payable,sum,invoice_id,status,creater_time,payment_date
    </sql>

    <sql id="Base_Column_List_Aliases">
        o.id as id,o.code as code,o.shipping_costs as shipping_costs,o.addr_history_id as addr_history_id,o.user_id as user_id,o.remark as remark,
        o.amounts_payable as amounts_payable,o.sum as sum,o.invoice_id as invoice_id,o.status as status,o.creater_time as creater_time,
        o.payment_date as payment_date
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="OrderFormResultMap">
        select
        <include refid="Base_Column_List" />
        from order_form
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="OrderFormResultMap">
        select
        <include refid="Base_Column_List" />
        from order_form
    </select>

    <select id="findByParams" resultMap="OrderFormResultMapVo" parameterType="com.pieces.dao.vo.OrderFormVo">
        select
        <include refid="Base_Column_List_Aliases" />
        from order_form o
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from order_form
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.OrderForm">
        insert into
        order_form (code,shipping_costs,addr_history_id,user_id,remark,amounts_payable,sum,invoice_id,status,creater_time,payment_date)
        values
        (#{code},#{shippingCosts},#{addrHistoryId},#{userId},#{remark},#{amountsPayable},#{sum},#{invoiceId},#{status},#{createrTime},#{paymentDate})
    </insert>

    <update id="update" parameterType="com.pieces.dao.model.OrderForm">
        update order_form
        <set>
                                                        
            <if test="code != null">
                code = #{code},
            </if>
                                            
            <if test="shippingCosts != null">
                shipping_costs = #{shippingCosts},
            </if>
                                            
            <if test="addrHistoryId != null">
                addr_history_id = #{addrHistoryId},
            </if>
                                            
            <if test="userId != null">
                user_id = #{userId},
            </if>
                                            
            <if test="remark != null">
                remark = #{remark},
            </if>
                                            
            <if test="amountsPayable != null">
                amounts_payable = #{amountsPayable},
            </if>
                                            
            <if test="sum != null">
                sum = #{sum},
            </if>
                                            
            <if test="invoiceId != null">
                invoice_id = #{invoiceId},
            </if>
                                            
            <if test="status != null">
                status = #{status},
            </if>
                                            
            <if test="createrTime != null">
                creater_time = #{createrTime},
            </if>
                                            
            <if test="paymentDate != null">
                payment_date = #{paymentDate},
            </if>
                            
        </set>
        where id = #{id}
    </update>

    <select id="findVoById" parameterType="java.lang.Integer" resultMap="OrderFormResultMapVo">
        select
        <include refid="Base_Column_List_Aliases" />,
        a.id as a_id,a.user_id as a_user_id,a.consignee as a_consignee,a.tel as a_tel,
        a.area as a_area,a.detail as a_detail,a.create_time as a_create_time,a.aliases as a_aliases,
        i.id as i_id,i.name as i_name,i.type as i_type,i.content as i_content,
        i.identifier as i_identifier,i.registered_address as i_registered_address,
        i.registered_tel as i_registered_tel,i.bank_name as i_bank_name,i.bank_account as i_bank_account,
        c.id as c_id,c.name as c_name,c.spec as c_spec,c.level as c_level,c.originOf as c_originOf,
        c.expectDate as c_expectDate,c.amount as c_amount,c.price as c_price,c.subtotal as c_subtotal,
        c.enquiry_commodity_id as c_enquiry_commodity_id,c.order_id as c_order_id
        from order_form o
        left join shipping_address_history a on o.addr_history_id = a.id
        left join order_commodity c on o.id = c.order_id
        left join order_invoice i on o.invoice_id = i.id
        where o.id = #{id}
    </select>

</mapper>