<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.OrderCommodityDao">
    <resultMap id="OrderCommodityResultMap" type="com.pieces.dao.model.OrderCommodity">
            <id column="id"  property="id" />
            <result column="name"  property="name" />
            <result column="spec"  property="spec" />
            <result column="level"  property="level" />
            <result column="originOf"  property="originOf" />
            <result column="amount"  property="amount" />
            <result column="price"  property="price" />
            <result column="subtotal"  property="subtotal" />
            <result column="enquiry_commodity_id"  property="enquiryCommodityId" />
            <result column="order_id"  property="orderId" />
            <result column="guide_price"  property="guidePrice" />
            <result column="commodity_id"  property="commodityId" />
    </resultMap>

    <resultMap id="OrderCommodityResultMapVo" type="com.pieces.dao.vo.OrderCommodityVo" extends="OrderCommodityResultMap">
    </resultMap>

    <sql id="Base_Column_List">
        id,name,spec,level,originOf,amount,price,subtotal,enquiry_commodity_id,order_id,guide_price,commodity_id
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="OrderCommodityResultMap">
        select
        <include refid="Base_Column_List" />
        from order_commodity
        where id = #{id}
    </select>

    <select id="findCommodityByOrderId" parameterType="java.lang.Integer" resultMap="OrderCommodityResultMap">
        select
        <include refid="Base_Column_List" />
        from order_commodity
        where order_id = #{orderId}
    </select>


    <select id="findAll"  resultMap="OrderCommodityResultMap">
        select
        <include refid="Base_Column_List" />
        from order_commodity
    </select>

    <select id="findByParams" resultMap="OrderCommodityResultMapVo" parameterType="com.pieces.dao.vo.OrderCommodityVo">
        select
        <include refid="Base_Column_List" />
        from order_commodity
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="orderId != null">
                order_id = #{orderId}
            </if>
        </where>
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from order_commodity
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.OrderCommodity">
        insert into
        order_commodity (name,spec,level,originOf,amount,price,subtotal,enquiry_commodity_id,order_id,guide_price,commodity_id)
        values
        (#{name},#{spec},#{level},#{originOf},#{amount},#{price},#{subtotal},#{enquiryCommodityId},#{orderId},#{guidePrice},#{commodityId})
    </insert>

    <insert id="batchCreate" useGeneratedKeys="true"  parameterType="com.pieces.dao.model.OrderCommodity">
        insert into
        order_commodity (name,spec,level,originOf,amount,price,subtotal,enquiry_commodity_id,order_id,guide_price,commodity_id)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.name},#{item.spec},#{item.level},#{item.originOf},#{item.amount},#{item.price},#{item.subtotal},#{item.enquiryCommodityId},#{item.orderId},#{item.guidePrice},#{item.commodityId})
        </foreach>
    </insert>



    <update id="update" parameterType="com.pieces.dao.model.OrderCommodity">
        update order_commodity
        <set>
                                                        
            <if test="name != null">
                name = #{name},
            </if>
                                            
            <if test="spec != null">
                spec = #{spec},
            </if>
                                            
            <if test="level != null">
                level = #{level},
            </if>
                                            
            <if test="originOf != null">
                originOf = #{originOf},
            </if>

            <if test="amount != null">
                amount = #{amount},
            </if>
                                            
            <if test="price != null">
                price = #{price},
            </if>
                                            
            <if test="subtotal != null">
                subtotal = #{subtotal},
            </if>
                                            
            <if test="enquiryCommodityId != null">
                enquiry_commodity_id = #{enquiryCommodityId},
            </if>
                                            
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
            <if test="guidePrice != null">
                guide_price = #{guidePrice},
            </if>
            <if test="commodityId != null">
                commodity_id = #{commodityId},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>