<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.RecruitAgentDao">
    <resultMap id="RecruitAgentResultMap" type="com.pieces.dao.model.RecruitAgent">
            <id column="id"  property="id" />
            <result column="name"  property="name" />
            <result column="phone"  property="phone" />
            <result column="area_id"  property="areaId" />
            <result column="create_time"  property="createTime" />
            <result column="last_follow_time"  property="lastFollowTime" />
            <result column="last_follow_id"  property="lastFollowId" />
            <result column="status"  property="status" />
        
    </resultMap>

    <resultMap id="RecruitAgentResultMapVo" type="com.pieces.dao.vo.RecruitAgentVo">
            <id column="id"  property="id" />
            <result column="name"  property="name" />
            <result column="phone"  property="phone" />
            <result column="area_id"  property="areaId" />
            <result column="create_time"  property="createTime" />
            <result column="last_follow_time"  property="lastFollowTime" />
            <result column="last_follow_id"  property="lastFollowId" />
            <result column="lastFollowName"  property="lastFollowName" />
            <result column="status"  property="status" />
        
    </resultMap>

    <sql id="Base_Column_List">
        id,name,phone,area_id,create_time,last_follow_time,last_follow_id,status
    </sql>

    <sql id="LEFT_JOIN_Column_List">
        re.id as id,re.name as name,re.phone as phone,re.area_id as area_id ,
        re.create_time as create_time ,re.last_follow_time as last_follow_time,
        re.last_follow_id as last_follow_id,re.status as status
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="RecruitAgentResultMap">
        select
        <include refid="Base_Column_List" />
        from recruit_agent
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="RecruitAgentResultMap">
        select
        <include refid="Base_Column_List" />
        from recruit_agent
    </select>

    <select id="findByParams" resultMap="RecruitAgentResultMapVo" parameterType="com.pieces.dao.vo.RecruitAgentVo">
        select
        <include refid="LEFT_JOIN_Column_List" />
        mem.name as lastFollowName
        from recruit_agent re
        LEFT JOIN member mem on re.last_follow_id = mem.id
        <where>
            <if test="id != null">
            re.id = #{id}
            </if>
            <if test="name != null">
                AND re.name = "%"#{name}"%"
            </if>
            <if test="phone != null">
                AND re.phone LIKE "%"#{phone}"%"
            </if>
            <if test="status != null">
                AND re.status = #{status}
            </if>
            <if test="lastFollowName != null">
                AND mem.name LIKE "%"#{lastFollowName}"%"
            </if>
            <if test="lastFollowTimeStart != null">
                AND re.last_follow_time <![CDATA[ >= ]]> #{lastFollowTimeStart}
            </if>

            <if test="lastFollowTimeEnd != null">
                AND re.last_follow_time <![CDATA[ <= ]]> #{lastFollowTimeEnd}
            </if>
            <if test="publishTimeStart != null">
                AND re.create_time <![CDATA[ >= ]]> #{publishTimeStart}
            </if>

            <if test="publishTimeEnd != null">
                AND re.create_time <![CDATA[ <= ]]> #{publishTimeEnd}
            </if>
        </where>
        ORDER BY re.id DESC
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from recruit_agent
        where id = #{id}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.RecruitAgent">
        insert into
        recruit_agent (name,phone,area_id,create_time,last_follow_time,last_follow_id,status)
        values
        (#{name},#{phone},#{areaId},#{createTime},#{lastFollowTime},#{lastFollowId},#{status})
    </insert>

    <update id="update" parameterType="com.pieces.dao.model.RecruitAgent">
        update recruit_agent
        <set>
                                                        
            <if test="name != null">
                name = #{name},
            </if>
                                            
            <if test="phone != null">
                phone = #{phone},
            </if>
                                            
            <if test="areaId != null">
                area_id = #{areaId},
            </if>
                                            
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
                                            
            <if test="lastFollowTime != null">
                last_follow_time = #{lastFollowTime},
            </if>
                                            
            <if test="lastFollowId != null">
                last_follow_id = #{lastFollowId},
            </if>
                                            
            <if test="status != null">
                status = #{status},
            </if>
                            
        </set>
        where id = #{id}
    </update>
    <select id="findVoById" parameterType="java.lang.Integer" resultMap="RecruitAgentResultMapVo">
        select
        <include refid="LEFT_JOIN_Column_List" />
        mem.name as lastFollowName
        from recruit_agent re
        LEFT JOIN member mem on re.last_follow_id = mem.id
        where re.id = #{id}
    </select>
    <select id="getNotHandleCount"  resultType="java.lang.Integer">
        select count(id)
        from recruit_agent WHERE status=0
    </select>
</mapper>