<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pieces.dao.ShippingAddressDao">
    <resultMap id="ShippingAddressResultMap" type="com.pieces.dao.model.ShippingAddress">
            <id column="id"  property="id" />
            <result column="user_id"  property="userId" />
            <result column="is_default"  property="isDefault" />
            <result column="consignee"  property="consignee" />
            <result column="tel"  property="tel" />
            <result column="postcode"  property="postcode" />
            <result column="area_id"  property="areaId" />
            <result column="detail"  property="detail" />
            <result column="create_time"  property="createTime" />
            <result column="aliases"  property="aliases" />
    </resultMap>

    <resultMap id="ShippingAddressResultMapVo" type="com.pieces.dao.vo.ShippingAddressVo">
        <id column="id"  property="id" />
        <result column="user_id"  property="userId" />
        <result column="is_default"  property="isDefault" />
        <result column="consignee"  property="consignee" />
        <result column="tel"  property="tel" />
        <result column="postcode"  property="postcode" />
        <result column="area_id"  property="areaId" />
        <result column="detail"  property="detail" />
        <result column="create_time"  property="createTime" />
        <result column="aliases"  property="aliases" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,is_default,consignee,tel,postcode,area_id,detail,create_time,aliases
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultMap="ShippingAddressResultMap">
        select
        <include refid="Base_Column_List" />
        from shipping_address
        where id = #{id}
    </select>

    <select id="findAll"  resultMap="ShippingAddressResultMap">
        select
        <include refid="Base_Column_List" />
        from shipping_address
    </select>

    <delete id="deleteById" >
        delete from shipping_address
        where id = #{id}
    </delete>

    <delete id="deleteByUserIdAndId" parameterType="java.lang.Integer" >
        delete from shipping_address
        where id = #{id} and user_id = #{userId}
    </delete>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.ShippingAddress">
        insert into
        shipping_address (user_id,is_default,consignee,tel,postcode,area_id,detail,create_time,aliases)
        values
        (#{userId},#{isDefault},#{consignee},#{tel},#{postcode},#{areaId},#{detail},#{createTime},#{aliases})
    </insert>

    <select id="findByParams" resultMap="ShippingAddressResultMapVo" parameterType="com.pieces.dao.vo.ShippingAddressVo">
        select
        <include refid="Base_Column_List" />
        from shipping_address
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
        order by is_default desc
    </select>
    
    <update id="updateAllNotDefault" parameterType="java.lang.Integer">
          update shipping_address set is_default = 0 where user_id = #{userId};
    </update>
    
    <update id="update" parameterType="com.pieces.dao.model.ShippingAddress">
        update shipping_address
        <set>
                                                        
            <if test="userId != null">
                user_id = #{userId},
            </if>
                                            
            <if test="isDefault != null">
                is_default = #{isDefault},
            </if>
                                            
            <if test="consignee != null">
                consignee = #{consignee},
            </if>
                                            
            <if test="postcode != null">
                postcode = #{postcode},
            </if>

            <if test="tel != null">
                tel = #{tel},
            </if>

            <if test="areaId != null">
                area_id = #{areaId},
            </if>
                                            
            <if test="detail != null">
                detail = #{detail},
            </if>
                                            
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
                                            
            <if test="aliases != null">
                aliases = #{aliases},
            </if>
                            
        </set>
        where id = #{id}
    </update>
</mapper>