<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pieces.dao.UserMapper" >

  <resultMap id="BaseResultMap" type="com.pieces.dao.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="company_full_name" property="companyFullName" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="county_code" property="countyCode" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_mobile" property="contactMobile" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="online_status" property="onlineStatus" jdbcType="INTEGER" />
    <result column="bind_erp" property="bindErp" jdbcType="INTEGER" />
    <result column="create_channel" property="createChannel" jdbcType="INTEGER" />
    <result column="area_full" property="areaFull" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 查询user -->
  <select id="findUserByCondition" parameterType="com.pieces.dao.model.User" resultMap="BaseResultMap">
  		select * from user b 
  		where 1=1
  		<if test="id != null" >
  			and b.id = #{id, jdbcType=INTEGER}
  		</if>
  		<if test="userName != null" >
  			and b.user_name = #{userName, jdbcType=VARCHAR}
  		</if>
  		<if test="status != null" >
  			and b.status = #{status, jdbcType=INTEGER}
  		</if>
  		<if test="companyFullName != null" >
  			and b.company_full_name = #{companyFullName, jdbcType=VARCHAR}
  		</if>
  		<if test="contactMobile != null" >
  			and b.contact_mobile = #{contactMobile, jdbcType=VARCHAR}
  		</if>
  		<if test="contactName != null" >
  			and b.contact_name = #{contactName, jdbcType=VARCHAR}
  		</if>
  </select>
  
  	<!-- 新增会员 -->
	<insert id="addUser" parameterType="com.pieces.dao.model.User" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into user
			(user_name,password,salt,company_full_name,province_code,city_code,county_code,contact_name,contact_mobile,status,create_time,update_time
			,online_status,bind_erp,create_channel,area_full)
			values (#{userName,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			#{salt,jdbcType=VARCHAR},
			#{companyFullName,jdbcType=VARCHAR},
			#{provinceCode,jdbcType=VARCHAR},
			#{cityCode,jdbcType=VARCHAR},
			#{countyCode,jdbcType=VARCHAR},
			#{contactName,jdbcType=VARCHAR},
			#{contactMobile,jdbcType=VARCHAR},
			#{status,jdbcType=INTEGER},
			#{createTime,jdbcType=TIMESTAMP},
			#{updateTime,jdbcType=TIMESTAMP},
			#{onlineStatus,jdbcType=INTEGER},
			#{bindErp,jdbcType=INTEGER},
			#{createChannel,jdbcType=INTEGER},
			#{areaFull,jdbcType=VARCHAR}
			)
		]]>
	</insert>
	
	  <update id="updateUserByCondition" parameterType="com.pieces.dao.model.User">
        update user
		<set >
	        <if test="userName != null">
	        	user_name = #{userName,jdbcType=VARCHAR},
	        </if>
	        <if test="password != null">
	        	password = #{password,jdbcType=VARCHAR},
	        </if>
	        <if test="salt != null">
	        	salt = #{salt,jdbcType=NUMERIC},
	        </if>
	        <if test="companyFullName != null">
	        	company_full_name = #{companyFullName,jdbcType=VARCHAR},
	        </if>
	        <if test="provinceCode != null">
	        	province_code = #{provinceCode,jdbcType=VARCHAR},
	        </if>
	        <if test="cityCode != null">
	        	city_code = #{cityCode,jdbcType=VARCHAR},
	        </if>
	        <if test="countyCode != null">
	        	county_code = #{countyCode,jdbcType=INTEGER},
	        </if>
	        <if test="contactName != null">
	        	contact_name = #{contactName,jdbcType=VARCHAR},
	        </if>
	        <if test="contactMobile != null">
	        	contact_mobile = #{contactMobile,jdbcType=VARCHAR},
	        </if>
	        <if test="status != null">
	        	status = #{status,jdbcType=INTEGER},
	        </if>
	        <if test="updateTime != null">
	        	update_time = #{updateTime,jdbcType=TIMESTAMP},
	        </if>
	        <if test="onlineStatus != null">
	        	online_status = #{onlineStatus,jdbcType=INTEGER},
	        </if>
	        <if test="areaFull != null">
	        	area_full = #{areaFull,jdbcType=VARCHAR},
	        </if>
	    </set>
        WHERE id = #{id,jdbcType=NUMERIC}
  </update>
  
    <!-- 模糊查询user -->
  <select id="findUserByVagueCondition" parameterType="com.pieces.dao.model.User" resultMap="BaseResultMap">
  		select * from user b 
  		where 1=1
  		<if test="userName != null and userName != ''" >
  			and b.user_name like CONCAT('%','${userName}','%' )
  		</if>
  		<if test="status != null and status != ''" >
  			and b.status = #{status, jdbcType=INTEGER}
  		</if>
  		<if test="bindErp != null and bindErp != ''" >
  			and b.bind_erp = #{bindErp, jdbcType=INTEGER}
  		</if>
		<if test="areaFull != null and areaFull != ''">
	        and b.area_full like  '%${areaFull}%'
	    </if>
  		<if test="companyFullName != null and companyFullName != ''" >
  			and b.company_full_name like '%${companyFullName}%'
  		</if>
  		<if test="contactMobile != null and contactMobile != ''" >
  			and b.contact_mobile like '%${contactMobile}%'
  		</if>
  		<if test="contactName != null and contactName != ''" >
  			and b.contact_name like  '%${contactName}%'
  		</if>
  		<if test="startDate != null and startDate != ''">
		    and DATE_FORMAT(b.create_time, '%Y-%m-%d') >= DATE_FORMAT(#{startDate},'%Y-%m-%d') 
		</if>
		<if test="endDate != null and endDate != ''">
		    and DATE_FORMAT(b.create_time, '%Y-%m-%d') <![CDATA[<]]> DATE_FORMAT(DATE_ADD(#{endDate},INTERVAL 1 DAY),'%Y-%m-%d')
		</if>
  </select>
</mapper>