<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pieces.dao.UserDao" >

	<resultMap id="BaseResultMap" type="com.pieces.dao.model.User">
		<id column="id"  property="id" />
		<result column="user_name"  property="userName" />
		<result column="password"  property="password" />
		<result column="salt"  property="salt" />
		<result column="company_full_name"  property="companyFullName" />
		<result column="area_id"  property="areaId" />
		<result column="contact_name"  property="contactName" />
		<result column="contact_mobile"  property="contactMobile" />
		<result column="online_status"  property="onlineStatus" />
		<result column="bind_erp"  property="bindErp" />
		<result column="source"  property="source" />
		<result column="area_full"  property="areaFull" />
		<result column="is_del"  property="isDel" />
		<result column="type"  property="type" />
		<result column="certify_status"  property="certifyStatus" />
		<result column="certify_time"  property="certifyTime" />
		<result column="create_time"  property="createTime" />
		<result column="update_time"  property="updateTime" />
	</resultMap>
	
	<resultMap id="Vo" type="com.pieces.dao.vo.UserVo" extends="BaseResultMap">
		<result column="agentName"  property="agentName" />
		<result column="agentId"  property="agentId" />
	</resultMap>

	<sql id="Base_Column_List">
		id,user_name,password,salt,company_full_name,area_id,contact_name,contact_mobile,online_status,bind_erp,source,area_full,is_del,type,certify_status,certify_time,create_time,update_time
	</sql>


	<select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where id = #{id}
	</select>

	<select id="findAll"  resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
	</select>

	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from user
		where id = #{id}
	</delete>

	<insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.pieces.dao.model.User">
		insert into
		user (user_name,password,salt,company_full_name,area_id,contact_name,contact_mobile,online_status,bind_erp,source,area_full,is_del,type,certify_status,certify_time,create_time,update_time)
		values
		(#{userName},#{password},#{salt},#{companyFullName},#{areaId},#{contactName},#{contactMobile},#{onlineStatus},#{bindErp},#{source},#{areaFull},#{isDel},#{type},#{certifyStatus},#{certifyTime},#{createTime},#{updateTime})
	</insert>

	<update id="update" parameterType="com.pieces.dao.model.User">
		update user
		<set>

			<if test="userName != null">
				user_name = #{userName},
			</if>

			<if test="password != null">
				password = #{password},
			</if>

			<if test="salt != null">
				salt = #{salt},
			</if>

			<if test="companyFullName != null">
				company_full_name = #{companyFullName},
			</if>

			<if test="areaId != null">
				area_id = #{areaId},
			</if>

			<if test="contactName != null">
				contact_name = #{contactName},
			</if>

			<if test="contactMobile != null">
				contact_mobile = #{contactMobile},
			</if>

			<if test="onlineStatus != null">
				online_status = #{onlineStatus},
			</if>

			<if test="bindErp != null">
				bind_erp = #{bindErp},
			</if>

			<if test="source != null">
				source = #{source},
			</if>

			<if test="areaFull != null">
				area_full = #{areaFull},
			</if>

			<if test="isDel != null">
				is_del = #{isDel},
			</if>

			<if test="type != null">
				type = #{type},
			</if>

			<if test="certifyStatus != null">
				certify_status = #{certifyStatus},
			</if>

			<if test="certifyTime != null">
				certify_time = #{certifyTime},
			</if>

			<if test="createTime != null">
				create_time = #{createTime},
			</if>

			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>

		</set>
		where id = #{id}
	</update>

	<!-- 通过用户名查找用户-->
	<select id="findByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where user_name = #{userName}
	</select>


	<!-- 查询user -->
  <select id="findUserByCondition" parameterType="com.pieces.dao.model.User" resultMap="BaseResultMap">
  		select * from user b 
  		where 1=1
  		<if test="id != null" >
  			and b.id = #{id, jdbcType=INTEGER}
  		</if>
  		<if test="isDel != null" >
  			and b.is_del = #{isDel, jdbcType=VARCHAR}
  		</if>
  		<if test="userName != null" >
  			and b.user_name = #{userName, jdbcType=VARCHAR}
  		</if>
  		<if test="companyFullName != null" >
  			and b.company_full_name = #{companyFullName, jdbcType=VARCHAR}
  		</if>
  		<if test="contactMobile != null" >
  			and b.contact_mobile = #{contactMobile, jdbcType=VARCHAR}
  		</if>
  		<if test="contactName != null" >
  			and b.contact_name = #{contactName, jdbcType=VARCHAR}
  		</if>
	    <if test="type != null" >
		  and b.type = #{type}
	     </if>
	  <if test="certifyStatus != null" >
		  and b.certify_status = #{certifyStatus}
	  </if>
	  <if test="certifyTime != null" >
		  and b.certify_time = #{certifyTime}
	  </if>
  </select>
  
  	<!-- 新增会员 -->
	<insert id="addUser" parameterType="com.pieces.dao.model.User" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into user
			(user_name,password,salt,company_full_name,area_id,contact_name,contact_mobile,isDel,create_time,update_time
			,online_status,bind_erp,source,area_full,type,certify_status,certify_time)
			values (#{userName,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			#{salt,jdbcType=VARCHAR},
			#{companyFullName,jdbcType=VARCHAR},
			#{areaId,jdbcType=VARCHAR},
			#{contactName,jdbcType=VARCHAR},
			#{contactMobile,jdbcType=VARCHAR},
			#{is_del,jdbcType=INTEGER},
			#{createTime,jdbcType=TIMESTAMP},
			#{updateTime,jdbcType=TIMESTAMP},
			#{onlineStatus,jdbcType=INTEGER},
			#{bindErp,jdbcType=INTEGER},
			#{source,jdbcType=INTEGER},
			#{areaFull,jdbcType=VARCHAR},
			#{type,jdbcType=INTEGER},
			#{certifyStatus,jdbcType=INTEGER},
			#{certifyTime}
			)
		]]>
	</insert>
	
	  <update id="updateUserByCondition" parameterType="com.pieces.dao.model.User">
        update user
		<set >
	        <if test="userName != null">
	        	user_name = #{userName,jdbcType=VARCHAR},
	        </if>
	        <if test="password != null">
	        	password = #{password,jdbcType=VARCHAR},
	        </if>
	        <if test="salt != null">
	        	salt = #{salt,jdbcType=NUMERIC},
	        </if>
	        <if test="companyFullName != null">
	        	company_full_name = #{companyFullName,jdbcType=VARCHAR},
	        </if>
	        <if test="areaId != null">
	        	area_id = #{areaId,jdbcType=VARCHAR},
	        </if>
	        <if test="contactName != null">
	        	contact_name = #{contactName,jdbcType=VARCHAR},
	        </if>
	        <if test="contactMobile != null">
	        	contact_mobile = #{contactMobile,jdbcType=VARCHAR},
	        </if>
	        <if test="isDel != null">
	        	is_del = #{isDel,jdbcType=INTEGER},
	        </if>
	        <if test="updateTime != null">
	        	update_time = #{updateTime,jdbcType=TIMESTAMP},
	        </if>
	        <if test="onlineStatus != null">
	        	online_status = #{onlineStatus,jdbcType=INTEGER},
	        </if>
	        <if test="areaFull != null">
	        	area_full = #{areaFull,jdbcType=VARCHAR},
	        </if>
			<if test="certifyTime != null" >
				certify_time = #{certifyTime}
			</if>
	    </set>
        WHERE id = #{id,jdbcType=NUMERIC}
  </update>
  
    <!-- 模糊查询user -->
  <select id="findUserByVagueCondition" parameterType="com.pieces.dao.model.User" resultMap="BaseResultMap">
  		select * from user b 
  		where 1=1
  		<if test="userName != null and userName != ''" >
  			and b.user_name like CONCAT('%','${userName}','%' )
  		</if>
  		<if test="bindErp != null and bindErp != ''" >
  			and b.bind_erp = #{bindErp, jdbcType=INTEGER}
  		</if>
		<if test="areaFull != null and areaFull != ''">
	        and b.area_full like  '%${areaFull}%'
	    </if>
  		<if test="companyFullName != null and companyFullName != ''" >
  			and b.company_full_name like '%${companyFullName}%'
  		</if>
  		<if test="contactMobile != null and contactMobile != ''" >
  			and b.contact_mobile like '%${contactMobile}%'
  		</if>
  		<if test="contactName != null and contactName != ''" >
  			and b.contact_name like  '%${contactName}%'
  		</if>
  		<if test="startDate != null and startDate != ''">
		    and DATE_FORMAT(b.create_time, '%Y-%m-%d') >= DATE_FORMAT(#{startDate},'%Y-%m-%d') 
		</if>
		<if test="endDate != null and endDate != ''">
		    and DATE_FORMAT(b.create_time, '%Y-%m-%d') <![CDATA[<]]> DATE_FORMAT(DATE_ADD(#{endDate},INTERVAL 1 DAY),'%Y-%m-%d')
		</if>
		and b.is_del = 0
  </select>

	<!-- 条件查询User-->
	<select id="findByCondition" parameterType="com.pieces.dao.vo.UserVo" resultMap="BaseResultMap">
		select * from user b
		where 1=1
		<if test="userName != null and userName != ''" >
			and b.user_name like "%"#{userName}"%"
		</if>
		<if test="bindErp != null and bindErp != ''" >
			and b.bind_erp = #{bindErp}
		</if>
		<if test="areaFull != null and areaFull != ''">
			and b.area_full like  "%"#{areaFull}"%"
		</if>
		<if test="companyFullName != null and companyFullName != ''" >
			and b.company_full_name like "%"#{companyFullName}"%"
		</if>
		<if test="contactMobile != null and contactMobile != ''" >
			and b.contact_mobile like "%"#{contactMobile}"%"
		</if>
		<if test="contactName != null and contactName != ''" >
			and b.contact_name like  "%"#{contactName}"%"
		</if>
		<if test="startDate != null and startDate != ''">
			and DATE_FORMAT(b.create_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startDate},'%Y-%m-%d')
		</if>
		<if test="endDate != null and endDate != ''">
			and DATE_FORMAT(b.create_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate},'%Y-%m-%d')
		</if>
		<if test="type != null" >
			and b.type = #{type}
		</if>
		<if test="certifyStatus != null" >
			and b.certify_status = #{certifyStatus}
		</if>
	</select>

	<!-- 条件查询User-->
	<select id="findProxyUser" parameterType="com.pieces.dao.vo.UserVo" resultMap="Vo">
		select b.id as id,b.user_name as user_name, b.company_full_name as company_full_name,
		agent.user_name as agentName,agent.id as agentId
		from user b
		LEFT JOIN  user_bind bind ON b.id = bind.terminal_id
		LEFT JOIN  user agent ON bind.agent_id = agent.id
		<where>
			<if test="userName != null and userName != ''">
				 b.user_name like "%"#{userName}"%"
			</if>
			<if test="companyFullName != null and companyFullName != ''">
				and b.company_full_name LIKE "%"#{bincompanyFullNamedErp}"%"
			</if>
			<if test="agentName != null and agentName != ''">
				and agent.user_name like "%"#{agentName}"%"
			</if>
			<if test="true">
				and b.type = 1
			</if>
		</where>
	</select>

</mapper>