@charset "utf-8";
/* CSS Document */
/*
 * zhouli 2015.1.16
*/
/* css sprite */
body{color: #666666;}
a{color: #555555;}
a:hover{ text-decoration:underline; color:#c90301;}
.oprate a i,
.breed-box ul li i,
.replace a{
    background: url("../images/index-icon.png") no-repeat;
}
/*  背景蒙层 */
.service-safe a:hover,
.png{background: url("../images/png.png") repeat;}

.area-956{
    width: 956px;
    margin: 0 auto;
}
.area-234{
    width: 234px;
    margin: 0 auto;
}
.box-1{
    width: 755px;
    margin-left: 200px;
}
.service-safe{
    background: url("../images/baozhang.png") no-repeat;
    width: 755px;
    height: 122px;
    overflow: hidden;
}
.service-safe a{
    display: inline-block;
    *display: inline;
    zoom:1;
    width: 188px;
    height: 122px;
    line-height: 9999px;
    overflow: hidden;
    outline: none;
}

.border-1{border: 1px solid #e6e6e6;}
.oprate{
    background: #fff1f1;
    border-bottom: 1px solid #e6e6e6;
    line-height: 37px;
    height: 37px;
}
.leecr{
    border-bottom: 1px solid #e6e6e6;
    line-height: 37px;
    height: 37px;
	text-align:center;
	color:#888888;
}
.oprate a,
.oprate a i{
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: middle;
}
.oprate a{
    width: 112px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.oprate a.br{border-right: 1px solid #e6e6e6;}
.oprate a .zc{
    background-position: 0 0;
    width: 22px;
    height: 21px;
    margin-right: 5px;
}
.oprate a .dl{
    background-position: -22px 0;
    width: 22px;
    height: 21px;
    margin-right: 5px;
}
.tabs-1 li{
    float: left;
    margin-left: 8px;
    width: 105px;
    line-height: 34px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    cursor: pointer;
}
.tabs-1 li.cur{
    border-bottom-color: #c90301;
    color: #c90301;
}
.conts-1{display: none;}
.list_12{padding: 4px 5px 0 8px;}
.list_12 li{
    line-height: 25px;
    height: 25px;
    overflow: hidden;
    color: #555;
}
.exit-rc{
    border: 1px solid #e6e6e6;
    background: #f1f1f1;
    height: 38px;
    line-height: 38px;
    width: 234px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    *display: inline;
    zoom:1;
    color: #d84948;
}
.exit-rc:hover{
    border-color: #d84948;
    color: #d84948;
    text-decoration: none;
}
.exit-rc:active{
    border-color: #d84948;
    background: #d84948;
    color: #fff;
}
.charges span{
    display: inline-block;
    *display: inline;
    zoom:1;
}
.charges span.wid-1{
    float: left;
    text-align: left;
    width: 65px;
}
.charges span.wid-2{
    float: right;
    text-align: right;
    width: 80px;
}
.tit1{
    border-bottom: 1px solid #e6e6e6;
    background: #f1f1f1;
    line-height: 30px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    padding-left: 15px;
}
.tit2,
.tit3,
.tit4,
.tit5{
    border-bottom: 2px solid #ff4301;
    font-family: microsoft yahei;
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
    color: #323232;
    padding-left: 15px;
}
.tit3{border-bottom: 2px solid #703bc6;}
.tit4{border-bottom: 2px solid #7fc526;}
.tit5{border-bottom: 2px solid #027cff;}
.breed-box{padding-top: 10px;}
.breed-box ul{width: 1300px; padding-top: 10px; background: #f4f4f4; height: 85px;}
.breed-box ul li{
    float: left;
    height: px;
    border-right: 1px solid #e2e2e2;
    padding: 10px 24px;
}
.more{
    float: right;
    font-size: 12px;
    padding-right: 15px;
    font-weight: normal;
    font-family: "宋体";
}
.more a{color: #323232;}
.breen-nav {
    padding-right: 50px;
    font-size: 14px;
    color: #333;
    font-weight: normal;
    font-family: "宋体";
}
.breen-nav a{color: #333; padding: 0 10px;}
.breed-list a:hover,
.more a:hover,
.breen-nav a:hover,
.replace a:hover{color: #c90301; text-decoration: underline;}
.breed-box ul li.bn{border-right: 0 none;}
.breed-box ul li .icon1{
    display: inline-block;
    background-position: 0 -21px;
    width: 28px;
    height: 32px;
    vertical-align: middle;
    margin-left: 15px;
}
.breed-box ul li .icon2{
    display: inline-block;
    background-position: -30px -21px;
    width: 31px;
    height: 31px;
    vertical-align: middle;
    margin-left: 13px;
}
.breed-box ul li .icon3{
    display: inline-block;
    background-position: -70px -22px;
    width: 28px;
    height: 31px;
    vertical-align: middle;
    margin-left: 20px;
}
.breed-box ul li .icon4{
    display: inline-block;
    background-position: -109px -22px;
    width: 49px;
    height: 34px;
    vertical-align: middle;
    margin-left: 3px;
}
.breed-box ul li:hover span .icon1{background-position: 0 -57px;}
.breed-box ul li:hover span .icon2{background-position: -31px -57px;}
.breed-box ul li:hover span .icon3{background-position: -71px -58px;}
.breed-box ul li:hover span .icon4{background-position: -110px -57px;}
.breed-box ul li strong{
    font-weight: 600;
    color: #555;
    font-size: 14px;
    font-family: microsoft yahei;
}
.breed-box ul li p{
    float: left;
    margin: 6px 0 0 20px;
}
.breed-box ul li p a{padding-right: 8px; display: inline-block; line-height: 25px;}
.breed-box ul li p.wid-1{width: 140px;}
.breed-box ul li p.wid-2{width: 170px;}
.breed-box ul li p.wid-3{width: 200px;}
.hidden{overflow: hidden;}
.actives{
    width: 194px;
    height: 316px;
    z-index: 0;
    /*cursor: pointer;*/
}
.actives:hover{
    opacity: 0.9;
    filter:Alpha(opacity=90);
}
.actives-2{
    z-index: 0;
}
.actives .png,
.actives-2 .png{
    position: absolute;
    left: 0;
    top: 0;
    width: 194px;
    height: 316px;
    display: none;
    z-index: 1;
}
.actives-2 .png{height: 260px;}
.actives:hover .png,
.actives-2:hover .png{
    display: block;
}
.actives-2{
    width: 194px;
    height: 260px;
}
.actives .see,
.actives .seezx,
.actives-2 .seecg{
    display: inline-block;
    position: absolute;
    bottom: 0;
    left:0;
    background: #ff4301;
    width: 194px;
    height: 48px;
    line-height: 48px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.actives-2 .seecg a{color: #fff;}
.actives-2 .seecg a:hover{color: #fff; text-decoration: none;}
.actives-2 .seecg:hover{background: #0f4af7;}
.actives .seezx{background: #703bc6;}
.actives-2 .seecg{background: #0636c1;}
.box-2{width: 194px;}
.breed-list{
    padding: 25px 0 0 10px;
    height: 191px;
    background: #f5f5f5;
}
.breed-list a{
    color: #333;
    padding-right: 8px;
    line-height: 32px;
    display: inline-block;
    width: 50px;
}
.box-3{width: 754px; margin-left: 8px;}
.img-breedlist li{
    position: relative;
    float: left;
    width: 187px;
    height: 260px;
    border: 1px solid #e6e6e6;
    margin: 0 0 -1px -1px;
    z-index: 0;
}
.img-breedlist li .png{
    display: none;
    position: absolute;
    top:15px;
    left: 15px;
    width: 160px;
    height: 160px;
}
.img-breedlist li:hover .png{display: block;}
.img-breedlist li a{outline: none; text-decoration: none;}
.img-breedlist li.ad-2{
    width: 754px;
    height: 261px;
    border: 0 none;
}
.img-breedlist li.ad-2 img{
    width: 754px;
    height: 261px;
}
.img-breedlist li.ad-2:hover{
    border: 0 none;
}
.img-breedlist li:hover{
    /*border: 1px solid #c90301;
    z-index: 1;*/
}
.img-breedlist li span{display: inline-block; text-align: center; width: 187px; vertical-align: middle;}
.img-breedlist li span img{
    width: 160px;
    height: 160px;
    margin-top: 15px;
    border: 1px solid #fff;
}
/*.img-breedlist li span img:hover{border: 1px solid #e6e6e6;}*/
.img-breedlist li h4{
    color: #555;
    font-size: 14px;
    line-height: 25px;
    max-height: 50px;
    padding: 0 15px;
}
.img-breedlist li:hover h4{
    color: #c90301;
	
}
.img-breedlist li p{
    color: #a1a1a1;
    padding: 5px 15px 0;
}
.img-breedlist li p span{display: inline; width: inherit;}
.caption{
    border: 1px solid #e6e6e6;
    height: 215px;
}
.caption p{
    color: #333;
    padding: 30px 15px;
    line-height: 22px;
    font-size: 14px;
}
.caption h4{
    background: #e2ffbe;
    height: 45px;
    line-height: 45px;
    color: #555;
    padding-left: 15px;
}
.caption h4 strong{
    font-size: 18px;
    padding-right: 5px;
}
.detail-box{
    border: 1px solid #e2e2e2;
    height: 249px;
    border-top: 0 none;
    margin-top: 8px;
}
.detail-box li{
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #555;
}
.detail-box .title{
    background: #dee7f8;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #565656;
    margin-bottom: 10px;
}
.detail-box span{
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}
.detail-box .wid-1{width: 100px;}
.detail-box .wid-2{width: 50px;}
.detail-box .wid-3{width: 270px; margin-left: 50px;}
.tr{text-align: right;}
.tc{text-align: center;}
.list_style1 li{
    border-bottom: 1px solid #e2e2e2;
    padding: 6px 15px;
}
.list_style1 li a{outline: none; text-decoration: none;}
.list_style1 li h3{
    color: #c90301;
    font-size: 14px;
    line-height: 26px;
}
.list_style1 li h3 span:hover{text-decoration:underline;}
.list_style1 li h3 img{vertical-align: middle;}
.list_style1 li p{
    line-height: 26px;
    color: #a1a1a1;
}
.list_style1 li p.col_31{color: #313131;}
.list_style1 li p span{display: inline-block;}
.list_style1 li p .wid-1{width: 118px;}
.list_style1 li p .wid-2{width: 75px;}
.replace{
    background: #f5f5f5;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
}
.replace a{
    display: inline-block;
    background-position: -154px 10px;
    color: #555;
    text-indent: 22px;
    margin-left: 70px;
}
.list_style2{padding: 8px;}
.list_style2 li.first{padding-bottom: 5px; max-height: none;}
.list_style2 li.first span img{
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 10px;
}
.list_style2 li.first h3{
    font-weight: bold;
    line-height: 18px;
    height: 18px;
    color: #555;
    padding-bottom: 2px;
}
.list_style2 li.first p{
    line-height: 18px;
    color: #787878;
    max-height: 78px;
    overflow: hidden;
}
.list_style2 li{
    margin-bottom: 5px;
    color: #323232;
    clear: both;
    line-height: 20px;
    max-height: 20px;
    overflow: hidden;
}
.list_style2 li {color: #565656;}
.list_style3 li{
    position: relative;
    padding: 13px 15px;
    border-bottom: 1px solid #e2e2e2;
    height: 80px;
}
.list_style3 li .png{
    display: none;
    position: absolute;
    left:15px;
    top:13px;
    width: 80px;
    height: 80px;
}
.list_style3 li:hover .png{display: block;}
.list_style3 li span img{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border: 1px solid #fff;
}
.list_style3 li h4{
    padding-top: 15px;
    line-height: 25px;
    color: #555;
}

.list_style3 li.bn,
.list_style4 li.bn{border-bottom: 0 none;}
.list_style4 li{
    position: relative;
    padding: 12px 0;
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
}
.list_style4 li .png{
    display: none;
    position: absolute;
    left:50px;
    top:12px;
    width: 130px;
    height: 130px;
}
.list_style4 li:hover .png{display: block;}
.list_style4{
    padding-bottom: 3px;
}
/*.list_style4 li span img{
    width: 130px;
    height: 130px;
    border: 1px solid #fff;
}*/

.bank-box{width: 657px;}
.tit6{
    font-family: microsoft yahei;
    font-size: 18px;
    line-height: 40px;
    font-weight: 600;
    color: #323232;
    padding-left: 15px;
}
.bank-box .bank-bg{
    background: url("../images/bank.png") no-repeat #f4f3f8 14px 20px;
    height: 86px;
}
.bank-box .bank-bg span{
    margin: 14px 0 0 20px;
    display: inline-block;
}
.bank-box .bank-bg a{display: inline-block; line-height: 9999px; height: 48px; overflow: hidden; margin-top: 14px;}
.bank-box .bank-bg a.wid-1{width: 162px; height: 48px;}
.bank-box .bank-bg a.wid-2{width: 210px; height: 48px;}
.bank-box .bank-bg a.wid-3{width: 98px; height: 48px;}
.area-527{width: 527px;}
.news-box{background:#f4f3f8;height: 86px; }
.news-box .list_12 li{
    float: left;
    width: 235px;
    padding-right: 10px;
}
.news-box .list_12{padding: 5px 10px;}
.box-4{
    padding-top: 6px;
    height: 300px;
}


/* 焦点图 */
.fouce-img .items,
.ad-2 .fouce-img .items,
.fouce-img .prev,
.fouce-img .next,
.ad-3.fouce-img .prev,
.ad-3.fouce-img .next{background: url("../images/fouceBtn.png") no-repeat;}
.fouce-img,
.ad-2 .fouce-img,
.ad-3.fouce-img{
    position: relative;
    width: 754px;
    height: 302px;
    overflow: hidden;
}
.ad-2 .fouce-img{
    width: 754px;
    height: 261px;
}
.ad-3.fouce-img{
    width: 756px;
    height: 260px;
}
.fouce-img ul{
    position: absolute;
    left: 0;
    top:0;
    width: 9999px;
    z-index: 2;
}
.fouce-img ul li{
    float: left;
    width: 754px;
    height: 302px;
}
#ad-1 ul li img{width: 754px; height: 302px;}
.ad-2{
    height: 261px;
    position: relative;
    width: 567px;
}
.ad-3{
    height: 756px;
    position: relative;
    width: 260px;
}
.ad-2 .fouce-img ul li{
    float: left;
    width: 754px;
    height: 261px;
}
.ad-3.fouce-img ul li{
    float: left;
    width: 754px;
    height: 260px;
}
.fouce-img .items,
.ad-2 .fouce-img .items,
.ad-3.fouce-img .items{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -48px;
    z-index: 3;
    background-position: 0 -139px;
    width: 96px;
    height: 20px;
}
.ad-2 .fouce-img .items,
.ad-3.fouce-img .items{
    width: 63px;
    height: 22px;
    margin-left: -31px;
    background-position: 0 -163px;
}
.img-breedlist li.ad-2 .fouce-img ul li{
    border: 0 none;
    margin: 0;
}

.fouce-img .items p{
    background: #cbcbd4;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    float: left;
    margin: 4px 0 0 6px;
    cursor: pointer;
    padding: 0;
}
.fouce-img .items p.cur{background: #ab1e23;}
.fouce-img .prev,
.fouce-img .next{
    position: absolute;
    width: 35px;
    height: 68px;
    top:50%;
    margin-top:-34px;
    z-index: 3;
    cursor: pointer;
    display: none;
}
.fouce-img .prev{
    background-position: 0 0;
    left:6px;
}
.fouce-img .prev.cur{background-position: 0 -69px;}
.fouce-img .next{
    background-position: -36px 0;
    right:6px;
}
.fouce-img .next.cur{background-position: -36px -69px;}
.list_style5 li{
    float: left;
    width: 190px;
    border-left: 1px solid #e2e2e2;
    margin-left: -1px;
}
.list_style5 li a{outline: none;}
.list_style5 li span img{
    height: 120px;
    width: 170px;
    margin: 0 10px;
    border-bottom: 1px solid #e2e2e2;
}

.list_style5 li p{
    line-height: 25px;
    font-size: 14px;
    color: #555;
    padding: 10px 0 20px 60px;
}
.list_style5 li a:hover{ text-decoration:none;}
.list_style5 li h3{
    background: #f3f2f7;
    height: 70px;
    line-height: 30px;
    font-size: 14px;
    color: #646464;
    text-align: center;
    padding-top: 5px;
}
/*lujing changs*/
h4 a:hover{ text-decoration:underline;}
.breed-box ul li p a:hover{text-decoration:underline;}
.header .search p a:hover{text-decoration:underline;}
.hand{ cursor:pointer;}

#scrollDiv{width:230px;height:152px;min-height:25px;line-height:25px;overflow:hidden}
#scrollDiv li{height:25px;}


/* 首页banner */
.ck-slide {
    width: 754px;
    height: 422px;
    margin: 0 auto;
}
.ck-slide ul.ck-slide-wrapper { height: 302px;}
.ck-slide ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ck-slide {
    position: relative;
    overflow: hidden;
}
.ck-slide ul.ck-slide-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
}
.ck-slide ul.ck-slide-wrapper li { position: absolute;}
.ck-slide .ck-prev, .ck-slide .ck-next {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 35px;
    height: 70px;
    margin-top: -35px;
    border-radius: 3px;
    opacity: 0;
    background: red;
    text-indent: -9999px;
    background-repeat: no-repeat;
    transition: opacity .2s linear 0s;
}
.ck-slide .ck-prev {
    left: 5px;
    background:url("../images/arrow-left.png") #000 50% no-repeat;
}
.ck-slide .ck-next {
    right: 5px;
    background: url("../images/arrow-right.png") #000 50% no-repeat;
}
.ck-slidebox {
    position: absolute;
    left: 50%;
    bottom: 12px;
    z-index: 30;
}
.ck-slidebox ul {
    height: 20px;
    padding: 0 4px;
    border-radius: 8px;
    background: rgba(0,0,0,0.5);
}
.ck-slidebox ul li {
    float: left;
    height: 12px;
    margin: 4px 4px;
}
.ck-slidebox ul li em {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #fff;
    text-indent: -9999px;
    cursor: pointer;
}
.ck-slidebox ul li.current em { background-color: #ab1e23;}
.ck-slidebox ul li em:hover { background-color: #ab1e23;}