@charset "utf-8";
/* CSS Document */
/*
 * zhouli 2015.3.27
*/
.pay-bg{
    background:#f2f2f2;
    padding: 20px 0;
}
.pay-contbg{
    border: 1px solid #e4e4e4;
    background: #fff;
}
.pay-contbg.pay-caption{height: 525px;}
.pay-contbg.pay-caption .caption{
    padding-top: 240px;
    font-weight: bold;
    color: #383838;
    font-size: 14px;
}
.pay-contbg.pay-caption .caption a{
    color: #1898ba;
    text-decoration: underline;
    font-size: 12px;
    font-weight: normal;
}
.pay-contbg.pay-caption .caption i{
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: middle;
    background: url("../images/pay/coption-icon.png") no-repeat;
    width: 37px;
    height: 37px;
    margin-right: 10px;
}
.pay-contbg.pay-caption .caption .unLogin{background-position: 0 0;}
.pay-contbg.pay-caption .caption .paySuc{background-position: 0 -74px;}
.pay-contbg.pay-caption .caption .payWro{background-position: 0 -142px;}
.pay-contbg .pay-head{
    margin: 20px 0 25px 54px;
    background: url("../images/pay/save.png") no-repeat left center;
    padding-left: 85px;
}
.pay-contbg .pay-head li{
    float: left;
    width: 300px;
    line-height: 38px;
    color: #5e5e5e;
}
.title1{
    color: #5e5e5e;
    line-height: 40px;
}
.title2{
    background: url("../images/pay/qianyue.png") no-repeat;
    line-height: 38px;
    padding-left: 52px;
    color: #434343;
    font-size: 14px;
    font-family: "microsoft yahei";
    margin: 20px 0 10px 65px;
}
.title2.pay{margin: 10px 0 10px 55px;}
.tabs-1 li{
    float: left;
    background: #d8d8d8;
    line-height: 42px;
    padding: 0 30px;
    color: #5e5e5e;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
}
.tabs-1 li.cur{
    background: #fff;
    border:1px solid #e2e2e2;
    border-bottom: 0 none;
    margin-bottom: -1px;
    *position: relative;
    font-weight: bold;
}
.tabscont-1{padding-bottom: 65px; display: none;}
.tabscont-1 ul.mt30{margin-top: 30px;}
.tabscont-1 .title1{
    padding-left:35px;
}
.tabscont-1 ul.sign{
    padding: 10px 70px;
}
.tabscont-1 ul.sign li{
    position: relative;
    border: 1px solid #ddd;
    margin: 0 25px 25px;
    cursor: pointer;
    float: left;
    *float: none;
    *display: inline-block;
    *display: inline;
    *zoom:1;
    /**height: 85px;*/
}
.tabscont-1 ul.sign.mbnone li{margin-bottom: 0;}
.tabscont-1 ul.sign li.qianyue-intro{
    border: 0 none;
    margin-left: 0;
    font-size: 14px;
    line-height: 85px;
    cursor: inherit;
}
.tabscont-1 ul.sign li:hover.qianyue-intro{
    border: 0 none;
}
.tabscont-1 ul.sign.card-numbers li{
    padding-top: 15px;
    margin-bottom: 10px;
}
.tabscont-1 ul.sign.card-numbers strong{
    position: absolute;
    top:8px;
    left: 40px;
    line-height: 15px;
    color: #5e5e5e;
    font-family: "宋体";
    font-weight: normal;
}
.tabscont-1 ul.sign.card-numbers li:hover strong,
.tabscont-1 ul.sign.card-numbers li.cur strong{
    top:7px;
    left: 39px;
}
.tabscont-1 .hr{
    margin: 0 45px;
    padding-bottom: 0;
    width: auto;
}
.tabscont-1 .hr.pay{margin: 0 30px;}
.tabscont-1 ul.sign li .img{
    display: inline-block;
    *display: inline;
    zoom:1;
    background: url("../images/pay/bank.png") no-repeat;
    width: 210px;
    height: 85px;
    line-height: 999px;
    overflow: hidden;
}
.tabscont-1 ul.sign li:hover .img,
.tabscont-1 ul.sign li.cur .img{
    width: 208px;
    height: 83px;
}
.tabscont-1 ul.sign li.cur,
.tabscont-1 ul.sign li:hover{
    border: 2px solid #c30008;

}
.tabscont-1 ul li.cur i,
.tabscont-1 ul li:hover i{
    background: #c30008 url("../images/pay/selected.png") no-repeat bottom right;
    color: #fff;
}
.tabscont-1 ul li.cur i.bg-c-n{background-color: #fff;}
.tabscont-1 ul li i{
    display: inline-block;
    *display: inline;
    zoom:1;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 18px;
    background: #d8d8d8;
    border-radius: 4px 0 0 0;
    text-align: center;
    line-height: 18px;
    color: #000;
}
.tabscont-1 ul.sign.card-numbers li i{display: none;}
.tabscont-1 ul.sign.card-numbers li:hover i,
.tabscont-1 ul.sign.card-numbers li.cur i{
    background: url("../images/pay/selected.png") no-repeat bottom right;
    display: block;
}
.tabscont-1 ul li .img.qianyue{background-position: 0 -765px;}
.tabscont-1 ul li.cur .img.qianyue,
.tabscont-1 ul li:hover .img.qianyue{background-position: -1px -766px;}
.tabscont-1 ul li .img.china{background-position: 0 0;}
.tabscont-1 ul li.cur .img.china,
.tabscont-1 ul li:hover .img.china{background-position: -1px -1px;}
.tabscont-1 ul li .img.construction{background-position: 0 -85px;}
.tabscont-1 ul li.cur .img.construction,
.tabscont-1 ul li:hover .img.construction{background-position: -1px -86px;}
.tabscont-1 ul li .img.everbright{background-position: 0 -170px;}
.tabscont-1 ul li.cur .img.everbright,
.tabscont-1 ul li:hover .img.everbright{background-position: -1px -171px;}
.tabscont-1 ul li .img.postal{background-position: 0 -255px;}
.tabscont-1 ul li.cur .img.postal,
.tabscont-1 ul li:hover .img.postal{background-position: -1px -256px;}
.tabscont-1 ul li .img.abc{background-position: 0 -425px;}
.tabscont-1 ul li.cur .img.abc,
.tabscont-1 ul li:hover .img.abc{background-position: -1px -426px;}
.tabscont-1 ul li .img.minsheng{background-position: 0 -510px;}
.tabscont-1 ul li.cur .img.minsheng,
.tabscont-1 ul li:hover .img.minsheng{background-position: -1px -511px;}
.tabscont-1 ul li .img.jiaotong{background-position: 0 -595px;}
.tabscont-1 ul li.cur .img.jiaotong,
.tabscont-1 ul li:hover .img.jiaotong{background-position: -1px -596px;}
.tabscont-1 ul li .img.merchants{background-position: 0 -680px;}
.tabscont-1 ul li.cur .img.merchants,
.tabscont-1 ul li:hover .img.merchants{background-position: -1px -681px;}
.tabscont-1 ul li .img.icbc{background-position: 0 -340px;}
.tabscont-1 ul li.cur .img.icbc,
.tabscont-1 ul li:hover .img.icbc{background-position: -1px -341px;}
.tabscont-1 ul li .img.pingan{background-position: 0 -850px;}
.tabscont-1 ul li.cur .img.pingan,
.tabscont-1 ul li:hover .img.pingan{background-position: -1px -851px;}
.tabscont-1 ul li .img.zhongxin{background-position: 0 -934px;}
.tabscont-1 ul li.cur .img.zhongxin,
.tabscont-1 ul li:hover .img.zhongxin{background-position: -1px -935px;}
.tabscont-1 ul li .img.huaxia{background-position: 0 -1020px;}
.tabscont-1 ul li.cur .img.huaxia,
.tabscont-1 ul li:hover .img.huaxia{background-position: -1px -1021px;}
.tabscont-1 ul li .img.guada{background-position: 0 -170px;}
.tabscont-1 ul li.cur .img.guada,
.tabscont-1 ul li:hover .img.guada{background-position: -1px -171px;}
.tabscont-1 ul li .img.pufa{background-position: 0 -1105px;}
.tabscont-1 ul li.cur .img.pufa,
.tabscont-1 ul li:hover .img.pufa{background-position: -1px -1106px;}
.tabscont-1 ul li .img.dongya{background-position: 0 -1190px;}
.tabscont-1 ul li.cur .img.dongya,
.tabscont-1 ul li:hover .img.dongya{background-position: -1px -1191px;}
.tabscont-1 ul li .img.guangfa{background-position: 0 -1275px;}
.tabscont-1 ul li.cur .img.guangfa,
.tabscont-1 ul li:hover .img.guangfa{background-position: -1px -1276px;}
.tabscont-1 .btn-red{
    margin: 0 0 0 95px;
}
.tabscont-1 .pay-form .btn-red{
    margin: 0 0 0 0;
}
.btn-red,
.btn-disabled{
    background: #c90301;
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
    min-width: 150px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.btn-disabled{
    background: #ccc;
}
.tabscont-1 .xieyi{
    padding-left: 110px;
    margin: 5px 0 20px;
}
.tabscont-1 .xieyi span{
    color: #ff3d01;
}

.btn-red:hover{background: #e62c2a;}
.topright li .sub.webnav{border-top: 1px solid #ddd;}
.topright li .cur1.cur2{height: 32px; z-index: 101; position: relative;}

/* form */
.pay-form{margin: 20px 45px;}
.pay-form li{padding: 8px 0;}
.pay-form li label{
    display: inline-block;
    *display: inline;
    *zoom:1;
    vertical-align: middle;
    color: #5e5e5e;
    font-size: 12px;
    min-width: 60px;
    text-align: right;
}
.pay-form li .text{
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    min-width: 260px;
    line-height: 32px;
    height: 32px;
    color: #6d6d6d;
    border-radius: 0;
    margin-right: 5px;
}
.pay-form li .text:focus{border: 1px solid #41b0f6;}
.pay-form li .text.Validform_error{border: 1px solid #e01f20}

.pop-up{
    position: fixed;
    left:50%;
    top:50%;
    width: 566px;
    height: 266px;
    margin: -133px 0 0 -283px;
    background: #fff;
    border-top: 3px solid #c80000;
    z-index: 9999;
}
.pop-up .close,
.pop-up .bgicon{background: url("../images/pay/pop.png") no-repeat;}
.pop-up .close{
    background-position: -63px 0;
    position: absolute;
    right: 15px;
    top:15px;
    width: 18px;
    height: 17px;
    display: inline-block;
    *display: inline;
    zoom:1;
    cursor: pointer;
}
.pop-up .title{
    line-height: 42px;
    font-weight: bold;
    padding-left: 20px;
    color: #464646;
    font-size: 14px;
}
.pop-up .bgicon{
    background-position: -13px -30px;
    display: inline-block;
    width: 66px;
    height: 95px;
    float: left;
    margin-right: 44px;
}
.pop-up p{
    color: #5e5e5e;
    line-height: 32px;
    padding-bottom: 20px;
    font-size: 14px;
}
.pop-up .cop1{
    padding: 60px 0 0 130px;
}
.pop-up .cop3{padding: 40px 0 0 115px;}
.pop-up .cop2{padding: 30px 0 0 70px;}
.pop-up .btn-red{min-width: 120px; font-weight: normal;
    -webkit-box-shadow: inset 0.5px 0.5px 2px #94100f;
    -moz-box-shadow: inset 0.5px 0.5px 2px #94100f;
    box-shadow: inset 0.5px 0.5px 2px #94100f;
}
.pop-up .btn-gray{
    padding: 10px 20px;
    margin-right: 15px;
    -webkit-box-shadow: 0.5px 0.5px 2px #d9d9d9;
    -moz-box-shadow: 0.5px 0.5px 2px #d9d9d9;
    box-shadow: 0.5px 0.5px 2px #d9d9d9;
}
.foot{
    margin: 0;
    height: auto;
    padding: 10px 0;
	background:#fff;
	border-top:1px solid #9a0000;
}

/*  20150514 */
.downline-box{
    margin: 42px auto 0;
    width: 1106px;
}
p.coption1,
p.coption2{
    border: 1px solid #7bc20f;
    background: url("../images/pay/coption-icon.png") 15px -214px no-repeat #ebffcd;
    line-height: 28px;
    padding: 0 20px 0 40px;
    color: #5e5e5e;
    font-size: 14px;
    display: inline-block;
    *display: inline;
    zoom:1;
}
p.coption2{
    background: url("../images/pay/coption-icon.png") 15px -277px no-repeat #ffe6e6;
    border: 1px solid #c90301;
    color: #c90301;
}
.downline-box ul{padding-left:8px; width: 1300px; padding-bottom: 60px;}
.downline-box ul li{
    float: left;
    padding: 40px 20px 0 0;
    width: 550px;
    height: 185px;
    overflow: hidden;
}
.downline-box ul li h3{
    font-size: 14px;
    color: #313131;
    padding-bottom: 20px;
}
.downline-box ul li .banklogo{
    float: left;
    width: 215px;
}
.downline-box ul li .banklogo span{
    display: inline-block;
    *display: inline;
    zoom:1;
    background: url("../images/pay/bank.png") no-repeat;
    border: 1px solid #ddd;
    width: 213px;
    height: 85px;
}
.downline-box ul li .banklogo span.construction{background-position: 0 -85px;}
.downline-box ul li .banklogo span.merchants{background-position: 0 -680px;}
.downline-box ul li .banklogo span.abc{background-position: 0 -425px;}
.downline-box ul li .banklogo span.icbc{background-position: 0 -340px;}
.downline-box ul li .mes{
    float: right;
    width: 315px;
    line-height: 34px;
    font-size: 14px;
    color: #5e5e5e;
    margin-top: -8px;
}
.downline-box ul li .mes b{color: #323232;}
.downline-box ul li .botm{margin-top: 15px; *margin-top: 0;}
.downline-box ul li .botm input{
    background: #cacaca;
    padding: 8px 59px;
    font-size: 14px;
    color: #3d3d3d;
    border-radius: 5px;
    display: none;
}
.downline-box ul li .botm a{
    color: #008cd9;
    font-size: 14px;
    text-decoration: underline;
    line-height: 30px;
}
.downline-box .btn-red,
.downline-box .btn-disabled{margin: 25px 0 0 0; padding-left:50px; padding-right: 50px;}
span.btn-red,
span.btn-disabled,
.fileo{
	display:inline-block;
	*disply:inline;
	zoom:1;
}
.fileo{
	position:absolute;
	left:0;
	top:0;
	width:355px;
	height:40px;
	opacity:0;
    filter:Alpha(opacity=0);
}

/* 20150825 */
.re-pross{
    position: relative;
    background: url("../images/jzt-user-center/pross0825.png") no-repeat 0 0;
    width: 870px;
    height: 70px;
    margin: 60px auto 30px;
}
.pay-contbg.pa30{
    *padding: 60px 0 30px;
}
.re-pross .pross{
    background: url("../images/jzt-user-center/pross0825.png") no-repeat 0 -98px;
    position: absolute;
    left: 0;
    top:0;
    width: 870px;
    height: 70px;
}
.re-pross .pross.step1{width: 290px;}
.re-pross .pross.step2{width: 580px;}
.re-pross .pross.step3{width: 870px;}
.re-pross ul{
}
.re-pross ul li{
    float: left;
    padding-top: 36px;
    color: #b5b5b5;
    font-size: 14px;
    width: 290px;
    text-align: center;
}
.re-pross ul li.cur{color: #c90301;}
.re-form{
    width: 720px;
    margin: 0 auto;
    padding: 50px 0 100px;
}
.re-form ul li{
    padding: 10px 0;
}
.re-form ul li label{
    font-size: 14px;
    color: #4b4b4b;
    line-height: 30px;
    vertical-align: middle;
    text-align: right;
    display: inline-block;
    *display: inline;
    *zoom:1;
    margin-right: 15px;
    width: 130px;
}
.re-form ul li .text{
    border: 1px solid #c9c9c9;
    border-top-color: #a1a1a1;
    width: 180px;
    height: 28px;
    line-height: 28px;
    padding: 0 5px;
    color: #999;
}
.yzm{
    background: #ebebeb; /* 为较旧的或者不支持的浏览器设置备用属性 */
    background: -moz-linear-gradient(top,  #f4f4f4 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e6e6e6));
    background: -webkit-linear-gradient(top,  #f4f4f4 0%,#e6e6e6 100%);
    background: -o-linear-gradient(top,  #f4f4f4 0%,#e6e6e6 100%);
    background: -ms-linear-gradient(top,  #f4f4f4 0%,#e6e6e6 100%);
    background: linear-gradient(to bottom,  #f4f4f4 0%,#e6e6e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e6e6e6',GradientType=0 );
    box-shadow: 1px 1px 2px #cdcdcd;
    border: 1px solid #cdcdcd;
    line-height: 30px;
    padding: 0 25px;
    color: #5e5e5e;
    border-radius: 3px;
    font-family: "宋体";
    font-size: 14px;
}
.re-form ul li a.blue{
    font-size: 14px;
    color: #008cd9;
    text-decoration: underline;
    padding-left: 20px;
}
.pb30{padding-bottom: 60px;}
.re-caption{
    margin: 40px 150px 10px;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 200px 10px 200px;
}
.re-caption p{
    background: url("../images/jzt-user-center/potain0825.png") no-repeat 0 5px;
    font-size: 14px;
    line-height: 25px;
    color: #4b4b4b;
    padding-left: 25px;
}
.re-sendbox{
    width: 900px;
    margin: 40px auto 80px;
}
.re-sendbox .icon{
    display: inline-block;
    *display: inline;
    *zoom:1;
    background: url("../images/jzt-user-center/icon0825.png") no-repeat center;
    width:100%;
    height: 46px;
    margin: 0 auto;
}
.re-sendbox .icon2{
    display: inline-block;
    *display: inline;
    *zoom:1;
    background: url("../images/jzt-user-center/icon20825.png") no-repeat 0 0;
    color: #78c052;
    font-size: 24px;
    font-family: microsoft;
    padding-left: 60px;
    height: 50px;
    line-height: 40px;
    width: 100%;
    margin: 20px 0 10px 370px;
}
.re-sendbox p{
    font-size: 14px;
    line-height: 38px;
    color: #4b4b4b;
    text-align: center;
}
.xx{
    border-bottom: 1px dotted #0c0c0c;
    height: 1px;
    overflow: hidden;
    margin: 30px 0;
}
.re-phonebox{
    padding: 30px 230px;
}
.re-phonebox .sty1{
    font-size: 14px;
    color: #505050;
    line-height: 30px;
}
.re-phonebox .sty2{
    border: 1px solid #7bc20f;
    background: url("../images/jzt-user-center/icon0827.png") no-repeat 40px 10px #ebffcd;
    padding: 0 50px 0 90px;
    height: 48px;
    line-height: 48px;
    color: #5e5e5e;
    font-size: 14px;
    margin: 20px 0 30px;
}
.re-phonebox .pay-contbg{margin-bottom: 30px;}
.re-phonebox .tab-tit{
    position: relative;
    padding: 22px 40px;
}
.re-phonebox .tab-tit i{
    position: absolute;
    top:42px;
    right: 40px;
    background: url("../images/jzt-user-center/arrow0827.png") no-repeat 0 0;
    width: 33px;
    height: 16px;
    cursor: pointer;
}
.re-phonebox .tab-tit i.cur{
    background: url("../images/jzt-user-center/arrow0827.png") no-repeat 0 -16px;
}
.re-phonebox .tab-tit h3{
    font-size: 18px;
    line-height: 30px;
    color: #121212;
}
.re-phonebox .tab-tit h4{color: #969696;}
.re-phonebox .list{display: none;}
.re-phonebox .list.cur{display: block;}
.re-phonebox .list li{
    background: #f6f6f6;
    color: #e4e4e4;
    padding: 25px 40px;
    border-top:1px solid #e4e4e4;
}
.re-phonebox .list.mial li{
    border:1px solid #e4e4e4;
    margin-bottom: 30px;
}
.re-phonebox .list li i{
    display: inline-block;
    *display: inline;
    *zoom:1;
    background: url("../images/jzt-user-center/iconbg0827.png") no-repeat;
    width: 31px;
    height: 40px;
    float: left;
    margin-right: 10px;
}
.re-phonebox .list li .fl{width: 80%;}
.re-phonebox .list li i.phone{background-position: 0 0;}
.re-phonebox .list li i.mail{background-position: 0 -50px;}
.re-phonebox .list li i.qc{background-position: 0 -94px;}
.re-phonebox .list li .title,
.re-phonebox .list li .cont{display: block;}
.re-phonebox .list li .cont strong{color: #4e4e4e;}
.re-phonebox .list li .title{
    font-size: 18px;
    color: #121212;
    line-height: 20px;
}
.re-phonebox .list li .cont{
    color: #969696;
    line-height: 26px;
}
.re-phonebox .list li .btn-red{
    min-width: 100px;
    padding: 6px 0;
    margin-top: 8px;
}