@charset "utf-8";

/* css reset */
html{_background:url(about:blank) no-repeat fixed;}
body{background:#fff;}
body,h1,h2,h3,h4,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,th,td{margin:0;padding:0;}
body,button,input,select,textarea{background:#fff;font:14px/1.5 arial,tahoma,'Microsoft Yahei','\5b8b\4f53';color:#333}
h1,h2,h3,h4{font-size:100%;font-weight:400;}
ul,ol{list-style:none;}
a{color:#333;text-decoration:none;outline:none;}
a:hover{color:#af2327;text-decoration:underline}
button,input,select,textarea{border:1px solid #ccc;outline:none}
fieldset,img{vertical-align:top;border:none}
table{width:100%;border-collapse:collapse;border-spacing:0}
address,cite,dfn,em,b,i,strong{font-style:normal;font-weight:400;}
::selection{background:#af2327;color:#fff;}
::-moz-selection{background:#af2327;color:#fff;}
::-webkit-selection{background:#af2327;color:#fff;}
::-ms-clear,::-ms-reveal{display:none;}


/* layout */
.fl{float:left;}
.fr{float:right;}
.tc{text-align:center;}
.hide{display:none;}
.wrap{width:1200px;margin:0 auto;}
.cf,.wrap{*zoom:1;}
.cf:after,.wrap:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.opacity{opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);}
.cbx{width:14px;height:14px;margin-right:4px;vertical-align:-2px;*vertical-align:0;}


.site-nav, .nav, .header, .footer, .wrap{min-width:1200px;}

/* button */
.btn{display:inline-block;padding:7px 12px;text-align:center;vertical-align:middle;cursor:pointer;}
.btn:hover{text-decoration:none;}
.btn-red{color:#fff;background:#c3272b;border:none;}
.btn-red:hover{color:#fff;background:#af2327;}
.btn-white{background:#fff;color:#c3272b;border:1px solid #ccc;}
.btn-white:hover{background:#c3272b;color:#fff;border-color:#c3272b;text-decoration:none;}
.btn-gray{background:#e7e7e7;color:#333;border:1px solid #ccc;}
.btn-gray:hover{background:#cfcfcf;color:#333;border-color:#aaa;}
.btn-gray:disabled{color:#999;}
.btn-gray:disabled:hover{background:#e7e7e7;}

/* iconfont.cn */
@font-face {font-family: "fa";
  src: url('../fonts/iconfont.eot?t=1466759445');
  src: url('../fonts/iconfont.eot?t=1466759445#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff?t=1466759445') format('woff'),
  url('../fonts/iconfont.ttf?t=1466759445') format('truetype'),
  url('../fonts/iconfont.svg?t=1466759445#fa') format('svg');
}
.fa {
  font-family:"fa" !important;
  font-size:16px;
  font-style:normal;
  vertical-align:middle;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.fa-prompt:before { content: "\e60f"; }
.fa-heart:before { content: "\e603"; }
.fa-setting:before { content: "\e604"; }
.fa-check:before { content: "\e609"; }
.fa-lock:before { content: "\e600"; }
.fa-chevron-right:before { content: "\e60a"; }
.fa-search:before { content: "\e612"; }
.fa-tel:before { content: "\e60b"; }
.fa-invoice:before { content: "\e605"; }
.fa-chevron-down:before { content: "\e60c"; }
.fa-chevron-up:before { content: "\e60d"; }
.fa-people:before { content: "\e601"; }
.fa-chevron-left:before { content: "\e610"; }
.fa-plus:before { content: "\e611"; }
.fa-question-circle:before { content: "\e602"; }
.fa-times:before { content: "\e616"; }
.fa-menu:before { content: "\e606"; }
.fa-check-circle:before { content: "\e60e"; }
.fa-riqi:before { content: "\e614"; }
.fa-export:before { content: "\e613"; }
.fa-bill:before { content: "\e607"; }
.fa-clock:before { content: "\e608"; }
.fa-times-circle:before { content: "\e615"; }

.fa-chevron-up,
.fa-chevron-right,
.fa-chevron-down,
.fa-chevron-left{font-size:12px;}

/* site-nav */
.site-nav{height:29px;line-height:29px;font-size:12px;border-bottom:1px solid #e7e7e7;background:#ededed;}
  .site-nav li{float:left;padding-left:10px;}


/* header */
.header{box-shadow:0 0 10px 3px rgba(0,0,0,.1);}
  .header .logo{float:left;width:200px;height:100px;background:url(../images/logo.png) no-repeat 50%;overflow:hidden;}
    .header .logo a{display:block;width:100%;height:100%;text-indent:-999px;}
  .header .search{padding:30px 0 0 340px;}
    .header .search .hotwords{height:30px;line-height:30px;font-size:12px;overflow:hidden;}
      .header .search .hotwords a{margin-right:4px;color:#999;}
      .header .search .hotwords .hot{color:#c3272b;}
    .header .search .form{width:500px;height:40px;overflow:hidden;*zoom:1;}
      .header .search .ipt{float:left;width:376px;height:26px;padding:5px 10px;line-height:26px;border:2px solid #c3272b;}
      .header .search .btn{float:left;width:100px;height:100%;font-size:16px;color:#fff;cursor:pointer;border:none;background:#c3272b;overflow:hidden;}
  .header .plus{float:right;}
    .header .plus .btn{display:block;width:180px;height:40px;line-height:40px;padding:0 10px;background:#999;color:#fff;}
  .header .title{float:left;padding:15px 30px;}
    .header .title h1{height:50px;line-height:50px;padding-left:30px;font-size:16px;border-left:1px solid #ccc;}
.header-red{background:#c3272b;}
  .header-red .logo{background-image:url(../images/logo-red.png);}
    .header-red .title h1{color:#fff;border-left-color:#fff;}
    .header-red .plus .back{display:inline-block;margin-top:27px;padding:3px 5px;color:#c3272b;background:#fff;}

/* nav */
.nav{height:40px;background:#fff;border-bottom:2px solid #333;}
  .nav .cat{position:relative;z-index:5;float:left;width:200px;}
    .nav .cat .hd{height:42px;line-height:40px;color:#fff;font-size:16px;padding-left:60px;background:#c3272b;}
    .nav .cat .bd{position:absolute;z-index:5;top:33px;left:0;width:178px;height:433px;padding-top:5px;background:#fff;border:1px solid #e50012;display:none;}
  .nav .menu{float:left;}
    .nav .menu li{float:left;text-align:center;}
      .nav .menu a{display:block;min-width:100px;height:40px;line-height:40px;}
  .nav .plus{float:right;padding-top:2px;}
    .nav .plus a{padding:2px 11px;}
      .nav .plus i{margin-right:4px;color:#c3272b;}


/* footer */
.footer{line-height:36px;padding:40px 0;font-size:12px;text-align:center;color:#999;}
  .footer .links a{margin:0 10px;color:#999;}
  .footer .links a:hover{color:#333;}
  .footer .authentication{margin-top:15px;}


/* 幻灯片 */
.slide{position:relative;width:900px;margin:0 auto;}
  .slide .bd{position:relative;height:500px;overflow:hidden;}
    .slide .bd .item{width:100%;height:100%;background-position:50%;background-repeat:no-repeat;}
      .slide .bd .item a{display:block;height:100%;}
  .slide .hd{position:absolute;bottom:10px;right:10px;text-align:right;}
    .slide .hd i{display:inline-block;width:8px;height:8px;margin:0 4px;border:1px solid #414143;-webkit-border-radius:100%;border-radius:100%;cursor:pointer;}
    .slide .hd .on{background:#414143;}
.slide-full{min-width:1200px;width:100%;}
  .slide-full .bd{height:560px;}
  .slide-full .login-box{position:absolute;top:100px;left:50%;margin-left:160px;}

/* fa-form */
.fa-form{padding:50px 0;}
  .fa-form .group{position:relative;padding-left:140px;}
    .fa-form .txt{position:absolute;top:0;left:0;width:130px;line-height:50px;text-align:right;}
      .fa-form .txt i{margin-right:6px;color:#c3272b;vertical-align:middle;}
    .fa-form .cnt{height:80px;}
      .fa-form .cnt .ipt{width:320px;height:20px;line-height:20px;padding:14px;font-size:12px;border:1px solid #ccc;}
      .fa-form .cnt .ipt:disabled{background:#ededed;color:#999;}
      .fa-form .cnt .btn-inside{position:absolute;top:5px;right:5px;height:40px;border:none;}
      .fa-form .cnt .btn-wide{width:350px;height:50px;font-size:16px;}
      .fa-form .cnt .tips{color:#999;}
      .fa-form .cnt .val{display:block;line-height:50px;}
      .fa-form .cnt select{width:110px;height:50px;margin-right:6px;line-height:50px;text-align:center;}
      #area{margin-right:0;} /* last select */
        .fa-form .cnt option{text-align:left;}
      .fa-form .cnt .Validform_checktip{display:block;}
      .fa-form .cnt .Validform_error{border-color:#c3272b;}
      .fa-form .cnt .Validform_loading{position:absolute;top:17px;left:460px;width:16px;height:16px;background:url(../images/loader.gif) no-repeat 50%;}
      .fa-form .cnt .Validform_right{display:none;}
      .fa-form .cnt .Validform_wrong{display:block;margin-top:2px;color:#c3272b;font-size:12px;}
      .fa-form .cnt .Validform_wrong:before{content:'\e60f';margin-right:2px;font:16px "fa";-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;vertical-align:-2px;}
  .fa-form .ft{padding:30px 0 0 140px;}

/* 登录框 */
.login-box{width:300px;padding:20px 30px 45px;background:#fff;}
  .login-box .title{line-height:1;font-size:16px;}
    .login-box .msg{margin:20px 0 6px;color:#c3272b;visibility:hidden;}
    .login-box .vis{visibility:visible;}
    .login-box .group{position:relative;line-height:38px;padding-left:39px;}
      .login-box .txt{position:absolute;top:0;left:0;width:38px;height:38px;color:#ccc;border:1px solid #ccc;text-align:center;}
      .login-box .cnt{height:70px;*overflow:hidden;*zoom:1;}
        .login-box .ipt{width:238px;height:18px;line-height:18px;padding:10px;border:1px solid #ccc;*float:left;}
      .login-box .error .txt{color:#c3272b;border-color:#c3272b;}
      .login-box .error .ipt{border-color:#c3272b;}
    .login-box .links{margin-bottom:25px;}
    .login-box .button{text-align:center;}
      .login-box .btn{width:100%;font-size:16px;}

/* 注册 */
.reg-box{margin-top:10px;}
  .reg-box .wrap{padding:70px 0;border-bottom:1px solid #ccc;}
    .reg-box .side{float:right;width:125px;padding:0 140px 0 120px;border-left:1px solid #ccc;font-size:12px;color:#999;}
      .reg-box .side .hd{margin-bottom:10px;padding-bottom:30px;border-bottom:1px solid #e7e7e7;}
        .reg-box .side .hd .btn{margin-left:10px;padding:0 10px;font-size:14px;}
      .reg-box .side .bd{line-height:28px;}
        .reg-box .side dt{color:#333;}
        .reg-box .side dd a{color:#1769ff;}
      .reg-box .side .ft{margin-top:10px;padding-top:20px;line-height:24px;font-size:14px;color:#333;border-top:1px solid #e7e7e7;}
        .reg-box .side .ft span{margin-left:4px;font-weight:700;}
        .reg-box .side .ft i{line-height:1;font-size:18px;}
    .reg-box .fa-form{float:left;width:490px;padding:0 110px 0 170px;color:#333;}
      .reg-box .agreement .cnt{height:46px;}
      .reg-box .agreement a{color:#1769ff;}

/* 用户中心 */
.member-box{margin-top:30px;}      
  .member-box .side{float:left;width:220px;border:1px solid #e7e7e7;border-bottom:0;}       
    .member-box .side dl{border-bottom:1px solid #e7e7e7;} 
      .member-box .side dt{line-height:50px;padding:0 20px;color:#999;cursor:pointer;} 
        .member-box .side dt span{display:inline-block;width:130px;margin-left:4px;vertical-align:middle;} 
        .member-box .side dt .fa{color:#ccc;} 
        .member-box .side dt em{font-size:24px;} 
      .member-box .side dd{line-height:30px;padding:0 20px 20px;display:none;} 
        .member-box .side dd a{display:block;padding-left:30px;} 
      .member-box .side .expand{background:#f0eff5;}  
        .member-box .side .expand dt{color:#333;}  
          .member-box .side .expand .fa{color:#333;}  
          .member-box .side .expand .curr{color:#c3272b;}  
        .member-box .side .expand dd{display:block;}  
  .member-box .main{margin-left:260px;border:1px solid #e7e7e7;} 
    .member-box .main .title{padding:0 30px;border-bottom:1px solid #e7e7e7;overflow:hidden;*zoom:1;} 
      .member-box .main .title h3{float:left;line-height:50px;} 
      .member-box .main .title .extra{float:right;} 
      .member-box .main .tips{line-height:48px;padding:0 30px;font-size:16px;font-weight:700;border-bottom:1px solid #e7e7e7;background:#f0eff5;}
        .member-box .main .tips i{margin-right:6px;color:#58c805;font-size:28px;}
      .member-box .main .fa-form{padding-left:50px;}

/* 消息提示 */
.fa-message{padding:140px 0 100px;text-align:center;}
  .fa-message .hd{font-size:26px;}
    .fa-message .hd i{line-height:1;font-size:38px;color:#58c805;}
    .fa-message .hd strong{vertical-align:middle;}
  .fa-message .bd{margin-top:30px;font-size:16px;color:#999;}
  .fa-message .ft{margin-top:75px;}
    .fa-message .ft .btn{min-width:300px;padding:13px 0;font-size:16px;}
  .fa-message .links{margin-top:30px;}
    .fa-message .links a{color:#1769ff;}

/* 灰色背景说明 */
.fa-tips{padding:50px 0;background:#f0eff5;}
  .fa-tips dt{margin-bottom:10px;}
  .fa-tips dd{line-height:26px;color:#999;}

/* 分步向导 */
.fa-guide{padding-bottom:90px;text-align:center;}
  .fa-guide li{display:inline-block;*display:inline;*zoom:1;}
    .fa-guide li span{display:inline-block;width:30px;height:30px;line-height:30px;font-size:18px;color:#fff;text-align:center;background-color:#ccc;-webkit-border-radius:30px;border-radius:30px;vertical-align:middle;}
    .fa-guide li strong{margin-left:10px;color:#999;vertical-align:middle;}
    .fa-guide li i{margin:0 40px;}
  .fa-guide .curr span{background-color:#ffa902;}
  .fa-guide .curr strong{color:#333;}

/* fa-filter */
.fa-filter{margin-bottom:20px;padding:7px;border:1px solid #ccc;}
  .fa-filter dl{position:relative;padding-left:80px;}
    .fa-filter dt{position:absolute;top:0;left:0;line-height:20px;font-weight:700;}
    .fa-filter dd{font-size:12px;}
      .fa-filter .bd a{display:inline-block;padding:0 8px;color:#c3272b;border:1px solid #e7e7e7;}
        .fa-filter .bd i{margin-left:6px;font-size:12px;}
    .fa-filter .extra{position:absolute;top:0;right:8px;}
      .fa-filter .extra a{padding:0 13px;}

/* 商品列表 */
.fa-pro-list{}
  .fa-pro-list table{border:1px solid #ccc;}
    .fa-pro-list th{height:30px;color:#666;font-weight:400;font-size:12px;background:#ededed;}
      .fa-pro-list th i{margin-left:4px;}
    .fa-pro-list td{padding:10px;border-top:1px solid #ccc;}
      .fa-pro-list td h3{margin-bottom:12px;line-height:20px;font-size:16px;font-weight:700;}
      .fa-pro-list td p{width:220px;color:#999;font-size:12px;}
      .fa-pro-list td img{width:130px;height:130px;}
      .fa-pro-list td .btn-quote{padding:5px 25px;font-size:12px;}
      .fa-pro-list .drop-dowm{position:relative;height:100%;text-align:left;}
        .fa-pro-list .drop-dowm .hd{height:33px;line-height:28px;}
        .fa-pro-list .drop-dowm .bd{position:absolute;top:0;left:0;min-width:200px;padding-top:33px;display:none;}
          .fa-pro-list .drop-dowm dl{border:1px solid #ccc;}
          .fa-pro-list .drop-dowm dt{line-height:30px;background:#f5f5f5;border-bottom:1px solid #ccc;}
            .fa-pro-list .drop-dowm .btn{position:absolute;top:39px;right:15px;width:42px;height:20px;line-height:1;padding:0;}
          .fa-pro-list .drop-dowm dd{display:block;width:100%;max-height:184px;line-height:30px;padding:7px 0;overflow:hidden;overflow-y:auto;background:#fff;}
            .fa-pro-list .drop-dowm label{display:block;padding:0 15px;white-space:nowrap;}
        .fa-pro-list .drop-dowm:hover .bd{display:block;}
    .fa-pro-list tr:hover td{background:#f5f5f5;}
      .fa-pro-list tr:hover td h3{color:#c3272b;}
      .fa-pro-list tr:hover td .btn-quote{background:#c3272b;color:#fff;border-color:#c3272b;}

/* pagin */
.pagin{padding:50px 0;text-align:center;overflow:hidden;}
  .pagin em{font-size:12px;}
  .pagin span,
  .pagin a{display:inline-block;line-height:1;margin:0 1px;padding:10px 13px;text-decoration:none;background:#e7e7e7;color:#333;border:1px solid #ccc;vertical-align:middle;}
  .pagin a:hover{background:#cfcfcf;color:#333;border-color:#aaa;}
  .pagin .curr{color:#fff;border-color:#c3272b;background-color:#c3272b;}
  .pagin .disabled{color:#ccc;border-color:#ccc;}
  .pagin .btn{width:70px;height:36px;padding:0;}
  .pagin .ipt{width:26px;height:26px;line-height:26px;margin:0 3px;padding:4px;font-size:12px;color:#333;border:1px solid #ccc;text-align:center;vertical-align:middle;}

/* 帮助向导 */
.helper{padding:45px 0;background:#f0eff5;}
  .helper dl{float:left;width:20%;line-height:26px;color:#666;text-align:center;}
    .helper dt{margin-bottom:2px;font-size:16px;font-weight:700;}
      .helper a{color:#666;}

/* sitemap */
.sitemap{margin-bottom:20px;font-size:14px;line-height:1;}
  .sitemap em{margin:0 4px;}
  .sitemap span{color:#999;}

/* main-body */
.main-body{margin-top:20px;}