@charset "utf-8";

/* css reset */
html{_background:url(about:blank) no-repeat fixed;}
body,h1,h2,h3,h4,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,th,td{margin:0;padding:0;}
body,button,input,select,textarea{background:#fff;font:14px/1.5 arial,tahoma,'Microsoft Yahei','\5b8b\4f53';color:#333}
body{background:#ecf0f5;}
h1,h2,h3,h4{font-size:100%;font-weight:400;}
ul,ol{list-style:none;}
a{color:#333;text-decoration:none;outline:none;transition:color 0.3s;}
a:hover{color:#fa5468;text-decoration:underline;}
button,input,select,textarea{border:1px solid #ccc;outline:none;resize:none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
fieldset,img{vertical-align:top;border:none}
table{width:100%;border-collapse:collapse;border-spacing:0}
th{text-align:left;}
address,cite,dfn,em,i{font-style:normal;}
::-ms-clear,::-ms-reveal{display:none;}

/* layout */
.fl{float:left;}
.fr{float:right;}
.tc{text-align:center;}
.tr{text-align:right;}
.hide{display:none;}
.wrap{max-width:1200px;margin:0 auto;}
.cf,.wrap{*zoom:1;}
.cf:after,.wrap:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.opacity{opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);}
.cbx{margin:0 4px 0 0;vertical-align:-1px;}
.slt,.ipt{height:30px;line-height:30px;padding:0 10px;border:1px solid #ccc;}
.slt{height:32px;line-height:32px;}

/* bg */
.bg-gray{background:#d2d6de;}
.bg-aqua{background-color:#00c0ef;}
.bg-green{background-color:#00a65a;}
.bg-yellow{background-color:#f39c12;}
.bg-red{background-color:#dd4b39;}
.bg-navy{background-color:#001f3f;}
.bg-teal{background-color:#39cccc;}
.bg-olive{background-color:#3d9970;}
.bg-lime{background-color:#01ff70;}
.bg-orange{background-color:#ff851b;}
.bg-fuchsia{background-color:#f012be;}
.bg-purple{background-color:#605ca8;}
.bg-maroon{background-color:#d81b60;}
.bg-aqua:hover{background-color:#00a7d0;}
.bg-green:hover{background-color:#008d4c;}
.bg-yellow:hover{background-color:#db8b0b;}
.bg-red:hover{background-color:#d33724;}
.bg-navy:hover{background-color:#001a35;}
.bg-teal:hover{background-color:#30bbbb;}
.bg-olive:hover{background-color:#368763;}
.bg-lime:hover{background-color:#00e765;}
.bg-orange:hover{background-color:#ff7701;}
.bg-fuchsia:hover{background-color:#db0ead;}
.bg-purple:hover{background-color:#555299;}
.bg-maroon:hover{background-color:#ca195a;}

.nav, .header, .footer, .wrap{min-width:900px;}

/* button */
.ubtn{display:inline-block;min-width:60px;height:30px;line-height:28px;font-size:12px;text-align:center;cursor:pointer;border:1px solid #ccc;border-radius:3px;}
.ubtn:hover{text-decoration:none;}
.ubtn-red{color:#fff;background:#d74141;border-color:#d74141;}
.ubtn-red:hover{color:#fff;background:#c13a3a;}
.ubtn-white,
.ubtn-white:hover{color:#ffa902;background:#fff;border-color:#ffa902;}
.ubtn-blue{color:#fff;background:#23c0fa;border-color:#23c0fa;}
.ubtn-blue:hover{color:#fff;background:#1face1;}
.ubtn-gray{color:#333;background:#e7e7e7;}
.ubtn-gray:hover{color:#333;background:#cfcfcf;}
.ubtn-gray:disabled{color:#999;}
.ubtn-gray:disabled:hover{background:#e7e7e7;}
a.ubtn{height:28px;}

/* link */
.c-blue{color:#1869ff !important;}
.c-blue:hover{color:#155ee5 !important;}
.c-red{color:#d74141 !important;}
.c-red:hover{color:#c13a3a !important;}

/* status color */
.status-1{color:#dd4b39;}
.status-2{color:#00a65a;}
.status-3{color:#dd4b39;}
.status-4{color:#00c0ef;}
.status-5{color:#00a65a;}
.status-6{color:#00a65a;}

/* site-nav */
.site-nav{height:29px;line-height:29px;border-bottom:1px solid #e7e7e7;}
.site-nav li{float:left;padding-left:10px;}

/* header */
.header{position:absolute;top:0;left:0;width:100%;z-index:2;line-height:50px;background:#dd4b39;box-shadow:0 0 10px 3px rgba(0,0,0,.1);overflow:hidden;*zoom:1;}
.header .logo{float:left;width:230px;text-align:center;overflow:hidden;}
.header .logo a{display:block;font-size:20px;color:#fff;background:#d73925;}
.header .logo a:hover{text-decoration:none;}
.header .menu{float:right;}
.header .menu li{float:left;}
.header .menu a{display:block;padding:0 15px;color:#fff;}
.header .menu a:hover{background:#c64333;color:#f6f6f6;text-decoration:none;}
.header .menu a sup{display:inline-block;min-width:16px;line-height:16px;font-size:12px;background:#fff;color:#f00;-webkit-border-radius:100%;border-radius:100%;text-align:center;}

/* footer */
.footer{position:absolute;bottom:0;left:0;width:100%;line-height:30px;font-size:12px;background:#fff;border-top:1px solid #d2d6de;}
.footer .inner{padding:10px 15px 10px 245px;;}
.footer .inner a:hover{color:#333;}

/* aside */
.aside{position:absolute;top:0;left:0;z-index:1;width:230px;height:100%;background:#222d32;}
.aside:before{content:"";display:block;height:70px;}
.aside dt{position:relative;line-height:44px;border-left:2px solid #222d32;}
.aside dd{display:none;line-height:30px;padding:6px 0;background:#2c3b41;font-size:12px;}
.aside dd a{padding-left:30px;}
.aside .active dt{border-left-color:#dd4b39;background:#1e282c;}
.aside .active dt a{color:#fa5468 !important;}
.aside .active dd{display:block;}
.aside .active dd .current{color:#fa5468;}
.aside a{display:block;padding:0 15px;color:#8aa4af;}
.aside a:hover{color:#fff;text-decoration:none;}
.aside a .fa{width:20px;margin-right:4px;}
.aside .arrow{position:absolute;top:50%;right:15px;margin-top:-7px;cursor: pointer;}
.aside .extend .fa-angle-down:before{content:'\f106';}

/* public */
.wrapper{position:relative;min-width:1200px;height:100%;}
.content{padding:65px 15px 65px 245px;}
.breadcrumb{margin-bottom:15px;}
.breadcrumb ul{overflow:hidden;}
.breadcrumb li{display:inline-block;padding:0;}
.breadcrumb li + li:before{content:"/";padding:0 5px;color:#666;}
.box{margin-top:15px;padding:15px;background:#fff;}
.box .tools{position:relative;margin-bottom:15px;padding:25px 0;overflow:hidden;}
.box .tools .filter{float:right;}
.box .tools .filter label{margin-left:10px;}
.box .tools .filter .ipt{width:130px;}
.box .tools .filter .slt{width:152px;}
.box .tools .filter .group:nth-child(n+2){margin-top:10px;}
.box .tools .filter .group label{display:inline-block;width:100px;text-align:right;}
.box .tools .filter .group .ubtn{margin-left:40px;}
.box .tools .ubtn{height:32px;line-height:32px;min-width:80px;font-size:14px;}
.box .tools .action-add{float:left;}
.box-hd{margin-bottom:10px;}
.table{font-size:12px;}
.table th{padding:8px;border:1px solid #ccc;background:#ededed;}
.table td{padding:8px;border:1px solid #ccc;}
.table td input[type="checkbox"]{vertical-align:middle;}
.table tr:hover{background:#f5f5f5;}
.table .ubtn{margin:0 5px;line-height:24px;height:24px;min-width:auto;padding:0 8px;}
.table .gray{background:#f0eff5;color:#777;}
.table .nodata{height:80px;text-align:center;}

/*分页*/
.pagination{margin:40px 0;font-size:12px;overflow:hidden;}
.pagination .info{line-height:30px;font-weight:700;}
.pagination .pages{float:right;}
.pagination span,
.pagination a{display:inline-block;min-width:18px;margin:0 2px;padding:3px;font-family:tahoma;border:#ccc 1px solid;text-decoration:none;background:#fff;text-align:center;border-radius:3px;}
.pagination a:hover,
.pagination a:active{border-color:#23c0fa;color:#23c0fa;}
.pagination .text{min-width:30px;}
.pagination .curr{color:#fff;border-color:#23c0fa;background:#23c0fa;}
.pagination .disabled{color:#ccc;border-color:#ccc;}
.pagination .skip{float:right;padding:0 0 0 10px;}
.pagination .skip .btn-skip{padding:5px 10px;color:#fff;background:#23c0fa;border:none;border-radius:3px;}
.pagination .skip .ipt{width:40px;height:28px;line-height:18px;margin:0 3px;padding:4px;font-size:12px;color:#333;border:1px solid #ccc;text-align:center;}
.pagination .slt{height:26px;line-height:26px;}

/* 寄样追踪 */
.trace{margin:0 0 30px 140px;line-height:32px;}
.trace .fore{margin-bottom:20px;font-size:18px;font-weight:700;}
.trace li span{margin-right:10px;word-break:break-all;word-wrap:break-word;}

/* fa-form */
.fa-form{font-size:12px;}
.fa-form .hd{margin:0 0 15px 30px;font-size:18px;font-weight:700;}
.fa-form .item{position:relative;margin-bottom:20px;padding-left:140px;}
.fa-form .txt{position:absolute;top:0;left:0;width:130px;line-height:32px;color:#999;text-align:right;}
.fa-form .txt i{margin-right:6px;color:#d74141;vertical-align:middle;font:700 14px tahoma;}
.fa-form .val{min-height:32px;line-height:32px;}
.fa-form .cnt{position:relative;min-height:32px;line-height:32px;margin-bottom:10px;}
.fa-form .cnt em{margin:0 4px;}
.fa-form .cnt .slt{min-width:200px;}
.fa-form .cnt .ipt{width:350px;font-size:12px;}
.fa-form .cnt .ipt:disabled{background:#ededed;color:#999;}
.fa-form .cnt .ipt-short{width:80px;}
.fa-form .cnt .ipt-mul{height:80px;vertical-align:top;}
.fa-form .ipt-wrap{position:relative;display:inline-block;}
.fa-form .ipt-wrap .unit{position:absolute;top:1px;right:1px;line-height:1.5;padding:6px 9px;background:#ebebeb;color:#999;}
.fa-form .msg-box{position:absolute;top:33px;left:5px;z-index:9999;display:block;line-height:18px;padding:2px 5px;background:#d74141;color:#fff;}
.fa-form .msg-box:after{content:"";position:absolute;top:-10px;left:10px;border:5px dashed transparent;border-bottom:5px solid #d74141;}
.fa-form .msg-box .error{color:#fff;}
.fa-form .cnt .tips{margin-left:10px;color:#999;}
.fa-form .cnt-mul{margin-bottom:15px;}
.fa-form .cnt-mul .up-img{vertical-align:top;}
.fa-form .cnt-mul .msg-box{top:auto;bottom:-23px;}
.fa-form .cnt-table{padding-top:10px;}
.fa-form .cnt-table table{margin:0;}
.fa-form .agreement .cnt{height:46px;}
.fa-form .agreement a{color:#1769ff;}
.fa-form .ft{margin:30px 0 30px 140px;}
.fa-form .ft .ubtn{min-width:160px;height:40px;line-height:40px;font-size:14px;}
.fa-form .ml{margin-left:10px;}
.fa-form .cbxs{width:600px;margin-bottom:15px;}
.fa-form .cbxs label{display:inline-block;min-width:100px;}
.fa-form table{width:700px;margin-left:140px;line-height:1.5;}
.fa-form th{padding:8px;background:#e7e7e7;border:1px solid #ccc;text-align:center;}
.fa-form td{height:40px;background:#fff;border:1px solid #ccc;text-align:center;}
.fa-form td .ipt-wrap{position:relative;padding:0 10px;}
.fa-form td .ipt{width:100%;padding:0;border:0;text-align:center;font-size:12px;}
.fa-form .total{padding:0 10px;text-align:right;}
.fa-form .total em{color:#e33737;}
.fa-form-info .item{margin-bottom:0;}
.Validform_checktip{position:absolute;top:30px;left:5px;z-index:2;display:block;line-height:18px;padding:2px 5px;background:#d74141;color:#fff;display:none;}
.Validform_checktip:after{content:"";position:absolute;top:-10px;left:10px;border:5px dashed transparent;border-bottom:5px solid #d74141;}
.Validform_wrong{display:block;}
 /*文本编辑器*/ 
.fa-form .edui-modal{line-height:normal;}
.fa-form .edui-modal table{width:auto;margin:0;line-height:normal;}
.fa-form .edui-modal td{height:auto;border:none;text-align:left;}
/* 弹层表单 */
.fa-form-layer{padding:30px 40px;max-height:100%;}
.fa-form-layer .item{padding-left:100px;}
.fa-form-layer .txt{left:-20px;width:110px;}
.fa-form-layer .button{padding:10px 30px 0 0;text-align:right;}
.fa-form-layer .button .ubtn{min-width:80px;height:34px;margin-left:10px;}

/* 上传图片 */
.up-img{position:relative;display:inline-block !important;width:100px;height:100px;border:1px dashed #ccc;background:#fff url(../images/upfile.png) no-repeat 50%;cursor:pointer;text-align:center;}
.up-img img{position:absolute;top:-1px;left:-1px;width:100%;height:100%;border:1px solid #ccc;cursor:default;}
.up-img .del{position:absolute;top:-9px;right:-9px;width:18px;height:18px;background:url(../images/close.png) no-repeat;}
.img-upload-main{padding:40px 0 90px;background:#fff;overflow:hidden;*zoom:1;}
.img-upload-main .clip{position:relative;margin:0 auto;border:1px dashed #999;}
.img-upload-main .clip img{width:100%;height:100%;}
.img-upload-main .clip .loader{position:absolute;top:0;right:0;width:100%;height:100%;background:#fff url(../images/loader.gif) no-repeat 50%;text-align:center;}
.img-upload-main .side{position:absolute;top:20px;right:20px;width:120px;text-align:center;}
.img-upload-main .side .preview{width:108px;height:108px;padding:5px;border:1px solid #ddd;overflow:hidden;}
.img-upload-main .side .preview img{width:100%;height:100%;}
.img-upload-main .side .btn-file{position:relative;line-height:32px;margin-top:10px;color:#fff;background:#009f95;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;overflow:hidden;}
.img-upload-main .side .btn-file input{position:absolute;width:10000px;height:1000px;right:-20px;top:-20px;font-size:1000px;opacity:0;filter:alpha(opacity=0);z-index:1;cursor:pointer;}
.x1{width:214px;} /* 750 * 350 */
.x2{width:268px;} /* 750 * 280 */
.x3{width:188px;}  /* 750 * 400 */
.x4{width:122px;}  /* 220 * 180 */
.clip-x3{width:750px;height:400px;line-height:460px;}
.clip-x4{width:220px;height:180px;line-height:230px;}

/* 图片裁剪*/
.cropImgWrapper{cursor:-webkit-grab;cursor:grab;}
.cropImgWrapper:active{cursor:-webkit-grabbing;cursor:grabbing;}
.cropImgUpload{position:absolute;height:28px;display:block;top:-30px;right:-2px;font-family:sans-serif;width:20px;height:20px;text-align:center;line-height:20px;color:#FFF;}
.cropControls{position:absolute;bottom:-50px;left:0;z-index:2;width:100%;height:30px;line-height:30px;text-align:center;white-space:nowrap;}
.cropControls i{display:inline-block;cursor:pointer;background:url('../images/cropperIcons.png') no-repeat #999;width:30px;height:30px;}
.cropControls i:hover{background-color:rgba(0,0,0,0.7);}
.cropControls i.cropControlZoomMuchIn{background-position:0px 0px;}
.cropControls i.cropControlZoomIn{background-position:-30px 0px;}
.cropControls i.cropControlZoomOut{background-position:-60px 0px;}
.cropControls i.cropControlZoomMuchOut{background-position:-90px 0px;}
.cropControls i.cropControlRotateLeft{background-position:-210px 0px;}
.cropControls i.cropControlRotateRight{background-position:-240px 0px;}
.cropControls i.cropControlCrop{background-position:-120px 0px;}
.cropControls i.cropControlUpload{background-position:-150px 0px;}
.cropControls i.cropControlReset{background-position:-180px 0px;}
.cropControls i.cropControlRemoveCroppedImage{background-position:-180px 0px;}
.imgCrop_imgUploadForm{display:none;}
#croppicModal{position:fixed;width:100%;height:100%;top:0;left:0;display:block;background:rgba(0,0,0,0.8);z-index:10000;}
#imgCropWrap{position:relative;height:0;overflow:hidden;}

/* 登录 */
.login-box{position:absolute;top:50%;left:50%;width:350px;height:350px;margin:-220px 0 0 -220px;padding:44px;background:#f5f5f5;border:1px solid #e7e7e7;}
.login-box .title{font-size:26px;text-align:center;}
.login-box .title strong{margin-right:4px;color:#d74141;font-weight:700;}
.login-box .msg{height:24px;padding:40px 0 6px;color:#d74141;}
.login-box .group{position:relative;line-height:48px;}
.login-box .txt{position:absolute;top:0;left:0;width:50px;height:50px;text-align:center;}
.login-box .txt i{font-size:24px;color:#999;vertical-align:middle;}
.login-box .on .txt i{color:#666;}
.login-box .cnt{height:76px;*overflow:hidden;*zoom:1;}
.login-box .ipt{width:288px;height:18px;line-height:18px;padding:15px 10px 15px 50px;border:1px solid #ccc;*float:left;}
.login-box .error .txt{color:#d74141;border-color:#d74141;}
.login-box .error .ipt{border-color:#d74141;}
.login-box .button{padding-top:14px;text-align:center;}
.login-box .ubtn{width:100%;height:50px;line-height:50px;padding:0;font-size:16px;}
.login-box2{width:360px;margin:7% auto 0;}
.login-box2 .title{margin-bottom:25px;font-size:26px;text-align:center;}
.login-box2 .title strong{margin-right:4px;color:#d74141;font-weight:700;}
.login-box2 .form{padding:20px;background:#fff;box-shadow:0 0 0 10px rgba(0, 0, 0, 0.1);}
.login-box2 .msg{height:34px;color:#d74141;}
.login-box2 .group{position:relative;margin-bottom:20px;padding:0 10px;border:1px solid #ccc;}
.login-box2 .group .fa{position:absolute;top:50%;right:0;width:40px;line-height:40px;margin-top:-20px;text-align:center;font-size:20px;color:#666;}
.login-box2 .group .ipt{width:100%;height:18px;line-height:18px;padding:8px 0;border:none;}
.login-box2 .on{border-color:#5c92cf;}
.login-box2 .button{text-align:right;}
.login-box2 .ubtn{width:80px;height:34px;line-height:34px;padding:0;}

/*添加&编辑商品*/
.user-info .chart-form{padding:50px;background:none;}
.user-info .chart-form table{width:680px;}
.user-info .chart-form th{height:40px;padding:0;font-weight:700;}
.user-info .chart-form td{height:40px;padding:0;background:#fff;font-size:14px;}
.user-info .chart-form span{cursor:pointer;}
.user-info .chart-form .inner{position:relative;}
.user-info .chart-form .ipt{text-align:center;border:none;}
.user-info .chart-form .msg-box{position:absolute;z-index:2;top:110%;left:38%;line-height:18px;margin:0;padding:5px;color:#fa5468;border:1px solid #fa5468;background:#fff;border-radius:2px;white-space:nowrap;}
.user-info .chart-form .msg-box:before{position:absolute;top:-16px;left:14px;content:"";border:8px dashed transparent;border-bottom:8px solid #fa5468;}
.user-info .chart-form .msg-box:after{position:absolute;top:-13px;left:16px;content:"";border:6px dashed transparent;border-bottom:7px solid #fff;}

/* 气泡式弹出层组件 */
.notify-wrapper{position:fixed;top:5px;right:5px;z-index:2147483641;width:350px;}   
.notify-wrapper .message{display:none;margin-bottom:5px;font-size:12px;border:1px solid #ccc;background:#f5f5f5;} 
.notify-wrapper .hidable{cursor:pointer;} 
.notify-wrapper .error{background:#ff4a1a;border-color:#e54217;}
.notify-wrapper .success{background:#58c805;border-color:#4fb404;}
.notify-wrapper .warn{background:#ffb200;border-color:#e5a000;}
.notify-wrapper .inner{position:relative;min-height:38px;padding:10px 20px 10px 60px;color:#fff;}    
.notify-wrapper .inner .icon{position:absolute;top:50%;left:10px;width:40px;height:40px;margin-top:-20px;}    
.notify-wrapper .inner .text h3{line-height:20px;font-size:16px;}  
.notify-wrapper .inner .mid h3{padding-top:9px;}
.notify-wrapper .fa{line-height:1;font-size:40px;}

/* jquery.autocomplete */
.autocomplete-suggestions{border:1px solid #999;background:#fff;cursor:default;overflow:auto;box-shadow:1px 4px 3px rgba(50,50,50,0.64);}
.autocomplete-suggestion{padding:3px 5px;white-space:nowrap;overflow:hidden;}
.autocomplete-no-suggestion{padding:3px 5px;}
.autocomplete-selected{background:#e7e7e7;}
.autocomplete-suggestions strong{font-weight:bold;color:#000;}
.autocomplete-group{padding:3px 5px;}
.autocomplete-group strong{display:block;font-weight:700;font-size:16px;color:#000;border-bottom:1px solid #000;}

/* layer */
.layer-loading{width:100px;height:50px;padding-top:50px;margin:0 auto;background:url(../images/loader.gif) no-repeat 50% 25px;text-align:center;}

/* 添加商品 */
#goodsSuggestions table{width:372px;}
#goodsSuggestions th{height:30px;padding:0;}
#goodsSuggestions td{height:30px;}
#goodsSuggestions .items:hover td{background:#f0f0f0;cursor:pointer;}
#goodsSuggestions .checked td{background:#c0c0c0;color:#777;}
#chooseGoods span{position:relative;display:inline-block;margin:0 15px 15px 0;padding:0 10px;border:1px solid #ccc;background:#fff;}
#chooseGoods span i{position:absolute;top:-9px;right:-9px;width:18px;height:18px;background-image:url(../images/close.png);cursor:pointer;}

/* page 404/500 */
.fa-pro-empty{width:500px;margin:0 auto;padding:80px 0 50px;overflow:hidden;*zoom:1;}
.fa-pro-empty .fa{float:left;width:100px;line-height:100px;font-size:100px;color:#ccc;}
.fa-pro-empty .text{position:relative;margin-left:135px;padding:15px;background:#f0eff5;border:1px solid #ccc;border-radius:5px;}
.fa-pro-empty .text:after{content:'';position:absolute;top:24px;left:-12px;width:12px;height:22px;background:url(../images/chevron-left.png) no-repeat;}
.fa-pro-empty .text .title{line-height:42px;font-size:16px;}
.fa-pro-empty .text dt{line-height:30px;}
.fa-pro-empty .text dd{line-height:24px;font-size:12px;color:#999;}
.fa-pro-empty .text a{color:#1769ff;}
.error-page{width:600px;margin:100px auto;}
.error-page .headline{height:0;padding-top:200px;background:no-repeat 50% 50%;overflow:hidden;}
.error-page .i404{background-image:url(../images/404.png);}
.error-page .i500{background-image:url(../images/500.png);}
.error-page .cnt{text-align:center;}
.error-page .cnt p{font-size:20px;padding-left:20px;color:#999;}
.error-page .cnt .fa{font-size:30px;color:#fca31d;vertical-align:top;}

/* page index */
.msg-list{display:inline-block;margin:0 0 30px 0;padding:15px;line-height:32px;border:1px solid #ddd;}
.msg-list li time{color:#999;}
.msg-list li span{margin-left:10px;word-break:break-all;word-wrap:break-word;}
.q-list{padding:15px;overflow:hidden;*zoom:1;}
.q-list li{float:left;width:33.333%;}
.q-list li a{position:relative;display:block;line-height:100px;color:#fff;font-size:16px;}
.q-list li a:hover{text-decoration:none;}
.q-list li sup{display:inline-block;min-width:30px;line-height:30px;font-size:16px;background:#fff;color:#000;-webkit-border-radius:100%;border-radius:100%;text-align:center;visibility:hidden;}
.q-list li span{position:absolute;top:50%;right:0;width:50px;height:50px;line-height:50px;margin-top:-25px;background:#fff;-webkit-border-radius:100%;border-radius:100%;text-align:center;}
.q-list li span .fa{line-height:50px;color:#000;font-size:26px;}
.q-list li span .fa-truck{color:#00c0ef;}
.q-list li span .fa-shopping-bag{color:#00a65a;line-height:44px;}
.q-list li span .fa-cart-plus{color:#f39c12;}
.q-list li span .fa-star{color:#dd4b39;}
.q-list li span .fa-audio-description{color:#605ca8;}
.q-list li span .fa-file-text{color:#d81b60;}
.q-list li .cnt{margin:15px;padding:0 15px;transition:background 0.2s;}

