body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3303px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5376 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:716px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5377 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:716px;
}
#u5378 {
  position:absolute;
  left:2px;
  top:350px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:-webkit-linear-gradient(90deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5379 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5380 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u5381 {
  position:absolute;
  left:61px;
  top:686px;
  width:107px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5381_img.selected {
}
#u5381.selected {
}
#u5382 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u5383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u5383 {
  position:absolute;
  left:168px;
  top:686px;
  width:102px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5383_img.selected {
}
#u5383.selected {
}
#u5384 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u5385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u5385 {
  position:absolute;
  left:270px;
  top:686px;
  width:94px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5385_img.selected {
}
#u5385.selected {
}
#u5386 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u5387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u5387 {
  position:absolute;
  left:364px;
  top:686px;
  width:97px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5387_img.selected {
}
#u5387.selected {
}
#u5388 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u5389 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5391 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5392 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5393 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5394 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:10px;
}
#u5395 {
  position:absolute;
  left:248px;
  top:246px;
  width:5px;
  height:10px;
}
#u5396 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
}
#u5397 {
  position:absolute;
  left:255px;
  top:248px;
  width:3px;
  height:6px;
}
#u5398 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
}
#u5399 {
  position:absolute;
  left:260px;
  top:248px;
  width:3px;
  height:6px;
}
#u5400 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
}
#u5401 {
  position:absolute;
  left:266px;
  top:248px;
  width:3px;
  height:6px;
}
#u5402 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
}
#u5403 {
  position:absolute;
  left:271px;
  top:248px;
  width:3px;
  height:6px;
}
#u5404 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:18px;
}
#u5405 {
  position:absolute;
  left:61px;
  top:50px;
  width:400px;
  height:177px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:18px;
}
#u5406 {
  position:absolute;
  left:16px;
  top:80px;
  width:368px;
  word-wrap:break-word;
}
#u5407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:177px;
}
#u5407 {
  position:absolute;
  left:61px;
  top:50px;
  width:400px;
  height:177px;
}
#u5408 {
  position:absolute;
  left:2px;
  top:80px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5409 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:167px;
}
#u5410 {
  position:absolute;
  left:61px;
  top:266px;
  width:400px;
  height:166px;
}
#u5411 {
  position:absolute;
  left:2px;
  top:75px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u5412 {
  position:absolute;
  left:224px;
  top:337px;
  width:65px;
  height:24px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u5413 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:167px;
}
#u5414 {
  position:absolute;
  left:61px;
  top:432px;
  width:400px;
  height:166px;
}
#u5415 {
  position:absolute;
  left:2px;
  top:75px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:90px;
}
#u5416 {
  position:absolute;
  left:61px;
  top:598px;
  width:400px;
  height:90px;
}
#u5417 {
  position:absolute;
  left:2px;
  top:37px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5418 {
  position:absolute;
  left:114px;
  top:18px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5419 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u5420 {
  position:absolute;
  left:229px;
  top:503px;
  width:65px;
  height:24px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u5421 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u5422 {
  position:absolute;
  left:229px;
  top:664px;
  width:65px;
  height:24px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u5423 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5424 {
  position:absolute;
  left:3279px;
  top:535px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u5424_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5424_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u5425 {
  position:absolute;
  left:525px;
  top:35px;
  width:37px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u5426 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
  line-height:18px;
}
#u5427 {
  position:absolute;
  left:527px;
  top:75px;
  width:500px;
  height:54px;
  color:#FF3399;
  line-height:18px;
}
#u5428 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u5429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 51, 153, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5429 {
  position:absolute;
  left:507px;
  top:37px;
  width:5px;
  height:94px;
}
#u5430 {
  position:absolute;
  left:2px;
  top:39px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5431 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5432 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u5433 {
  position:absolute;
  left:419px;
  top:18px;
  width:29px;
  height:22px;
}
#u5434 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5435_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:31px;
}
#u5435 {
  position:absolute;
  left:343px;
  top:686px;
  width:21px;
  height:21px;
}
#u5436 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u5437_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5437 {
  position:absolute;
  left:425px;
  top:558px;
  width:30px;
  height:30px;
}
#u5438 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u5439 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5440 {
  position:absolute;
  left:326px;
  top:432px;
  width:89px;
  height:178px;
}
#u5441 {
  position:absolute;
  left:2px;
  top:81px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5442 {
  position:absolute;
  left:342px;
  top:446px;
  width:57px;
  height:20px;
}
#u5443 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5444 {
  position:absolute;
  left:344px;
  top:483px;
  width:57px;
  height:20px;
}
#u5445 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5446 {
  position:absolute;
  left:342px;
  top:521px;
  width:57px;
  height:20px;
}
#u5447 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
