body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3303px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:716px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2128 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:716px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:350px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:-webkit-linear-gradient(90deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2130 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2131 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u2132 {
  position:absolute;
  left:61px;
  top:686px;
  width:107px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2132_img.selected {
}
#u2132.selected {
}
#u2133 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u2134 {
  position:absolute;
  left:168px;
  top:686px;
  width:102px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2134_img.selected {
}
#u2134.selected {
}
#u2135 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u2136 {
  position:absolute;
  left:270px;
  top:686px;
  width:94px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2136_img.selected {
}
#u2136.selected {
}
#u2137 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u2138 {
  position:absolute;
  left:364px;
  top:686px;
  width:97px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2138_img.selected {
}
#u2138.selected {
}
#u2139 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:10px;
}
#u2146 {
  position:absolute;
  left:248px;
  top:246px;
  width:5px;
  height:10px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
}
#u2148 {
  position:absolute;
  left:255px;
  top:248px;
  width:3px;
  height:6px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
}
#u2150 {
  position:absolute;
  left:260px;
  top:248px;
  width:3px;
  height:6px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
}
#u2152 {
  position:absolute;
  left:266px;
  top:248px;
  width:3px;
  height:6px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
}
#u2154 {
  position:absolute;
  left:271px;
  top:248px;
  width:3px;
  height:6px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:18px;
}
#u2156 {
  position:absolute;
  left:61px;
  top:50px;
  width:400px;
  height:177px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:18px;
}
#u2157 {
  position:absolute;
  left:16px;
  top:80px;
  width:368px;
  word-wrap:break-word;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:177px;
}
#u2158 {
  position:absolute;
  left:61px;
  top:50px;
  width:400px;
  height:177px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:80px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:167px;
}
#u2161 {
  position:absolute;
  left:61px;
  top:266px;
  width:400px;
  height:166px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:75px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u2163 {
  position:absolute;
  left:224px;
  top:337px;
  width:65px;
  height:24px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:167px;
}
#u2165 {
  position:absolute;
  left:61px;
  top:432px;
  width:400px;
  height:166px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:75px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:90px;
}
#u2167 {
  position:absolute;
  left:61px;
  top:598px;
  width:400px;
  height:90px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:37px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2169 {
  position:absolute;
  left:114px;
  top:18px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u2171 {
  position:absolute;
  left:229px;
  top:503px;
  width:65px;
  height:24px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u2172 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u2173 {
  position:absolute;
  left:229px;
  top:664px;
  width:65px;
  height:24px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u2174 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2175 {
  position:absolute;
  left:3279px;
  top:535px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u2175_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2175_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u2176 {
  position:absolute;
  left:525px;
  top:35px;
  width:37px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
  line-height:18px;
}
#u2178 {
  position:absolute;
  left:527px;
  top:75px;
  width:500px;
  height:54px;
  color:#FF3399;
  line-height:18px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 51, 153, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2180 {
  position:absolute;
  left:507px;
  top:37px;
  width:5px;
  height:94px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:39px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u2184 {
  position:absolute;
  left:419px;
  top:18px;
  width:29px;
  height:22px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
