body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3303px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:716px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5109 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:716px;
}
#u5110 {
  position:absolute;
  left:2px;
  top:350px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:-webkit-linear-gradient(90deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5111 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5112 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u5113 {
  position:absolute;
  left:61px;
  top:686px;
  width:107px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5113_img.selected {
}
#u5113.selected {
}
#u5114 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u5115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u5115 {
  position:absolute;
  left:168px;
  top:686px;
  width:102px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5115_img.selected {
}
#u5115.selected {
}
#u5116 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u5117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u5117 {
  position:absolute;
  left:270px;
  top:686px;
  width:94px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5117_img.selected {
}
#u5117.selected {
}
#u5118 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u5119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u5119 {
  position:absolute;
  left:364px;
  top:686px;
  width:97px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5119_img.selected {
}
#u5119.selected {
}
#u5120 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u5121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:10px;
}
#u5127 {
  position:absolute;
  left:248px;
  top:246px;
  width:5px;
  height:10px;
}
#u5128 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
}
#u5129 {
  position:absolute;
  left:255px;
  top:248px;
  width:3px;
  height:6px;
}
#u5130 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
}
#u5131 {
  position:absolute;
  left:260px;
  top:248px;
  width:3px;
  height:6px;
}
#u5132 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
}
#u5133 {
  position:absolute;
  left:266px;
  top:248px;
  width:3px;
  height:6px;
}
#u5134 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
}
#u5135 {
  position:absolute;
  left:271px;
  top:248px;
  width:3px;
  height:6px;
}
#u5136 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:18px;
}
#u5137 {
  position:absolute;
  left:61px;
  top:50px;
  width:400px;
  height:177px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:18px;
}
#u5138 {
  position:absolute;
  left:16px;
  top:80px;
  width:368px;
  word-wrap:break-word;
}
#u5139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:177px;
}
#u5139 {
  position:absolute;
  left:61px;
  top:50px;
  width:400px;
  height:177px;
}
#u5140 {
  position:absolute;
  left:2px;
  top:80px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:167px;
}
#u5142 {
  position:absolute;
  left:61px;
  top:266px;
  width:400px;
  height:166px;
}
#u5143 {
  position:absolute;
  left:2px;
  top:75px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u5144 {
  position:absolute;
  left:224px;
  top:337px;
  width:65px;
  height:24px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u5145 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:167px;
}
#u5146 {
  position:absolute;
  left:61px;
  top:432px;
  width:400px;
  height:166px;
}
#u5147 {
  position:absolute;
  left:2px;
  top:75px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:90px;
}
#u5148 {
  position:absolute;
  left:61px;
  top:598px;
  width:400px;
  height:90px;
}
#u5149 {
  position:absolute;
  left:2px;
  top:37px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5150 {
  position:absolute;
  left:114px;
  top:18px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5151 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u5152 {
  position:absolute;
  left:229px;
  top:503px;
  width:65px;
  height:24px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u5153 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u5154 {
  position:absolute;
  left:229px;
  top:664px;
  width:65px;
  height:24px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  line-height:24px;
}
#u5155 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5156 {
  position:absolute;
  left:3279px;
  top:535px;
  width:24px;
  height:24px;
  overflow:hidden;
}
#u5156_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5156_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u5157 {
  position:absolute;
  left:525px;
  top:35px;
  width:37px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u5158 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
  line-height:18px;
}
#u5159 {
  position:absolute;
  left:527px;
  top:75px;
  width:500px;
  height:54px;
  color:#FF3399;
  line-height:18px;
}
#u5160 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u5161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 51, 153, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5161 {
  position:absolute;
  left:507px;
  top:37px;
  width:5px;
  height:94px;
}
#u5162 {
  position:absolute;
  left:2px;
  top:39px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
}
#u5165 {
  position:absolute;
  left:419px;
  top:18px;
  width:29px;
  height:22px;
}
#u5166 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5167_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:31px;
}
#u5167 {
  position:absolute;
  left:343px;
  top:686px;
  width:21px;
  height:21px;
}
#u5168 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u5169_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5169 {
  position:absolute;
  left:425px;
  top:558px;
  width:30px;
  height:30px;
}
#u5170 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u5171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5172 {
  position:absolute;
  left:326px;
  top:432px;
  width:89px;
  height:178px;
}
#u5173 {
  position:absolute;
  left:2px;
  top:81px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5174 {
  position:absolute;
  left:342px;
  top:446px;
  width:57px;
  height:20px;
}
#u5175 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5176 {
  position:absolute;
  left:344px;
  top:483px;
  width:57px;
  height:20px;
}
#u5177 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5178 {
  position:absolute;
  left:342px;
  top:521px;
  width:57px;
  height:20px;
}
#u5179 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
