@charset "utf-8";

/* css reset */
html{_background:url(about:blank) no-repeat fixed;}
body{background:#fff;}
body,h1,h2,h3,h4,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,th,td{margin:0;padding:0;}
body,button,input,select,textarea{background:#fff;font:14px/1.5 arial,tahoma,'Microsoft Yahei','\5b8b\4f53';color:#333}
h1,h2,h3,h4{font-size:100%;font-weight:400;}
ul,ol{list-style:none;}
a{color:#333;text-decoration:none;outline:none;}
a:hover{color:#af2327;text-decoration:underline}
button,input,select,textarea{border:1px solid #ccc;outline:none;resize:none;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
fieldset,img{vertical-align:top;border:none}
table{width:100%;border-collapse:collapse;border-spacing:0}
address,cite,dfn,em,b,i,strong{font-style:normal;font-weight:400;}
::selection{background:#af2327;color:#fff;}
::-moz-selection{background:#af2327;color:#fff;}
::-webkit-selection{background:#af2327;color:#fff;}
::-ms-clear,::-ms-reveal{display:none;}


/* layout */
.fl{float:left;}
.fr{float:right;}
.tc{text-align:center;}
.hide{display:none;}
.wrap{max-width:1200px;margin:0 auto;}
.cf,.wrap{*zoom:1;}
.cf:after,.wrap:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.opacity{opacity:.7;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70);}
.cbx{margin:0 4px 0 0;vertical-align:-1px;}
.mb20{margin-bottom:20px;}

.nav, .header, .footer, .wrap{min-width:900px;}

/* button */
.btn{display:inline-block;height:30px;line-height:28px;padding:0 7px;font-size:12px;text-align:center;vertical-align:middle;cursor:pointer;border:1px solid #ccc;}
.btn:hover{text-decoration:none;}
.btn-red{color:#fff;background:#c3272b;border-color:#c3272b;}
.btn-red:hover{color:#fff;background:#af2327;}
.btn-white,
.btn-white:hover{color:#ffa902;background:#fff;border-color:#ffa902;}
.btn-blue{color:#fff;background:#1769ff;border-color:#1769ff;}
.btn-blue:hover{background:#155ee5;}
.btn-gray{color:#333;background:#e7e7e7;}
.btn-gray:hover{color:#333;background:#cfcfcf;}
.btn-gray:disabled{color:#999;}
.btn-gray:disabled:hover{background:#e7e7e7;}
a.btn{height:28px;}
.btn-file{position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;overflow:hidden;}
.btn-file input{position:absolute;width:10000px;height:1000px;right:-20px;top:-20px;font-size:1000px;opacity:0;filter:alpha(opacity=0);z-index:1;cursor:pointer;}


/* link */
.c-blue{color:#1869ff !important;}
.c-blue:hover{color:#155ee5 !important;}
.c-red{color:#c3272b !important;}
.c-red:hover{color:#af2327 !important;}
.c-green{color:#58c805 !important;}
.c-green:hover{color:#58c805 !important;}

/* iconfont.cn */
@font-face {font-family: "fa";
src: url('../fonts/iconfont.eot?t=1466759445');
src: url('../fonts/iconfont.eot?t=1466759445#iefix') format('embedded-opentype'),
url('../fonts/iconfont.woff?t=1466759445') format('woff'),
url('../fonts/iconfont.ttf?t=1466759445') format('truetype'),
url('../fonts/iconfont.svg?t=1466759445#fa') format('svg');
}
.fa {
font-family:"fa" !important;
font-size:16px;
font-style:normal;
vertical-align:middle;
-webkit-font-smoothing: antialiased;
-webkit-text-stroke-width: 0.2px;
-moz-osx-font-smoothing: grayscale;
}
.fa-prompt:before { content: "\e60f"; }
.fa-heart:before { content: "\e603"; }
.fa-setting:before { content: "\e604"; }
.fa-check:before { content: "\e609"; }
.fa-lock:before { content: "\e600"; }
.fa-chevron-right:before { content: "\e60a"; }
.fa-search:before { content: "\e612"; }
.fa-tel:before { content: "\e60b"; }
.fa-invoice:before { content: "\e605"; }
.fa-chevron-down:before { content: "\e60c"; }
.fa-chevron-up:before { content: "\e60d"; }
.fa-people:before { content: "\e601"; }
.fa-chevron-left:before { content: "\e610"; }
.fa-plus:before { content: "\e611"; }
.fa-question-circle:before { content: "\e602"; }
.fa-menu:before { content: "\e606"; }
.fa-check-circle:before { content: "\e60e"; }
.fa-riqi:before { content: "\e614"; }
.fa-export:before { content: "\e613"; }
.fa-bill:before { content: "\e607"; }
.fa-clock:before { content: "\e608"; }
.fa-times-circle:before { content: "\e615"; }

.fa-chevron-up,
.fa-chevron-right,
.fa-chevron-down,
.fa-chevron-left{font-size:12px;}

/* site-nav */
.site-nav{height:29px;line-height:29px;border-bottom:1px solid #e7e7e7;}
.site-nav li{float:left;padding-left:10px;}


/* header */
.header{box-shadow:0 0 10px 3px rgba(0,0,0,.1);}
.header .logo{float:left;line-height:60px;overflow:hidden;}
.header .logo a{display:block;font-size:20px;}
.header .logo a:hover{text-decoration:none;}
.header .logo em{margin-right:4px;font-weight:700;color:#c3272b;}
.header .user{float:right;line-height:60px;font-size:12px;}
.header .user i{margin:0 10px;color:#999;}

/* nav */
.nav{background:#333;height:50px;}
.nav li{position:relative;float:left;line-height:50px;text-align:center;}
.nav a{position:relative;display:block;min-width:100px;color:#999;}
.nav a:hover{color:#fff;background:#292929;text-decoration:none;}
.nav .curr{color:#fff;background:#292929;}
.nav .subnav{position:absolute;top:100%;left:0;width:200px;padding-top:2px;text-align:left;background:#fff;border:1px solid #ccc;display:none;z-index:5;}
.nav .subnav a{padding-left:35px;background:#fff;}
.nav .subnav a:hover{color:#333;}
.nav li:hover .subnav{display:block;}
.nav li:hover .subnav .on{color:#333;}
.nav i{position:absolute;top:10px;right:10px;width:8px;height:8px;margin-left:20px;background:#d74141;color:#fff;-webkit-border-radius:8px;border-radius:8px;z-index:8;}
.nav b{position:absolute;top:17px;right:10px;line-height:16px;padding:0 4px;background:#d74141;color:#fff;-webkit-border-radius:8px;border-radius:8px;z-index:8;}


/* footer */
.footer{line-height:30px;padding:25px 0;font-size:12px;text-align:center;color:#666;background:#ccc;}
.footer .links a{margin:0 10px;color:#999;}
.footer .links a:hover{color:#333;}

/* fa-floor */
.fa-floor{margin:40px 0 80px;}
.fa-floor .message{margin-bottom:30px;padding:2px 40px;font-size:16px;border:1px solid #ccc;background:#f5f5f5;} 
.fa-floor .message i{margin-right:10px;font-size:36px;}
.fa-floor .message .fa-prompt{color:#fca31d;} 
.fa-floor .message .fa-check-circle{color:#58c805;} 
.fa-floor .message .fa-times-circle{color:#c3272b;} 
.fa-floor .message span{vertical-align:middle;} 
.fa-floor .title-btm{margin-bottom:30px;border-bottom:1px solid #ccc;} 
.fa-floor .title{overflow:hidden;*zoom:1;} 
.fa-floor .title h3{float:left;line-height:40px;font-size:16px;font-weight:700;} 
.fa-floor .title .extra{float:right;} 
.fa-floor .title .extra .btn{min-width:60px;} 
.fa-floor .side{float:left;width:180px;text-align:center;border:1px solid #e7e7e7;}
.fa-floor .side dt{line-height:50px;font-weight:700;background:#f0eff5;}
.fa-floor .side dd{line-height:50px;padding:20px 0;}
.fa-floor .side dd a{display:block;color:#999;}
.fa-floor .side dd .curr{color:#c3272b;}
.fa-floor .main{padding-left:220px;}
.fa-floor .main .title{height:50px;}
.fa-floor .main .title h3{font-weight:400;font-size:14px;}
.fa-floor .main .title h3 i{margin-right:6px;color:#666;}
.fa-floor .main .title .extra .btn{margin-left:10px;}
.fa-floor .main .title .extra .btn-red{width:100px;}
.fa-floor .main .title .extra a.btn-gray{padding:0;width:58px;}
.fa-floor .chart{margin-top:20px;}

.fa-tab{height:39px;line-height:38px;border-bottom:1px solid #ccc;border-left:1px solid #ccc;}
.fa-tab span{float:left;padding:0 20px;color:#666;text-align:center;background:#e7e7e7;border:1px solid #ccc;border-left:0;cursor:pointer;}
.fa-tab .curr{position:relative;background:#c3272b;border-color:#c3272b;color:#fff;cursor:default;}
.fa-tab .curr:after{content:'';position:absolute;bottom:-11px;right:15px;border:5px dashed transparent;border-top:5px solid #c3272b;}
.fa-tab:after{content:"";display:inline-block;clear:both;}
.fa-tabcont{overflow:hidden;}
/*.fa-tabcont .item{display:none;}*/
.fa-tabcont .more{line-height:30px;font-size:12px;text-align:right;}


/* table */
.chart .tc{text-align:center;}
.chart tr:hover{background:#f5f5f5;}
.chart thead td{padding:0;background:#ededed;}
.chart thead .ipt{text-align:center;}
.chart th{padding:10px 0;;background:#e7e7e7;border:1px solid #ccc;font-weight:400;}
.chart td{padding:10px 0;border:1px solid #ccc;color:#666;font-size:12px;}
.chart select{width:90%;height:32px;line-height:32px;text-align:center;font-size:12px;}
.chart option{text-align:center;}
.chart .ipt{width:80%;height:18px;line-height:18px;padding:6px 5px;border:1px solid #ccc;}
.chart .ipt-wrap{margin:6px;padding:6px;border:1px solid #ccc;background:#fff;}
.chart .ipt-wrap .ipt{width:100%;padding:0;border:none;vertical-align:top;}
.chart .date{width:63px;}
.chart .date{width:75px;}
.chart .button{width:60px;height:30px;color:#fff;background:#1769ff;cursor:pointer;border:none;}
.chart .button:hover{background:#155ee5;}
.chart .button span{margin-left:4px;vertical-align:middle;}
.chart a{color:#1769ff;}
.chart a:hover{color:#155ee5;}
.chart .link{color:#666;}
.chart .link:hover{color:#333;}
.chart .tl em{margin-left:5px;padding:1px 3px;background:#f00;color:#ff9;border-radius:3px;}
.chart .tl{text-align:left;padding-left:27px;}
.chart .tr{text-align:right;padding-right:10px;}
.chart .caption{}

/* pagin */
.pagin{overflow:hidden;*zoom:1;}
.pagin .skip{line-height:30px;}
.pagin .skip .ipt{width:40px;height:18px;line-height:18px;border:solid #ccc;border-width:1px 0;vertical-align:middle;text-align:center;}
.pagin .skip .btn{width:18px;height:18px;line-height:18px;padding:0;vertical-align:middle;}
.pagin .skip .drop{display:inline-block;width:38px;height:18px;border:1px solid #ccc;border-right:0;vertical-align:middle;text-align:center;}
.pagin .skip span{vertical-align:middle;}
.pagin .skip em{margin:0 5px;vertical-align:middle;}
.pagin .skip select{vertical-align:middle;}
.pagin .extra{float:right;}
.pagin .extra .btn{min-width:98px;padding:0;margin-left:10px;}
.pagin .extra .btn-gray i{color:#666;}

/* fa-form */
.fa-form{padding:50px 0;}
.fa-form .group{position:relative;padding-left:140px;}
.fa-form .txt{position:absolute;top:0;left:0;width:130px;line-height:40px;text-align:right;}
.fa-form .txt i{margin-right:6px;color:#c3272b;vertical-align:middle;}
.fa-form .cnt{height:70px;}
.fa-form .cnt-mul{width:420px;height:auto;min-height:40px;margin-bottom:30px;}
.fa-form .cnt-mul label{display:inline-block;width:80px;height:20px;padding-top:10px;vertical-align:top;overflow:hidden;}
.fa-form .cnt .ipt{width:400px;height:20px;line-height:20px;padding:9px;border:1px solid #ccc;}
.fa-form .cnt .ipt:disabled{background:#ededed;color:#999;}
.fa-form .cnt .ipt-mul{display:block;height:140px;}
.fa-form .cnt .btn-inside{position:absolute;top:5px;right:5px;height:40px;}
.fa-form .cnt .btn-wide{width:350px;height:40px;font-size:16px;}
.fa-form .cnt .tips{color:#999;font-size:12px;}
.fa-form .cnt .val{display:block;line-height:40px;}
.fa-form .cnt select{width:137px;height:40px;margin-right:6px;line-height:40px;padding:0 10px;text-align:center;}
#area{margin-right:0;} /* last select */
.fa-form .cnt option{text-align:left;}
.fa-form .cnt .wide{width:420px;text-align:left;}
.fa-form .cnt .msg-box{display:block;line-height:18px;font-size:12px;}
.fa-form .cnt .msg-box .error{color:#c3272b;}
.fa-form .cnt .msg-box .ok{display:none;}
.fa-form .cnt .n-invalid{border-color:#c3272b;}
.fa-form .cnt .Validform_loading{position:absolute;top:12px;left:460px;width:16px;height:16px;background:url(../images/loader.gif) no-repeat 50%;}
.fa-form .cnt .msg-box .error{color:#c3272b;}
.fa-form .cnt-extra{height:46px;}
.fa-form .cbxs{line-height:40px;}
.fa-form .cbxs label{margin-right:20px;}
.fa-form .group-cbx{margin-top:-10px;}
.fa-form .group-cbx label{display:inline-block;margin:10px 24px 0 0;white-space:nowrap;}
.fa-form .group-cbx .txt{top:10px;line-height:normal;}
.fa-form .group-cbx .cnt{width:400px;}
.fa-form .group-val .cnt{height:60px;}
.fa-form .group-up .cnt{height:150px;}
.fa-form .group-a .cnt{height:auto;margin-bottom:26px;}
.fa-form .group-a label{display:block;width:60px;margin-top:16px;}
.fa-form .group-t{position:relative;padding-left:140px;}
.fa-form .group-t .cnt{height:auto;line-height:50px;}
#imgCropWrap{display:none;}    
#imgCrop{display:block !important;}    
#imgCrop img{cursor:pointer;}
.fa-form-layer{padding-bottom:0;}

/* seo */
.seo .cnt{height:auto;margin-bottom:30px;}
.seo .cnt .ipt-mul{display:inline-block;width:550px;height:80px;}
.seo .cnt .msg-box{display:inline-block;margin-left:10px;}
.seo .cnt .tag{line-height:24px;}
.seo .cnt .tag a{margin-right:9px;color:#1869ff;}

/* guide */
.guide{padding:20px 0;}
.guide li{float:left;width:260px;}
.guide li .ico{display:block;width:160px;height:100px;padding:0 20px 0 70px;text-align:center;color:#fff;}
.guide li .people{background:#6ccac9 url(../images/ico-people.png) no-repeat 20px 50%;}
.guide li .sale{background:#ff6d60 url(../images/ico-sale.png) no-repeat 20px 50%;}
.guide li .cart{background:#f8d347 url(../images/ico-cart.png) no-repeat 20px 50%;}
.guide li em{display:block;padding-top:10px;font-size:30px;}
.guide li .btn{width:90px;margin:-22px 16px 0 0;padding:6px 10px 6px 30px;color:#fff;background:#c3272b url(../images/ico-plus.png) no-repeat 10px 50%;border:none;}
.guide li.op{width:400px;padding-left:20px;line-height:60px;}
.guide li a{border-radius:3px;transition:all .3s;}
.guide li a:hover{text-decoration:none;opacity:.8;filte:alpha(opacity=80);}


/* 新增商品 */
.goods-img{position:relative;width:98px;height:98px;line-height:98px;margin-right:20px;border:1px dashed #ccc;background:#fff url(../images/plus.png) no-repeat 50%;cursor:pointer;text-align:center;display:inline-block;}
.goods-img img{position:absolute;top:-1px;left:-1px;width:100%;height:100%;border:1px solid #ccc;cursor:default;}
.goods-img .del{position:absolute;top:0;right:0;width:30px;height:30px;background:url(../images/cropperIcons.png) no-repeat -270px 0;}
.goods-img .loader{position:absolute;top:0;right:0;width:100%;height:100%;line-height:150px;background:#fff url(../images/loader.gif) no-repeat 50%;text-align:center;font-size:12px;cursor:default;z-index:2;}
.img-upload-main{padding:40px 0 90px;background:#fff;overflow:hidden;*zoom:1;}
.img-upload-main .clip{position:relative;width:360px;height:360px;margin:0 auto;border:1px dashed #999;}
.img-upload-main .clip img{width:100%;height:100%;}
.img-upload-main .clip .loader{position:absolute;top:0;right:0;width:100%;height:100%;line-height:410px;background:#fff url(../images/loader.gif) no-repeat 50%;text-align:center;}
.img-upload-main .side{position:absolute;top:20px;right:20px;width:120px;text-align:center;}
.img-upload-main .side .preview{width:108px;height:108px;padding:5px;border:1px solid #ddd;overflow:hidden;}
.img-upload-main .side .preview img{width:100%;height:100%;}
.img-upload-main .side .btn-file{line-height:32px;margin-top:10px;color:#fff;background:#009f95;}
.upimg-msg{position:absolute;bottom:0;left:0;right:0;line-height:18px;padding:5px;background-color:#000;color:#fff;font-size:12px;text-align:center;z-index:2;}

/* 消息提示 */
.fa-message{padding:140px 0 100px;text-align:center;}
.fa-message .hd{font-size:26px;}
.fa-message .hd i{line-height:1;font-size:38px;}
.fa-message .hd .fa-prompt{color:#fca31d;} 
.fa-message .hd .fa-check-circle{color:#58c805;} 
.fa-message .hd .fa-times-circle{color:#c3272b;} 
.fa-message .hd strong{vertical-align:middle;}
.fa-message .bd{margin-top:30px;font-size:16px;color:#999;}
.fa-message .ft{margin-top:75px;}
.fa-message .ft .btn{width:300px;height:50px;line-height:50px;padding:0;font-size:16px;}
.fa-message .links{margin-top:30px;}
.fa-message .links a{color:#1769ff;}

/* 气泡式弹出层组件 */
.notify-wrapper{position:fixed;top:5px;right:5px;z-index:2147483641;width:350px;}   
.notify-wrapper .message{display:none;margin-bottom:5px;font-size:12px;border:1px solid #ccc;background:#f5f5f5;} 
.notify-wrapper .hidable{cursor:pointer;} 
.notify-wrapper .error{background:#ff4a1a;border-color:#e54217;}
.notify-wrapper .success{background:#58c805;border-color:#4fb404;}
.notify-wrapper .warn{background:#ffb200;border-color:#e5a000;}
.notify-wrapper .inner{position:relative;min-height:38px;padding:10px 20px 10px 60px;color:#fff;}    
.notify-wrapper .inner .icon{position:absolute;top:50%;left:10px;width:40px;height:40px;margin-top:-20px;}    
.notify-wrapper .inner .text h3{line-height:20px;font-size:16px;}  
.notify-wrapper .inner .mid h3{padding-top:9px;}
.notify-wrapper .fa{line-height:1;font-size:40px;}

/* user-info */
.user-info{margin-bottom:40px;border:1px solid #e7e7e7;background:#f0eff5;}
.user-info:last-child{margin-bottom:0;}
.user-info h3{padding:13px 30px;font-weight:700;text-align:left;border-bottom:1px solid #e7e7e7;background:#fff;}
.user-info h3 span{font-size:12px;font-weight:400;color:#666;}
.user-info .info{padding:35px 30px;}
.user-info .info table{width:auto;}
.user-info .info tbody:nth-child(n+1){margin-top:20px;}
.user-info .info th{width:150px;text-align:right;font-weight:400;}
.user-info .info td{width:360px;padding:7px 15px;border:0;}
.user-info .info em{color:#999;}
.user-info .info b{font-weight:700;}
.user-info .info .space{height:5px;}
.user-info .info .price{color:#c3272b;font-weight:700;}
.user-info .info .img{height:42px;line-height:78px;}
.user-info .info img{margin-right:6px;vertical-align:middle;}
.user-info .chart{margin:-1px;padding:0;background:#fff;}
.user-info .chart th{text-align:center;}
.user-info .chart td{border:1px solid #ccc;text-align:center;}
.user-info .fa-form{padding:50px 0 20px 50px;}
.user-info .fa-form .br{display:block;margin-top:10px;}
.user-info .tab{height:39px;line-height:38px;margin:50px 90px 0;border-bottom:1px solid #ccc;display:none;}
.user-info .tab span{float:left;width:120px;text-align:center;background:#e7e7e7;border:1px solid #ccc;cursor:pointer;}
.user-info .tab .curr{position:relative;background:#c3272b;border-color:#c3272b;color:#fff;}
.user-info .tab .curr:after{content:'';position:absolute;bottom:-11px;right:15px;border:5px dashed transparent;border-top:5px solid #c3272b;}
.user-info .tab strong{clear:both;margin-left:25px;font-size:12px;color:#999;}
.user-info .tab em{color:#c3272b;}
.user-info .tab:after{content:"";display:inline-block;clear:both;}
.user-info .tabcont{padding:0 90px;overflow:hidden;}
.user-info .tabcont .box{margin-top:-1px;padding-top:30px;border-top:1px solid #ccc;display:none;}
.user-info .tabcont .button{padding:50px 0;}
.user-info .tabcont .button .btn{width:350px;height:50px;font-size:16px;}
.user-info .error1{color:#c3272b;display:none;}

.groups{margin-right:-30px;overflow:hidden;*zoom:1;}
.groups .group{float:left;width:475px;margin:0 30px 30px 0;}
.groups .group dl{min-height:160px;border:1px solid #e7e7e7;}
.groups .group dt{line-height:34px;padding:7px 30px;font-weight:700;background:#f0eff5;border-bottom:1px solid #e7e7e7;}
.groups .group dd{line-height:22px;padding:22px 30px;font-size:12px;color:#666;}
.groups .group-row{clear:both;float:none;width:auto;}

.express_box{margin-top:10px;padding-bottom:10px;text-align:left;border:1px solid #e7e7e7;}
.express_box li{padding:9px 15px;}
.express_box li:nth-child(2){color:#c3272b;}
.express_box .company{margin-bottom:10px;padding:10px 15px;border-bottom:1px solid #e7e7e7;}
.express_box .company em{margin-right:20px;font-size:15px;color:#333;}
.express_box .date{float:left;width:200px;}
.express_box .trace{margin-left:200px;}


/*添加&编辑商品*/
.user-info .chart-form{padding:50px;background:none;}
.user-info .chart-form table{width:680px;}
.user-info .chart-form th{height:40px;padding:0;font-weight:700;}
.user-info .chart-form td{height:40px;padding:0;background:#fff;font-size:14px;}
.user-info .chart-form span{cursor:pointer;}
.user-info .chart-form .inner{position:relative;margin:0 10px;text-align:left;}
.user-info .chart-form .ipt{width:100%;padding:6px 0;border:none;}
.user-info .chart-form .msg-box{position:absolute;z-index:2;top:110%;left:0;line-height:15px;padding:5px;font-size:12px;color:#fa5468;border:1px solid #fa5468;background:#fff;border-radius:2px;white-space:nowrap;}
.user-info .chart-form .msg-box:before{position:absolute;top:-16px;left:14px;content:"";border:8px dashed transparent;border-bottom:8px solid #fa5468;}
.user-info .chart-form .msg-box:after{position:absolute;top:-13px;left:16px;content:"";border:6px dashed transparent;border-bottom:7px solid #fff;}
.user-info .chart-form td i{display:inline-block;width:10px;height:11px;margin:0 5px;cursor:pointer;}
.user-info .chart-form td .up{background-image:url(../images/up.png);}
.user-info .chart-form td .down{background-image:url(../images/down.png);}

/* user-table */
.user-table{}
.user-table .caption{line-height:34px;padding:7px 30px;background:#f0eff5;border:1px solid #e7e7e7;overflow:hidden;*zoom:1;}
.user-table .caption li{float:left;width:33%;}
.user-table .caption span{display:inline-block;width:70px;margin-right:10px;color:#999;}
.user-table .chart{text-align:center;}
.user-table .chart td{padding:4px 0;}
.user-table .chart .ipt{width:100px;text-align:center;font-size:12px;}

/* 订单详情 */
.chart-info{margin-bottom:30px;}
.chart-info h3{line-height:34px;padding:7px 15px;font-weight:700;background:#f0eff5;border:1px solid #e7e7e7;border-bottom:0;}
.chart-info .chart{margin-top:0;}
.chart-info .summary{padding:0 20px;text-align:right;}
.chart-info .summary span{display:inline-block;vertical-align:middle;color:#999;}
.chart-info .summary em{display:inline-block;width:135px;vertical-align:middle;color:#333;}
.chart-info .summary .price{font-size:16px;font-weight:700;color:#c3272b;}
.note-form{padding:30px;font-size:12px;border:1px solid #e7e7e7;overflow:hidden;}
.note-form .txt{float:left;}
.note-form .tips{margin-bottom:10px;}
.note-form .tips i{margin-right:6px;color:#c3272b;}
.note-form .cnt{margin-left:64px;padding:9px 14px;border:1px solid #ccc;}
.note-form .cnt2{padding:9px 14px;border:1px solid #ccc;}
.note-form .ipt{width:100%;height:80px;line-height:20px;font-size:12px;border:none;}
.note-form .button{clear:both;padding:20px 0;text-align:right;}
.note-form .button .btn{width:100px;}
.note-form .history{line-height:24px;padding-top:20px;border-top:1px solid #e7e7e7;color:#666;}
.note-form .history span{margin-right:16px;}

/* 登录 */
.login-box{position:absolute;top:50%;left:50%;width:350px;height:350px;margin:-220px 0 0 -220px;padding:44px;background:#f5f5f5;border:1px solid #e7e7e7;}
.login-box .title{font-size:26px;text-align:center;}
.login-box .title strong{margin-right:4px;color:#c3272b;font-weight:700;}
.login-box .msg{height:24px;padding:40px 0 6px;color:#c3272b;}
.login-box .group{position:relative;line-height:48px;}
.login-box .txt{position:absolute;top:0;left:0;width:50px;height:50px;text-align:center;}
.login-box .txt i{font-size:25px;color:#999;}
.login-box .on .txt i{color:#666;}
.login-box .cnt{height:76px;*overflow:hidden;*zoom:1;}
.login-box .ipt{width:288px;height:18px;line-height:18px;padding:15px 10px 15px 50px;border:1px solid #ccc;*float:left;}
.login-box .error .txt{color:#c3272b;border-color:#c3272b;}
.login-box .error .ipt{border-color:#c3272b;}
.login-box .button{padding-top:14px;text-align:center;}
.login-box .btn{width:100%;height:50px;line-height:50px;padding:0;font-size:16px;}

/* 图片裁剪*/
.cropImgWrapper{cursor:-webkit-grab;cursor:grab;}
.cropImgWrapper:active{cursor:-webkit-grabbing;cursor:grabbing;}
.cropImgUpload{position:absolute;height:28px;display:block;top:-30px;right:-2px;font-family:sans-serif;width:20px;height:20px;text-align:center;line-height:20px;color:#FFF;}
.cropControls{position:absolute;bottom:-50px;left:0;z-index:2;width:100%;height:30px;text-align:center;}
.cropControls i{display:inline-block;cursor:pointer;background:url('../images/cropperIcons.png') no-repeat #999;width:30px;height:30px;}
.cropControls i:hover{background-color:rgba(0,0,0,0.7);}
.cropControls i.cropControlZoomMuchIn{background-position:0px 0px;}
.cropControls i.cropControlZoomIn{background-position:-30px 0px;}
.cropControls i.cropControlZoomOut{background-position:-60px 0px;}
.cropControls i.cropControlZoomMuchOut{background-position:-90px 0px;}
.cropControls i.cropControlRotateLeft{background-position:-210px 0px;}
.cropControls i.cropControlRotateRight{background-position:-240px 0px;}
.cropControls i.cropControlCrop{background-position:-120px 0px;}
.cropControls i.cropControlUpload{background-position:-150px 0px;}
.cropControls i.cropControlReset{background-position:-180px 0px;}
.cropControls i.cropControlRemoveCroppedImage{background-position:-180px 0px;}
.imgCrop_imgUploadForm{display:none;}
#croppicModal{position:fixed;width:100%;height:100%;top:0;left:0;display:block;background:rgba(0,0,0,0.8);z-index:10000;}


/* 创建订单 */
.create-order{margin:40px 0 80px;}
.create-order .title{margin-bottom:20px;border-bottom:1px solid #ccc;overflow:hidden;*zoom:1;} 
.create-order .title h3{float:left;line-height:40px;font-size:14px;} 
.create-order .title .extra{float:right;} 
.create-order .title .extra .btn{min-width:44px;margin-left:10px;} 
.create-order .title .extra .btn-red{min-width:84px;} 
.create-order .side{float:left;width:300px;}
.create-order .side .item{margin-bottom:20px;border:1px solid #e7e7e7;}
.create-order .side .item .hd{line-height:20px;padding:9px 20px;border-bottom:1px solid #e7e7e7;background:#f0eff5;overflow:hidden;}
.create-order .side .item .hd span{font-size:14px;font-weight:700;}
.create-order .side .item .hd .btn{float:right;width:40px;height:20px;line-height:20px;} 
.create-order .side .item .bd{line-height:1;padding:0 20px 0;font-size:12px;color:#999;}
.create-order .side .item .bd dl{padding:16px 0 16px;}
.create-order .side .item .bd dl:nth-child(n+3){border-top:1px solid #e7e7e7;}
.create-order .side .item .bd dd{line-height:15px;margin-top:10px;overflow:hidden;*zoom:1;}
.create-order .side .item .bd span{float:left;}
.create-order .side .item .bd label{vertical-align:-1px;}
.create-order .side .item .bd .th{padding-top:20px;font-size:14px;color:#333;overflow:hidden;*zoom:1;}
.create-order .side .item .bd .w1{width:65px;}
.create-order .side .item .bd .w2{width:53px;}
.create-order .side .item .bd .w3{width:65px;}
.create-order .side .item .bd .w4{width:53px;}
.create-order .main{margin-left:320px;}
.create-enquiry .main{margin-left:0;}
.create-order .main .chart th{padding:10px 0;font-size:12px;}
.create-order .main .chart td{padding:0;background:#fff;}
.create-order .main .chart td .ipt-wrap{position:relative;margin:0;padding:0;border:none;}
.create-order .main .chart td .ipt-wrap .ipt{width:100%;height:18px;line-height:18px;padding:10px 0;color:#666;border:none;vertical-align:top;text-align:center;background:none;}
.create-order .main .chart td .ipt-wrap .ipt:focus{box-shadow:0 6px 15px -12px rgba(0, 0, 0, 0.5) inset;}
.create-order .main .chart td .ipt{border-color:#e7e7e7;text-align:center;}
.create-order .main .chart td a{margin:0 4px;}
.create-order .main .chart tfoot td{padding:10px 20px;background:#f0eff5;border-color:#e7e7e7;}
.create-order .main .chart-info{margin-bottom:20px;}
.create-order .main .ipt-tr{margin-top:10px;text-align:right;}
.create-order .main .ipt-tr .ipt{width:140px;}
.create-order .main .fa-form{padding:10px 20px;color:#999;font-size:12px;border:1px solid #e7e7e7;}
.create-order .main .fa-form .group{padding-left:70px;}
.create-order .main .fa-form .cnt{min-height:50px;height:auto;}
.create-order .main .fa-form .cnt select{height:30px;line-height:30px;margin-right:2px;}
.create-order .main .fa-form .txt{width:60px;line-height:30px;}
.create-order .main .fa-form .ipt{padding:4px 9px;}
.create-order .main .fa-form .ipt-mul{width:400px;height:60px;}
.create-order .main .fa-form .ipt-note{width:748px;height:90px;}
.create-order .main .choose{margin:-10px 0 30px;padding:10px 0;color:#999;font-size:12px;border-bottom:1px solid #e7e7e7;}
.create-order .main .choose select{width:400px;height:30px;line-height:30px;font-size:12px;color:#999;}
.create-order .main .summary .ipt{width:100px;padding:1px 9px;}
.create-order .main .submit{padding:0 20px 0 0;text-align:right;}
.create-order .main .submit .btn{width:140px;height:40px;font-size:14px;}

.suggestions{position:absolute;top:100%;left:-1px;z-index:9;width:660px;border:1px solid #ccc;background:#fff;box-shadow:0 2px 5px -2px rgba(0,0,0,.5);display:none;}
.suggestions .hd{font-weight:700;color:#333;background:#f5f5f5;}
.suggestions .bd{padding:6px 0;color:#999;border-top:1px solid #ccc;overflow:hidden;overflow-y:auto;}
.suggestions .bd .on,
.suggestions .bd .group:hover{color:#333;background:#f5f5f5;}
.suggestions .group{line-height:30px;text-align:left;}
.suggestions span{display:inline-block;padding-left:15px;cursor:default;}
.suggestions .w1{width:100px;}
.suggestions .w2{width:90px;}
.suggestions .w3{width:330px;}
.suggestions .w4{width:75px;}


/* lightbox */
.lightboxOverlay{position:fixed;top:0;left:0;z-index:9998;width:100%;height:100%;background:#000;filter:alpha(opacity=80);opacity:0.8;display:none;}
.lightbox{position:fixed;top:50px;left:50%;top:50%;z-index:9999;width:240px;height:240px;margin:-120px 0 0 -120px;background:#fff;border-radius:4px;border:4px solid #fff;overflow:visible!important;display:none;}
.lb-close{position:absolute;top:-15px;right:-15px;height:31px;width:31px;background:url(../images/l-close.png) no-repeat;cursor:pointer;}
.lb-nav{position:absolute;bottom:0;left:0;z-index:2;height:30px;width:100%;text-align:center;color:#fff;}
.lb-nav span{display:inline-block;padding:4px 10px;background:rgba(0,0,0,.75);border-radius:4px;}
.lb-loader{position:absolute;top:0;left:0;height:100%;width:100%;background:url(../images/loading.gif) no-repeat 50%;}
.lb-prev,.lb-next{position:absolute;top:0;width:50%;height:100%;cursor:pointer;}
.lb-prev{left:0;background:url(../images/prev.png) left 48% no-repeat;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-webkit-transition:opacity 0.6s;-moz-transition:opacity 0.6s;-o-transition:opacity 0.6s;transition:opacity 0.6s;}
.lb-prev:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1;}
.lb-next{right:0;background:url(../images/next.png) right 48% no-repeat;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-webkit-transition:opacity 0.6s;-moz-transition:opacity 0.6s;-o-transition:opacity 0.6s;transition:opacity 0.6s;}
.lb-next:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1;}
.lb-op{position:absolute;top:0;left:0;right:0;text-align:center;}
.lb-turn-left,.lb-turn-right{display:inline-block;margin:0 4px;padding:4px 4px 4px 26px;font-size:12px;color:#fff;background:rgba(0,0,0,.5) url(../images/turn.png) no-repeat;border-radius:4px;cursor:pointer;border:0;}
.lb-turn-right{background-position:5px 5px;left:60px;}
.lb-turn-left{background-position:5px -30px;}
.thumb img{cursor:pointer;}


/* jquery.autocomplete */
.autocomplete-suggestions{border:1px solid #999;background:#fff;cursor:default;overflow:auto;box-shadow:1px 4px 3px rgba(50,50,50,0.64);}
.autocomplete-suggestion{padding:3px 5px;white-space:nowrap;overflow:hidden;}
.autocomplete-no-suggestion{padding:3px 5px;}
.autocomplete-selected{background:#e7e7e7;}
.autocomplete-suggestions strong{font-weight:bold;color:#c3272b;}
.autocomplete-group{padding:3px 5px;}
.autocomplete-group strong{display:block;font-weight:700;font-size:16px;color:#000;border-bottom:1px solid #000;}

/* 上传文件 */
.enquiry_btn{width:98px;line-height:28px;margin:20px 10px 0 0;padding:0;font-size:12px;color:#666;border:1px solid #e7e7e7;}
.filename{display:inline-block;line-height:28px;margin:20px 0 0 0;font-size:12px;vertical-align:middle;}

/* 错误提示 */
.pr{position:relative;}
.pr .fa{display:none;}
.pr .msg-box{position:absolute;z-index:2;top:110%;left:0;line-height:15px;padding:5px;font-size:12px;color:#fa5468;border:1px solid #fa5468;background:#fff;border-radius:2px;white-space:nowrap;}
.pr .msg-box:before{position:absolute;top:-16px;left:14px;content:"";border:8px dashed transparent;border-bottom:8px solid #fa5468;}
.pr .msg-box:after{position:absolute;top:-13px;left:16px;content:"";border:6px dashed transparent;border-bottom:7px solid #fff;}
.pr .error1{position:absolute;z-index:2;top:110%;left:0;line-height:15px;padding:5px;font-size:12px;color:#fa5468;border:1px solid #fa5468;background:#fff;border-radius:2px;white-space:nowrap;display:none;}
.pr .error1:before{position:absolute;top:-16px;left:14px;content:"";border:8px dashed transparent;border-bottom:8px solid #fa5468;}
.pr .error1:after{position:absolute;top:-13px;left:16px;content:"";border:6px dashed transparent;border-bottom:7px solid #fff;}

/* jquery.pagination */
.jq-page{line-height:28px;padding:6px 15px 0;color:#333;overflow:hidden;*zoom:1;}
.jq-page .p-size{float:left;}
.jq-page .p-num{float:right;}
.jq-page .p-num a,
.jq-page .p-num span{margin:0 4px;padding:0;text-decoration:none;}
.jq-page .p-num .current{color:#c3272b;}
.jq-page .p-num .current.prev,
.jq-page .p-num .current.next{color:#c3272b;}

.certificate .check{padding:25px 30px;overflow:hidden;*zoom:1;}
.certificate .check .pic{float:left;width:580px;height:120px;overflow:hidden;}
.certificate .check .pic img{float:left;width:118px;height:118px;margin-right:20px;border:1px solid #ccc;}
.certificate .check .form{float:right;width:314px;line-height:50px;padding:10px 0;border-left:1px solid #ccc;position:relative;}
.certificate .check .form label{display:inline-block;width:110px;text-align:right;vertical-align:top;}
.certificate .check .form .ipt{width:170px;height:28px;padding:0 4px;border:1px solid #ccc;}
.certificate .check .form span{display:inline-block;width:170px;}
.certificate .check .form em{position:absolute;left:113px;line-height:1;}
.certificate .check .form em.top{top:51px;}
.certificate .check .form em.bottom{bottom:3px;}
.fa-note{padding:25px 30px;}
.fa-note .tips{margin-bottom:10px;}
.fa-note .tips i{margin-right:6px;color:#c3272b;}
.fa-note .ipt{width:99%;height:120px;padding:5px;border:1px solid #ccc;}


.create-enquiry2{padding:52px 10px 50px 320px;}
.create-enquiry2 .thead{z-index:2;position:fixed;top:0;left:320px;right:10px;padding-top:10px;background:#fff;}
.create-enquiry2 th{border-bottom:0;}
.create-enquiry2 td{padding:0;text-align:center;}
.create-enquiry2 .remove{display:none;}
.create-enquiry2 .inner{position:relative;}
.create-enquiry2 .inner .ipt{width:100%;height:18px;line-height:18px;padding:10px 0;color:#666;border:none;vertical-align:top;text-align:center;background:none;}
.create-enquiry2 .inner .ipt:focus{box-shadow:0 6px 15px -12px rgba(0, 0, 0, 0.5) inset;}
.create-enquiry2 .tfoot{position:fixed;bottom:0;left:320px;right:10px;padding:10px;background:#fff;box-shadow:0 6px 15px -12px rgba(0, 0, 0, 0.5) inset;}
.create-enquiry2 .tfoot .ipt{width:140px;padding:5px;vertical-align:middle;}
.create-enquiry2 .tfoot .btn-red{float:right;min-width:84px;}
.pic-fixed{position:fixed;z-index:8;top:10px;left:10px;bottom:10px;width:300px;padding:0 0 60px;background:#fff;border:1px solid #ccc;border-radius:3px;overflow:hidden;}
.pic-fixed .move{cursor:move;}
.pic-fixed .img{position:relative;width:100%;height:100%;overflow:hidden;}
.pic-fixed .img img{position:absolute;top:0;left:0;}
.pic-fixed .img i{position:absolute;top:0;left:0;right:0;bottom:0;background:#fff;opacity:0;filter:alpha(opacity=0);display:none;}
.pic-fixed .thumb{position:absolute;bottom:20px;left:0;right:0;text-align:center;white-space:nowrap;}
.pic-fixed .thumb span{display:inline-block;width:26px;height:26px;line-height:26px;margin:0 1px;padding:1px;font-size:12px;border:1px solid #ccc;vertical-align:top;}
.pic-fixed .thumb .curr{padding:0;border:2px solid #c3272b;color:#c3272b;}
.pic-fixed .thumb img{display:block;width:26px;height:26px;}


/* laydate */
.laydate-icon{height:22px;line-height:22px;padding-right:20px;border:1px solid #ccc;background:url(../images/laydate.png) no-repeat 100% 50%;}
.laydate_box{width:240px;font:12px tahoma;z-index:999999;color:#333;text-align:center;background:#fff;overflow:hidden;box-shadow: 2px 2px 5px rgba(0,0,0,.1);*margin:-2px 0 0 -2px;}
.laydate_box ul{margin:0;padding:0;list-style:none;}
.laydate_box a{color:#333;outline:none;cursor:pointer;text-decoration:none;}
.laydate_box a:hover{color:#666;}
.laydate_box cite,
.laydate_box label{position:absolute;width:0;height:0;border:5px dashed transparent;overflow:hidden;}
.laydate_box input{padding:0;border:none;outline:0;background:none;text-align:center;}
.laydate_choose{float:left;position:relative;width:20px;height:24px;}
.laydate_tab cite{left:50%;top:50%;}
.laydate_chtop cite{margin:-7px 0 0 -5px;border-bottom:5px solid #fff;}
.laydate_chdown cite{margin:-5px 0 0 -7px;border-top:5px solid #fff;}
.laydate_chprev cite{margin:-5px 0 0 -7px;border-right:5px solid #fff;}
.laydate_chnext{float:right;}
.laydate_chnext cite{margin:-5px 0 0 -2px;border-left:5px solid #fff;}
.laydate_ym label{top:50%;margin:-2px 0 0 -5px;border-top:5px solid #fff;}
.laydate_top{height:26px;padding:5px;background:#d91600;}
.laydate_ym{position:relative;height:24px;}
.laydate_ym input{float:left;height:24px;color:#fff;font:14px/24px tahoma;}
.laydate_ym label{right:28px;}
.laydate_yms{position:absolute;left:-1px;top:24px;height:181px;color:#fff;background:#d91600;display:none;}
.laydate_y{float:left;width:121px;}
.laydate_y input{width:64px;}
.laydate_y .laydate_yms{width:120px;}
.laydate_y .laydate_yms .laydate_tab{position:relative;display:block;height:20px;}
.laydate_y .laydate_yms ul{height:139px;overflow:hidden;}
.laydate_y .laydate_yms li{float:left;width:50%;line-height:20px;overflow:hidden;}
.laydate_m{float:right;width:99px;}
.laydate_m .laydate_yms{width:99px;padding:0;}
.laydate_m .laydate_yms span{display:inline-block;width:42px;margin:5px 2px 0 3px;line-height:24px;}
.laydate_m input{width:42px;}
.laydate_table{width:240px;border-collapse:collapse;border-spacing:0px;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.laydate_table th{height:24px;color:#999;border-bottom:1px solid #ccc;font-weight:400;}
.laydate_table td{height:24px;}
.laydate_click{background:#f32043!important;color:#fff;}
.laydate_nothis{color:#d91600;}
.laydate_void{cursor:default!important;color:#ccc!important;}
.laydate_void:hover{background:none!important;}
.laydate_bottom{position:relative;height:22px;line-height:20px;padding:5px;border:1px solid #ccc;border-top:none;}
.laydate_bottom .laydate_v{position:absolute;left:10px;top:6px;z-index:0;color:#999}
.laydate_bottom .laydate_btn{float:right;border-right:1px solid #ccc;}
.laydate_bottom .laydate_btn a{float:left;height:20px;padding:0 6px;_padding:0 5px;border: 1px solid #ccc;border-right:none;}
.laydate_bottom .laydate_btn a:hover{background:#f0f0f0;}
.laydte_hsmtex{border-bottom:1px solid #ccc;}
.laydte_hsmtex span{position:absolute;width:20px;top:0;right:0px;}
.laydte_hsmtex span:hover{font-size:14px;}
.laydate_hms{float:left;border:1px solid #ccc;}
.laydate_hms span{display:inline-block;width:31px;border-right:1px solid #ccc;}
.laydate_hms input{width:20px;height:20px;color:#333;font:12px/20px arial;}
.laydate_time{position:absolute;left:5px;bottom:26px;width:138px;border:1px solid #ccc;background:#fff;display:none;}
.laydate_time1{width:226px;}
.laydate_hmsno{padding:5px 0 5px 3px;overflow:hidden;*zoom:1;}
.laydate_hmsno span{float:left;width:22px;}
.laydate_msg{left:49px;bottom:67px;width:141px;overflow:hidden;}
.laydate_msg p{margin:15px 10px;}
.laydate_choose:hover,
.laydate_yms a:hover,
.laydate_yms li:hover,
.laydate_yms span:hover,
.laydate_hmsno span:hover,
.laydate_table td:hover{background:#f54766;color:#fff;cursor:pointer;}
.laydate_show{display:block;}