@charset "utf-8";
/* CSS Document */
/*
 * zhouli 2014.11.12
*/
.container{
    width: 1025px;
    margin: 0 auto 10px;
}
.login-top{
    background: url("../../images/jzt-boss/logo.jpg") no-repeat;
    width: 505px;
    height: 61px;
    margin: 40px 0 0 50px;
    line-height: 9999px;
    overflow: hidden;
}
.login-body{
    margin-top: 45px;
    background: url("../../images/jzt-boss/loging-bg.jpg") no-repeat;
    width: 1025px;
    /*height: 404px;*/
}
.login-body .login-box{
    width: 500px;
    height: 348px;
    margin-top: 42px;
}
.login-body .login-box ul li{
    padding:8px 5px 8px 0;
    float: left;
    _display:inline;
    line-height: 70px;
}
.login-body .login-box ul li input.login-text1,
.login-body .login-box ul li input.login-text2{
    width:255px;
    height: 70px;
    line-height: 70px;
    background-color: #dbdbdb;
    /*margin-bottom: 16px;*/
       -moz-border-radius:12px;
    -webkit-border-radius:12px;
            border-radius:12px;
    padding-left: 65px;
    color: #999;
    font-size: 16px;
}
.login-body .login-box ul li input.login-text1:focus,
.login-body .login-box ul li input.login-text2:focus{
    background-color: #999;
    color: #fff;
    font-weight: bold;
}
.login-body .login-box ul li .usename,
.login-body .login-box ul li .password{
    background: url("../../images/jzt-boss/loging-ico.png") no-repeat;
}
.login-body .login-box ul li .usename{
    background-position: 25px 16px;

}
.login-body .login-box ul li .password{
    background-position: 25px -65px;
}
.login-body .login-box ul li input.login-text2{
    width: 160px;
    padding-left: 15px;
}
.login-body .login-box ul li .login-btn{
    width: 320px;
    height: 70px;
    background-color: #ca4040;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    border-radius:12px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    font-family: Microsoft YaHei;
}
.login-body .login-box ul li .login-btn:hover{background-color: #b21818;}
/* public sprite */
.topper .member-state,
.nav .sub-nav li,
.pop-sub-nav span,
.btn-add a{background: url("../../images/jzt-boss/icon-1.png") no-repeat;}
.title1.wel{background: url("../../images/jzt-boss/operate-icon.png") no-repeat;}
/* header */
.topper{
    width: 100%;
    height: 62px;
    background: #054fa6;
}
.topper .logo{
    margin: 14px 0 0 18px;
    background: url("../../images/jzt-boss/logo-2.png") no-repeat;
    width: 362px;
    height: 34px;
    line-height: 9999px;
    overflow: hidden;
}
.topper .member-state{
    padding: 20px 20px 0 0;
    background-position: 0 22px;
    color: #fff;
    padding-left: 22px;
}
.topper .member-state a{
    padding: 0 8px;
    color: #fff;
}
.topper .member-state a.yellow{color: #f38f24;}
/* nav */
.nav{
    position: absolute;
    left: 0;
    width: 130px;
    height: 100%;
    background: #ddd;
    z-index: 1;
}
.nav ul li{
    position: relative;
    border-top: 1px solid #fff;
    line-height: 58px;
    background: #ddd;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}
.nav ul li>a,.nav ul li>a:hover{color: #333; text-decoration: none; display: block;}

.nav ul li.cur>a,.nav ul li:hover>a{color: #fff;}
.nav ul li i{
    display: inline-block;
    *display:inline;
    zoom:1;
    margin: 0 10px 0 10px;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    background: url("../../images/jzt-boss/nav-icon.png") no-repeat;
}
.nav ul li i.icon-1{background-position: 0 0;}
.nav ul li i.icon-2{background-position: 0 -56px;}
.nav ul li i.icon-3{background-position: 0 -110px;}
.nav ul li i.icon-4{background-position: 0 -164px;}
.nav ul li i.icon-5{background-position: 0 -213px;}
.nav ul li:hover,
.nav ul li.cur{
    background: #054fa6;
    color: #fff;
}
.nav ul li:hover i.icon-1,
.nav ul li.cur i.icon-1{background-position: -45px 0;}
.nav ul li:hover i.icon-2,
.nav ul li.cur i.icon-2{background-position: -45px -56px;}
.nav ul li:hover i.icon-3,
.nav ul li.cur i.icon-3{background-position: -45px -110px;}
.nav ul li:hover i.icon-4,
.nav ul li.cur i.icon-4{background-position: -45px -164px;}
.nav ul li:hover i.icon-5,
.nav ul li.cur i.icon-5{background-position: -45px -213px;}
.nav .sub-nav{display: none;}
.nav .sub-nav li{
    *min-height: 35px;
    line-height:35px;
    border-top:0 none;
    font-size: 12px;
    background-color: #eeeeee;
    cursor: pointer;
    padding-top:1px;
    margin-top: 0;
    background-position: 15px -24px;
    text-indent: 25px;
}
.nav .sub-nav li ul li{
    text-indent:0;
    padding-left: 10px;
    background-position: 25px -24px;
}
.nav .sub-nav li ul li:hover{
    background-color: #0188cc;
    color: #fff;
    background-position: 25px -57px;
}

.nav .sub-nav li a {
    display:block;
    padding-left:25px;
    color: #464646;
}
.nav .sub-nav li.hover,
.nav .sub-nav li:hover{
    background: url("../../images/jzt-boss/icon-1.png") no-repeat;
    background-position: 15px -57px;
    background-color: #0188cc;
    color: #fff;
    text-decoration: none;
}
.nav .sub-nav .sub-navs{display: none;}
.nav .sub-navs li{*margin-bottom: -5px;}
.nav .sub-nav li .sub-navs li:hover,
.nav .sub-nav li .sub-navs li.hover{
    background-color: #b7def2;
}
.nav .sub-nav li .sub-navs li.hover{background-position: 25px -57px;}
.nav .sub-nav li .sub-navs li:hover a,
.nav .sub-nav li .sub-navs li.hover a{color: #fff;}
.pop-sub-nav{
    display: none;
    position: absolute;
    left: 131px;
    top:0;
    width: 195px;
    background: #ddd;
    z-index: 99;
}
.pop-sub-nav span{
    display:inline-block;
    *display:block;
    zoom:1;
    background-position: 0 -112px;
    width: 8px;
    height: 14px;
    position:absolute;
    top:20px;
    left:-7px;
    z-index: 100;
}
.pop-sub-nav p{
    padding: 5px 10px;
    margin: 0;
}
.pop-sub-nav p a{
    background: none;
    display:block;
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    border-bottom: 1px solid #b9b9b9;
    color: #333;
    padding: 0 15px;
}
.pop-sub-nav p a:hover,
.pop-sub-nav p a.hover{
    color: #0281c1;
    font-weight: bold;
    text-decoration: none;
}
.pop-sub-nav p a:last-child{border-bottom: none;}
/* main page */
.wapper{width: 100%;}
.main{
    position: absolute;
    left: 0;
    width: 100%;
}
.page-main{
    margin:15px 35px 0 165px ;
    padding-bottom: 50px;
}
.table-1{
    -webkit-box-border-radius: 4px;
    -moz-box-border-radius: 4px;
    /*border-radius:5px;*/
    background: #d6d6d6;
    /*border: 1px solid #d6d6d6;*/
}
.table-1 .caption{position: relative;}
.table-1 .caption .operate-1{
    position: absolute;
    left:-35%;
    bottom:32px;
    background: none repeat scroll 0 0 #f4e6ce;
    border: 1px solid #dfc8b0;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
    color: #464646;
    display: none;
    font-size: 12px;
    line-height: 22px;
    min-width: 48px;
    padding:2px 10px;
    z-index: 10;
    width: 150%;
}
.table-1 .caption .operate-1.wid{
    width: 120%;
    left:-15%;
}
.table-1 .caption .operate-1 .sj {
    background: url("../../images/jzt-boss/icon-sj.png") no-repeat;
    bottom: -7px;
    display: inline-block;
    height: 7px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 10px;
}
.table-1 th{
    font-weight: bold;
}
.table-1 td,
.table-1 th{
    background: #fff;
    height: 38px;
    color: #464646;
    font-size: 12px;
    padding: 0 5px;
    text-align: center;
}
.table-1 th.bgf5{background: #f5f5f5;}
.opr-btn span,.pop-position .close{
    display: inline-block;
    *display: inline;
    zoom:1;
    width: 30px;
    height: 24px;
    background: url("../../images/jzt-boss/operate-icon.png") no-repeat;
    margin: 0 3px;
    cursor: pointer;
    vertical-align: middle;
}
.pop-position .close{
    line-height: 9999px;
    overflow: hidden;
}
.opr-btn span.operate-1{background-position: 0 -34px; position: relative;}
.opr-btn span.operate-1.cur{background-position: 0 0;}
.opr-btn span.operate-2{background-position: -35px -34px;}
.opr-btn span.operate-3{background-position: -70px -34px;}
.opr-btn span.operate-4a{background-position: -105px -63px;}
.opr-btn span.operate-4{background-position: -105px -34px;}
.opr-btn span.operate-5{background-position: -140px -34px;}
/*.opr-btn span.operate-1:hover{background-position: 0 0;}*/
.opr-btn span.operate-2:hover{background-position: -35px 0;}
.opr-btn span.operate-3:hover{background-position: -70px 0;}
.opr-btn span.operate-4:hover{background-position: -105px 0;}
.opr-btn span.operate-5:hover{background-position: -140px 0;}
.opr-btn .tips{
    display: none;
    position: absolute;
    top:-40px;
    left:-17px;
    /*background: url("../../images/jzt-boss/tips1.png") no-repeat;*/
    background: #f4e6ce;
    border: 1px solid #dfc8b0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px #ccc;
    -moz-box-shadow: 0px 2px 3px #ccc;
    box-shadow: 0px 2px 3px #ccc;
    padding: 0px 6px;
    *padding: 0px 3px;
    min-width: 48px;
    *width: 60px;
    /*height: 37px;*/
    line-height:30px;
    color: #464646;
    z-index: 10;
    font-size: 12px;
}
.opr-btn .tips .sj{
    display: inline-block;
    _display: inline;
    zoom:1;
    background: url("../../images/jzt-boss/icon-sj.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: -7px;
    *bottom: -15px;
    left:50%;
    width: 10px;
    height: 7px;
    margin-left: -5px;
}
.formbg1 {
    background: #dddddd;
    padding: 10px 10px 10px 30px;
}
.box2{margin: 25px 50px;}
.tabs-1{
    background: #e6e6e6;
    border: 1px solid #acacac;
    -webkit-box-shadow: inset 0px 3px 3px #cfcfcf;
    -moz-box-shadow: inset 0px 3px 3px #cfcfcf;
    box-shadow: inset 0px 3px 3px #cfcfcf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 30px;
}
.tabs-1 li.cur{
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e6e6e6));
    background: -moz-linear-gradient(top,  #fdfdfd,  #e6e6e6);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e6e6e6');
}
.tabs-1 li{
    float: left;
    _display:inline;
    text-align: center;
    line-height: 30px;
    color: #464646;
    cursor: pointer;
    *width:88px;
    min-width:100px;

}
.tabcont dl{margin: 15px 15px;}
.tabcont dl dt,
.tabcont dl dd{line-height:25px;}
.tabcont dl dd{padding-left: 20px;}
.tabcont .btn{
    padding: 10px 0 0 30px;
}
.system_box1{
    width: 25%;
    margin-top: 10px;
}
.system_box2{
    width: 74%;
}
.system_box2 .head-title{margin: 15px 0; *margin: 15px 30px 15px 0;}
.system_box2 .head-title select{
    font-size: 12px;
    height: 28px;
}
.welcome{
    padding: 20px 0 0 40px;
    font-size: 16px;
    color: #5e605d;
    line-height: 30px;
    font-family: Microsoft YaHei;
}

/* popup */
.pop-position{
    position: absolute;
    left: 50%;
    top:100px;
    margin:0 0 0 -397px;
    width: 794px;
    padding-bottom: 20px;
    background: #fff;
    border: 3px solid #0188cc;
    z-index: 1000;
}
.pop-position .box{margin: 10px 30px;}
.pop-position .box .title1{border-bottom-width:2px; }
.pop-position .close{
    position: absolute;
    right: 0;
    top:0;
    background-position:-36px -64px;
    width: 25px;
    height: 22px;
    margin: 0;
}


/* title */
.title1{
    font-family: Microsoft YaHei;
    font-size: 22px;
    color: #202020;
    border-bottom: 1px solid #d0d0d0;
    line-height: 50px;
    padding-left: 6px;
}
.title1.wel{
    background-position: 0 -197px;
    padding-left: 40px;
    color: #5d5f5c;
}
.title1.wel span{font-size: 16px;}

/* form layout */
.form-1{margin:20px 0;}
.form-1.form-bk{margin: 40px 100px;}
.form-1 li{
    line-height: 30px;
    margin: 12px 0;
}
.form-1 li.mt25{margin-top: 25px;}
.form-1 li label,
.form-1 li p{
    display: inline-block;
    *display:inline;
    zoom:1;
    vertical-align: middle;
    font-size: 14px;
}
.form-1 li label{
    width: 130px;
    text-align: right;
    color: #474e5d;
}
.form-1 li p{
    color: #474e5d;
    padding-left: 10px;
    word-break: break-all;
    word-wrap:break-word;
}

.form-search li,
.form-search2 li{
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    color: #666;
    /*width: 900px;*/
}
.form-search2 li{width:auto;}
.form-search2{width:auto;}
.form-search{/*width: 835px;*/}
.form-search.ac-search{width: auto;}
.form-search li input[type=button],
.form-search2 li input[type=button]{text-align: center;}


/* form */
.form-2 li label{
    display: inline-block;
    *display:inline;
    zoom:1;
    width: 230px;
    vertical-align: middle;
    font-size: 14px;
    color: #434343;
    text-align: right;
}
.re-suc{
    padding: 20px;
    text-align: center;
    color: #484848;
    font-size: 14px;
}
.m-blank{padding:30px 0 0 50px;}
.form-2 li{
    padding: 10px 0;
    line-height: 26px;
}
.form-2 li.hr {
    border-bottom: 1px solid #999;
    margin: 10px 0 10px 50px;
    overflow: hidden;
    width: 700px;
}


.potation{
    position:absolute;
    left:780px;
    top:170px;
    padding:20px;
    border:1px solid #ccc;
    background:#f3f3f3;
    width:330px;
}
.potation h2{
    font-size:14px;
    color:#333;
    line-height:25px;
    color:green;
}
.potation p{
    font-size:12px;
    color:#666;
    line-height:25px;
    color:green;
}

.form-2 li span{
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: middle;
}
.form-2 li label{width: 140px; color: #333;}
.form-2 li.coption{padding-left: 145px; line-height: 25px;}
.form-2 .paption.mid{padding:5px 0 0 300px;}
.form-2 li.coption p{line-height: 26px;}
.form-2 .tj-btn{margin-left: 250px;}
.form-2 .tj-btn.mid{margin-left: 360px;}
.form-2 .paption{
    color: #999;
    padding: 5px 0 0 190px;
}
.form-2 .middle{margin-left: 80px;}
.form-2 .right{
    min-width: 18px;
    min-height: 18px;
    display: inline-block;
    *display: inline;
    zoom:1;
    background: url("../../images/jzt-user-center/right.png") no-repeat 0 1px;
    text-indent: 20px;
    vertical-align: middle;
}
.form-2 .img{
    display: block;
    border: 1px solid #d2d2d2;
    width: 250px;
    height: 150px;
    margin-bottom: 18px;
    overflow: hidden;
}
.form-2 .mid{padding:20px 0 0 310px;}
.form-2 input[type=button]{padding:8px 20px; font-size:14px;}
.col_blue{color: #0188cc;}
.btn-hui1{
    border: 1px solid #999;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background:#dedede;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dedede));
    background: -moz-linear-gradient(top,  #fff,  #dedede);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dedede');
    padding:0 15px;
    color: #666;
}
.btn-hui1:hover{
    color: #666;
    text-decoration: none;
}
.btn-hui1 .btn-none{
    position:absolute;
    top:0;
    right:0;
    height:26px;
    filter:alpha(opacity:0);
    opacity: 0;
    width:90px;
    cursor: pointer;
}
.btn-disable{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background:#bbbbbb;
    padding: 5px 15px;
    color: #fff;
}
.loading{
    position:absolute;
    top:50%;
    left:50%;
    width:30px;
    height:30px;
    margin:-15px 0 0 -15px;
    display: none;
}
.loading img{width: 30px; height: 30px;}

/* form */
.text,.selecte{
    border: 1px solid #ddd;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    background-color: #fff;
    -webkit-box-shadow: inset 1px 1px 3px #ccc;
       -moz-box-shadow: inset 1px 1px 3px #ccc;
            box-shadow: inset 1px 1px 3px #ccc;
    font-size: 100%;
    color: #474e5d;
    padding: 6px 0 6px 5px;
}
.textmini{padding: 3px; width: 40px;}
.selecte{
    padding: 5px 0 5px 5px;
}
.text-1{
    width: 218px;
}
.text-2{
    width: 178px;
}
.text-3{
    width: 165px;
    background-image: url("../../images/jzt-boss/datepiker.png");
    background-repeat: no-repeat;
    background-position: 140px 4px;
}
.text-4{
    width: 140px;
}
.textarea-1{
    width: 350px;
    height: 110px;
    resize:none;
    font-size: 12px;
}
.text-date{
    background: url("../../images/jzt-user-center/date.png") no-repeat scroll 88px center #fff;
    width: 106px;
}
select{vertical-align: middle;}
/* button */
.btn-blue,
.btn-style{
    color: #fff;
    border: solid 1px #0385bc;
    background: #007acb;
    background: -webkit-gradient(linear, left top, left bottom, from(#009ccb), to(#007acb));
    background: -moz-linear-gradient(top,  #009ccb,  #007acb);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ccb', endColorstr='#007acb');
    padding:5px 12px;
    -webkit-box-border-radius: 4px;
       -moz-box-border-radius: 4px;
                border-radius: 4px;
    -webkit-box-shadow: inset 0px 1px 1px #a5deef,1px 2px 3px #c9c9c9;
       -moz-box-shadow: inset 0px 1px 1px #a5deef,1px 2px 3px #c9c9c9;
            box-shadow: inset 0px 1px 1px #a5deef,1px 2px 3px #c9c9c9;
    font-size: 12px;
}
.btn-blue:hover {
    text-decoration: none;
}
.btn-hui,
.btn-hui2{
    color: #464646;
    border: solid 1px #bdbcbc;
    background: #c7c7c7;
    background: -webkit-gradient(linear, left top, left bottom, from(#e3e1e1), to(#c7c7c7));
    background: -moz-linear-gradient(top,  #e3e1e1,  #c7c7c7);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e1e1', endColorstr='#c7c7c7');
    padding:5px 12px;
    -webkit-box-border-radius: 4px;
    -moz-box-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 1px 1px #e3e2e2,1px 2px 3px #c9c9c9;
    -moz-box-shadow: inset 0px 1px 1px #e3e2e2,1px 2px 3px #c9c9c9;
    box-shadow: inset 0px 1px 1px #e3e2e2,1px 2px 3px #c9c9c9;
    font-size: 12px;
}
.btn-blue:hover {
    text-decoration: none;
}
.btn-add{
    display: inline-block;
    *display:inline;
    zoom:1;
    color: #464646;
    border: solid 1px #c2c2c2;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
    background: -moz-linear-gradient(top,  #eee,  #ddd);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd');
    padding:7px 10px;
    -webkit-box-border-radius: 4px;
    -moz-box-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
}
.btn-add a,.btn-add a:hover{
    display: inline-block;
    *display:inline;
    zoom:1;
    background-position: -9px -140px;
    color: #464646;
    padding-left: 15px;
    text-decoration: none;
}
.btn-hui2{
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
    background: -moz-linear-gradient(top,  #eeeeee,  #dddddd);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd');
}
/* pageFile */
.page-file{margin: 30px 0;}
.page-file a,
.page-file span{
    display: inline-block;
    _display:inline;
    _zoom:1;
    padding: 0 5px;
    font-size: 14px;
    color: #373737;
}
.page-file .fy{
    width: 30px;
    background-color: #fff;
}
.page-file .text{padding: 3px 5px;}
.page-file b,
.page-file a:hover{color: #0288cf;}
.page-file span.c_bbb{color: #bbb;}
.login-box .mima {
    position: absolute;
    left: 65px;
    top: 10px;
    font-size: 14px;
    color: #999;
}
/* ���� */
.popup-box,
.cancel-box,
.order-popup{
    display: none;
    background: #fff;
    border: 2px solid #666;
    z-index: 1000;
    overflow: hidden;
}
.order-popup.detail{
    width: 1100px;
    height: 590px;
    overflow-y: auto;
    margin: -295px 0 0 -550px;
}
.order-popup.tempHei{
    height: 330px;
    margin-top: -165px;
}
.order-popup.tempHei p{padding-top: 10px;}
.order-popup.detail .title1{margin: 0 25px;}
.order-popup.detail .sellDetail-box .title{margin: 10px 0;}
.cancel-box{
	position: fixed;
    left: 50%;
    top:50%;
    width: 890px;
    height: 530px;
    margin: -235px 0 0 -445px;
    border: 3px solid #0188cc;
}
.order-popup{
    position: fixed;
    left: 50%;
    top:50%;
    width: 890px;
    height: 470px;
    margin: -235px 0 0 -445px;
    border: 3px solid #0188cc;
}
.cancel-box .close,
.popup-box .close,
.order-popup .close{
    background:url("../../images/close.png") no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 3px;
    top:3px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1002;
}
.cancel-box .close,
.order-popup .close{
    background:url("../../images/close.gif") no-repeat;
    width: 25px;
    height: 22px;
    right: 0px;
    top:0;
}
.cancel-box .title,
.order-popup .title{
    color: #333;
    font-size: 24px;
    margin: 10px 40px;
    border-bottom: 2px solid #d6d6d6;
    font-family: "microsoft yahei";
    line-height: 50px;
}
.order-popup .proses{
    position: relative;
    background: url("../../images/jzt-boss/proses.png") no-repeat 0 0;
    width: auto;
    height: 125px;
    margin: 35px 40px 0;
}
.order-popup .proses span{
    position: absolute;
    left:0;
    top:0;
    background: url("../../images/jzt-boss/proses.png") no-repeat 0 -124px;
    width: 100%;
    height: 125px;
}
.order-popup .proses span.step1{width: 20%;}
.order-popup .proses span.step2{width: 48%;}
.order-popup .proses span.step3{width: 77%;}
.order-popup .proses span.step4{width: 100%;}
.order-popup .table{
    width: 810px;
    margin: 0 auto;
    border: 1px solid #e4e4e4;
}
.order-popup .table th{
    height: 36px;
    border-bottom: 1px solid #e4e4e4;
    background: #eee;
    text-align: center;
    color: #464646;
    font-weight: normal;
}
.order-popup .table td{padding-top: 22px; vertical-align: top; line-height: 22px;}
.order-popup .table td.intro{padding: 12px;}
.order-popup .table td.intro img{
    width: 95px;
    margin-right: 20px;
    float: left;
}
.order-popup .table td.intro h3{ line-height: 22px; padding-top: 10px;}
.order-popup .message{
    margin: 0 40px 15px;
    color: #464646;
}
.order-popup .pay-cash{
    margin: 20px 50px 0;
}
.order-popup .pay-cash strong{
    font-size: 16px;
    color: #ff0000;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom:1;
}

.popup-box .close:hover{background: url("../../images/close_hover.png") no-repeat;}

/* alert css */
#msgdiv{
    background: #fff;
    border: 2px solid #0188cc;
    font: 12px/1.6em verdana,geneva,arial,helvetica,sans-serif;
    top:50%;
    left:50px;
    margin:-75px 0 0 -125px;
    min-width: 260px;
    *width: 230px;
    padding:0 10px 10px;
    height: 120px;
    z-index: 10001;
}
#msgdiv h4{
    border-bottom: 1px solid #d0d0d0;
    color: #202020;
    font: 16px Microsoft YaHei;
    height: 18px;
    margin: 0 10px;
    padding: 5px 0 8px;
    position: relative;
}
#msgtxt{
    color: #474e5d;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    padding: 10px 0 15px;
}
#aClose{
    background: url("../../js/jquery-ui/images/close.gif") no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    top:0;
    overflow: hidden;
    cursor: pointer;
    z-index: 1002;
}
#msgdiv .btn-style,
#msgdiv .btn-hui{margin: 0 5px;}

/* 新增仓单 */
.upfile-zj{
    display: inline-block;
    *display: inline;
    zoom:1;
    background: url("../../images/jzt-boss/upfile-zj.png") no-repeat;
    width: 144px;
    height: 36px;
    cursor: pointer;
}
.upfile-zj input{
    opacity: 0;
    filter:alpha(opacity:0);
    width: 144px;
    height: 36px;
    cursor: pointer;
}

/* 挂牌祥情 */
.sellDetail-box{margin: 25px;}
.sellDetail-box .box-1{
    width: 35%;
}
.sellDetail-box .box-1 label,
.sellDetail-box .box-1 span,
.sellDetail-box .box-2 ul li,
.sellDetail-box .box-3 .former label{
    display: inline-block;
    *display: inline;
    zoom:1;
    line-height: 35px;
    vertical-align: top;
}
.sellDetail-box .box-1 label{
    width:130px;
    color: #464646;
    text-align: right;
    font-weight: bold;
}
.sellDetail-box .box-1 span{
    width: 210px;
}

.sellDetail-box .box-2{
    width: 65%;
}
.sellDetail-box .box-2 ul li{
    width: 188px;
    height: 225px;
    overflow: hidden;
    margin-left: 20px;
}
.sellDetail-box .box-2 ul li img{
    border: 1px solid #e3e3e3;
    padding: 5px;
    width: 176px;
}
.sellDetail-box .box-2 ul li p{
    text-align: center;
    line-height: 35px;
    color: #464646;
}
.sellDetail-box .box-3 .title{
    color: #464646;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    border-bottom: 1px solid #d6d6d6;
    text-indent: 5px;
}
.sellDetail-box .box-3 p{
    color: #464646;
    line-height: 30px;
    margin: 10px 0 35px;
}
.sellDetail-box .box-3 .former label{
    width: 140px;
    line-height: 32px;
}
.sellDetail-box .box-3 .former .text{
    width: 690px;
    height: 80px;
}
.sellDetail-box .box-3 .former div{margin-left: 145px;}

/* 申请退款 */
.refund-box{ margin: 10px 40px;}
.refund-box .box-1{
    width: 100%;
}
.refund-box .box-1 li{ margin-top:20px;}
.refund-box .box-1 label,
.refund-box .box-1 span,
{
    display: inline-block;
    *display: inline;
    zoom:1;
    line-height: 32px;
    vertical-align: top;
	 font-weight: bold;
}
.refund-box .box-1 label{
    width:25%;
    color: #464646;
    font-weight: bold;
}
.refund-box .box-1 p{
    color: #464646;
    line-height: 28px;
	display:block;
}
.refund-box .box-1 .describe{ margin-top:-24px; margin-left:65px;}
.refund-box .box-1 span{
    width: 75%;
}
.refund-box .box-2{
    width: 80%;
	margin-top:-40px;
	margin-left:46px; 
}
.refund-box .box-2 ul li{
    width: 188px;
    height: 225px;
    overflow: hidden;
    margin-left: 20px;
	float:left;
}
.refund-box .box-2 ul li img{
    border: 1px solid #e3e3e3;
    padding: 5px;
    width: 176px;
}
.refund-box .box-2 ul li p{
    text-align: center;
    line-height: 35px;
    color: #464646;
}

