<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
		
	<!-- 扫描包annotated bean -->
	<context:component-scan base-package="com.jointown.zy.common" />
	<!-- 配置 文件上传的支持 -->  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="1024000000"/>  
        <property name="resolveLazily" value="true"/>  
        <property name="maxInMemorySize" value="4096"/>  
    </bean>  
    
	<!-- 下面的变量从配置文件里面拿出来,子系统可以覆盖公共的 -->
	<bean id="scPropertyPlaceholderConfigurer"   
        class="com.jointown.zy.common.config.JointownPropertyPlaceholderConfigurer">
	    <property name="locations">
	        <list>
	            <value>classpath:com/jointown/zy/common/properties/**/*.properties</value>
	            <value>classpath:com/jointown/zy/boss/properties/**/*.properties</value>
	        </list>
	    </property>
	</bean> 
	
	<!-- 此处引入 common项目下所有的spring配置文件管理器 -->
	<import resource="classpath*:com/jointown/zy/common/spring/spring-contextmanager.xml"  />

</beans>