<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">
	<display-name>jointown</display-name>

	<welcome-file-list>
		<welcome-file></welcome-file>
	</welcome-file-list>


	<filter>
		<filter-name>Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:com/jointown/zy/boss/spring/spring.xml
		</param-value>
	</context-param>

	
	<context-param>
		<param-name>logbackConfigLocation</param-name>
		<param-value>com/jointown/zy/boss/logback.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>com.jointown.zy.common.listener.JointownContextListener</listener-class>
	</listener>


	<servlet>
		<servlet-name>wms-api</servlet-name>
		<servlet-class>com.jointown.zy.common.servlet.JztDispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:com/jointown/zy/boss/spring/spring-servlet.xml
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>wms-api</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>



	<filter>
		<filter-name>xssFilter</filter-name>
		<filter-class>com.jointown.zy.web.filter.XSSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>xssFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


</web-app>
