<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
	    <syslogHost>10.3.1.161</syslogHost>
	    <port>514</port>
	    <suffixPattern>A</suffixPattern>
	    <facility>LOCAL7</facility>
	    <suffixPattern>%date ${MODULE} job.log [%thread] %logger{0}\(%L\) %p %msg</suffixPattern>
	</appender>
	
    <logger name="com.john.logging.b" level="INFO">
        <appender-ref ref="SYSLOG" />
    </logger>
    
    <root level="DEBUG">
        <appender-ref ref="SYSLOG" />
    </root>
</configuration>
