<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">


 <!-- 定义boss子系统的realm配置 -->
 <bean id="bossRealm" class="com.jointown.zy.web.shiro.BossRealm2">
     <property name="cachingEnabled" value="true"/>
     <property name="authenticationCachingEnabled" value="true"/>
     <property name="authenticationCacheName" value="${jointown.shiro.realm.cache.name.authentication}"/>
     <property name="authorizationCachingEnabled" value="true"/>
     <property name="authorizationCacheName" value="${jointown.shiro.realm.cache.name.authorization}"/>
     <property name="credentialsMatcher" ref="${jointown.shiro.credentialsmatcher}"/>
 </bean>
    
 <bean id="bossAuthorizationFilter" class="com.jointown.zy.web.shiro.BossAuthorizationFilter2" /> 
    
</beans>