<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.BossRoleDao" >
  <resultMap id="BossRole" type="com.jointown.zy.common.model.BossRole" >
    <id column="Role_ID" property="roleId" jdbcType="INTEGER" />
    <result column="Role_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
    <!-- 根据参数page查询所有角色 --> 
   <select id="findBossRolesByPage" parameterType="com.jointown.zy.common.model.Page" resultMap="BossRole"  >
    	select * from boss.boss_role where status = 0
    	 <if test="params.roleName != null  and params.roleName != ''" >
	        and Role_NAME like '%'||#{params.roleName,jdbcType=VARCHAR}||'%'
	      </if>
        order by update_time desc
   </select>
   
   
    <!-- 根据参数查询所有角色 --> 
   <select id="findBossRoles" parameterType="com.jointown.zy.common.vo.BossRoleVO" resultMap="BossRole"  >
    	select * from boss.boss_role where status = 0
    	 <if test="roleName != null  and roleName != ''" >
	        and Role_NAME like '%'||#{roleName,jdbcType=VARCHAR}||'%'
	      </if>
        order by update_time desc
   </select>
   
    <!-- 无参数查询所有角色 --> 
   <select id="findBossRoles1" resultMap="BossRole"  >
    	select * from boss.boss_role where status = 0
		order by update_time desc
   </select>
   
  <!-- 通过主键找角色 --> 
   <select id="findBossRoleByid"  resultMap="BossRole">
        select * from boss.boss_role where status = 0 and  role_id=#{id}
   </select>
   
   <!-- 通过用户名找角色 --> 
   <select id="findBossRoleByUserCode"  parameterType="string"  resultMap="BossRole">
       select * from boss_user_role_v where  user_code=#{usercode}  
   </select>
    
    
     <!-- 通过角色名找角色 --> 
   <select id="findBossRoleByRoleName"  parameterType="string"  resultMap="BossRole">
       select * from boss.boss_role where  role_name=#{rolename} and status=0 
   </select>
   
    <!-- 通过ID找角色 --> 
   <select id="findBossRoleByRoleId"  parameterType="string"  resultMap="BossRole">
       select * from boss.boss_role where  role_id=#{roleId}  
   </select>
   
  <insert id="addBossRole" parameterType="com.jointown.zy.common.model.BossRole" >
    insert into boss.boss_role (Role_ID, Role_NAME, "STATUS", 
      CREATE_TIME, UPDATE_TIME
      )
    values (boss.seq_boss_role.nextval,
			#{roleName,jdbcType=VARCHAR}, 
      		#{status,jdbcType=INTEGER}, 
      		#{createTime,jdbcType=TIMESTAMP}, 
      		#{updateTime,jdbcType=TIMESTAMP})
  </insert>
  
   <update id="UpdateBossRoleByName" parameterType="com.jointown.zy.common.model.BossRole">
        update boss.boss_role set
        "STATUS" = #{status},
        UPDATE_TIME = #{updateTime} 
        WHERE Role_NAME = #{roleName}
  </update>
  
   <update id="UpdateBossRole" parameterType="com.jointown.zy.common.model.BossRole">
        update boss.boss_role set
        Role_NAME = #{roleName},
        UPDATE_TIME = #{updateTime} 
        WHERE ROLE_ID=#{roleId}
  </update>
  
  <update id="deleteBossRoleById" parameterType="com.jointown.zy.common.model.BossRole">
        update  boss.boss_role set
        status = 1,
        UPDATE_TIME = #{updateTime} 
       	WHERE ROLE_ID=#{roleId}
  </update>
</mapper>