<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.BusiListingDetailDao" >
  <resultMap id="BaseResultMap" type="com.jointown.zy.common.model.BusiListingDetail" >
    <result column="DETAILID" property="detailid" jdbcType="DECIMAL" />
    <result column="LISTINGID" property="listingid" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jointown.zy.common.model.BusiListingDetail" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="CLOB" />
  </resultMap>
  
  <resultMap id="listingRM" type="com.jointown.zy.common.vo.BusiListingDetailVo">
    <id column="WLID" property="wlid" jdbcType="VARCHAR" />
    <id column="LISTINGID" property="listingid" jdbcType="VARCHAR" />
    <result column="USERID" property="userid" jdbcType="NUMERIC" />
    <result column="WLSURPLUS" property="wlsurplus" jdbcType="NUMERIC" />
    <result column="DICT_VALUE" property="dictvalue" jdbcType="VARCHAR" />
    <result column="WLTOTAL" property="wltotal" jdbcType="NUMERIC" />
    <result column="PACKINGWAY" property="packingway" jdbcType="VARCHAR" />
    <result column="LISTINGID" property="listingid" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="LISTINGAMOUNT" property="listingamount" jdbcType="NUMERIC" />
    <result column="LOWUNITPRICE" property="lowunitprice" jdbcType="NUMERIC" />
    <result column="MINSALES" property="minsales" jdbcType="NUMERIC" />
    <result column="LISTINGTIMELIMIT" property="listingtimelimit" jdbcType="NUMERIC" />
    <result column="HASBILL" property="hasbill" jdbcType="NUMERIC" />
    <result column="BILLPRICE" property="billprice" jdbcType="NUMERIC" />
    <!-- 2015-1-6 add by Mr.song start-->
    <result column="EXPIRETIME" property="expiretime" jdbcType="TIMESTAMP" />
    <result column="SYSDATE" property="sysdate" jdbcType="TIMESTAMP" />
    <!-- 2015-1-6 add by Mr.song end-->
    <result column="CONTENT" property="content" jdbcType="CLOB" />
     <!--  2015-11-18 add by shangcuijuan 挂牌品种 breed_name -->
    <result column="BREED_NAME" property="breedname" jdbcType="VARCHAR" />
	<!--一对一association ( 多对一collection ) 目标对象的属性property --> 
    <collection property= "piclist" select = "com.jointown.zy.common.dao.BusiQualityPicDao.selectAllPicByWLID" column= "wlId"   javaType="ArrayList" ofType = "BusiQualityPic"/>
  
  </resultMap>
  
  <sql id="Base_Column_List" >
    DETAILID, LISTINGID, CREATETIME, UPDATETIME,CONTENT
  </sql>
  
  <select id="selectByListId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ZYC.BUSI_LISTING_DETAIL
    where LISTINGID = #{listingid,jdbcType=VARCHAR}
  </select>
  
  <update id="updateByListId" parameterType="hashmap" >
    update ZYC.BUSI_LISTING_DETAIL set CONTENT = #{content,jdbcType=CLOB},UPDATETIME=sysdate where LISTINGID = #{listingid,jdbcType=VARCHAR}
  </update>
  
  <insert id="insertListingDetail" parameterType="com.jointown.zy.common.model.BusiListingDetail" >
    insert into 
    ZYC.BUSI_LISTING_DETAIL 
    (
	    DETAILID, 
	    LISTINGID, 
	    CREATETIME,
	    UPDATETIME, 
	    CONTENT
    )
    values 
    (
	    ZYC.SEQ_BUSI_LISTING_DETAIL.nextval, 
	    #{listingid,jdbcType=VARCHAR}, 
	    sysdate, 
	    sysdate, 
	    #{content,jdbcType=CLOB}
     )
  </insert>
  <insert id="insertSelective" parameterType="com.jointown.zy.common.model.BusiListingDetail" >
    insert into ZYC.BUSI_LISTING_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      DETAILID,
      LISTINGID,
      CREATETIME,
      UPDATETIME,
      CONTENT,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      ZYC.SEQ_BUSI_LISTING_DETAIL.nextval,
      #{listingid,jdbcType=VARCHAR},
      sysdate,
      sysdate,
      #{content,jdbcType=CLOB},
    </trim>
  </insert>
  <!--查询单个挂牌详情-->
  <select id="selectSingleListingDetail" resultMap="listingRM" parameterType="java.lang.String" >
	select 
	l.LISTINGID,
	l.LISTINGFLAG,
	l.WLID,
	w.USERID,
	w.WLSURPLUS,
	d.DICT_VALUE,
	w.WLTOTAL,
	(l.EXAMINETIME+l.LISTINGTIMELIMIT) as expiretime,
	SYSDATE,
 	w.PACKINGWAY,
 	l.LISTINGID,
 	l.TITLE,
 	l.LISTINGAMOUNT,
 	l.LOWUNITPRICE,
 	l.MINSALES,
 	l.LISTINGTIMELIMIT,
 	l.HASBILL,
 	l.BILLPRICE,
 	ld.CONTENT,
 	b.breed_name         <!--2015-11-18 add by shangcuijuan  挂牌品种   -->
  	FROM 
  	(select LISTINGFLAG,EXAMINETIME,WLID,LISTINGID,TITLE,LISTINGAMOUNT,LOWUNITPRICE,MINSALES,LISTINGTIMELIMIT,HASBILL,BILLPRICE,BREEDID from ZYC.BUSI_LISTING  where  LISTINGID = #{listingid,jdbcType=VARCHAR}) l 
	left join 
	ZYC.BUSI_LISTING_DETAIL ld  on l.listingid = ld.listingid 
	left join  ZYC.BUSI_WHLIST w on l.wlid = w.wlid 
	left join BOSS.DICT_INFO d on w.WLUNIT = d.DICT_CODE
	left join BOSS.BREED b on l.breedid = b.breed_id
  </select>

  <!-- 更具仓单id查询出卖家的信息 -->
  <select id="selectSellInfoByWlid" resultType="map" parameterType="java.lang.String" >
  	select b.user_name as sellName ,b.mobile as sellPhone 
  		from boss.uc_user b
 	where b.user_id = (select distinct a.userid
                      from zyc.busi_whlist a
      where a.wlid = #{wlid,jdbcType=VARCHAR})
  </select>
  
  
</mapper>