<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.BusiQualityInfoNewDao" >
  <resultMap id="BaseResultMap" type="com.jointown.zy.common.model.BusiQualityInfoNew" >
    <id column="QUALITY_INFO_ID" property="qualityInfoId" jdbcType="DECIMAL" />
    <result column="WLID" property="wlid" jdbcType="VARCHAR" />
    <result column="QUALITY_TIME" property="qualityTime" jdbcType="TIMESTAMP" />
    <result column="QUALITY_PERSON" property="qualityPerson" jdbcType="VARCHAR" />
    <result column="GRADE" property="grade" jdbcType="VARCHAR" />
    <result column="CHECK_NUMBER" property="checkNumber" jdbcType="VARCHAR" />
    <result column="REPORT_DATE" property="reportDate" jdbcType="TIMESTAMP" />
    <result column="LEVEL_EVA" property="levelEva" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <!-- add by fanyuna 增加QA质检描述字段 -->
    <result column="QA_DESC" property="qaDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    QUALITY_INFO_ID, WLID, QUALITY_TIME, QUALITY_PERSON, GRADE, CHECK_NUMBER, REPORT_DATE, 
    LEVEL_EVA, CREATE_TIME, UPDATE_TIME,QA_DESC
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ZYC.BUSI_QUALITY_INFO
    where QUALITY_INFO_ID = #{qualityInfoId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ZYC.BUSI_QUALITY_INFO
    where QUALITY_INFO_ID = #{qualityInfoId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.jointown.zy.common.model.BusiQualityInfoNew" >
    <selectKey resultType="java.lang.Long" keyProperty="qualityInfoId" order="BEFORE">
   	select zyc.SEQ_BUSI_QUALITY_INFO.nextVal as QUALITY_INFO_ID
   		from dual
  	</selectKey>
    insert into ZYC.BUSI_QUALITY_INFO (QUALITY_INFO_ID, WLID, QUALITY_TIME, 
      QUALITY_PERSON, GRADE, CHECK_NUMBER, 
      REPORT_DATE, LEVEL_EVA, CREATE_TIME, 
      UPDATE_TIME,QA_DESC)
    values (#{qualityInfoId,jdbcType=DECIMAL}, #{wlid,jdbcType=VARCHAR}, #{qualityTime,jdbcType=TIMESTAMP}, 
      #{qualityPerson,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, #{checkNumber,jdbcType=VARCHAR}, 
      #{reportDate,jdbcType=TIMESTAMP}, #{levelEva,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{qaDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jointown.zy.common.model.BusiQualityInfoNew" >
    insert into ZYC.BUSI_QUALITY_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      QUALITY_INFO_ID,
      WLID,
      QUALITY_TIME,
      QUALITY_PERSON,
      GRADE,
      CHECK_NUMBER,
      REPORT_DATE,
      LEVEL_EVA,
      CREATE_TIME,
      UPDATE_TIME,
      QA_DESC,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{qualityInfoId,jdbcType=DECIMAL},
      #{wlid,jdbcType=VARCHAR},
      #{qualityTime,jdbcType=TIMESTAMP},
      #{qualityPerson,jdbcType=VARCHAR},
      #{grade,jdbcType=VARCHAR},
      #{checkNumber,jdbcType=VARCHAR},
      #{reportDate,jdbcType=TIMESTAMP},
      #{levelEva,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},
      #{qaDesc,jdbcType=VARCHAR},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jointown.zy.common.model.BusiQualityInfoNew" >
    update ZYC.BUSI_QUALITY_INFO
    <set >
      <if test="wlid != null" >
        WLID = #{wlid,jdbcType=VARCHAR},
      </if>
      <if test="qualityTime != null" >
        QUALITY_TIME = #{qualityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qualityPerson != null" >
        QUALITY_PERSON = #{qualityPerson,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        GRADE = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="checkNumber != null" >
        CHECK_NUMBER = #{checkNumber,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        REPORT_DATE = #{reportDate,jdbcType=TIMESTAMP},
      </if>
      <if test="levelEva != null" >
        LEVEL_EVA = #{levelEva,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="qaDesc != null" >
        QA_DESC = #{qaDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where QUALITY_INFO_ID = #{qualityInfoId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jointown.zy.common.model.BusiQualityInfoNew" >
    update ZYC.BUSI_QUALITY_INFO
    set WLID = #{wlid,jdbcType=VARCHAR},
      QUALITY_TIME = #{qualityTime,jdbcType=TIMESTAMP},
      QUALITY_PERSON = #{qualityPerson,jdbcType=VARCHAR},
      GRADE = #{grade,jdbcType=VARCHAR},
      CHECK_NUMBER = #{checkNumber,jdbcType=VARCHAR},
      REPORT_DATE = #{reportDate,jdbcType=TIMESTAMP},
      LEVEL_EVA = #{levelEva,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      QA_DESC = #{qaDesc,jdbcType=VARCHAR}
    where QUALITY_INFO_ID = #{qualityInfoId,jdbcType=DECIMAL}
  </update>
  <select id="selectQualityByWlId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ZYC.BUSI_QUALITY_INFO
    where WLID = #{wlId,jdbcType=VARCHAR}
  </select>
</mapper>