<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.BusiOrderLogDao" >
  <resultMap id="BaseResultMap" type="com.jointown.zy.common.model.BusiOrderLog" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="USERID" property="userid" jdbcType="DECIMAL" />
    <result column="BUYER" property="buyer" jdbcType="DECIMAL" />
   <!--  <result column="IP" property="ip" jdbcType="VARCHAR" /> -->
    <result column="ORDERID" property="orderid" jdbcType="VARCHAR" />
    <result column="WLID" property="wlid" jdbcType="VARCHAR" />
    <result column="LISTINGID" property="listingid" jdbcType="VARCHAR" />
    <result column="ORDER_SNAPSHOT" property="orderSnapshot" jdbcType="VARCHAR" />
    <result column="OPTYPE" property="optype" jdbcType="DECIMAL" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
    <!-- <result column="OPAMOUNT" property="opamount" jdbcType="DECIMAL" />
    <result column="TOTALPRICE" property="totalprice" jdbcType="DECIMAL" /> -->
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jointown.zy.common.model.BusiOrderLog" extends="BaseResultMap" >
    <result column="REMARKS" property="remarks" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USERID, BUYER, ORDERID, WLID, LISTINGID, OPTYPE, CREATETIME, UPDATETIME, ORDER_SNAPSHOT
  </sql>
  <sql id="Blob_Column_List" >
    REMARKS
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ZYC.BUSI_ORDER_LOG
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ZYC.BUSI_ORDER_LOG
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insertBusiOrderLog" parameterType="com.jointown.zy.common.model.BusiOrderLog" >
    insert into ZYC.BUSI_ORDER_LOG (
	  ID, 
	  USERID, 
	  BUYER, 
      ORDERID, 
      WLID, 
      LISTINGID, 
      OPTYPE, 
      CREATETIME, 
      UPDATETIME, 
      REMARKS,
      ORDER_SNAPSHOT,
      OPERATOR)
    values (
      ZYC.SEQ_BUSI_ORDER_LOG.nextval, 
      #{userid,jdbcType=DECIMAL}, 
      #{buyer,jdbcType=DECIMAL}, 
      #{orderid,jdbcType=VARCHAR}, 
      #{wlid,jdbcType=VARCHAR}, 
      #{listingid,jdbcType=VARCHAR}, 
      #{optype,jdbcType=DECIMAL}, 
      #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, 
      #{remarks,jdbcType=CLOB},
      #{orderSnapshot,jdbcType=VARCHAR},
      #{operator,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.jointown.zy.common.model.BusiOrderLog" >
    insert into ZYC.BUSI_ORDER_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      USERID,
      BUYER,
      ORDERID,
      WLID,
      LISTINGID,
      OPTYPE,
      CREATETIME,
      UPDATETIME,
      REMARKS,
      ORDER_SNAPSHOT,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      ZYC.SEQ_BUSI_ORDER_LOG.nextval,
      #{userid,jdbcType=DECIMAL},
      #{buyer,jdbcType=DECIMAL},
      #{orderid,jdbcType=VARCHAR},
      #{wlid,jdbcType=VARCHAR},
      #{listingid,jdbcType=VARCHAR},
      #{optype,jdbcType=DECIMAL},
      #{createtime,jdbcType=TIMESTAMP},
      #{updatetime,jdbcType=TIMESTAMP},
      #{remarks,jdbcType=CLOB},
      #{orderSnapshot,jdbcType=VARCHAR}
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jointown.zy.common.model.BusiOrderLog" >
    update ZYC.BUSI_ORDER_LOG
    <set >
      <if test="userid != null" >
        USERID = #{userid,jdbcType=DECIMAL},
      </if>
      <if test="buyer != null" >
        BUYER = #{buyer,jdbcType=DECIMAL},
      </if>
      <if test="orderid != null" >
        ORDERID = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="wlid != null" >
        WLID = #{wlid,jdbcType=VARCHAR},
      </if>
      <if test="listingid != null" >
        LISTINGID = #{listingid,jdbcType=VARCHAR},
      </if>
      <if test="optype != null" >
        OPTYPE = #{optype,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=CLOB},
      </if>
      <if test="orderSnapshot != null" >
        ORDER_SNAPSHOT = #{orderSnapshot,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jointown.zy.common.model.BusiOrderLog" >
    update ZYC.BUSI_ORDER_LOG
    set USERID = #{userid,jdbcType=DECIMAL},
      BUYER = #{buyer,jdbcType=DECIMAL},
      ORDERID = #{orderid,jdbcType=VARCHAR},
      WLID = #{wlid,jdbcType=VARCHAR},
      LISTINGID = #{listingid,jdbcType=VARCHAR},
      OPTYPE = #{optype,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      ORDER_SNAPSHOT = #{orderSnapshot,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=CLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jointown.zy.common.model.BusiOrderLog" >
    update ZYC.BUSI_ORDER_LOG
    set USERID = #{userid,jdbcType=DECIMAL},
      BUYER = #{buyer,jdbcType=DECIMAL},
      ORDERID = #{orderid,jdbcType=VARCHAR},
      WLID = #{wlid,jdbcType=VARCHAR},
      LISTINGID = #{listingid,jdbcType=VARCHAR},
      OPTYPE = #{optype,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      ORDER_SNAPSHOT = #{orderSnapshot,jdbcType=VARCHAR},
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectOrderLogList" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
  	select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ZYC.BUSI_ORDER_LOG
    where ORDERID = #{orderId}
    order by CREATETIME ${sortFlg}
  </select>
</mapper>