<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.BusiQualityInfoDao" >
  <resultMap id="BaseResultMap" type="com.jointown.zy.common.model.BusiQualityinfo" >
    <id column="QUALITYINFOID" property="qualityinfoid" jdbcType="NUMERIC" />
    <result column="WLID" property="wlid" jdbcType="VARCHAR" />
    <result column="MAINPARACTER" property="mainparacter" jdbcType="VARCHAR" />
    <result column="GRADE" property="grade" jdbcType="VARCHAR" />
    <result column="DETAILED" property="detailed" jdbcType="VARCHAR" />
    <result column="WATER" property="water" jdbcType="VARCHAR" />
    <result column="NUMBEROFJC" property="numberofjc" jdbcType="VARCHAR" />
    <result column="ASH" property="ash" jdbcType="VARCHAR" />
    <result column="ACCEPTCHECKTIME" property="acceptchecktime" jdbcType="TIMESTAMP" />
    <result column="SULFURDIOXIDEIN" property="sulfurdioxidein" jdbcType="VARCHAR" />
    <result column="REPORTDATE" property="reportdate" jdbcType="TIMESTAMP" />
    <result column="CONTENTCHECK" property="contentcheck" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    QUALITYINFOID, WLID, MAINPARACTER, GRADE, DETAILED, WATER, NUMBEROFJC, ASH, ACCEPTCHECKTIME, 
    SULFURDIOXIDEIN, REPORTDATE, CONTENTCHECK, CREATETIME, UPDATETIME
  </sql>
  
  <!--根据仓单ID查询质检信息-->
   <select id="selectByWLID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ZYC.BUSI_QUALITYINFO
    where WLID = #{wlid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ZYC.BUSI_QUALITYINFO
    where QUALITYINFOID = #{qualityinfoid,jdbcType=DECIMAL}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ZYC.BUSI_QUALITYINFO
    where QUALITYINFOID = #{qualityinfoid,jdbcType=DECIMAL}
  </delete>
  <insert id="insertBusiQualityinfo" parameterType="com.jointown.zy.common.model.BusiQualityinfo" >
    insert into ZYC.BUSI_QUALITYINFO (QUALITYINFOID, WLID, MAINPARACTER, 
      GRADE, DETAILED, WATER, 
      NUMBEROFJC, ASH, ACCEPTCHECKTIME, 
      SULFURDIOXIDEIN, REPORTDATE, CONTENTCHECK, 
      CREATETIME, UPDATETIME)
    values (ZYC.SEQ_BUSI_QUALITYINFO.nextval, #{wlid,jdbcType=VARCHAR}, #{mainparacter,jdbcType=VARCHAR}, 
      #{grade,jdbcType=VARCHAR}, #{detailed,jdbcType=VARCHAR}, #{water,jdbcType=VARCHAR}, 
      #{numberofjc,jdbcType=VARCHAR}, #{ash,jdbcType=VARCHAR}, #{acceptchecktime,jdbcType=TIMESTAMP}, 
      #{sulfurdioxidein,jdbcType=VARCHAR}, #{reportdate,jdbcType=TIMESTAMP}, #{contentcheck,jdbcType=VARCHAR}, 
      sysdate, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelectiveBusiQualityinfo" parameterType="com.jointown.zy.common.model.BusiQualityinfo" >
    insert into ZYC.BUSI_QUALITYINFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      QUALITYINFOID,
      WLID,
      MAINPARACTER,
      GRADE,
      DETAILED,
      WATER,
      NUMBEROFJC,
      ASH,
      ACCEPTCHECKTIME,
      SULFURDIOXIDEIN,
      REPORTDATE,
      CONTENTCHECK,
      CREATETIME,
      UPDATETIME,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      ZYC.SEQ_BUSI_QUALITYINFO.nextval,
      #{wlid,jdbcType=VARCHAR},
      #{mainparacter,jdbcType=VARCHAR},
      #{grade,jdbcType=VARCHAR},
      #{detailed,jdbcType=VARCHAR},
      #{water,jdbcType=VARCHAR},
      #{numberofjc,jdbcType=VARCHAR},
      #{ash,jdbcType=VARCHAR},
      #{acceptchecktime,jdbcType=TIMESTAMP},
      #{sulfurdioxidein,jdbcType=VARCHAR},
      #{reportdate,jdbcType=TIMESTAMP},
      #{contentcheck,jdbcType=VARCHAR},
      sysdate,
      #{updatetime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jointown.zy.common.model.BusiQualityinfo" >
    update ZYC.BUSI_QUALITYINFO
    <set >
      <if test="wlid != null" >
        WLID = #{wlid,jdbcType=VARCHAR},
      </if>
      <if test="mainparacter != null" >
        MAINPARACTER = #{mainparacter,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        GRADE = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="detailed != null" >
        DETAILED = #{detailed,jdbcType=VARCHAR},
      </if>
      <if test="water != null" >
        WATER = #{water,jdbcType=VARCHAR},
      </if>
      <if test="numberofjc != null" >
        NUMBEROFJC = #{numberofjc,jdbcType=VARCHAR},
      </if>
      <if test="ash != null" >
        ASH = #{ash,jdbcType=VARCHAR},
      </if>
      <if test="acceptchecktime != null" >
        ACCEPTCHECKTIME = #{acceptchecktime,jdbcType=TIMESTAMP},
      </if>
      <if test="sulfurdioxidein != null" >
        SULFURDIOXIDEIN = #{sulfurdioxidein,jdbcType=VARCHAR},
      </if>
      <if test="reportdate != null" >
        REPORTDATE = #{reportdate,jdbcType=TIMESTAMP},
      </if>
      <if test="contentcheck != null" >
        CONTENTCHECK = #{contentcheck,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = sysdate
      </if>
    </set>
    where QUALITYINFOID = #{qualityinfoid,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jointown.zy.common.model.BusiQualityinfo" >
    update ZYC.BUSI_QUALITYINFO
    set WLID = #{wlid,jdbcType=VARCHAR},
      MAINPARACTER = #{mainparacter,jdbcType=VARCHAR},
      GRADE = #{grade,jdbcType=VARCHAR},
      DETAILED = #{detailed,jdbcType=VARCHAR},
      WATER = #{water,jdbcType=VARCHAR},
      NUMBEROFJC = #{numberofjc,jdbcType=VARCHAR},
      ASH = #{ash,jdbcType=VARCHAR},
      ACCEPTCHECKTIME = #{acceptchecktime,jdbcType=TIMESTAMP},
      SULFURDIOXIDEIN = #{sulfurdioxidein,jdbcType=VARCHAR},
      REPORTDATE = #{reportdate,jdbcType=TIMESTAMP},
      CONTENTCHECK = #{contentcheck,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = sysdate
    where QUALITYINFOID = #{qualityinfoid,jdbcType=DECIMAL}
  </update>
  
    <update id="updateByWLIDSelective" parameterType="com.jointown.zy.common.model.BusiQualityinfo" >
    update ZYC.BUSI_QUALITYINFO
    <set >
      <if test="mainparacter != null" >
        MAINPARACTER = #{mainparacter,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        GRADE = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="detailed != null" >
        DETAILED = #{detailed,jdbcType=VARCHAR},
      </if>
      <if test="water != null" >
        WATER = #{water,jdbcType=VARCHAR},
      </if>
      <if test="numberofjc != null" >
        NUMBEROFJC = #{numberofjc,jdbcType=VARCHAR},
      </if>
      <if test="ash != null" >
        ASH = #{ash,jdbcType=VARCHAR},
      </if>
      <if test="acceptchecktime != null" >
        ACCEPTCHECKTIME = #{acceptchecktime,jdbcType=TIMESTAMP},
      </if>
      <if test="sulfurdioxidein != null" >
        SULFURDIOXIDEIN = #{sulfurdioxidein,jdbcType=VARCHAR},
      </if>
      <if test="reportdate != null" >
        REPORTDATE = #{reportdate,jdbcType=TIMESTAMP},
      </if>
      <if test="contentcheck != null" >
        CONTENTCHECK = #{contentcheck,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = sysdate
      </if>
    </set>
    where WLID = #{wlid,jdbcType=VARCHAR}
  </update>
</mapper>