<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.BusiCollectionDao" >
	<sql id="BaseSql">
		CINDEX,
		USERID,
		WLID,
		LISTINGID,
		CSTATE,
		CREATETIME,
		UPDATETIME,
		BREEDCODE
	</sql>
	
	<resultMap id="BaseResultMap" type="com.jointown.zy.common.model.BusiCollection" >
	    <id column="CINDEX" property="cindex" jdbcType="DECIMAL" />
	    <result column="USERID" property="userid" jdbcType="DECIMAL" />
	    <result column="WLID" property="wlid" jdbcType="VARCHAR" />
	    <result column="BREEDCODE" property="breedcode" jdbcType="DECIMAL" />
	    <result column="LISTINGID" property="listingid" jdbcType="VARCHAR" />
	    <result column="CSTATE" property="cstate" jdbcType="DECIMAL" />
	    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
	    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
    </resultMap>
    <!--我的收藏列表VO-->
    <resultMap id="CollectionMap" type="com.jointown.zy.common.vo.BusiCollectionVo" >
	    <result column="CINDEX" property="cindex" jdbcType="DECIMAL" />
	    <result column="WLID" property="wlid" jdbcType="VARCHAR" />
	    <result column="LISTINGID" property="listingid" jdbcType="VARCHAR" />
	    <result column="CSTATE" property="cstate" jdbcType="DECIMAL" />
	    <result column="ORIGIN" property="origin" jdbcType="VARCHAR" />
	    <result column="GRADE" property="grade" jdbcType="VARCHAR" />
	    <result column="PATH" property="path" jdbcType="VARCHAR" />
	    <result column="TITLE" property="title" jdbcType="VARCHAR" />
	    <result column="MINSALES" property="minsales" jdbcType="DECIMAL" />
	    <result column="HASBILL" property="hasbill" jdbcType="DECIMAL" />
	    <result column="LISTINGAMOUNT" property="listingamount" jdbcType="DECIMAL" />
	    <result column="LOWUNITPRICE" property="lowunitprice" jdbcType="DECIMAL" />
	    <result column="LISTINGFLAG" property="listingflag" jdbcType="DECIMAL" />
	    <result column="SURPLUS" property="surplus" jdbcType="DECIMAL" />
	    <!-- 交易笔数 -->
	    <result column="TRADENUM" property="tradeNum" jdbcType="DECIMAL" />
	    <!-- 挂牌创建时间 -->
	    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
	    <result column="DICT_VALUE" property="unit" jdbcType="VARCHAR" />
	    
    </resultMap>
    
    <!-- 插入收藏记录 -->
    <insert id="insertCollectionInfo" parameterType="com.jointown.zy.common.model.BusiCollection">
    	<selectKey keyProperty="cindex" resultType="Long" order="BEFORE">
    		select zyc.SEQ_BUSI_COLLECTION.nextval as CINDEX from dual
    	</selectKey>
    	insert into
    		zyc.BUSI_COLLECTION (<include refid="BaseSql"/>) 
    	values(
    		#{cindex},
    		#{userid},
    		#{wlid},
    		#{listingid},
    		#{cstate},
    		sysdate,
    		sysdate,
    		#{breedcode,jdbcType=DECIMAL}
    	)
    </insert>
    
    <!-- 根据收藏者ID查询收藏列表  update by fanyuna增加 and CSTATE=0-->
    <select id="selectCollentionsByUserId" parameterType="com.jointown.zy.common.model.Page" resultMap="CollectionMap">
		select * from
		(select 
    	t.cindex,
    	t.wlid,
    	t.listingid,
    	t.cstate,
    	t.BREEDCODE,
    	wh.origin,
    	qi.grade,
    	qp.path,
    	l.title,
    	l.minsales,
    	l.hasbill,
    	l.listingamount,
		l.lowunitprice ,
		l.listingflag,
        (select (l.LISTINGAMOUNT - nvl(sum(AMOUNT),0)) from ZYC.BUSI_ORDER where LISTINGID = l.LISTINGID and ORDERSTATE <![CDATA[<>]]> 2) as surplus,
		d.DICT_VALUE,
        (select count(*) from ZYC.BUSI_ORDER where LISTINGID = l.LISTINGID and ORDERSTATE <![CDATA[<>]]> 2) as tradeNum,
		l.createtime
		from 
		(select cindex,wlid,listingid,cstate,BREEDCODE from ZYC.BUSI_COLLECTION  where
		 userid=#{params.userid} and CSTATE=0) t
		left join 
		ZYC.BUSI_WHLIST wh 
			on t.wlid = wh.wlid 
		left join
		boss.DICT_INFO d
		    on wh.WLUNIT=d.DICT_CODE
		left join 
		ZYC.BUSI_LISTING l 
			on t.listingid = l.listingid
		left join  
		ZYC.BUSI_QUALITY_INFO qi 
			on t.wlid = qi.wlid
		left join ZYC.BUSI_QUALITYPIC qp 
			on (t.wlid = qp.wlid and qp.picindex = 1)
			where 1=1
		<!-- 价格范围查询 (最低价格)-->
		 <if test="params.lowPrice != null and params.lowPrice != ''">
		 <![CDATA[ 
		 	and (l.lowunitprice >= #{params.lowPrice,jdbcType=DECIMAL})
		 ]]>
		 </if>
	  	 <!-- 价格范围查询 (最高价格)-->	
	  	  <if test="params.highPrice != null and params.highPrice != ''">
			 <![CDATA[ 
			 	and (l.lowunitprice <= #{params.highPrice,jdbcType=DECIMAL})
			 ]]>
		 </if>
		 <!-- 产地 -->
		  <if test="params.origin != null and params.origin != ''">
			 <![CDATA[ 
			 	and (wh.origin like  '%'||#{params.origin,jdbcType=VARCHAR}||'%' )
			 ]]>
	  	  </if>
	  	 <!-- 开始挂牌日期 -->
  	 	<if test="params.datetimepicker1 != null and params.datetimepicker1 != ''">
  	 	<!-- and (l.createtime < #{params.datetimepicker1,jdbcType=TIMESTAMP}) -->
		 <![CDATA[ 
		 	and (l.EXAMINETIME >= to_date(#{params.datetimepicker1},'yyyy-mm-dd hh24:mi:ss'))
		 ]]>
  	 	 </if>
	  	 <!-- 结束挂牌日期 -->
	  	 	<if test="params.datetimepicker2 != null and params.datetimepicker2 != ''">
	  	 	<!-- and (l.createtime > #{params.datetimepicker2,jdbcType=TIMESTAMP}) -->
			 <![CDATA[ 
			 	
			 	and (l.EXAMINETIME <= to_date(#{params.datetimepicker2},'yyyy-mm-dd hh24:mi:ss'))
			 ]]>
	  	  </if>
	  	 <!-- 品种 --> 
	  	 <if test="params.breed != null and params.breed!=''">
	  	 	   and t.BREEDCODE=#{params.breed}
	  	 </if>
		order by ${params.order})
    </select>
    
    <!-- 根据收藏者及挂牌ID查询收藏信息 -->
    <select id="selectCollention" parameterType="com.jointown.zy.common.model.BusiCollection" resultMap="BaseResultMap">
    	select
    		<include refid="BaseSql"/>
    	from
    		ZYC.BUSI_COLLECTION
    	where
    		USERID = #{userid} and LISTINGID = #{listingid}
    </select>
    
    <!-- 根据收藏者及挂牌ID更新收藏信息状态 -->
    <update id="updateCollention" parameterType="com.jointown.zy.common.model.BusiCollection">
    	update
    		ZYC.BUSI_COLLECTION
    	set
    		CSTATE = #{cstate}, UPDATETIME = sysdate
    	where
    		USERID = #{userid} and LISTINGID = #{listingid}
    </update>
    
    <update id="updateCollectionBy" parameterType="com.jointown.zy.common.model.BusiCollection">
    	update zyc.BUSI_COLLECTION
    	<set >
	      <if test="cstate != null" >
	        CSTATE = #{cstate,jdbcType=DECIMAL},
	      </if>
	      <if test="updatetime != null" >
	        UPDATETIME = sysdate,
	      </if>
    </set>
    where CINDEX = #{cindex,jdbcType=DECIMAL}
    </update>
    
    <!-- 我的收藏列表中的我的收藏品种 -->
    <select id="selectCollectionBread" parameterType="java.lang.Long" resultType="map">
    	select 
    		distinct(breed_name) as name,
    		breed_id as id
    	from (
	    	select 
		    	a.breed_name,
		    	a.breed_id
		    from 
			    (select 
				    t.listingid,
				    l.LISTINGAMOUNT,
				    b.breed_name ,
				    b.breed_id
			    from (
			    	 select 
			    	 		listingid,
			    	 		wlid 
			    	 	from 
			    	 	zyc.BUSI_COLLECTION  
			    	 	where 
			    	 	userid= #{userid,jdbcType=DECIMAL}
			    	 ) t
				left join zyc.busi_listing l 
					on t.listingid = l.listingid 
				left join zyc.busi_whlist w 
					on t.wlid = w.wlid
				left join boss.breed b 
					on w.breedcode = b.breed_id
				) a  
			left join zyc.busi_order o 
				on a.listingid = o.listingid 
				and 
				o.orderstate!=2 
			group by 
				a.listingid,
				a.listingamount,
				a.breed_name,
				a.breed_id
			order by 
				(a.listingamount - NVL(sum(o.AMOUNT),0)) desc ,
				a.listingamount desc
		)	 
    </select>
    <!-- 查询正在进行中的挂牌的有交易的，交易最多的前五个 -->
    <select id="getListingSaleCountBy" resultType="java.util.Map">
    <![CDATA[ 
    	select b.*,bo.saleNum  from 
			( select LISTINGID from zyc.busi_listing  where LISTINGFLAG=2 and SURPLUSES>0) b
			join 
			(select count(LISTINGID) as saleNum,LISTINGID from zyc.busi_order where ORDERSTATE<>2 group by listingid  ORDER by saleNum desc) bo
			on b.LISTINGID = bo.LISTINGID and rownum<=5
			]]>
    </select>
    <!-- 查询热门药材信息 -->
    <select id="getListingSaleInfo" resultType="java.util.Map" parameterType="list">
    	select a.*,p.PATH,d.dict_value from 
		(select title,LOWUNITPRICE,WLID,LISTINGID from zyc.busi_listing  where LISTINGFLAG=2 and SURPLUSES>0 
		<if test="list!= null and list.size() > 0">
			and LISTINGID in 
			<foreach item="item" index="index" collection="list" 
                    open="(" separator="," close=")">
                   #{item}
            </foreach>
		</if>
		 ) a 
		left join zyc.busi_qualitypic p on a.WLID=p.WLID and p.PICINDEX=1
		left join zyc.busi_whlist w on w.WLID=a.WLID and w.WLFLAG=0
		left join boss.dict_info d on d.DICT_CODE=w.WLUNIT
    </select>
    <!-- 查询热门药材的挂牌ID -->
    <select id="getListingSaleIds" resultType="java.util.Map" parameterType="java.util.Map">
    
    	select * from (
		select LISTINGID from zyc.busi_listing  where LISTINGFLAG=2 and SURPLUSES>0 
		<if test="listingIds!= null and listingIds.size() > 0">
		 and LISTINGID not in 
			<foreach item="item" index="index" collection="listingIds" 
                    open="(" separator="," close=")"> 
                #{item}
            </foreach>
		 <!--  and LISTINGID not in (#{listingIds,jdbcType=VARCHAR}) -->
		 </if>
		 
		 order by EXAMINETIME desc
		) where rownum<![CDATA[ <= ]]>#{num,jdbcType=DECIMAL}
		
    </select>
</mapper>