<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.BusiQualityItemDao" >
  <resultMap id="BaseResultMap" type="com.jointown.zy.common.model.BusiQualityItem" >
    <id column="QUALITY_ITEM_ID" property="qualityItemId" jdbcType="DECIMAL" />
    <result column="WLID" property="wlid" jdbcType="VARCHAR" />
    <result column="QUALITY_INFO_ID" property="qualityInfoId" jdbcType="DECIMAL" />
    <result column="QUALITY_ITEM_TYPE" property="qualityItemType" jdbcType="VARCHAR" />
    <result column="QUALITY_ITEM_NAME" property="qualityItemName" jdbcType="VARCHAR" />
    <result column="QUALITY_ITEM_STANDARD" property="qualityItemStandard" jdbcType="VARCHAR" />
    <result column="QUALITY_ITEM_RESULT" property="qualityItemResult" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    QUALITY_ITEM_ID, 
    WLID, 
    QUALITY_INFO_ID, 
    QUALITY_ITEM_TYPE, 
    QUALITY_ITEM_NAME, 
    QUALITY_ITEM_STANDARD, 
    QUALITY_ITEM_RESULT, 
    CREATE_TIME, 
    UPDATE_TIME
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ZYC.BUSI_QUALITY_ITEM
    where QUALITY_ITEM_ID = #{qualityItemId,jdbcType=DECIMAL}
  </select>
  
  <select id="selectByInfoId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ZYC.BUSI_QUALITY_ITEM
    where QUALITY_INFO_ID = #{qualityInfoId,jdbcType=DECIMAL}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ZYC.BUSI_QUALITY_ITEM
    where QUALITY_ITEM_ID = #{qualityItemId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.jointown.zy.common.model.BusiQualityItem" >
  <selectKey resultType="java.lang.Long" keyProperty="qualityItemId" order="BEFORE">
   	select zyc.SEQ_BUSI_QUALITY_ITEM.nextVal as QUALITY_ITEM_ID
   		from dual
  	</selectKey>
    insert into ZYC.BUSI_QUALITY_ITEM (QUALITY_ITEM_ID, WLID, QUALITY_INFO_ID, 
      QUALITY_ITEM_TYPE, QUALITY_ITEM_NAME, QUALITY_ITEM_STANDARD, 
      QUALITY_ITEM_RESULT, CREATE_TIME, UPDATE_TIME
      )
    values (#{qualityItemId,jdbcType=DECIMAL}, #{wlid,jdbcType=VARCHAR}, #{qualityInfoId,jdbcType=DECIMAL}, 
      #{qualityItemType,jdbcType=VARCHAR}, #{qualityItemName,jdbcType=VARCHAR}, #{qualityItemStandard,jdbcType=VARCHAR}, 
      #{qualityItemResult,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jointown.zy.common.model.BusiQualityItem" >
    insert into ZYC.BUSI_QUALITY_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      QUALITY_ITEM_ID,
      WLID,
      QUALITY_INFO_ID,
      QUALITY_ITEM_TYPE,
      QUALITY_ITEM_NAME,
      QUALITY_ITEM_STANDARD,
      QUALITY_ITEM_RESULT,
      CREATE_TIME,
      UPDATE_TIME,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{qualityItemId,jdbcType=DECIMAL},
      #{wlid,jdbcType=VARCHAR},
      #{qualityInfoId,jdbcType=DECIMAL},
      #{qualityItemType,jdbcType=VARCHAR},
      #{qualityItemName,jdbcType=VARCHAR},
      #{qualityItemStandard,jdbcType=VARCHAR},
      #{qualityItemResult,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jointown.zy.common.model.BusiQualityItem" >
    update ZYC.BUSI_QUALITY_ITEM
    <set >
      <if test="wlid != null" >
        WLID = #{wlid,jdbcType=VARCHAR},
      </if>
      <if test="qualityInfoId != null" >
        QUALITY_INFO_ID = #{qualityInfoId,jdbcType=DECIMAL},
      </if>
      <if test="qualityItemType != null" >
        QUALITY_ITEM_TYPE = #{qualityItemType,jdbcType=VARCHAR},
      </if>
      <if test="qualityItemName != null" >
        QUALITY_ITEM_NAME = #{qualityItemName,jdbcType=VARCHAR},
      </if>
      <if test="qualityItemStandard != null" >
        QUALITY_ITEM_STANDARD = #{qualityItemStandard,jdbcType=VARCHAR},
      </if>
      <if test="qualityItemResult != null" >
        QUALITY_ITEM_RESULT = #{qualityItemResult,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where QUALITY_ITEM_ID = #{qualityItemId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jointown.zy.common.model.BusiQualityItem" >
    update ZYC.BUSI_QUALITY_ITEM
    set WLID = #{wlid,jdbcType=VARCHAR},
      QUALITY_INFO_ID = #{qualityInfoId,jdbcType=DECIMAL},
      QUALITY_ITEM_TYPE = #{qualityItemType,jdbcType=VARCHAR},
      QUALITY_ITEM_NAME = #{qualityItemName,jdbcType=VARCHAR},
      QUALITY_ITEM_STANDARD = #{qualityItemStandard,jdbcType=VARCHAR},
      QUALITY_ITEM_RESULT = #{qualityItemResult,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where QUALITY_ITEM_ID = #{qualityItemId,jdbcType=DECIMAL}
  </update>
  
  <delete id="delItemByQualityId" parameterType="java.lang.String" >
  	delete from ZYC.BUSI_QUALITY_ITEM
    where  WLID= #{wlId,jdbcType=VARCHAR} 
  </delete>
  
  <select id="selectQualityItemByWlId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ZYC.BUSI_QUALITY_ITEM
    where WLID = #{wlId,jdbcType=VARCHAR}
  </select>
</mapper>