<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.BusiOrderDetailDao" >
  <resultMap id="BaseResultMap" type="com.jointown.zy.common.model.BusiOrderDetail" >
    <id column="ORDER_DEATIL_ID" property="orderDetailId" jdbcType="DECIMAL" />
    <result column="ORDERID" property="orderId" jdbcType="VARCHAR" />
    <result column="LISTING_SNAPSHOT" property="listingSnapshot" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="DECIMAL" />
    <result column="CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATETIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    ORDER_DEATIL_ID, ORDERID, STATE, CREATETIME, UPDATETIME, LISTING_SNAPSHOT
  </sql>
  
  <select id="selectOrderDetailById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ZYC.BUSI_ORDER_DETAIL
    where ORDER_DEATIL_ID = #{orderDetailId,jdbcType=DECIMAL}
  </select>
  
  
  <select id="selectOrderDetailByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ZYC.BUSI_ORDER_DETAIL
    where ORDERID = #{orderDetailId,jdbcType=DECIMAL}
  </select>
  
  <insert id="insertOrderDetail" parameterType="com.jointown.zy.common.model.BusiOrderDetail" >
    insert into ZYC.BUSI_ORDER_DETAIL (ORDER_DEATIL_ID,  
      ORDERID,STATE, CREATETIME, 
      UPDATETIME, 
	  LISTING_SNAPSHOT)
    values (ZYC.SEQ_BUSI_ORDER_DETAIL.nextval, #{orderId,jdbcType=VARCHAR}, #{state,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, 
      #{listingSnapshot,jdbcType=VARCHAR})
  </insert>
  
</mapper>