<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.BusiWhlistDao" >
  <resultMap id="BusiWhlist" type="com.jointown.zy.common.model.BusiWhlist">
    <id column="WLID" property="wlId" jdbcType="VARCHAR" />
    <result column="USERID" property="userId" jdbcType="NUMERIC" />
    <result column="CATEGORYID" property="categoryId" jdbcType="NUMERIC" />
    <result column="BREEDCODE" property="breedCode" jdbcType="NUMERIC" />
    <result column="WAREHOUSEID" property="wareHouseId" jdbcType="VARCHAR" />
    <result column="AREAID" property="areaId" jdbcType="VARCHAR" />
    <result column="WLTOTAL" property="wlTotal" jdbcType="NUMERIC" />
    <result column="WLSURPLUS" property="wlSurplus" jdbcType="NUMERIC" />
    <result column="WLUNIT" property="wlUnit" jdbcType="VARCHAR" />
    <result column="WLRKDATE" property="wlrkDate" jdbcType="TIMESTAMP" />
    <result column="WLSTATE" property="wlState" jdbcType="INTEGER" />
    <result column="CONTRACTNUM" property="contractNum" jdbcType="VARCHAR" />
    <result column="ORIGIN" property="origin" jdbcType="VARCHAR" />
    <result column="BATCH" property="batch" jdbcType="VARCHAR" />
    <result column="PACKINGWAY" property="packingWay" jdbcType="VARCHAR" />
    <result column="WLFLAG" property="wlFlag" jdbcType="INTEGER" />
    <result column="CREATETIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATETIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="ACCOUNT" property="account" jdbcType="VARCHAR" />
    <result column="DELIVERY" property="delivery" jdbcType="VARCHAR" />
    <result column="DELIVERYSTATE" property="deliveryState" jdbcType="INTEGER" />
    <result column="DELIVERYTIME" property="deliveryTime" jdbcType="TIMESTAMP" />
    <!-- add by fanyuna 仓单表新增仓单损益数量、父仓单号、交易订单号、业务员ID -->
    <!-- 交易分割需保留原仓单编号与电商交易订单编号 -->
    <result column="PROFIT_LOSS" property="profitLoss" jdbcType="NUMERIC" />
    <result column="PWLID" property="pWlid" jdbcType="VARCHAR" />
    <result column="ORDERID" property="orderId" jdbcType="VARCHAR" />
    <result column="CREATERID" property="createrId" jdbcType="NUMERIC" />
    <!-- add by fanyuna 2015.11.10 仓单表增加字段 -->
    <result column="INTOTAL" property="intotal" jdbcType="DECIMAL" />
    <result column="WMIOCODE" property="wmiocode" jdbcType="VARCHAR" />
    <result column="SKUNUMBER" property="skunumber" jdbcType="DECIMAL" />
    <result column="STORENAME" property="storename" jdbcType="VARCHAR" />
    <!-- <result column="ORDERWEIGHTUNIT" property="orderweightunit" jdbcType="VARCHAR" /> -->
    <result column="SIGNATUREUSER" property="signatureuser" jdbcType="VARCHAR" />
    <result column="SIGNATUREDATE" property="signaturedate" jdbcType="TIMESTAMP" />
    <result column="OUTEDNUMBER" property="outednumber" jdbcType="DECIMAL" />
    <result column="CONTRACTNAME" property="contractname" jdbcType="VARCHAR" />
    <result column="PLEDGENAME" property="pledgename" jdbcType="VARCHAR" />
    <result column="STORAGETERMSTART" property="storagetermstart" jdbcType="TIMESTAMP" />
    <result column="STORAGETERMEND" property="storagetermend" jdbcType="TIMESTAMP" />
    <result column="STORAGEFEE" property="storagefee" jdbcType="DECIMAL" />
    <result column="LOSSSTANDARD" property="lossstandard" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="CategorysVo" type="com.jointown.zy.common.vo.CategorysVo">
  	<id column="ID" property="id" jdbcType="NUMERIC" />
    <result column="CLASS_ID" property="classId" jdbcType="NUMERIC" />
    <result column="CATEGORYS_NAME" property="categorysName" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="BreedVo" type="com.jointown.zy.common.vo.BreedVo">
  	<id column="BREED_ID" property="breedId" jdbcType="NUMERIC" />
    <result column="BREED_CODE" property="breedCode" jdbcType="VARCHAR" />
    <result column="BREED_NAME" property="breedName" jdbcType="VARCHAR" />
    <result column="BREED_COUNT_UNIT" property="breedCountUnit" jdbcType="VARCHAR" />
    <result column="BREED_STANDARD_LEVEL" property="breedStandardLevel" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="DictInfoVo" type="com.jointown.zy.common.vo.DictInfoVo">
  	<id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="DICT_CODE" property="dictCode" jdbcType="VARCHAR" />
    <result column="DICT_TYPE" property="dictType" jdbcType="VARCHAR" />
    <result column="DICT_VALUE" property="dictValue" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="AreaVo" type="com.jointown.zy.common.vo.AreaVo">
  	<id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="DECIMAL" />
    <result column="FIRSTCODE" property="firstcode" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="Whlist" type="com.jointown.zy.common.vo.BusiWhlistVo">
    <id column="WLID" property="wlid" jdbcType="VARCHAR" />
    <result column="CATEGORYID" property="categoryid" jdbcType="NUMERIC" />
    <result column="BREED_NAME" property="breedname" jdbcType="VARCHAR" />
    <result column="BREED_ID" property="breedid" jdbcType="NUMERIC" />
    <result column="USERID" property="userid" jdbcType="NUMERIC" />
    <result column="ORIGIN" property="origin" jdbcType="VARCHAR" />
    <result column="GRADE" property="grade" jdbcType="VARCHAR" />
    <result column="WLSTATE" property="wlstate" jdbcType="INTEGER" />
    <result column="WLSURPLUS" property="wlsurplus" jdbcType="NUMERIC" />
    <result column="DICT_VALUE" property="dictvalue" jdbcType="VARCHAR" />
    <result column="WLTOTAL" property="wltotal" jdbcType="NUMERIC" />
    <result column="WAREHOUSENAME" property="warehousename" jdbcType="VARCHAR" />
    <result column="WAREHOUSEID" property="warehouseid" jdbcType="VARCHAR" />
    <result column="AREAID" property="areaid" jdbcType="VARCHAR" />
    <result column="WLRKDATE" property="wlrkdate" jdbcType="TIMESTAMP" />
    <result column="USER_NAME" property="username" jdbcType="VARCHAR" />
    <result column="PACKINGWAY" property="packingway" jdbcType="VARCHAR" />
	<result column="CONTRACTNUM" property="contractnum" jdbcType="VARCHAR" />
	<result column="ACCEPTCHECKTIME" property="acceptchecktime" jdbcType="TIMESTAMP" />
	<result column="REPORTDATE" property="reportdate" jdbcType="TIMESTAMP" />
	<result column="NUMBEROFJC" property="numberofjc" jdbcType="VARCHAR" />
	<result column="LEVEL_EVA" property="levelEva" jdbcType="VARCHAR" />
	<result column="QUALITY_INFO_ID" property="qualityInfoId" jdbcType="NUMERIC" />
	<result column="HASLISTING" property="haslisting" jdbcType="VARCHAR" />
	<!--一对一association ( 多对一collection ) 目标对象的属性property --> 
    <collection property= "piclist" select = "com.jointown.zy.common.dao.BusiQualityPicDao.selectAllPicByWLID" column= "WLID"   javaType="ArrayList" ofType = "BusiQualityPic"/>
    <collection property="busiQualityItem" select="com.jointown.zy.common.dao.BusiQualityItemDao.selectByInfoId"
  	 column="QUALITY_INFO_ID" javaType="ArrayList" ofType="BusiQualityItem"/>
  </resultMap>
  
  <!--我要挂牌所需集合-->
  <resultMap id="whlistforListing" type="com.jointown.zy.common.vo.BusiWhlistVo">
    <result column="WLID" property="wlid" jdbcType="VARCHAR" />
    <result column="WLTOTAL" property="wltotal" jdbcType="NUMERIC" />
    <result column="BREED_NAME" property="breedname" jdbcType="VARCHAR" />
    <result column="WAREHOUSENAME" property="warehousename" jdbcType="VARCHAR" />
	<result column="DICT_VALUE" property="dictvalue" jdbcType="VARCHAR" />     
	<result column="WLRKDATE" property="wlrkdate" jdbcType="TIMESTAMP" />  
 </resultMap>	     
  
  <!--add by fanyuna 2015.09.29 仓单表里新增INTOTAL仓单入库总量字段  -->
  <!--add by fanyuna 2015.11.10 仓单表里新增字段  -->
  <insert id="insertBusiWhlist" parameterType="com.jointown.zy.common.model.BusiWhlist">
  		insert into ZYC.BUSI_WHLIST (WLID,USERID,CATEGORYID,BREEDCODE,WAREHOUSEID,AREAID,WLTOTAL,WLSURPLUS,WLUNIT,WLRKDATE,WLSTATE,CONTRACTNUM,ORIGIN,BATCH,PACKINGWAY,WLFLAG,CREATETIME,UPDATETIME,ACCOUNT,PWLID,ORDERID,CREATERID,INTOTAL, 
      WMIOCODE, SKUNUMBER, STORENAME,  SIGNATUREUSER, SIGNATUREDATE, OUTEDNUMBER, CONTRACTNAME, PLEDGENAME, 
      STORAGETERMSTART, STORAGETERMEND, STORAGEFEE, 
      LOSSSTANDARD)
  		values(
  		#{wlId,jdbcType=VARCHAR},
  		#{userId,jdbcType=NUMERIC},
  		#{categoryId,jdbcType=NUMERIC},
  		#{breedCode,jdbcType=NUMERIC},
  		#{wareHouseId,jdbcType=VARCHAR},
  		#{areaId,jdbcType=VARCHAR},
  		#{wlTotal,jdbcType=NUMERIC},
  		#{wlTotal,jdbcType=NUMERIC},
  		#{wlUnit,jdbcType=VARCHAR},
  		#{wlrkDate,jdbcType=TIMESTAMP},
  		#{wlState,jdbcType=INTEGER},
  		#{contractNum,jdbcType=VARCHAR},
  		#{origin,jdbcType=VARCHAR},
  		#{batch,jdbcType=INTEGER},
  		#{packingWay,jdbcType=VARCHAR},
  		#{wlFlag,jdbcType=INTEGER},
  		sysdate,
  		sysdate,
  		#{account,jdbcType=VARCHAR},
  		#{pWlid,jdbcType=VARCHAR},
  		#{orderId,jdbcType=VARCHAR},
  		#{createrId,jdbcType=NUMERIC},
  		#{wlTotal,jdbcType=NUMERIC}, 
      #{wmiocode,jdbcType=VARCHAR}, #{skunumber,jdbcType=DECIMAL}, #{storename,jdbcType=VARCHAR}, 
      #{signatureuser,jdbcType=VARCHAR}, #{signaturedate,jdbcType=TIMESTAMP}, 
      #{outednumber,jdbcType=DECIMAL}, #{contractname,jdbcType=VARCHAR}, #{pledgename,jdbcType=VARCHAR}, 
      #{storagetermstart,jdbcType=TIMESTAMP}, #{storagetermend,jdbcType=TIMESTAMP}, #{storagefee,jdbcType=DECIMAL}, 
      #{lossstandard,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateBusiWhlistById" parameterType="com.jointown.zy.common.model.BusiWhlist">
        update ZYC.BUSI_WHLIST 
		<set >
			<if test="userId != null" >
	       		USERID = #{userId,jdbcType=NUMERIC},
	      	</if>
			<if test="categoryId != null" >
	       		CATEGORYID = #{categoryId,jdbcType=NUMERIC},
	      	</if>
			<if test="breedCode != null" >
	       		BREEDCODE = #{breedCode,jdbcType=NUMERIC},
	      	</if>
			<if test="wareHouseId != null" >
	       		WAREHOUSEID = #{wareHouseId,jdbcType=VARCHAR},
	      	</if>
			<if test="areaId != null" >
	       		AREAID = #{areaId,jdbcType=VARCHAR},
	      	</if>
			<if test="wlTotal != null" >
	       		WLTOTAL = #{wlTotal,jdbcType=NUMERIC},
	      	</if>
			<if test="wlSurplus != null" >
	       		WLSURPLUS = #{wlSurplus,jdbcType=NUMERIC},
	      	</if>
			<if test="wlUnit != null" >
	       		WLUNIT = #{wlUnit,jdbcType=VARCHAR},
	      	</if>
			<if test="wlrkDate != null" >
	       		WLRKDATE = #{wlrkDate,jdbcType=TIMESTAMP},
	      	</if>
			<if test="wlState != null" >
	       		WLSTATE = #{wlState,jdbcType=INTEGER},
	      	</if>
			<if test="contractNum != null" >
	       		CONTRACTNUM = #{contractNum,jdbcType=VARCHAR},
	      	</if>
			<if test="origin != null" >
	       		ORIGIN = #{origin,jdbcType=VARCHAR},
	      	</if>
			<if test="batch != null" >
	       		BATCH = #{batch,jdbcType=INTEGER},
	      	</if>
			<if test="packingWay != null" >
	       		PACKINGWAY = #{packingWay,jdbcType=VARCHAR},
	      	</if>
			<if test="wlFlag != null" >
	       		WLFLAG = #{wlFlag,jdbcType=INTEGER},
	      	</if>
			<if test="createTime != null" >
	       		CREATETIME = #{createTime,jdbcType=TIMESTAMP},
	      	</if>
	      	<choose>  
		        <when test="updateTime != null">  
		            UPDATETIME = #{updateTime,jdbcType=TIMESTAMP},
		        </when>  
		        <otherwise>  
		            UPDATETIME = sysdate,
		        </otherwise>  
		    </choose> 
			<if test="account != null" >
	       		ACCOUNT = #{account,jdbcType=VARCHAR},
	      	</if>
	      	<if test="pWlid != null" >
	       		PWLID = #{pWlid,jdbcType=VARCHAR},
	      	</if>
	      	<if test="orderId != null" >
	       		ORDERID = #{orderId,jdbcType=VARCHAR},
	      	</if>
	      	<if test="createrId != null" >
	       		CREATERID = #{createrId,jdbcType=NUMERIC},
	      	</if>
	      <!-- add by fanyuna 2015.11.10 仓单表增加字段 -->
	      <if test="wmiocode != null" >
	        WMIOCODE = #{wmiocode,jdbcType=VARCHAR},
	      </if>
	      <if test="skunumber != null" >
	        SKUNUMBER = #{skunumber,jdbcType=DECIMAL},
	      </if>
	      <if test="storename != null" >
	        STORENAME = #{storename,jdbcType=VARCHAR},
	      </if>
	      
	      <if test="signatureuser != null" >
	        SIGNATUREUSER = #{signatureuser,jdbcType=VARCHAR},
	      </if>
	      <if test="signaturedate != null" >
	        SIGNATUREDATE = #{signaturedate,jdbcType=TIMESTAMP},
	      </if>
	      <if test="outednumber != null" >
	        OUTEDNUMBER = #{outednumber,jdbcType=DECIMAL},
	      </if>
	      <if test="contractname != null" >
	        CONTRACTNAME = #{contractname,jdbcType=VARCHAR},
	      </if>
	      <if test="pledgename != null" >
	        PLEDGENAME = #{pledgename,jdbcType=VARCHAR},
	      </if>
	      <if test="storagetermstart != null" >
	        STORAGETERMSTART = #{storagetermstart,jdbcType=TIMESTAMP},
	      </if>
	      <if test="storagetermend != null" >
	        STORAGETERMEND = #{storagetermend,jdbcType=TIMESTAMP},
	      </if>
	      <if test="storagefee != null" >
	        STORAGEFEE = #{storagefee,jdbcType=DECIMAL},
	      </if>
	      <if test="lossstandard != null" >
	        LOSSSTANDARD = #{lossstandard,jdbcType=VARCHAR},
	      </if>
	      	
		</set>
        where WLID = #{wlId,jdbcType=VARCHAR}
  </update>
  
  <update id="deleteBusiWhlistById" parameterType="com.jointown.zy.common.model.BusiWhlist">
        update ZYC.BUSI_WHLIST set
        WLFLAG = 1,
        UPDATETIME = sysdate
       	where WLID = #{wlId,jdbcType=VARCHAR}
  </update>
  
  <!--减去可挂数量 ，如卖家新增挂牌-->
  <update id="updateWLsurplusById" parameterType="hashmap">
    <![CDATA[
        update ZYC.BUSI_WHLIST set
        WLSURPLUS = (WLSURPLUS-#{surpluses,jdbcType=NUMERIC}),
        UPDATETIME = sysdate 
       	where WLID = #{wlid,jdbcType=VARCHAR} and WLSURPLUS>=#{surpluses,jdbcType=NUMERIC}
 	]]>
  </update>
  
  <!--增加可挂数量 ，如卖家取消挂牌-->
  <update id="updateWLsurplus" parameterType="hashmap">
  	 <![CDATA[
        update ZYC.BUSI_WHLIST set
        WLSURPLUS = (WLSURPLUS+#{surpluses,jdbcType=NUMERIC}),
        UPDATETIME = sysdate 
       	where WLID = #{wlid,jdbcType=VARCHAR} and (WLSURPLUS+#{surpluses,jdbcType=NUMERIC})<=WLTOTAL
  	]]>
  </update>
  
  <select id="selectBusiWhlists" resultMap="BusiWhlist">
       select * from ZYC.BUSI_WHLIST where WLFLAG = 0
  </select>
  
  <!--单个仓单详情-->
  <select id="selectBusiWhlistById" parameterType="hashmap" resultMap="Whlist">
       select
       (select count(*) from ZYC.BUSI_LISTING l where l.wlid=#{wlId,jdbcType=VARCHAR} and l.listingflag in (2,3)) as HASLISTING, 
       t.wlid,
       t.categoryid,
       b.breed_name,
       b.breed_id,
       t.userid,
       t.origin,
       t.areaid,
       q.grade,
       t.wlstate,
       t.wlsurplus,
       d.dict_value,
       t.wltotal,
       w.warehousename,
	   t.warehouseid,
	   t.wlrkdate,
	   u.user_name,
	   u.user_id,
	   t.packingway,
	   t.contractnum,
	   q.check_number as NUMBEROFJC,
	   q.level_eva,
	   q.quality_info_id,
	   q.report_date as REPORTDATE,
	   q.quality_time as ACCEPTCHECKTIME
	   FROM 
	   (select wlid ,warehouseid,categoryid,breedcode,origin,areaid,wlstate,wlsurplus,wltotal,wlunit,wlrkdate,
		userid,packingway,contractnum from ZYC.BUSI_WHLIST where 
		<if test="userId != null and userId != ''">
        	userid=#{userId,jdbcType=NUMERIC} and  
       </if> 
	   wlid=#{wlId,jdbcType=VARCHAR}) t 
	   left join 
	   BOSS.BREED b 
	   		on t.breedcode=b.breed_id
	   left join 
	   BOSS.DICT_INFO d 
	   		on t.wlunit = d.dict_code 
	   left join 
	   BOSS.UC_USER u 
	   		on t.userid = u.user_id 
	   left join 
	   ZYC.BUSI_WAREHOUSE w 
	   		on t.warehouseid = w.warehouseid 
	   left join 
	   ZYC.BUSI_QUALITY_INFO q 
	   		on t.wlid = q.wlid
  </select>
  
  <!--我的仓单查询、后台仓单列表功能查询-->
  <select id="selectBusiWhlistsByCondition" parameterType="com.jointown.zy.common.model.Page" resultMap="Whlist">
       select
       t.wlid,
       b.breed_name,
       t.userid,
       t.origin,
       t.areaid,
       q.grade,
       t.wlstate,
       t.wlsurplus,
       d.dict_value,
       t.wltotal,
       w.warehousename,
       t.warehouseid,
       t.wlrkdate,
       u.user_name 
       FROM 
	   (select t.wlid ,t.warehouseid,t.breedcode,t.origin,t.areaid,t.wlstate,t.wlsurplus,t.wltotal,wlunit,t.wlrkdate,t.userid,t.account from ZYC.BUSI_WHLIST t where
	   <if test="params.userId != null and params.userId != ''">
        	t.userid=#{params.userId} and  
       </if>
	   t.wlflag=0) t 
	   left join BOSS.BREED b 
	   		on t.breedcode=b.breed_id
	   left join BOSS.DICT_INFO d 
	   		on t.wlunit = d.dict_code 
	   left join BOSS.UC_USER u 
	   		on t.userid = u.user_id and u.status!=1
	   left join ZYC.BUSI_WAREHOUSE w 
	   		on t.warehouseid = w.warehouseid 
	   left join ZYC.BUSI_QUALITY_INFO q 
	   		on t.wlid = q.wlid	
	   where 1=1
	   	<if test="params.busiWhlistSearchDto.wlId != null and params.busiWhlistSearchDto.wlId != ''">
	   		<!--add by songwei 2015.6.16 12:20 增加仓单id去大小后的模糊查询条件-->
        	and lower(t.WLID) like CONCAT(CONCAT('%', lower(#{params.busiWhlistSearchDto.wlId, jdbcType=VARCHAR})),'%')
        </if>
        <if test="params.busiWhlistSearchDto.wareHouseId != null and params.busiWhlistSearchDto.wareHouseId != ''">
        	and w.WAREHOUSEID =#{params.busiWhlistSearchDto.wareHouseId}
        </if>
        <if test="params.busiWhlistSearchDto.startWlrkDate != null and params.busiWhlistSearchDto.startWlrkDate != ''">
        	and t.WLRKDATE >= to_date(#{params.busiWhlistSearchDto.startWlrkDate},'yyyy-mm-dd hh24:mi:ss') 
        </if>
        <if test="params.busiWhlistSearchDto.endWlrkDate != null and params.busiWhlistSearchDto.endWlrkDate != ''">
        	and to_date(#{params.busiWhlistSearchDto.endWlrkDate},'yyyy-mm-dd hh24:mi:ss') >= t.WLRKDATE  
        </if>
		<if test="params.busiWhlistSearchDto.breedName != null and params.busiWhlistSearchDto.breedName != ''">
        	and b.BREED_NAME like CONCAT(CONCAT('%', #{params.busiWhlistSearchDto.breedName, jdbcType=VARCHAR}),'%')
        </if>
        <if test="params.busiWhlistSearchDto.account != null and params.busiWhlistSearchDto.account != ''">
        	and t.ACCOUNT like CONCAT(CONCAT('%', #{params.busiWhlistSearchDto.account, jdbcType=VARCHAR}),'%')
        </if>
        <if test="params.busiWhlistSearchDto.wlState != null">
        	and t.WLSTATE = #{params.busiWhlistSearchDto.wlState}
        </if>
        order by t.wlrkdate desc,t.wlid desc
   </select>
   
   <select id="selectWlIdBySeqBusiWhlist" resultMap="Whlist">
       select '10'||to_char(sysdate,'yyyyMMdd')||ZYC.SEQ_BUSI_WHLIST.Nextval as WLID from dual
   </select>
   <select id="selectCategorysByTree" resultMap="CategorysVo">
       select ID,CATEGORYS_NAME from BOSS.CATEGORYS t left join BOSS.CLASS_INFO i on t.CLASS_ID = i.CLASS_ID where i.CLASS_NAME = '形态分类' and t.STATUS = 1
   </select>
   <select id="selectCategorysByBreedId" parameterType="Long" resultMap="CategorysVo">
       select ID,CATEGORYS_NAME from BOSS.CATEGORYS where STATUS = 1 and ID in (select CATEGORYS_ID from BOSS.BREED_CATEGORY where BREED_ID = #{breedId})
   </select>
   <select id="selectBreedsByTree" resultMap="BreedVo">
       select BREED_ID,BREED_CODE,BREED_NAME,BREED_COUNT_UNIT,BREED_STANDARD_LEVEL from BOSS.BREED where STATUS = 1
   </select>
   <select id="selectBreedById" parameterType="Long" resultMap="BreedVo">
       select BREED_ID,BREED_CODE,BREED_NAME,BREED_COUNT_UNIT,BREED_STANDARD_LEVEL from BOSS.BREED where STATUS = 1 and BREED_ID = #{breedId}
   </select>
   <select id="selectBreedTreesByCategorysId" parameterType="Long" resultMap="BreedVo">
       select BREED_ID,BREED_CODE,BREED_NAME,BREED_COUNT_UNIT,BREED_STANDARD_LEVEL from BOSS.BREED where STATUS = 1 and BREED_ID in (select BREED_ID from BOSS.BREED_CATEGORY where CATEGORYS_ID = #{categorysId})
   </select>
   <select id="selectDictInfoByBreedId" parameterType="Long" resultMap="DictInfoVo">
       select ID,DICT_CODE,DICT_TYPE,DICT_VALUE from BOSS.DICT_INFO where STATUS = 1 and DICT_CODE = (select BREED_COUNT_UNIT from BOSS.BREED where BREED_ID = #{breedId})
   </select>
   <select id="selectAreaByCode" parameterType="String" resultMap="AreaVo">
       select CODE,NAME,TYPE,FIRSTCODE from ZYC.AREA where CODE = #{firstCode}
   </select>
   <select id="selectAreasByFirstCode" parameterType="String" resultMap="AreaVo">
       select CODE,NAME,TYPE,FIRSTCODE from ZYC.AREA where FIRSTCODE = #{firstCode}
   </select>
   
   <!-- 模糊查询出用户在制定的仓库下面的仓单 -->
   <select id="selectBusiWhlistMohu"  parameterType="com.jointown.zy.common.model.Page" resultMap="whlistforListing">
	   select a.breed_name,
	       b.wlid ,
	       b.wltotal , 
	       d.dict_value,
	       c.warehousename,
	       b.wlrkdate
	  from boss.breed         a, 	<!-- 品种表 -->
	       zyc.busi_whlist    b, 	<!-- 仓单表 -->
	       zyc.busi_warehouse c, 	<!--仓库表 -->
	       boss.dict_info     d     <!--质量单位字典表 -->
	 where 
	   b.userid=#{params.userId} 
	   and b.wlsurplus > 0              <!--判断仓单数量是否可挂 -->
	   and a.breed_id = b.breedcode
	   and c.warehouseid = b.warehouseid
	   and b.wlunit =d.dict_code
	   <if test="params.selectWareHouse != null and params.selectWareHouse != ''">
	   		and b.warehouseid=#{params.selectWareHouse,jdbcType=VARCHAR}
	   </if>
	   <if test="params.datetimepicker1 != null and params.datetimepicker1 != '' ">
    		and b.wlrkdate >= to_date(#{params.datetimepicker1},'yyyy-mm-dd hh24:mi:ss') 
       </if>
       <if test="params.datetimepicker2 != null and params.datetimepicker2 != ''">
       	  and to_date(#{params.datetimepicker2},'yyyy-mm-dd hh24:mi:ss') >= b.wlrkdate
       </if>
       <if test="params.breedName != null and params.breedName != ''">
        	 <![CDATA[ and a.breed_name like CONCAT(CONCAT('%', #{params.breedName, jdbcType=VARCHAR}),'%')]]>  
       </if>
       order by b.wlrkdate desc
   </select>
   
   <!-- 验证仓单ID -->
   <select id="selectBusiWhlistByWlId" parameterType="String" resultMap="Whlist">
       select WLID from ZYC.BUSI_WHLIST where WLID = #{wlId,jdbcType=VARCHAR}
   </select>
   
   <!-- add by fanyuna WMS更新仓单 -->
   <update id="updateBusiWhlistByIdForWms" parameterType="com.jointown.zy.common.model.BusiWhlist">
        update ZYC.BUSI_WHLIST 
		<set >
			<if test="userId != null" >
	       		USERID = #{userId,jdbcType=NUMERIC},
	      	</if>
			<if test="categoryId != null" >
	       		CATEGORYID = #{categoryId,jdbcType=NUMERIC},
	      	</if>
			<if test="breedCode != null" >
	       		BREEDCODE = #{breedCode,jdbcType=NUMERIC},
	      	</if>
			<if test="wareHouseId != null" >
	       		WAREHOUSEID = #{wareHouseId,jdbcType=VARCHAR},
	      	</if>
			<if test="areaId != null and areaId !='420105'" ><!-- 由于WMS接口区域目前没有数据，平台目前给了一个默认值，因此此处需要过滤，以后要去掉 -->
	       		AREAID = #{areaId,jdbcType=VARCHAR},
	      	</if>
			<if test="wlTotal != null" >
	       		WLTOTAL = #{wlTotal,jdbcType=NUMERIC},
	      	</if>
			<if test="wlSurplus != null" >
	       		WLSURPLUS = #{wlSurplus,jdbcType=NUMERIC},
	      	</if>
			<if test="wlUnit != null" >
	       		WLUNIT = #{wlUnit,jdbcType=VARCHAR},
	      	</if>
			<if test="wlrkDate != null" >
	       		WLRKDATE = #{wlrkDate,jdbcType=TIMESTAMP},
	      	</if>
			<if test="wlState != null" >
	       		WLSTATE = #{wlState,jdbcType=INTEGER},
	      	</if>
			<if test="contractNum != null" >
	       		CONTRACTNUM = #{contractNum,jdbcType=VARCHAR},
	      	</if>
			<if test="origin != null" >
	       		ORIGIN = #{origin,jdbcType=VARCHAR},
	      	</if>
			<if test="batch != null" >
	       		BATCH = #{batch,jdbcType=INTEGER},
	      	</if>
			<if test="packingWay != null" >
	       		PACKINGWAY = #{packingWay,jdbcType=VARCHAR},
	      	</if>
			<if test="wlFlag != null" >
	       		WLFLAG = #{wlFlag,jdbcType=INTEGER},
	      	</if>
			<if test="createTime != null" >
	       		CREATETIME = #{createTime,jdbcType=TIMESTAMP},
	      	</if>
			UPDATETIME = sysdate,
			<if test="account != null" >
	       		ACCOUNT = #{account,jdbcType=VARCHAR},
	      	</if>
	      	<if test="pWlid != null" >
	       		PWLID = #{pWlid,jdbcType=VARCHAR},
	      	</if>
	      	<if test="orderId != null" >
	       		ORDERID = #{orderId,jdbcType=VARCHAR},
	      	</if>
	      	<if test="createrId != null" >
	       		CREATERID = #{createrId,jdbcType=NUMERIC},
	      	</if>
	      	
	      	<!-- add by fanyuna 2015.11.10 仓单表增加字段 -->
	      <if test="wmiocode != null" >
	        WMIOCODE = #{wmiocode,jdbcType=VARCHAR},
	      </if>
	      <if test="skunumber != null" >
	        SKUNUMBER = #{skunumber,jdbcType=DECIMAL},
	      </if>
	      <if test="storename != null" >
	        STORENAME = #{storename,jdbcType=VARCHAR},
	      </if>
	      
	      <if test="signatureuser != null" >
	        SIGNATUREUSER = #{signatureuser,jdbcType=VARCHAR},
	      </if>
	      <if test="signaturedate != null" >
	        SIGNATUREDATE = #{signaturedate,jdbcType=TIMESTAMP},
	      </if>
	      <if test="outednumber != null" >
	        OUTEDNUMBER = #{outednumber,jdbcType=DECIMAL},
	      </if>
	      <if test="contractname != null" >
	        CONTRACTNAME = #{contractname,jdbcType=VARCHAR},
	      </if>
	      <if test="pledgename != null" >
	        PLEDGENAME = #{pledgename,jdbcType=VARCHAR},
	      </if>
	      <if test="storagetermstart != null" >
	        STORAGETERMSTART = #{storagetermstart,jdbcType=TIMESTAMP},
	      </if>
	      <if test="storagetermend != null" >
	        STORAGETERMEND = #{storagetermend,jdbcType=TIMESTAMP},
	      </if>
	      <if test="storagefee != null" >
	        STORAGEFEE = #{storagefee,jdbcType=DECIMAL},
	      </if>
	      <if test="lossstandard != null" >
	        LOSSSTANDARD = #{lossstandard,jdbcType=VARCHAR},
	      </if>
		</set>
        where WLID = #{wlId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectWhlistByWlId" parameterType="String" resultMap="BusiWhlist">
       select * from ZYC.BUSI_WHLIST where WLID = #{wlId,jdbcType=VARCHAR}
   </select>
   
   <select id="selectWhlistByOrderId" parameterType="String" resultMap="BusiWhlist">
       select * from ZYC.BUSI_WHLIST where ORDERID = #{orderId,jdbcType=VARCHAR}
   </select>
</mapper>