<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.BusiListingSalesmanDao" >
  <resultMap id="BaseResultMap" type="com.jointown.zy.common.model.BusiListingSalesman" >
    <id column="INFO_ID" property="infoId" jdbcType="INTEGER" />
    <result column="LISTINGID" property="listingid" jdbcType="VARCHAR" />
    <result column="SALESMANID" property="salesmanId" jdbcType="INTEGER" />
    <result column="ORGID" property="orgId" jdbcType="INTEGER" />
    <result column="ORGS" property="orgs" jdbcType="VARCHAR" />
  </resultMap>


  <insert id="insertSalesMan" parameterType="com.jointown.zy.common.model.BusiListingSalesman" >
    insert into ZYC.BUSI_LISTING_SALESMAN 
    		 (INFO_ID, LISTINGID, SALESMANID, ORGID, ORGS)
      VALUES (ZYC.SEQ_BUSI_LISTING_SALESMAN.NEXTVAL, 
    		#{listingid,jdbcType=VARCHAR},
    	    #{salesmanId,jdbcType=INTEGER}, 
      		#{orgId,jdbcType=INTEGER},
      	    #{orgs,jdbcType=VARCHAR})
  </insert>
 	
 	
  	<!-- 根据挂牌ID查询 -->
	<select id="findBusiListingSalesmanByListingId"  parameterType="String"   resultType="com.jointown.zy.common.model.BusiListingSalesman" >
		<![CDATA[
			select * from  zyc.busi_listing_salesman where listingid=#{listingid}
		]]>
	</select>
	
		
 	 <select id="updateSalesManInfoByPRO" statementType="CALLABLE">
    	<![CDATA[  
    		{call pro_updateSalesManInfo}
    	]]>  
	</select>
	

</mapper>