<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.CertifyLogDao">

	<!-- 认证日志插入 -->
	<insert id="ucUsercertifyLogAdd" parameterType="com.jointown.zy.common.model.UcUserCertifyLog">
		<![CDATA[
			insert into boss.uc_certify_log
			(log_id,certify_id,type,memo,create_time,opraterid,opratername)
			values(boss.SEQ_UC_CERTIFY_LOG.nextval,
				#{certifyId,jdbcType=INTEGER},
				#{type,jdbcType=INTEGER},
				#{memo,jdbcType=VARCHAR},
				#{createDate,jdbcType=TIMESTAMP},
				#{opraterId,jdbcType=INTEGER},
				#{opraterName,jdbcType=VARCHAR}
			)
		]]>
	</insert>
</mapper>