<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.CmsArticleSourceMapper" >
  <resultMap id="BaseResultMap" type="com.jointown.zy.common.model.CmsArticleSource" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="LINK" property="link" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="KEYWORDS" property="keywords" jdbcType="VARCHAR" />
    <result column="NEWS_PAGING" property="newsPaging" jdbcType="DECIMAL" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="DECIMAL" />
    <result column="COLOR" property="color" jdbcType="VARCHAR" />
    <result column="IMAGE" property="image" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="TO_FROM" property="toFrom" jdbcType="DECIMAL" />
    <result column="STATE" property="state" jdbcType="DECIMAL" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="DECIMAL" />
    <result column="ART_DATA_ID" property="artDataId" jdbcType="DECIMAL" />
    <association property="cmsArticleDataArtDataId" column="artDataId" select="com.jointown.zy.common.dao.CmsArticleDataMapper.selectByPrimaryKey" />
  </resultMap>
  
  <resultMap id="SourceMap" type="com.jointown.zy.common.vo.CmsArticleSourceVo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="LINK" property="link" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="KEYWORDS" property="keywords" jdbcType="VARCHAR" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="DECIMAL" />
    <result column="IMAGE" property="image" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="TO_FROM" property="toFrom" jdbcType="DECIMAL" />
    <result column="STATE" property="state" jdbcType="DECIMAL" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="DECIMAL" />
    <result column="ART_DATA_ID" property="artDataId" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, LINK, TITLE, CREATE_BY, CREATE_DATE, UPDATE_BY, KEYWORDS, NEWS_PAGING, CATEGORY_ID, 
    COLOR, IMAGE, DESCRIPTION, REMARKS, TO_FROM, "STATE", UPDATE_DATE, DEL_FLAG, ART_DATA_ID
  </sql>
    
  <sql id="allField_NoId">
  	<if test="link != null" >LINK,</if>
    <if test="title != null" >TITLE,</if>
    <if test="createBy != null" >CREATE_BY,</if>
    <if test="createDate != null" >CREATE_DATE,</if>
    <if test="updateBy != null" >UPDATE_BY,</if>
    <if test="keywords != null" >KEYWORDS,</if>
    <if test="newsPaging != null" >NEWS_PAGING,</if>
    <if test="categoryId != null" >CATEGORY_ID,</if>
    <if test="color != null" >COLOR,</if>
    <if test="image != null" >IMAGE,</if>
    <if test="description != null" >DESCRIPTION,</if>
    <if test="remarks != null" >REMARKS,</if>
    <if test="toFrom != null" >TO_FROM, </if>
    <if test="state != null" >"STATE",</if>
    <if test="updateDate != null" >UPDATE_DATE,</if>
    <if test="delFlag != null" >DEL_FLAG,</if>
    <if test="artDataId != null" >ART_DATA_ID,</if>
  </sql>
  
  <sql id="allResult_NoId">
  	<if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="newsPaging != null" >
        #{newsPaging,jdbcType=DECIMAL},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=DECIMAL},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="toFrom != null" >
        #{toFrom,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="artDataId != null" >
        #{artDataId,jdbcType=DECIMAL},
      </if>
  </sql>
  
  <!--查询所有的文章，以及对应的栏目名称-->
  <select id="selectAll" parameterType="hashmap" resultMap="SourceMap" >
    select arts.*,cat.name from (select * from CMS_ARTICLE_SOURCE where DEL_FLAG=0) arts left join CMS_CATEGORY cat 
 	on arts.CATEGORY_ID = cat.id where 1=1
		<if test="(starttime != null and starttime !='') and (endtime != null and endtime !='')">   
			AND arts.create_date>= to_date(#{starttime,jdbcType=VARCHAR}, 'yyyy-mm-dd hh24:mi:ss')  and  to_date(#{endtime,jdbcType=VARCHAR}, 'yyyy-mm-dd hh24:mi:ss') >= arts.create_date      
		</if>   
		<if test="title != null and title != ''">   
			AND arts.title like CONCAT(CONCAT('%', #{title, jdbcType=VARCHAR}),'%')
		</if>   
		<if test="keywords != null and keywords != ''">   
			AND arts.keywords like CONCAT(CONCAT('%', #{keywords, jdbcType=VARCHAR}),'%')
		</if> 
 	order by arts.id desc
  </select>
  
  <select id="selectByArtDataId" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from ZYC.CMS_ARTICLE_SOURCE where ART_DATA_ID =#{ART_DATA_ID}
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ZYC.CMS_ARTICLE_SOURCE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ZYC.CMS_ARTICLE_SOURCE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insert" parameterType="com.jointown.zy.common.model.CmsArticleSource" >
    insert into ZYC.CMS_ARTICLE_SOURCE (<include refid="Base_Column_List" />)
    values (SEQ_CMS_ART_SOU.nextval, #{link,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{keywords,jdbcType=VARCHAR}, #{newsPaging,jdbcType=DECIMAL}, #{categoryId,jdbcType=DECIMAL}, 
      #{color,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{toFrom,jdbcType=DECIMAL}, #{state,jdbcType=DECIMAL}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=DECIMAL}, #{artDataId,jdbcType=DECIMAL}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.jointown.zy.common.model.CmsArticleSource" >
    insert into ZYC.CMS_ARTICLE_SOURCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <include refid="allField_NoId" />
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      SEQ_CMS_ART_SOU.nextval,
     <include refid="allResult_NoId" />
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.jointown.zy.common.model.CmsArticleSource" >
    update ZYC.CMS_ARTICLE_SOURCE
    <set >
      <if test="link != null" >
        LINK = #{link,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        KEYWORDS = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="newsPaging != null" >
        NEWS_PAGING = #{newsPaging,jdbcType=DECIMAL},
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID = #{categoryId,jdbcType=DECIMAL},
      </if>
      <if test="color != null" >
        COLOR = #{color,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        IMAGE = #{image,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="toFrom != null" >
        TO_FROM = #{toFrom,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        "STATE" = #{state,jdbcType=DECIMAL},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="artDataId != null" >
        ART_DATA_ID = #{artDataId,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.jointown.zy.common.model.CmsArticleSource" >
    update ZYC.CMS_ARTICLE_SOURCE
    set LINK = #{link,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      KEYWORDS = #{keywords,jdbcType=VARCHAR},
      NEWS_PAGING = #{newsPaging,jdbcType=DECIMAL},
      CATEGORY_ID = #{categoryId,jdbcType=DECIMAL},
      COLOR = #{color,jdbcType=VARCHAR},
      IMAGE = #{image,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      TO_FROM = #{toFrom,jdbcType=DECIMAL},
      "STATE" = #{state,jdbcType=DECIMAL},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      ART_DATA_ID = #{artDataId,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>