<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.CmsArticleDataMapper" >
  <resultMap id="BaseResultMap" type="com.jointown.zy.common.model.CmsArticleData" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="COPYFROM" property="copyfrom" jdbcType="VARCHAR" />
    <result column="RELATION" property="relation" jdbcType="VARCHAR" />
    <result column="ALLOW_COMMENT" property="allowComment" jdbcType="DECIMAL" />
    <collection property="cmsArticlesArtDataId" ofType="com.jointown.zy.common.model.cms.CmsArticle" column="ID" select="com.jointown.zy.common.dao.CmsArticleMapper.selectByArtDataId" />
    <collection property="cmsArticleSourcesArtDataId" ofType="com.jointown.zy.common.model.cms.CmsArticleSource" column="ID" select="com.jointown.zy.common.dao.CmsArticleSourceMapper.selectByArtDataId" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jointown.zy.common.model.CmsArticleData" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, COPYFROM, RELATION, ALLOW_COMMENT
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ZYC.CMS_ARTICLE_DATA
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ZYC.CMS_ARTICLE_DATA
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.jointown.zy.common.model.CmsArticleData" >
     <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE">
	   	select SEQ_CMS_ART_DATA.nextval as id from dual
  	 </selectKey>
    insert into ZYC.CMS_ARTICLE_DATA (ID, COPYFROM, RELATION, 
      ALLOW_COMMENT, CONTENT)
    values (#{id,jdbcType=DECIMAL}, #{copyfrom,jdbcType=VARCHAR}, #{relation,jdbcType=VARCHAR}, 
      #{allowComment,jdbcType=DECIMAL}, #{content,jdbcType=CLOB})
  </insert>
  
  <insert id="insertSelective" parameterType="com.jointown.zy.common.model.CmsArticleData" >
     <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE">
	   	select SEQ_CMS_ART_DATA.nextval as id from dual
  	 </selectKey>
    insert into ZYC.CMS_ARTICLE_DATA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      COPYFROM,
      RELATION,
      ALLOW_COMMENT,
      CONTENT,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=DECIMAL},
      #{copyfrom,jdbcType=VARCHAR},
      #{relation,jdbcType=VARCHAR},
      #{allowComment,jdbcType=DECIMAL},
      #{content,jdbcType=CLOB},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jointown.zy.common.model.CmsArticleData" >
    update ZYC.CMS_ARTICLE_DATA
    <set >
      <if test="copyfrom != null" >
        COPYFROM = #{copyfrom,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        RELATION = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="allowComment != null" >
        ALLOW_COMMENT = #{allowComment,jdbcType=DECIMAL},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jointown.zy.common.model.CmsArticleData" >
    update ZYC.CMS_ARTICLE_DATA
    set COPYFROM = #{copyfrom,jdbcType=VARCHAR},
      RELATION = #{relation,jdbcType=VARCHAR},
      ALLOW_COMMENT = #{allowComment,jdbcType=DECIMAL},
      CONTENT = #{content,jdbcType=CLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jointown.zy.common.model.CmsArticleData" >
    update ZYC.CMS_ARTICLE_DATA
    set COPYFROM = #{copyfrom,jdbcType=VARCHAR},
      RELATION = #{relation,jdbcType=VARCHAR},
      ALLOW_COMMENT = #{allowComment,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>