<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.CmsSiteDao" >
  <resultMap id="BaseResultMap" type="com.jointown.zy.common.model.CmsSite" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="LOGO" property="logo" jdbcType="VARCHAR" />
    <result column="DOMAIN" property="domain" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="KEYWORDS" property="keywords" jdbcType="VARCHAR" />
    <result column="THEME" property="theme" jdbcType="VARCHAR" />
    <result column="CUSTOM_INDEX_VIEW" property="customIndexView" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jointown.zy.common.model.CmsSite" extends="BaseResultMap" >
    <result column="COPYRIGHT" property="copyright" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, "NAME", TITLE, LOGO, "DOMAIN", DESCRIPTION, KEYWORDS, THEME, CUSTOM_INDEX_VIEW, 
    CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, REMARKS, DEL_FLAG
  </sql>
  <sql id="Blob_Column_List" >
    COPYRIGHT
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ZYC.CMS_SITE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <!-- 查询出数据库中所有正常的站点 -->
  <select id="selectAllCmsSite" resultMap="ResultMapWithBLOBs" >
     select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ZYC.CMS_SITE
    where ZYC.CMS_SITE.del_flag = '0' order by ZYC.CMS_SITE.id asc
  </select>
  
  <!-- 动态模糊查询出数据库中存在的站点 -->
  
   <select id="selectDynamicCmsSite"  resultMap="ResultMapWithBLOBs" parameterType="java.util.HashMap">
     select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ZYC.CMS_SITE
    where ZYC.CMS_SITE.del_flag = '0' 
    <if test="datetimepicker1 !=null">
    	<![CDATA[ and ZYC.CMS_SITE.create_date>= #{datetimepicker1,jdbcType=TIMESTAMP} ]]>
    </if>
    <if test="datetimepicker2 !=null">
    	<![CDATA[ and ZYC.CMS_SITE.create_date<= #{datetimepicker2,jdbcType=TIMESTAMP} ]]>
    </if>
    <if test="name !=null">
    	<![CDATA[ and ZYC.CMS_SITE.name like  '%${name}%'  ]]>
    </if>
    <if test="keywords !=null">
    	<![CDATA[ and ZYC.CMS_SITE.keywords like '%${keywords}%' ]]>
    </if>
    <if test="theme !=null">
    	<![CDATA[ and ZYC.CMS_SITE.theme like '%${theme}%' ]]>
    </if>
    order by ZYC.CMS_SITE.id asc
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ZYC.CMS_SITE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.jointown.zy.common.model.CmsSite">
    insert into ZYC.CMS_SITE (ID, "NAME", TITLE, 
      LOGO, "DOMAIN", DESCRIPTION, 
      KEYWORDS, THEME, CUSTOM_INDEX_VIEW, 
      CREATE_BY, CREATE_DATE, UPDATE_BY, 
      UPDATE_DATE, REMARKS, DEL_FLAG, 
      COPYRIGHT)
    values (seq_cms_site.nextval, #{name,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{keywords,jdbcType=VARCHAR}, #{theme,jdbcType=VARCHAR}, #{customIndexView,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=DECIMAL}, 
      #{copyright,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.jointown.zy.common.model.CmsSite" >
    insert into ZYC.CMS_SITE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      "NAME",
      TITLE,
      LOGO,
      "DOMAIN",
      DESCRIPTION,
      KEYWORDS,
      THEME,
      CUSTOM_INDEX_VIEW,
      CREATE_BY,
      CREATE_DATE,
      UPDATE_BY,
      UPDATE_DATE,
      REMARKS,
      DEL_FLAG,
      COPYRIGHT,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      seq_cms_site.nextval,
      #{name,jdbcType=VARCHAR},
      #{title,jdbcType=VARCHAR},
      #{logo,jdbcType=VARCHAR},
      #{domain,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR},
      #{keywords,jdbcType=VARCHAR},
      #{theme,jdbcType=VARCHAR},
      #{customIndexView,jdbcType=VARCHAR},
      #{createBy,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR},
      #{updateDate,jdbcType=TIMESTAMP},
      #{remarks,jdbcType=VARCHAR},
      #{delFlag,jdbcType=DECIMAL},
      #{copyright,jdbcType=CLOB},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jointown.zy.common.model.CmsSite" >
    update ZYC.CMS_SITE
    <set >
      <if test="name != null" >
        "NAME" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        LOGO = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="domain != null" >
        "DOMAIN" = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null" >
        KEYWORDS = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="theme != null" >
        THEME = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="customIndexView != null" >
        CUSTOM_INDEX_VIEW = #{customIndexView,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="copyright != null" >
        COPYRIGHT = #{copyright,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jointown.zy.common.model.CmsSite" >
    update ZYC.CMS_SITE
    set "NAME" = #{name,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      LOGO = #{logo,jdbcType=VARCHAR},
      "DOMAIN" = #{domain,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      KEYWORDS = #{keywords,jdbcType=VARCHAR},
      THEME = #{theme,jdbcType=VARCHAR},
      CUSTOM_INDEX_VIEW = #{customIndexView,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL},
      COPYRIGHT = #{copyright,jdbcType=CLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jointown.zy.common.model.CmsSite" >
    update ZYC.CMS_SITE
    set "NAME" = #{name,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      LOGO = #{logo,jdbcType=VARCHAR},
      "DOMAIN" = #{domain,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      KEYWORDS = #{keywords,jdbcType=VARCHAR},
      THEME = #{theme,jdbcType=VARCHAR},
      CUSTOM_INDEX_VIEW = #{customIndexView,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      DEL_FLAG = #{delFlag,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>