<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.CustomerAccountDao" >
  <resultMap id="BaseResultList" type="com.jointown.zy.common.vo.CustomerAccountVo" >
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="REALNAME" property="realName" jdbcType="VARCHAR" />
    <result column="WLUNITNAME" property="unit" jdbcType="VARCHAR" />
    
    <result column="WLTOTAL" property="wlTotal" jdbcType="DECIMAL" />
    <result column="IN_TOTAL" property="inWLTotal" jdbcType="DECIMAL" />
    <result column="WLNUM" property="wlNums" jdbcType="DECIMAL" />
    <result column="BREEDNUM" property="wlBreeds" jdbcType="DECIMAL" />
    
    <result column="LISTINGAMOUNT_TOTAL" property="listingAmount" jdbcType="DECIMAL" />
    <result column="LISTINGID_NUM" property="listingNum" jdbcType="DECIMAL" />
    <result column="LISTINGBREEDID_NUM" property="listingBreedNum" jdbcType="DECIMAL" />
    
    <result column="ORDERTOTALAMT" property="orderTotalAmt" jdbcType="DECIMAL" />
    <result column="ORDERNUM" property="orderNum" jdbcType="DECIMAL" />
    <result column="ORDERBREEDNUM" property="orderBreedNum" jdbcType="DECIMAL" />
    <result column="ORDERPAYMENT" property="orderPayment" jdbcType="DECIMAL" />
    
    <result column="PURCHASEAMOUNT" property="purchaseAmount" jdbcType="DECIMAL" />
    <result column="PURCHASEBREEDNUM" property="purchaseBreedNum" jdbcType="DECIMAL" />
    <result column="PURCHASEORDERNUM" property="purchaseOrderNum" jdbcType="DECIMAL" />
    <result column="PURCHASEORDERAMT" property="purchaseOrderAmt" jdbcType="DECIMAL" />
    
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="SALSMANNAME" property="salsManName" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- 客户账户统计总量 -->
  <resultMap type="com.jointown.zy.common.vo.CustomerAccountTotalVo" id="customerAccountTotalVo">
  		<result column="WLTOTALS" property="wlTotal" jdbcType="DECIMAL" />
  		<result column="LISTINGTOTALS" property="listingTotal" jdbcType="DECIMAL" />
  		<result column="ORDERTOTALS" property="orderTotal" jdbcType="DECIMAL" />
  		<result column="ORDERTOTALAMTS" property="orderAmountTotal" jdbcType="DECIMAL" />
  		<result column="PURCHASETOTALS" property="purchaseTotal" jdbcType="DECIMAL" />
  		<result column="PURCHASETOTALAMTS" property="purchaseAmountTotal" jdbcType="DECIMAL" />
  </resultMap>
  
  <!-- 查询客户账务报表 -->
  <select id="selectCustomerAccountList" resultMap="BaseResultList" parameterType="com.jointown.zy.common.model.Page" >
    select * from  (select distinct a.user_id,
		                a.user_name,
		                boss.get_certify_name(a.user_id) as realName, <!--姓名-->
		                i.dict_value as wlunitName,
		                b.wlunit, <!--单位-->
		                
		                c.wltotal, <!--仓单总量-->
		                c.in_total, <!--入库总量-->
		                c.wlnum, <!--仓单数量-->
		                c.breednum, <!--品种数-->
		                
		                d.listingbreedid_num, <!--挂牌品种数-->
		                d.listingid_num, <!--挂牌笔数-->
		                d.listingamount_total, <!--挂牌总量-->
		                
		                e.orderTotalAmt, <!--销售总量-->
		                e.orderNum, <!--销售笔数-->
		                e.orderbreednum, <!--销售品种数-->
		                e.orderpayment, <!--销售金额-->
		                
		                f.purchaseamount, <!--采购数量-->
		                f.purchasebreednum, <!--采购品种数-->
		                f.purchaseOrderNum, <!--采购订单数-->
		                f.purchaseOrderamt, <!--采购总额-->
		                
		                h.org_name, <!--大区-->
		                g.user_name as salsManName <!--业务员-->
		  from boss.uc_user a
		  left join (select userid, wlunit, wlid from zyc.busi_whlist) b
		    on a.user_id = b.userid
		  left join
		<!--仓单-->    
		 (select userid,
		         WLUNIT,
		         sum(decode(substr(WAREHOUSEID, 5, 1), 'M', INTOTAL, 'Z', INTOTAL, 0)) as in_total,
		         count(distinct wlid) as wlnum,
		         count(distinct breedcode) as breednum,
		         sum(INTOTAL) as wltotal
		    from zyc.busi_whlist
		    where PWLID is null
		    <if test="params.cAccountDto.startDate !=null and ''!=params.cAccountDto.startDate">
		    	<![CDATA[
		    		AND	CREATETIME > to_date(#{params.cAccountDto.startDate},'yyyy-mm-dd hh24:mi:ss')
		    	]]>
		    </if>
		     <if test="params.cAccountDto.endDate !=null and ''!=params.cAccountDto.endDate">
		    	<![CDATA[
		    		AND	CREATETIME < to_date(#{params.cAccountDto.endDate},'yyyy-mm-dd hh24:mi:ss')
		    	]]>
		    </if>
		   group by WLUNIT, userid) c
		    on b.wlunit = c.WLUNIT
		   and b.userid = c.userid
		  left join
		<!--挂牌-->
		 (select a.userid,
		         a.wlunit,
		         count(distinct b.breedid) as listingbreedid_num,
		         count(distinct b.listingid) as listingid_num,
		         sum(b.FIRST_AMOUNT) as listingamount_total
		    from zyc.busi_whlist a
		    left join zyc.busi_listing b
		      on a.wlid = b.wlid
		   where nvl(b.FIRST_AMOUNT, 0) > 0 
		    <if test="params.cAccountDto.startDate !=null and ''!=params.cAccountDto.startDate">
		    	<![CDATA[
		    		AND	b.FIRST_EXAMINETIME > to_date(#{params.cAccountDto.startDate},'yyyy-mm-dd hh24:mi:ss')
		    	]]>
		    </if>
		     <if test="params.cAccountDto.endDate !=null and ''!=params.cAccountDto.endDate">
		    	<![CDATA[
		    		AND	b.FIRST_EXAMINETIME < to_date(#{params.cAccountDto.endDate},'yyyy-mm-dd hh24:mi:ss')
		    	]]>
		    </if>
		   group by a.wlunit, a.userid) d
		    on b.wlunit = d.wlunit
		   and b.userid = d.userid
		  left join
		<!--销售-->
		 (select a.userid,
		         a.wlunit,
		         sum(b.VOLUME) as orderTotalAmt,
		         count(b.orderid) as orderNum,
		         count(distinct a.breedcode) as orderbreednum,
		         sum(b.actual_payment) as orderpayment
		    from zyc.busi_whlist a, zyc.busi_order b
		   where a.wlid = b.wlid
		     and b.ORDERSTATE = 1
		     <if test="params.cAccountDto.startDate !=null and ''!=params.cAccountDto.startDate">
		    	<![CDATA[
		    		AND	b.UPDATETIME > to_date(#{params.cAccountDto.startDate},'yyyy-mm-dd hh24:mi:ss')
		    	]]>
		    </if>
		     <if test="params.cAccountDto.endDate !=null and ''!=params.cAccountDto.endDate">
		    	<![CDATA[
		    		AND	b.UPDATETIME < to_date(#{params.cAccountDto.endDate},'yyyy-mm-dd hh24:mi:ss')
		    	]]>
		    </if>
		   group by a.wlunit, a.userid) e
		    on b.wlunit = e.wlunit
		   and a.user_id = e.userid
		  left join
		<!--采购 -->
		 (select d.buyer,
		         d.wlunit,
		         sum(d.VOLUME) as purchaseamount,
		         count(distinct d.breedcode) as purchasebreednum,
		         count(distinct d.orderid) as purchaseOrderNum,
		         sum(d.actual_payment) as purchaseOrderamt
		    from (select c.buyer,
		                 b.wlunit,
		                 b.wlid,
		                 b.breedcode,
		                 c.orderid,
		                 c.orderstate,
		                 c.actual_payment,
		                 c.VOLUME
		            from zyc.busi_whlist b, zyc.busi_order c
		           where b.wlid = c.wlid
		             and c.ORDERSTATE = 1
		              <if test="params.cAccountDto.startDate !=null and ''!=params.cAccountDto.startDate">
					    	<![CDATA[
					    		AND	c.UPDATETIME > to_date(#{params.cAccountDto.startDate},'yyyy-mm-dd hh24:mi:ss')
					    	]]>
					  </if>
					  <if test="params.cAccountDto.endDate !=null and ''!=params.cAccountDto.endDate">
					    	<![CDATA[
					    		AND	c.UPDATETIME < to_date(#{params.cAccountDto.endDate},'yyyy-mm-dd hh24:mi:ss')
					    	]]>
					  </if>
		             ) d
		   group by d.wlunit, d.buyer) f
		    on b.wlunit = f.wlunit
		   and a.user_id = f.buyer
		  left join boss.boss_user g
		    on a.salesmanid = g.user_id
		  left join boss.boss_org h
		    on g.org_id = h.org_id
		  left join boss.dict_info i
            on b.wlunit = i.dict_code    
		  where <![CDATA[a.status <>1]]>
		  <if test="params.cAccountDto.userName !=null and ''!=params.cAccountDto.userName">
		  	and a.user_name like '%${params.cAccountDto.userName}%'
		  </if>
		  <if test="params.cAccountDto.realName !=null and ''!=params.cAccountDto.realName">
		  	and boss.get_certify_name(a.user_id) like '%${params.cAccountDto.realName}%'
		  </if>
		  <if test="params.cAccountDto.salesMan !=null and ''!=params.cAccountDto.salesMan">
		  	and g.user_name like '%${params.cAccountDto.salesMan}%'
		  </if>
		  <if test="params.cAccountDto.orgId !=null and ''!=params.cAccountDto.orgId">
		  	and h.org_id = #{params.cAccountDto.orgId}
		  </if>
		  ) where wlunit is not null 
		  and (wltotal>0 or listingamount_total>0 or orderTotalAmt>0 or purchaseamount>0)
		  order by user_name
  </select>
  
  <!-- 获取客户账务统计总量 -->
  <select id="selectCustomerAccountTotals" parameterType="Map" resultMap="customerAccountTotalVo">
  		select 
	  		sum(wltotal) as WLTOTALS, 
	  		sum(listingamount_total) as LISTINGTOTALS, 
	  		sum(orderTotalAmt) as ORDERTOTALS,
	  		sum(orderpayment) as ORDERTOTALAMTS,
	  		sum(purchaseamount) as  PURCHASETOTALS,
	  		sum(purchaseOrderamt) as PURCHASETOTALAMTS
  		from  (select distinct a.user_id,
		                a.user_name,
		                boss.get_certify_name(a.user_id) as realName, <!--姓名-->
		                i.dict_value as wlunitName,
		                b.wlunit, <!--单位-->
		                
		                c.wltotal, <!--仓单总量-->
		                c.in_total, <!--入库总量-->
		                c.wlnum, <!--仓单数量-->
		                c.breednum, <!--品种数-->
		                
		                d.listingbreedid_num, <!--挂牌品种数-->
		                d.listingid_num, <!--挂牌笔数-->
		                d.listingamount_total, <!--挂牌总量-->
		                
		                e.orderTotalAmt, <!--销售总量-->
		                e.orderNum, <!--销售笔数-->
		                e.orderbreednum, <!--销售品种数-->
		                e.orderpayment, <!--销售金额-->
		                
		                f.purchaseamount, <!--采购数量-->
		                f.purchasebreednum, <!--采购品种数-->
		                f.purchaseOrderNum, <!--采购订单数-->
		                f.purchaseOrderamt, <!--采购总额-->
		                
		                h.org_name, <!--大区-->
		                g.user_name as salsManName <!--业务员-->
		  from boss.uc_user a
		  left join (select userid, wlunit, wlid from zyc.busi_whlist) b
		    on a.user_id = b.userid
		  left join
		<!--仓单-->    
		 (select userid,
		         WLUNIT,
		         sum(decode(substr(WAREHOUSEID, 5, 1), 'M', INTOTAL, 'Z', INTOTAL, 0)) as in_total,
		         count(distinct wlid) as wlnum,
		         count(distinct breedcode) as breednum,
		         sum(INTOTAL) as wltotal
		    from zyc.busi_whlist
		    where PWLID is null
		    <if test="startDate !=null and ''!=startDate">
		    	<![CDATA[
		    		AND	CREATETIME > to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
		    	]]>
		    </if>
		     <if test="endDate !=null and ''!=endDate">
		    	<![CDATA[
		    		AND	CREATETIME < to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
		    	]]>
		    </if>
		   group by WLUNIT, userid) c
		    on b.wlunit = c.WLUNIT
		   and b.userid = c.userid
		  left join
		<!--挂牌-->
		 (select a.userid,
		         a.wlunit,
		         count(distinct b.breedid) as listingbreedid_num,
		         count(distinct b.listingid) as listingid_num,
		         sum(b.FIRST_AMOUNT) as listingamount_total
		    from zyc.busi_whlist a
		    left join zyc.busi_listing b
		      on a.wlid = b.wlid
		   where nvl(b.FIRST_AMOUNT, 0) > 0 
		    <if test="startDate !=null and ''!=startDate">
		    	<![CDATA[
		    		AND	b.FIRST_EXAMINETIME > to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
		    	]]>
		    </if>
		     <if test="endDate !=null and ''!=endDate">
		    	<![CDATA[
		    		AND	b.FIRST_EXAMINETIME < to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
		    	]]>
		    </if>
		   group by a.wlunit, a.userid) d
		    on b.wlunit = d.wlunit
		   and b.userid = d.userid
		  left join
		<!--销售-->
		 (select a.userid,
		         a.wlunit,
		         sum(b.VOLUME) as orderTotalAmt,
		         count(b.orderid) as orderNum,
		         count(distinct a.breedcode) as orderbreednum,
		         sum(b.actual_payment) as orderpayment
		    from zyc.busi_whlist a, zyc.busi_order b
		   where a.wlid = b.wlid
		     and b.ORDERSTATE = 1
		     <if test="startDate !=null and ''!=startDate">
		    	<![CDATA[
		    		AND	b.UPDATETIME > to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
		    	]]>
		    </if>
		     <if test="endDate !=null and ''!=endDate">
		    	<![CDATA[
		    		AND	b.UPDATETIME < to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
		    	]]>
		    </if>
		   group by a.wlunit, a.userid) e
		    on b.wlunit = e.wlunit
		   and a.user_id = e.userid
		  left join
		<!--采购 -->
		 (select d.buyer,
		         d.wlunit,
		         sum(d.VOLUME) as purchaseamount,
		         count(distinct d.breedcode) as purchasebreednum,
		         count(distinct d.orderid) as purchaseOrderNum,
		         sum(d.actual_payment) as purchaseOrderamt
		    from (select c.buyer,
		                 b.wlunit,
		                 b.wlid,
		                 b.breedcode,
		                 c.orderid,
		                 c.orderstate,
		                 c.actual_payment,
		                 c.VOLUME
		            from zyc.busi_whlist b, zyc.busi_order c
		           where b.wlid = c.wlid
		             and c.ORDERSTATE = 1
		              <if test="startDate !=null and ''!=startDate">
					    	<![CDATA[
					    		AND	c.UPDATETIME > to_date(#{startDate},'yyyy-mm-dd hh24:mi:ss')
					    	]]>
					  </if>
					  <if test="endDate !=null and ''!=endDate">
					    	<![CDATA[
					    		AND	c.UPDATETIME < to_date(#{endDate},'yyyy-mm-dd hh24:mi:ss')
					    	]]>
					  </if>
		             ) d
		   group by d.wlunit, d.buyer) f
		    on b.wlunit = f.wlunit
		   and a.user_id = f.buyer
		  left join boss.boss_user g
		    on a.salesmanid = g.user_id
		  left join boss.boss_org h
		    on g.org_id = h.org_id
		  left join boss.dict_info i
            on b.wlunit = i.dict_code    
		  where  <![CDATA[a.status <>1]]> and b.wlunit='kg'
		  <if test="userName !=null and ''!=userName">
		  	and a.user_name like '%${userName}%'
		  </if>
		  <if test="realName !=null and ''!=realName">
		  	and boss.get_certify_name(a.user_id) like '%${realName}%'
		  </if>
		  <if test="salesMan !=null and ''!=salesMan">
		  	and g.user_name like '%${salesMan}%'
		  </if>
		  <if test="orgId !=null and ''!=orgId">
		  	and h.org_id = #{orgId}
		  </if>
		  ) where wlunit is not null  order by user_name
  </select>
  
</mapper>