<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.EastJgPaiHangDao">
	<resultMap id="EastJgPaiHangVo" type="com.jointown.zy.common.vo.EastJgPaiHangVo">
		<result column="YCNAM" property="ycName" jdbcType="VARCHAR" />
		<result column="GUIGE" property="guiGe" jdbcType="VARCHAR" />
		<result column="PRI" property="price" jdbcType="DECIMAL" />
		<result column="YUAN_PRI" property="yuanPrice" jdbcType="DECIMAL" />
		<result column="CHANDI" property="chanDi" jdbcType="VARCHAR" />
		<result column="SHIJIAN" property="yuanDtm" jdbcType="DATE" />
		<result column="HANGQING" property="hangQing" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 查询涨Top10 -->
	<select id="selectUpPaiHang" resultMap="EastJgPaiHangVo">
	    select y.YCNAM,p.GUIGE,p.CHANDI,jp.PRI,jp.YUAN_PRI,jp.SHIJIAN,jp.HANGQING
			from WEIXIN.VIEW_EAST_JG_PAIHANG jp
			left join WEIXIN.EAST_PINZHONG p on jp.PZID = p.PZID
			left join WEIXIN.EAST_YAOCAI y on p.YCID = y.YCID
			<![CDATA[where rownum <= 10 
					 and jp.HANGQING > 0.00 
			]]> 
			order by jp.HANGQING desc
	</select>

	<!-- 查询跌Top10 -->
	<select id="selectDownPaiHang" resultMap="EastJgPaiHangVo">
	    select y.YCNAM,p.GUIGE,p.CHANDI,jp.PRI,jp.YUAN_PRI,jp.SHIJIAN,jp.HANGQING
			from WEIXIN.VIEW_EAST_JG_PAIHANG jp
			left join WEIXIN.EAST_PINZHONG p on jp.PZID = p.PZID
			left join WEIXIN.EAST_YAOCAI y on p.YCID = y.YCID
			<![CDATA[where rownum <= 10 
			         and jp.HANGQING < 0.00 
			]]> 
			order by jp.HANGQING desc
	</select>
</mapper>