<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.EastYaocaiDao" >
  <resultMap id="EastYaocai" type="com.jointown.zy.common.model.EastYaocai" >
    <id column="YCNAM" property="ycnam" jdbcType="VARCHAR" />
    <result column="YCID" property="ycid" jdbcType="DECIMAL" />
    <result column="PINYIN" property="pinyin" jdbcType="VARCHAR" />
    <result column="JIANPIN" property="jianpin" jdbcType="VARCHAR" />
    <result column="LBID" property="lbid" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    YCNAM, YCID, PINYIN, JIANPIN, LBID
  </sql>
  <select id="selectByPrimaryKey" resultMap="EastYaocai" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from WEIXIN.EAST_YAOCAI
    where YCNAM = #{ycnam,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from WEIXIN.EAST_YAOCAI
    where YCNAM = #{ycnam,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jointown.zy.common.model.EastYaocai" >
    insert into WEIXIN.EAST_YAOCAI (YCNAM, YCID, PINYIN, 
      JIANPIN, LBID)
    values (#{ycnam,jdbcType=VARCHAR}, #{ycid,jdbcType=DECIMAL}, #{pinyin,jdbcType=VARCHAR}, 
      #{jianpin,jdbcType=VARCHAR}, #{lbid,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.jointown.zy.common.model.EastYaocai" >
    insert into WEIXIN.EAST_YAOCAI
    <trim prefix="(" suffix=")" suffixOverrides="," >
      YCNAM,
      YCID,
      PINYIN,
      JIANPIN,
      LBID,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{ycnam,jdbcType=VARCHAR},
      #{ycid,jdbcType=DECIMAL},
      #{pinyin,jdbcType=VARCHAR},
      #{jianpin,jdbcType=VARCHAR},
      #{lbid,jdbcType=DECIMAL},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jointown.zy.common.model.EastYaocai" >
    update WEIXIN.EAST_YAOCAI
    <set >
      <if test="ycid != null" >
        YCID = #{ycid,jdbcType=DECIMAL},
      </if>
      <if test="pinyin != null" >
        PINYIN = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="jianpin != null" >
        JIANPIN = #{jianpin,jdbcType=VARCHAR},
      </if>
      <if test="lbid != null" >
        LBID = #{lbid,jdbcType=DECIMAL},
      </if>
    </set>
    where YCNAM = #{ycnam,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jointown.zy.common.model.EastYaocai" >
    update WEIXIN.EAST_YAOCAI
    set YCID = #{ycid,jdbcType=DECIMAL},
      PINYIN = #{pinyin,jdbcType=VARCHAR},
      JIANPIN = #{jianpin,jdbcType=VARCHAR},
      LBID = #{lbid,jdbcType=DECIMAL}
    where YCNAM = #{ycnam,jdbcType=VARCHAR}
  </update>
  
  <!-- 查询全部有品种档案的药材（东方中药材） -->
  <select id="selectEastYaocaiPzs" resultMap="EastYaocai" parameterType="java.lang.String" >
    select y.YCNAM,y.JIANPIN
    from WEIXIN.EAST_YAOCAI y
    right join WEIXIN.EAST_PZ_DANGAN p on y.YCNAM = p.YCNAM
    where y.YCNAM is not null order by y.JIANPIN asc
  </select>
</mapper>