<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.EastGongqiuDao" >
  <resultMap id="BaseResultMap" type="com.jointown.zy.common.model.EastGongqiu" >
    <id column="GQID" property="gqid" jdbcType="DECIMAL" />
    <result column="SHOPID" property="shopid" jdbcType="DECIMAL" />
    <result column="YHID" property="yhid" jdbcType="DECIMAL" />
    <result column="GQFLG" property="gqflg" jdbcType="CHAR" />
    <result column="GQTYP" property="gqtyp" jdbcType="CHAR" />
    <result column="YCNAM" property="ycnam" jdbcType="VARCHAR" />
    <result column="GUIGE" property="guige" jdbcType="VARCHAR" />
    <result column="CHANDI" property="chandi" jdbcType="VARCHAR" />
    <result column="SHUL" property="shul" jdbcType="DECIMAL" />
    <result column="DANW" property="danw" jdbcType="CHAR" />
    <result column="PRI" property="pri" jdbcType="VARCHAR" />
    <result column="HUOYUANDI" property="huoyuandi" jdbcType="VARCHAR" />
    <result column="MARKET" property="market" jdbcType="DECIMAL" />
    <result column="JISHOU" property="jishou" jdbcType="CHAR" />
    <result column="FROMCHANDI" property="fromchandi" jdbcType="CHAR" />
    <result column="PICURL" property="picurl" jdbcType="VARCHAR" />
    <result column="XIANGXI" property="xiangxi" jdbcType="VARCHAR" />
    <result column="ENDTM" property="endtm" jdbcType="TIMESTAMP" />
    <result column="DTM" property="dtm" jdbcType="TIMESTAMP" />
    <result column="PXDTM" property="pxdtm" jdbcType="TIMESTAMP" />
    <result column="UPDTM" property="updtm" jdbcType="TIMESTAMP" />
    <result column="CLICKNUM" property="clicknum" jdbcType="DECIMAL" />
    <result column="LASTIP" property="lastip" jdbcType="VARCHAR" />
    <result column="FKTYPE" property="fktype" jdbcType="CHAR" />
    <result column="TONGZHI" property="tongzhi" jdbcType="CHAR" />
    <result column="SHFLG" property="shflg" jdbcType="CHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="APPROVE_TIME" property="approveTime" jdbcType="TIMESTAMP" />
    <result column="APPROVER" property="approver" jdbcType="DECIMAL" />
  </resultMap>
  
  <!-- 后台求购信息管理：查询求购信息  by aizhengdong 2015.06.19  start -->
  <resultMap id="selectEastGongqiuById" type="com.jointown.zy.common.vo.EastGongqiuVo" >
    <result column="gq_id" property="gqid" jdbcType="DECIMAL" />  
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_mobile" property="userMobile" jdbcType="VARCHAR" />
    <result column="breed_name" property="ycnam" jdbcType="VARCHAR" />
    <result column="breed_standard_level" property="guige" jdbcType="VARCHAR" />
    <result column="breed_price" property="pri" jdbcType="VARCHAR" />
    <result column="breed_amount" property="qtyUnitQty" jdbcType="VARCHAR" />
    <result column="breed_place" property="chandi" jdbcType="VARCHAR" />
    <result column="create_time" property="dtm" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updtm" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="approve" property="approverName" jdbcType="VARCHAR" />
    <result column="APPROVE_TIME" property="approveTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <!-- 后台求购信息管理：查询求购信息  by aizhengdong 2015.06.19  end -->
  
  <sql id="Base_Column_List" >
    GQID, SHOPID, YHID, GQFLG, GQTYP, YCNAM, GUIGE, CHANDI, SHUL, DANW, PRI, HUOYUANDI, 
    MARKET, JISHOU, FROMCHANDI, PICURL, XIANGXI, ENDTM, DTM, PXDTM, UPDTM, CLICKNUM, 
    LASTIP, FKTYPE, TONGZHI, SHFLG, "STATUS", APPROVE_TIME, APPROVER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from WEIXIN.EAST_GONGQIU
    where GQID = #{gqid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from WEIXIN.EAST_GONGQIU
    where GQID = #{gqid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.jointown.zy.common.model.EastGongqiu" >
    insert into WEIXIN.EAST_GONGQIU (GQID, SHOPID, YHID, 
      GQFLG, GQTYP, YCNAM, GUIGE, 
      CHANDI, SHUL, DANW, PRI, 
      HUOYUANDI, MARKET, JISHOU, 
      FROMCHANDI, PICURL, XIANGXI, 
      ENDTM, DTM, PXDTM, 
      UPDTM, CLICKNUM, LASTIP, 
      FKTYPE, TONGZHI, SHFLG, "STATUS", 
      APPROVE_TIME, APPROVER)
    values (#{gqid,jdbcType=DECIMAL}, #{shopid,jdbcType=DECIMAL}, #{yhid,jdbcType=DECIMAL}, 
      #{gqflg,jdbcType=CHAR}, #{gqtyp,jdbcType=CHAR}, #{ycnam,jdbcType=VARCHAR}, #{guige,jdbcType=VARCHAR}, 
      #{chandi,jdbcType=VARCHAR}, #{shul,jdbcType=DECIMAL}, #{danw,jdbcType=CHAR}, #{pri,jdbcType=VARCHAR}, 
      #{huoyuandi,jdbcType=VARCHAR}, #{market,jdbcType=DECIMAL}, #{jishou,jdbcType=CHAR}, 
      #{fromchandi,jdbcType=CHAR}, #{picurl,jdbcType=VARCHAR}, #{xiangxi,jdbcType=VARCHAR}, 
      #{endtm,jdbcType=TIMESTAMP}, #{dtm,jdbcType=TIMESTAMP}, #{pxdtm,jdbcType=TIMESTAMP}, 
      #{updtm,jdbcType=TIMESTAMP}, #{clicknum,jdbcType=DECIMAL}, #{lastip,jdbcType=VARCHAR}, 
      #{fktype,jdbcType=CHAR}, #{tongzhi,jdbcType=CHAR}, #{shflg,jdbcType=CHAR}, #{status,jdbcType=DECIMAL}, 
      #{approveTime,jdbcType=TIMESTAMP}, #{approver,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.jointown.zy.common.model.EastGongqiu" >
    insert into WEIXIN.EAST_GONGQIU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      GQID,
      SHOPID,
      YHID,
      GQFLG,
      GQTYP,
      YCNAM,
      GUIGE,
      CHANDI,
      SHUL,
      DANW,
      PRI,
      HUOYUANDI,
      MARKET,
      JISHOU,
      FROMCHANDI,
      PICURL,
      XIANGXI,
      ENDTM,
      DTM,
      PXDTM,
      UPDTM,
      CLICKNUM,
      LASTIP,
      FKTYPE,
      TONGZHI,
      SHFLG,
      "STATUS",
      APPROVE_TIME,
      APPROVER,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{gqid,jdbcType=DECIMAL},
      #{shopid,jdbcType=DECIMAL},
      #{yhid,jdbcType=DECIMAL},
      #{gqflg,jdbcType=CHAR},
      #{gqtyp,jdbcType=CHAR},
      #{ycnam,jdbcType=VARCHAR},
      #{guige,jdbcType=VARCHAR},
      #{chandi,jdbcType=VARCHAR},
      #{shul,jdbcType=DECIMAL},
      #{danw,jdbcType=CHAR},
      #{pri,jdbcType=VARCHAR},
      #{huoyuandi,jdbcType=VARCHAR},
      #{market,jdbcType=DECIMAL},
      #{jishou,jdbcType=CHAR},
      #{fromchandi,jdbcType=CHAR},
      #{picurl,jdbcType=VARCHAR},
      #{xiangxi,jdbcType=VARCHAR},
      #{endtm,jdbcType=TIMESTAMP},
      #{dtm,jdbcType=TIMESTAMP},
      #{pxdtm,jdbcType=TIMESTAMP},
      #{updtm,jdbcType=TIMESTAMP},
      #{clicknum,jdbcType=DECIMAL},
      #{lastip,jdbcType=VARCHAR},
      #{fktype,jdbcType=CHAR},
      #{tongzhi,jdbcType=CHAR},
      #{shflg,jdbcType=CHAR},
      #{status,jdbcType=DECIMAL},
      #{approveTime,jdbcType=TIMESTAMP},
      #{approver,jdbcType=DECIMAL},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jointown.zy.common.model.EastGongqiu" >
    update WEIXIN.EAST_GONGQIU
    <set >
      <if test="shopid != null" >
        SHOPID = #{shopid,jdbcType=DECIMAL},
      </if>
      <if test="yhid != null" >
        YHID = #{yhid,jdbcType=DECIMAL},
      </if>
      <if test="gqflg != null" >
        GQFLG = #{gqflg,jdbcType=CHAR},
      </if>
      <if test="gqtyp != null" >
        GQTYP = #{gqtyp,jdbcType=CHAR},
      </if>
      <if test="ycnam != null" >
        YCNAM = #{ycnam,jdbcType=VARCHAR},
      </if>
      <if test="guige != null" >
        GUIGE = #{guige,jdbcType=VARCHAR},
      </if>
      <if test="chandi != null" >
        CHANDI = #{chandi,jdbcType=VARCHAR},
      </if>
      <if test="shul != null" >
        SHUL = #{shul,jdbcType=DECIMAL},
      </if>
      <if test="danw != null" >
        DANW = #{danw,jdbcType=CHAR},
      </if>
      <if test="pri != null" >
        PRI = #{pri,jdbcType=VARCHAR},
      </if>
      <if test="huoyuandi != null" >
        HUOYUANDI = #{huoyuandi,jdbcType=VARCHAR},
      </if>
      <if test="market != null" >
        MARKET = #{market,jdbcType=DECIMAL},
      </if>
      <if test="jishou != null" >
        JISHOU = #{jishou,jdbcType=CHAR},
      </if>
      <if test="fromchandi != null" >
        FROMCHANDI = #{fromchandi,jdbcType=CHAR},
      </if>
      <if test="picurl != null" >
        PICURL = #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="xiangxi != null" >
        XIANGXI = #{xiangxi,jdbcType=VARCHAR},
      </if>
      <if test="endtm != null" >
        ENDTM = #{endtm,jdbcType=TIMESTAMP},
      </if>
      <if test="dtm != null" >
        DTM = #{dtm,jdbcType=TIMESTAMP},
      </if>
      <if test="pxdtm != null" >
        PXDTM = #{pxdtm,jdbcType=TIMESTAMP},
      </if>
      <if test="updtm != null" >
        UPDTM = #{updtm,jdbcType=TIMESTAMP},
      </if>
      <if test="clicknum != null" >
        CLICKNUM = #{clicknum,jdbcType=DECIMAL},
      </if>
      <if test="lastip != null" >
        LASTIP = #{lastip,jdbcType=VARCHAR},
      </if>
      <if test="fktype != null" >
        FKTYPE = #{fktype,jdbcType=CHAR},
      </if>
      <if test="tongzhi != null" >
        TONGZHI = #{tongzhi,jdbcType=CHAR},
      </if>
      <if test="shflg != null" >
        SHFLG = #{shflg,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        "STATUS" = #{status,jdbcType=DECIMAL},
      </if>
      <if test="approveTime != null" >
        APPROVE_TIME = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approver != null" >
        APPROVER = #{approver,jdbcType=DECIMAL},
      </if>
    </set>
    where GQID = #{gqid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jointown.zy.common.model.EastGongqiu" >
    update WEIXIN.EAST_GONGQIU
    set SHOPID = #{shopid,jdbcType=DECIMAL},
      YHID = #{yhid,jdbcType=DECIMAL},
      GQFLG = #{gqflg,jdbcType=CHAR},
      GQTYP = #{gqtyp,jdbcType=CHAR},
      YCNAM = #{ycnam,jdbcType=VARCHAR},
      GUIGE = #{guige,jdbcType=VARCHAR},
      CHANDI = #{chandi,jdbcType=VARCHAR},
      SHUL = #{shul,jdbcType=DECIMAL},
      DANW = #{danw,jdbcType=CHAR},
      PRI = #{pri,jdbcType=VARCHAR},
      HUOYUANDI = #{huoyuandi,jdbcType=VARCHAR},
      MARKET = #{market,jdbcType=DECIMAL},
      JISHOU = #{jishou,jdbcType=CHAR},
      FROMCHANDI = #{fromchandi,jdbcType=CHAR},
      PICURL = #{picurl,jdbcType=VARCHAR},
      XIANGXI = #{xiangxi,jdbcType=VARCHAR},
      ENDTM = #{endtm,jdbcType=TIMESTAMP},
      DTM = #{dtm,jdbcType=TIMESTAMP},
      PXDTM = #{pxdtm,jdbcType=TIMESTAMP},
      UPDTM = #{updtm,jdbcType=TIMESTAMP},
      CLICKNUM = #{clicknum,jdbcType=DECIMAL},
      LASTIP = #{lastip,jdbcType=VARCHAR},
      FKTYPE = #{fktype,jdbcType=CHAR},
      TONGZHI = #{tongzhi,jdbcType=CHAR},
      SHFLG = #{shflg,jdbcType=CHAR},
      "STATUS" = #{status,jdbcType=DECIMAL},
      APPROVE_TIME = #{approveTime,jdbcType=TIMESTAMP},
      APPROVER = #{approver,jdbcType=DECIMAL}
    where GQID = #{gqid,jdbcType=DECIMAL}
  </update>
  
	<!-- 后台求购信息管理：查询单条求购信息  by aizhengdong 2015.06.19  start  -->
	<select id="selectEastGongqiuById" parameterType="java.lang.Long" resultMap="selectEastGongqiuById">
		 select egq.GQID as gq_id,
		        elx.UNAM as user_name,
		        (select regexp_substr(elx.MOB, '[0-9]{11}') from dual) user_mobile,
		        egq.YCNAM as breed_name,
		        egq.GUIGE as breed_standard_level,
		        egq.PRI as breed_price,
		        concat(egq.SHUL, egq.DANW) as breed_amount,
		        egq.CHANDI as breed_place,
		        egq.DTM as create_time,
		        egq.UPDTM as update_time,
		        egq.STATUS,
		        bu.USER_NAME as approve,
		        egq.APPROVE_TIME
		   from WEIXIN.EAST_GONGQIU egq
		   left join WEIXIN.EAST_LIANXI elx
		     on egq.YHID = elx.YHID
		   left join BOSS.BOSS_USER bu
		     on egq.APPROVER = bu.USER_ID
		  where egq.GQID = #{gqid, jdbcType=DECIMAL}
	</select>
  	<!-- 后台求购信息管理：查询单条求购信息  by aizhengdong 2015.06.19  end  -->
  	
</mapper>