<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.EastArticleMapper">
	<resultMap id="BaseResultMap" type="com.jointown.zy.common.model.EastArticle">
		<id column="ACID" property="acid" jdbcType="DECIMAL" />
		<result column="LMID" property="lmid" jdbcType="DECIMAL" />
		<result column="YCNAM" property="ycnam" jdbcType="VARCHAR" />
		<result column="TITLE" property="title" jdbcType="VARCHAR" />
		<result column="CONT" property="cont" jdbcType="VARCHAR" />
		<result column="WRITER" property="writer" jdbcType="VARCHAR" />
		<result column="DTM" property="dtm" jdbcType="TIMESTAMP" />
		<result column="FREE" property="free" jdbcType="VARCHAR" />
		<result column="SHOPID" property="shopid" jdbcType="DECIMAL" />
		<result column="TIP" property="tip" jdbcType="DECIMAL" />
	</resultMap>
	
	<resultMap id="VoResultMap" type="com.jointown.zy.common.vo.EastArticleVo">
		<id column="ACID" property="acid" jdbcType="DECIMAL" />
		<result column="LMID" property="lmid" jdbcType="DECIMAL" />
		<result column="YCNAM" property="ycnam" jdbcType="VARCHAR" />
		<result column="TITLE" property="title" jdbcType="VARCHAR" />
		<result column="CONT" property="cont" jdbcType="VARCHAR" />
		<result column="WRITER" property="writer" jdbcType="VARCHAR" />
		<result column="DTM" property="dtm" jdbcType="TIMESTAMP" />
		<result column="TIP" property="tip" jdbcType="DECIMAL" />
	</resultMap>
	
	<select id="selectEastArticleByLMId" parameterType="java.lang.Integer" resultMap="VoResultMap">
		SELECT s.acid,s.title,s.dtm,ROWNUM FROM 
		  (SELECT t.acid,t.title,t.dtm
		    FROM weixin.EAST_ARTICLE t
		  WHERE 
		    t.lmid = #{lmid,jdbcType=DECIMAL} 
		  ORDER BY 
		    t.dtm DESC) s
		<![CDATA[WHERE ROWNUM <= 6]]>
	</select>
	
	<select id="selectEastArticleByACid" parameterType="java.lang.Integer" resultMap="VoResultMap">
		SELECT t.acid,t.title,t.cont,t.dtm,t.writer
		  FROM weixin.EAST_ARTICLE t
		WHERE 
		  t.acid = #{acid,jdbcType=DECIMAL}
	</select>
	
	<!--  
	<select id="selectEastArticlePagedByLMId" parameterType="com.jointown.zy.common.model.Page"
	 resultMap="VoResultMap">
	 	select t.acid,t.title,t.cont,t.dtm,t.writer
	 	  from weixin.EAST_ARTICLE t
	 	where 
	 	  t.lmid = #{params.lmid,jdbcType=DECIMAL}
	 	  <if test="params.pz != null and params.pz != ''">
	 	  and t.title like '%' || #{params.pz,jdbcType=VARCHAR} ||'%'
	 	  </if>
	 	order by t.dtm DESC
	</select>
	-->
	
	<!--  
	<select id="selectEastArticleNewsByCondition" parameterType="com.jointown.zy.common.model.Page"
	 resultMap="VoResultMap">
	 	select * from 
	 	((select a.YCNAM as ycnam,TO_CHAR(SUBSTR(a.CONT,0,2000)) as cont,a.DTM as dtm,a.writer as writer from WEIXIN.EAST_ARTICLE a
		where a.LMID = 7)
		union all
		(select m.YCNAM as ycnam,m.CONT as cont,m.DTM as dtm,'' as writer from WEIXIN.east_mk_news m)) 
		<where> 
	 	  <if test="params.ycnam != null and params.ycnam != ''">
	 	  	and ycnam = #{params.ycnam, jdbcType=VARCHAR}
	 	  </if>
	 	</where>
		order by dtm DESC
	</select>
	-->
	
	<!-- start 根据lmid查询文章  by aizhengdong at 2015/04/17 -->
	<!--  1.品种分析   7.产地快迅  -->
	<select id="selectEastArticlePagedByLMId" parameterType="com.jointown.zy.common.model.Page"
	 resultMap="VoResultMap">
	 	 select *
			   from (select acid, title, cont, writer, dtm
			           from weixin.east_article
			          where 
			                lmid = #{params.lmid, jdbcType=DECIMAL}
			         <if test="params.pz != null and params.pz != ''">
	 	  				and ycnam = #{params.pz, jdbcType=VARCHAR}   
			         union all
			         select acid, title, cont, writer, dtm
			           from weixin.east_article
			         where 
							lmid = #{params.lmid, jdbcType=DECIMAL}
						and instr(title, #{params.pz, jdbcType=VARCHAR}) > 0	
						and ycnam > #{params.pz, jdbcType=VARCHAR}
					 union all
			         select acid, title, cont, writer, dtm
			           from weixin.east_article
			         where 
							lmid = #{params.lmid, jdbcType=DECIMAL}
						and instr(title, #{params.pz, jdbcType=VARCHAR}) > 0	
						and <![CDATA[ ycnam < #{params.pz, jdbcType=VARCHAR} ]]> 
	 	  			 </if> 
			         )
			  order by dtm desc
	</select>
	<!-- end 根据lmid查询文章   by aizhengdong at 2015/04/17 -->
	
	<!-- start 查询市场快讯  by aizhengdong at 2015/04/20 -->
	<select id="selectEastArticleNewsByCondition" parameterType="com.jointown.zy.common.model.Page"
	 resultMap="VoResultMap">
	 	select ycnam, cont, dtm from WEIXIN.east_mk_news
		where 1=1
	 	  <if test="params.ycnam != null and params.ycnam != ''">
	 	  	and ycnam = #{params.ycnam, jdbcType=VARCHAR}
	 	  </if>
		order by dtm desc
	</select>
	<!-- end 查询市场快讯  by aizhengdong at 2015/04/20 -->
	
		<!-- 更新文章点击次数 add by wangjunhu by 2015/7/8 -->
  <update id="updateEastArticleTipByACid" parameterType="int" >
    update WEIXIN.EAST_ARTICLE
    set TIP = TIP + 1
    where ACID = #{acid,jdbcType=DECIMAL}
  </update>
</mapper>