<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.FeedBackDao" >
  <resultMap id="FeedBack" type="com.jointown.zy.common.model.HomePageFeedBack" >
	<id column="HOMEPAGE_ID" property="homePageId" jdbcType="DECIMAL" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="OPRATE_TIME" property="oprateTime" jdbcType="TIMESTAMP" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="FeedBackVo" type="com.jointown.zy.common.vo.HomePageFeedBackVo" >
    <id column="HOMEPAGE_ID" property="homePageId" jdbcType="DECIMAL" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="OPRATE_TIME" property="oprateTime" jdbcType="TIMESTAMP" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="selectFeedBacksByCondition" type="com.jointown.zy.common.vo.HomePageFeedBackVo" >
    <result column="HOMEPAGE_ID" property="homePageId" jdbcType="DECIMAL" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="OPRATE_TIME" property="oprateTime" jdbcType="TIMESTAMP" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    HOMEPAGE_ID, TYPE, CONTENT, REMARK,MOBILE, STATUS, CREATE_TIME, 
    OPRATE_TIME, OPERATOR
  </sql>

  <!-- 后台求购信息管理：查询求购信息  by aizhengdong 2015.06.15  start -->
   <!-- alter  by biran 20150722 后台求购信息，去除东方中药材网数据  -->
  <select id="selectFeedBacksByCondition" parameterType="com.jointown.zy.common.model.Page" resultMap="selectFeedBacksByCondition">
		select *
		  from (
		  	select * from (
		        select *
		          from (select a.homepage_id,
			            a.type,
			            a.content,
			            a.remark,
			            a.mobile,
			            a.status,
			            a.oprate_time,
			            a.create_time,
			            b.user_name as operator 
		          		from boss.HOMEPAGE_FEEDBACK a
						left join boss.boss_user b
						on a.operator = b.user_id
						where a.status = 0
		          order by a.create_time desc)
		        union all
		          select *
		          from (select a.homepage_id,
			            a.type,
			            a.content,
			            a.remark,
			            a.mobile,
			            a.status,
			            a.oprate_time,
			            a.create_time,
			            b.user_name as operator 
		          		from boss.HOMEPAGE_FEEDBACK a
						left join boss.boss_user b
						on a.operator = b.user_id
						where a.status != 0
		          order by a.create_time desc)
		        )
		        where 1=1
		       	<!-- 查询条件：业务点 -->
			    <if test="params.homePageFeedBackDto.type != null and params.homePageFeedBackDto.type != ''">
		       	    and type = #{params.homePageFeedBackDto.type, jdbcType=VARCHAR}
		        </if>
		        <!-- 查询条件：状态 -->
		        <if test="params.homePageFeedBackDto.status!= null and params.homePageFeedBackDto.status != ''">
		         	and status = #{params.homePageFeedBackDto.status, jdbcType=VARCHAR}
		        </if>
		        <!-- 查询条件：联系电话 -->
			    <if test="params.homePageFeedBackDto.mobile != null and params.homePageFeedBackDto.mobile != ''">
		       	    and mobile like CONCAT(CONCAT('%', #{params.homePageFeedBackDto.mobile, jdbcType=VARCHAR}),'%')
		        </if>
		        <!-- 查询条件：创建时间 -->
		        <if test="params.homePageFeedBackDto.startDate != null and params.homePageFeedBackDto.startDate != ''">
		        	and create_time >= to_date(#{params.homePageFeedBackDto.startDate},'yyyy-mm-dd hh24:mi:ss') 
		        </if>
		        <if test="params.homePageFeedBackDto.endDate != null and params.homePageFeedBackDto.endDate != ''">
		        	and create_time <![CDATA[<=]]> to_date(#{params.homePageFeedBackDto.endDate},'yyyy-mm-dd hh24:mi:ss')
		        </if>
		        )
  </select>
	
  <update id="operFeedBack" parameterType="com.jointown.zy.common.vo.HomePageFeedBackVo" >
    update boss.HOMEPAGE_FEEDBACK
    set status = #{status,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      OPRATE_TIME = #{oprateTime,jdbcType=TIMESTAMP},
      OPERATOR = #{operator,jdbcType=VARCHAR}
    where HOMEPAGE_ID = #{homePageId,jdbcType=DECIMAL}
  </update>
  
  <insert id="addFeedBack" parameterType="com.jointown.zy.common.vo.HomePageFeedBackVo" >
    insert into boss.HOMEPAGE_FEEDBACK (HOMEPAGE_ID, TYPE, CONTENT, 
      STATUS, MOBILE,CREATE_TIME)
    values (boss.SEQ_HOMEPAGE_FEEDBACK.nextval, #{type,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}
      ,#{createTime,jdbcType=TIMESTAMP})
  </insert>
</mapper>