<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.FinanceReportDao">
	<resultMap id="financeReport" type="com.jointown.zy.common.model.FinanceReportModel">
		<result column="ORDERID" property="orderId" jdbcType="VARCHAR" />
		<result column="ORDERSTATE" property="orderState" jdbcType="VARCHAR" />
		<result column="LISTINGID" property="listingid" jdbcType="VARCHAR" />
		<result column="WLID" property="wlid" jdbcType="VARCHAR" />
		<result column="BREED_NAME" property="breedName" jdbcType="VARCHAR"/>
		<result column="BREED_CODE" property="breedCode" jdbcType="VARCHAR"/>
		<result column="AMOUNT" property="amount" jdbcType="NUMERIC"/>
		<result column="VOLUME" property="volume" jdbcType="NUMERIC"/>
		<result column="UNIT" property="unit" jdbcType="VARCHAR"/>
		<result column="UNITPRICE" property="unitPrice" jdbcType="NUMERIC"/>
		<result column="TOTALPRICE" property="totalPrice" jdbcType="NUMERIC"/>
		<result column="BUYER_CODE" property="buyerCode" jdbcType="VARCHAR"/>
		<result column="BUYER_NAME" property="buyerName" jdbcType="VARCHAR"/>
		<result column="BUYER_MOBILE" property="buyerMobile" jdbcType="VARCHAR"/>
		<result column="BUYER_FLOW_ID" property="buyerFlowId" jdbcType="VARCHAR"/>
		<result column="BUYER_TYPE" property="buyerType" jdbcType="NUMERIC"/>
		<result column="BUYER_AMOUNT" property="buyerAmount" jdbcType="NUMERIC"/>
		<result column="BUYER_PAY_TIME" property="buyerPayTime" jdbcType="TIMESTAMP"/>
		<result column="BUYER_PAY_CHANNEL" property="buyerPayChannel" jdbcType="NUMERIC"/>
		<result column="SELLER_CODE" property="sellerCode" jdbcType="VARCHAR"/>
		<result column="SELLER_NAME" property="sellerName" jdbcType="VARCHAR"/>
		<result column="SELLER_MOBILE" property="sellerMobile" jdbcType="VARCHAR"/>
		<result column="SELLER_FLOW_ID" property="sellerFlowId" jdbcType="VARCHAR"/>
		<result column="SELLER_TYPE"    property="sellerType" jdbcType="NUMERIC"/>
		<result column="SELLER_AMOUNT"  property="sellerAmount" jdbcType="NUMERIC"/>
		<result column="SELLER_PAY_TIME" property="sellerPayTime" jdbcType="TIMESTAMP"/>
		<result column="SELLER_PAY_CHANNEL" property="sellerPayChannel" jdbcType="NUMERIC"/>
		<result column="PLATFORM_FLOW_ID"   property="platformFlowId" jdbcType="VARCHAR"/>
		<result column="PLATFORM_TYPE"    property="platformType" jdbcType="NUMERIC"/>
		<result column="PLATFORM_AMOUNT"  property="platformAmount" jdbcType="NUMERIC"/>
		<result column="PLATFORM_PAY_TIME"    property="platformPayTime" jdbcType="TIMESTAMP"/>
		<result column="PLATFORM_PAY_CHANNEL" property="platformPayChannel" jdbcType="NUMERIC"/>
		<result column="HANDLING_FEE" property="handlingCharge" jdbcType="NUMERIC"/>
		<result column="BUYER_ORG"        property="buyerOrg" jdbcType="VARCHAR"/>
		<result column="BUYER_SALESMAN"   property="buyerSalesMan" jdbcType="VARCHAR"/>
		<result column="SELLER_ORG"       property="sellerOrg" jdbcType="VARCHAR"/>
		<result column="SELLER_SALESMAN"  property="sellerSalesMan" jdbcType="VARCHAR"/>
		<result column="FOLLOWER"         property="follower" jdbcType="VARCHAR"/>
		<result column="ACCOUNTANT"       property="accountant" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap type="com.jointown.zy.common.model.Organization" id="orgResultMap">
		<result column="ORG_ID" property="id" jdbcType="NUMERIC"/>
		<result column="ORG_NAME" property="orgName" jdbcType="VARCHAR"/>
	</resultMap>
	
	
	<sql id="FINANCEREPORT_COLUMN">
			x.ORDERID,
			y.ORDERSTATE,
			y.LISTINGID,
			y.WLID,
			y.BREED_NAME,
			y.BREED_CODE,
			y.AMOUNT,
			y.VOLUME,
			y.UNIT,
			y.UNITPRICE,
			y.TOTALPRICE,
			decode(x.BUYER_TYPE,null,'',y.BUYER_CODE) BUYER_CODE,
			decode(x.BUYER_TYPE,null,'',y.BUYER_NAME) BUYER_NAME,
			y.BUYER_MOBILE,
			x.BUYER_FLOW_ID,
			x.BUYER_TYPE,
			x.BUYER_AMOUNT,
			x.BUYER_PAY_TIME,
			x.BUYER_PAY_CHANNEL,
			decode(x.SELLER_TYPE,null,'',y.SELLER_CODE) SELLER_CODE,
			decode(x.SELLER_TYPE,null,'',y.SELLER_NAME) SELLER_NAME,
			y.SELLER_MOBILE,
			x.SELLER_FLOW_ID,
			x.SELLER_TYPE,
			x.SELLER_AMOUNT,
			x.SELLER_PAY_TIME,
			x.SELLER_PAY_CHANNEL,
			x.PLATFORM_FLOW_ID,
			x.PLATFORM_TYPE,
			x.PLATFORM_AMOUNT,
			x.PLATFORM_PAY_TIME,
			x.PLATFORM_PAY_CHANNEL,
			x.handling_fee,
			y.BUYER_ORG,
			y.BUYER_SALESMAN,
			y.SELLER_ORG,
			y.SELLER_SALESMAN,
			decode(x.pay_type,10,'',11,'',z.FOLLOWER) as FOLLOWER,
			x.ACCOUNTANT
	 </sql>
	 
	 <sql id="BUYER_INFO">
	 	select a.orderid,
			a.pay_time as order_time,
			decode(a.amt_type, 0, 10, 1, 11,2,12) as pay_type,
			null as accountant,
			a.flow_id as buyer_flow_id,
			decode(a.amt_type, 0, 10, 1, 11,2,12) as buyer_type,
			a.amount as buyer_amount,
			a.pay_time as buyer_pay_time,
			a.pay_channel as buyer_pay_channel,
			a.handling_fee,
			null as seller_flow_id,
			null as seller_type,
			null as seller_amount,
			null as seller_pay_time,
			null as seller_pay_channel,
			null as platform_flow_id,
			null as platform_type,
			null as platform_amount,
			null as platform_pay_time,
			null as platform_pay_channel
		from pay.pay_flow a
			where a.status = 1
	 </sql>
	 
	 <sql id="BUYER_INFO_B">
	 	select b.orderid,
			b.remit_time as order_time,
			decode(b.remit_type, 1, 21, 2, 22, 3, 23) as pay_type,
			u.user_name as accountant,
			b.flow_id as buyer_flow_id,
			decode(b.remit_type, 1, 21, 2, 22, 3, 23) as buyer_type,
			b.buyer_amount * (-1) as buyer_amount,
			b.remit_time as buyer_pay_time,
			b.remit_channel as buyer_pay_channel,
			null as handling_fee,
			null as seller_flow_id,
			null as seller_type,
			null as seller_amount,
			null as seller_pay_time,
			null as seller_pay_channel,
			null as platform_flow_id,
			null as platform_type,
			null as platform_amount,
			null as platform_pay_time,
			null as platform_pay_channel
		from pay.remit_flow b, boss.boss_user u
			where b.status = 1
			and b.opraterid = u.user_id(+)
			and nvl(b.buyer_amount, 0) > 0
	 </sql>
	 
	 <sql id="SELLER_INFO">
	 	select b.orderid,
			b.remit_time as order_time,
			decode(b.remit_type, 1, 21, 2, 22, 3, 23) as pay_type,
			u.user_name as accountant,
			null as buyer_flow_id,
			null as buyer_type,
			null as buyer_amount,
			null as buyer_pay_time,
			null as buyer_pay_channel,
			null as handling_fee,
			b.flow_id as seller_flow_id,
			decode(b.remit_type, 1, 21, 2, 22, 3, 23) as seller_type,
			b.seller_amount as seller_amount,
			b.remit_time as seller_pay_time,
			b.remit_channel as seller_pay_channel,
			null as platform_flow_id,
			null as platform_type,
			null as platform_amount,
			null as platform_pay_time,
			null as platform_pay_channel
		from pay.remit_flow b, boss.boss_user u
			where b.status = 1
			and b.opraterid = u.user_id(+)
			and nvl(b.seller_amount, 0) > 0
	 </sql>
	 
	 <sql id="PLATFORM_INFO">
	 	select b.orderid,
			b.remit_time as order_time,
			30 as pay_type,
			u.user_name as accountant,
			null as buyer_flow_id,
			null as buyer_type,
			null as buyer_amount,
			null as buyer_pay_time,
			null as buyer_pay_channel,
			null as handling_fee,
			null as seller_flow_id,
			null as seller_type,
			null as seller_amount,
			null as seller_pay_time,
			null as seller_pay_channel,
			b.flow_id as platform_flow_id,
			30 as platform_type,
			b.platform_amount as platform_amount,
			b.remit_time as platform_pay_time,
			b.remit_channel as platform_pay_channel
			from pay.remit_flow b, boss.boss_user u
		where b.status = 1
			and b.opraterid = u.user_id(+)
			and nvl(b.platform_amount, 0) > 0
	 </sql>
	 
	 <sql id="ORDER_INFO">
	 select c.orderid,
			c.orderstate,
			c.listingid,
			c.wlid,
			e.breed_name,
			e.breed_code,
			c.amount,
			c.volume,
			f.dict_value as unit,
			c.unitprice,
			c.totalprice,
			c.buyer as buyer_id,
			g.user_name as buyer_code,
			g.companyname as buyer_name,
			g.mobile      as buyer_mobile,
			man.buyer_orgid,
			j.org_name as buyer_org,
			i.user_name as buyer_salesman,
			c.userid as seller_id,
			h.user_name as seller_code,
			h.companyname as seller_name,
			h.mobile      as seller_mobile,
			man.seller_orgid,
			l.org_name as seller_org,
			k.user_name as seller_salesman
			from 
				zyc.busi_order c,
				zyc.busi_whlist d,
				boss.breed e,
				boss.dict_info f,
				boss.uc_user g,
				boss.uc_user h,
				boss.boss_user i,
				boss.boss_org j,
				boss.boss_user k,
				boss.boss_org l,
				zyc.busi_order_salesman man
		where c.wlid = d.wlid(+)
			and d.breedcode = e.breed_id(+)
			and d.wlunit = f.dict_code(+)
			and c.buyer = g.user_id(+)
			and c.userid = h.user_id(+)
			and c.orderid = man.orderid(+)
			and man.buyer_salesmanid = i.user_id(+)
			and man.buyer_orgid = j.org_id(+)
			and man.seller_salesmanid = k.user_id(+)
			and man.seller_orgid = l.org_id(+)
	 </sql>
	 
	 <sql id="FUNDER_INFO">
	 	select m.order_id,
			n.operattor_id,
			s.user_name as follower,
			max(n.createtime)
			from zyc.busi_order_deposit m,
			zyc.busi_order_deposit_log n,
			boss.boss_user s
		where m.deposit_state = 2
			and m.order_id = n.order_id
			and n.operation_result = 1
			and n.operattor_id = s.user_id(+)
	 </sql>
	 
	 
	
	 <select id="getPageList"  resultMap="financeReport"  parameterType="com.jointown.zy.common.model.Page">
	 		select 	
	 		<include refid="FINANCEREPORT_COLUMN"/>
	 		from (
	 		<!--Buyer info-->
					<include refid="BUYER_INFO"/>
					<if test="params.dto.orderid!=null and params.dto.orderid!='' ">
		 				and a.ORDERID = #{params.dto.orderid}
		 			</if>
		 			<if test="params.dto.startTime != null and params.dto.startTime != ''">
	    				and a.PAY_TIME &gt;= to_date(#{params.dto.startTime},'yyyy-mm-dd hh24:mi:ss') 
	    			</if>
				    <if test="params.dto.endTime != null and params.dto.endTime != ''">
				    	and to_date(#{params.dto.endTime},'yyyy-mm-dd hh24:mi:ss') &gt;  a.PAY_TIME
				    </if>
				union all
					<include refid="BUYER_INFO_B"/>
					<if test="params.dto.orderid!=null and params.dto.orderid!='' ">
		 				and b.ORDERID = #{params.dto.orderid}
		 			</if>
		 			<if test="params.dto.startTime != null and params.dto.startTime != ''">
	    				and b.REMIT_TIME &gt;= to_date(#{params.dto.startTime},'yyyy-mm-dd hh24:mi:ss') 
	    			</if>
				    <if test="params.dto.endTime != null and params.dto.endTime != ''">
				    	and to_date(#{params.dto.endTime},'yyyy-mm-dd hh24:mi:ss') &gt;  b.REMIT_TIME 
				    </if>
				union all
				<!--Seller Info-->
					<include refid="SELLER_INFO"/>
					<if test="params.dto.orderid!=null and params.dto.orderid!='' ">
		 				and b.ORDERID = #{params.dto.orderid}
		 			</if>
		 			<if test="params.dto.startTime != null and params.dto.startTime != ''">
	    				and b.REMIT_TIME &gt;= to_date(#{params.dto.startTime},'yyyy-mm-dd hh24:mi:ss') 
	    			</if>
				    <if test="params.dto.endTime != null and params.dto.endTime != ''">
				    	and to_date(#{params.dto.endTime},'yyyy-mm-dd hh24:mi:ss') &gt;  b.REMIT_TIME
				    </if>
				union all
				<!--Platform Info-->
				<include refid="PLATFORM_INFO"/>
					<if test="params.dto.orderid!=null and params.dto.orderid!='' ">
		 				and b.ORDERID = #{params.dto.orderid}
		 			</if>
		 			<if test="params.dto.startTime != null and params.dto.startTime != ''">
	    				and b.REMIT_TIME &gt;= to_date(#{params.dto.startTime},'yyyy-mm-dd hh24:mi:ss') 
	    			</if>
				    <if test="params.dto.endTime != null and params.dto.endTime != ''">
				    	and to_date(#{params.dto.endTime},'yyyy-mm-dd hh24:mi:ss') &gt;  b.REMIT_TIME
				    </if>
					) x,
				<!--Order Info-->
				(
					<include refid="ORDER_INFO"/>
					<if test="params.dto.orderid!=null and params.dto.orderid!='' ">
		 				and c.ORDERID = #{params.dto.orderid}
		 			</if>
		 			<if test="params.dto.listingid!=null and params.dto.listingid!='' ">
		 				and c.LISTINGID = #{params.dto.listingid}
				 	</if>
				 	<if test="params.dto.wlid!=null and params.dto.wlid!='' ">
				 		and c.WLID = #{params.dto.wlid}
				 	</if>
				 	<if test="params.dto.breedInfo!=null and params.dto.breedInfo!='' ">
				 		 and ((e.BREED_NAME like CONCAT(CONCAT('%',#{params.dto.breedInfo}),'%') or e.BREED_CODE like CONCAT(CONCAT('%',#{params.dto.breedInfo}),'%')))
				 	</if>
				 	<if test="params.dto.buyer!=null and params.dto.buyer!='' ">
				 		and g.COMPANYNAME = #{params.dto.buyer}
				 	</if>
				 	<if test="params.dto.seller!=null and params.dto.seller!='' ">
				 		and h.COMPANYNAME = #{params.dto.seller}
				 	</if>
		 			<if test="params.dto.org!=null and params.dto.org!='' ">
		 			 	and (BUYER_ORGID = #{params.dto.org} or SELLER_ORGID = #{params.dto.org})
		 			</if>
		 			<if test="params.dto.salesManType==null or params.dto.salesManType=='' ">
		 				<if test="params.dto.salesMan!=null and params.dto.salesMan!=''">
		 					and (i.USER_NAME = #{params.dto.salesMan} or k.USER_NAME = #{params.dto.salesMan}) 
		 				</if>
		 			</if>
		 			<if test="params.dto.salesManType == '1001'">
		 					and i.USER_NAME = #{params.dto.salesMan}
		 			</if>
		 			<if test="params.dto.salesManType == '1002'">
		 					and i.USER_NAME = #{params.dto.salesMan}
		 			</if>
					) y,
				<!-- FunderInfo -->
				(
					<include refid="FUNDER_INFO"/>
					<if test="params.dto.orderid!=null and params.dto.orderid!='' ">
		 				and m.order_id = #{params.dto.orderid}
		 			</if>
					group by m.order_id, n.operattor_id, s.user_name) z
				where x.orderid = y.orderid(+)
					and x.orderid = z.order_id(+)
		 	<if test="params.dto.listingid!=null and params.dto.listingid!='' ">
		 		and y.LISTINGID = #{params.dto.listingid}
		 	</if>
		 	<if test="params.dto.wlid!=null and params.dto.wlid!='' ">
		 		and y.WLID = #{params.dto.wlid}
		 	</if>
		 	<if test="params.dto.breedInfo!=null and params.dto.breedInfo!='' ">
		 		 and ((y.BREED_NAME like CONCAT(CONCAT('%',#{params.dto.breedInfo}),'%') or y.BREED_CODE like CONCAT(CONCAT('%',#{params.dto.breedInfo}),'%')))
		 	</if>
		 	<if test="params.dto.buyer!=null and params.dto.buyer!='' ">
		 		and y.BUYER_NAME = #{params.dto.buyer}
		 	</if>
		 	<if test="params.dto.seller!=null and params.dto.seller!='' ">
		 		and y.SELLER_NAME = #{params.dto.seller}
		 	</if>
		 	<if test="params.dto.payType!=null and params.dto.payType!='' ">
		 		and (x.BUYER_TYPE=${params.dto.payType} or x.SELLER_TYPE=${params.dto.payType} or x.PLATFORM_TYPE=${params.dto.payType})
		 	</if>
		 	<if test="params.dto.org!=null and params.dto.org!='' ">
		 		and (BUYER_ORGID = #{params.dto.org} or SELLER_ORGID = #{params.dto.org})
		 	</if>
		 	<if test="params.dto.salesManType == null or params.dto.salesManType==''">
		 		<if test="params.dto.salesMan!=null and params.dto.salesMan!=''">
		 			and (y.BUYER_SALESMAN = #{params.dto.salesMan} or y.SELLER_SALESMAN = #{params.dto.salesMan}) 
		 		</if>
			</if>
		 	<if test="params.dto.salesManType == '1001'">
				and y.BUYER_SALESMAN = #{params.dto.salesMan}
			</if>
			<if test="params.dto.salesManType == '1002'">
				and y.SELLER_SALESMAN = #{params.dto.salesMan}
			</if>
		 	ORDER BY x.ORDERID, x.ORDER_TIME
	 </select>
	 
	 <select id="getList"  resultMap="financeReport" parameterType="com.jointown.zy.common.dto.FinanceReportDto">
	 		select 	
	 		<include refid="FINANCEREPORT_COLUMN"/>
	 		from (
	 		<!--Buyer info-->
					<include refid="BUYER_INFO"/>
					<if test="orderid!=null and orderid!='' ">
		 				and a.ORDERID = #{orderid}
		 			</if>
		 			<if test="startTime != null and startTime != ''">
	    				and a.PAY_TIME &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss') 
	    			</if>
				    <if test="endTime != null and endTime != ''">
				    	and to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss') &gt;  a.PAY_TIME
				    </if>
				union all
					<include refid="BUYER_INFO_B"/>
					<if test="orderid!=null and orderid!='' ">
		 				and b.ORDERID = #{orderid}
		 			</if>
		 			<if test="startTime != null and startTime != ''">
	    				and b.REMIT_TIME &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss') 
	    			</if>
				    <if test="endTime != null and endTime != ''">
				    	and to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss') &gt;  b.REMIT_TIME 
				    </if>
				union all
				<!--Seller Info-->
					<include refid="SELLER_INFO"/>
					<if test="orderid!=null and orderid!='' ">
		 				and b.ORDERID = #{orderid}
		 			</if>
		 			<if test="startTime != null and startTime != ''">
	    				and b.REMIT_TIME &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss') 
	    			</if>
				    <if test="endTime != null and endTime != ''">
				    	and to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss') &gt;  b.REMIT_TIME
				    </if>
				union all
				<!--Platform Info-->
					<include refid="PLATFORM_INFO"/>
					<if test="orderid!=null and orderid!='' ">
		 				and b.ORDERID = #{orderid}
		 			</if>
		 			<if test="startTime != null and startTime != ''">
	    				and b.REMIT_TIME &gt;= to_date(#{startTime},'yyyy-mm-dd hh24:mi:ss') 
	    			</if>
				    <if test="endTime != null and endTime != ''">
				    	and to_date(#{endTime},'yyyy-mm-dd hh24:mi:ss') &gt;  b.REMIT_TIME
				    </if>
					) x,
					
				<!--Order Info-->
				(
					<include refid="ORDER_INFO"/>
					<if test="orderid!=null and orderid!='' ">
		 				and c.ORDERID = #{orderid}
		 			</if>
		 			<if test="listingid!=null and listingid!='' ">
		 				and c.LISTINGID = #{listingid}
				 	</if>
				 	<if test="wlid!=null and wlid!='' ">
				 		and c.WLID = #{wlid}
				 	</if>
				 	<if test="breedInfo!=null and breedInfo!='' ">
				 		 and ((e.BREED_NAME like CONCAT(CONCAT('%',#{breedInfo}),'%') or e.BREED_CODE like CONCAT(CONCAT('%',#{breedInfo}),'%')))
				 	</if>
				 	<if test="buyer!=null and buyer!='' ">
				 		and g.COMPANYNAME = #{buyer}
				 	</if>
				 	<if test="seller!=null and seller!='' ">
				 		and h.COMPANYNAME = #{seller}
				 	</if>
		 			<if test="org!=null and org!='' ">
		 			 	and (BUYER_ORGID = #{org} or SELLER_ORGID = #{org})
		 			</if>
		 			<if test="salesManType==null or salesManType=='' ">
		 				<if test="salesMan!=null and salesMan!=''">
		 					and (i.USER_NAME = #{salesMan} or k.USER_NAME = #{salesMan}) 
		 				</if>
		 			</if>
		 			<if test="salesManType == '1001'">
		 					and i.USER_NAME = #{salesMan}
		 			</if>
		 			<if test="salesManType == '1002'">
		 					and i.USER_NAME = #{salesMan}
		 			</if>
					) y,
				<!-- FunderInfo -->
				(	
					<include refid="FUNDER_INFO"/>
					<if test="orderid!=null and orderid!='' ">
		 				and m.order_id = #{orderid}
		 			</if>
					group by m.order_id, n.operattor_id, s.user_name) z
				where x.orderid = y.orderid(+)
					and x.orderid = z.order_id(+)
		 	<if test="listingid!=null and listingid!='' ">
		 		and y.LISTINGID = #{listingid}
		 	</if>
		 	<if test="wlid!=null and wlid!='' ">
		 		and y.WLID = #{wlid}
		 	</if>
		 	<if test="breedInfo!=null and breedInfo!='' ">
		 		 and ((y.BREED_NAME like CONCAT(CONCAT('%',#{breedInfo}),'%') or y.BREED_CODE like CONCAT(CONCAT('%',#{breedInfo}),'%')))
		 	</if>
		 	<if test="buyer!=null and buyer!='' ">
		 		and y.BUYER_NAME = #{buyer}
		 	</if>
		 	<if test="seller!=null and seller!='' ">
		 		and y.SELLER_NAME = #{seller}
		 	</if>
		 	<if test="payType!=null and payType!='' ">
		 		and (x.BUYER_TYPE=${payType} or x.SELLER_TYPE=${payType} or x.PLATFORM_TYPE=${payType})
		 	</if>
		 	<if test="org!=null and org!='' ">
		 		and (BUYER_ORGID = #{org} or SELLER_ORGID = #{org})
		 	</if>
		 	<if test="salesManType == null or salesManType==''">
		 		<if test="salesMan!=null and salesMan!=''">
		 			and (y.BUYER_SALESMAN = #{salesMan} or y.SELLER_SALESMAN = #{salesMan}) 
		 		</if>
			</if>
		 	<if test="salesManType == '1001'">
				and y.BUYER_SALESMAN = #{salesMan}
			</if>
			<if test="salesManType == '1002'">
				and y.SELLER_SALESMAN = #{salesMan}
			</if>
		 	ORDER BY x.ORDERID, x.ORDER_TIME
	 </select>
	 
	 <select id="selectOrg" resultMap="orgResultMap" >
		 select o.org_id, o.org_name from boss.boss_org o where o.org_level = 3 and o.status = 0
	 </select>
</mapper>