<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.persistence.HomePagePurchaseMapper">

	<resultMap type="com.jointown.zy.common.model.HomePagePurchaseModel" id="BaseResultMap">
		<result column="HOMEPAGE_ID" property="homePageId" jdbcType="NUMERIC" />
		<result column="PURCHASE_ID"  property="purchaseId"  jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="NUMERIC" />
		<result column="SORTNO" property="sortNo" jdbcType="NUMERIC" />
		<result column="STATUS" property="status" jdbcType="NUMERIC" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="CREATER" property="creater" jdbcType="NUMERIC" />
		<result column="UPDATER" property="updater" jdbcType="NUMERIC" />
	</resultMap>
	
	<resultMap type="com.jointown.zy.common.vo.HomePagePurchaseVo" id="VoResultMap">
		<result column="HOMEPAGE_ID" property="homePageId" jdbcType="VARCHAR" />
		<result column="PURCHASE_ID"  property="purchaseId"  jdbcType="VARCHAR" />
		<result column="USER_NAME"  property="purchaser"  jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="VARCHAR" />
		<result column="SORTNO" property="sortNo" jdbcType="VARCHAR" />
	</resultMap>
	
	

	<!--后台 首页采购列表查询-->
	<select id="selectPageList" parameterType="com.jointown.zy.common.model.Page" resultMap="VoResultMap">
			select distinct (t1.purchase_id) purchase_id,
                 t1.homepage_id,
                 t2.user_name,
                 t1.type,
                 t1.sortno
	         from (
	           select 
	                 a.homepage_id,
	                 a.purchase_id, 
	                 b.purchaser, 
	                 a.type, 
	                 a.sortno
	           from boss.homepage_purchase a, zyc.busi_purchase b
	           where a.purchase_id = b.purchase_id
	             and a.status = 0
	             and b.is_valid='Y' order by a.create_time desc) t1,
	            boss.uc_user t2
	         where t1.purchaser = t2.user_name(+)
  			 <if test="params.purchaseDto.purchaseId != null and params.purchaseDto.purchaseId !=''">
  			 	 and t1.purchase_id = #{params.purchaseDto.purchaseId}
  			 </if>
  			 <if test="params.purchaseDto.type != null and params.purchaseDto.type !=''">
  			 	 and t1.type = #{params.purchaseDto.type}
  			 </if>
  			 order by sortno
	</select>
	
	<!-- 验证采购单是否存在 -->
	<select id="purchaseOrderIsExist" parameterType="java.lang.String" resultType="java.lang.Integer">
		select nvl(sum(a.purchase_id),0) as isExist 
		from zyc.busi_purchase a
		where a.purchase_id = #{_parameter,jdbcType=VARCHAR}
		and  a.is_valid='Y'
	</select>
	
	<!-- selectPurachse -->
	<select id="selectPurachse" parameterType="java.lang.String" resultMap="BaseResultMap">
			select * from boss.homepage_purchase a
			where  a.homepage_id = #{_parameter,jdbcType=VARCHAR}
			and a.status = 0
	</select>
	
	<!-- addPurchaseInfo -->
	<insert id="addPurchaseInfo" parameterType="com.jointown.zy.common.model.HomePagePurchaseModel">
		<selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="homePageId">
			SELECT BOSS.SEQ_HOMEPAGE_PURCHASE.nextval FROM DUAL
		</selectKey>
		INSERT INTO BOSS.HOMEPAGE_PURCHASE
		 <trim prefix="(" suffix=")" suffixOverrides="," >
	      	  <if test="homePageId != null" >
		        HOMEPAGE_ID,
		      </if>
		      <if test="purchaseId != null">
		      	PURCHASE_ID,
		      </if>
		      <if test="type!= null">
		      	TYPE,
		      </if>
		      <if test="sortNo!= null">
		      	SORTNO,
		      </if>
		      <if test="status!= null">
		      	STATUS,
		      </if>
		      <if test="createTime!= null">
		      	CREATE_TIME,
		      </if>
		      <if test="updateTime!= null">
		      	UPDATE_TIME,
		      </if>
		      <if test="creater!= null">
		      	CREATER,
		      </if>
		      <if test="updater!= null">
		      	UPDATER,
		      </if>
	     </trim>
	      <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="homePageId != null" >
	        #{homePageId,jdbcType=NUMERIC},
	      </if>
	       <if test="purchaseId != null" >
	        #{purchaseId,jdbcType=VARCHAR},
	      </if>
	       <if test="type != null" >
	        #{type,jdbcType=NUMERIC},
	      </if>
	       <if test="sortNo != null" >
	        #{sortNo,jdbcType=NUMERIC},
	      </if>
	       <if test="status != null" >
	        #{status,jdbcType=NUMERIC},
	      </if>
	      <if test="createTime != null" >
	        #{createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="updateTime != null" >
	        #{updateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="creater != null" >
	        #{creater,jdbcType=NUMERIC},
	      </if>
	      <if test="updater != null" >
	        #{updater,jdbcType=NUMERIC},
	      </if>
	      </trim>
	</insert>
	
	<!-- updatePurchaseInfo -->
  	<update id="updatePurchaseInfo" parameterType="com.jointown.zy.common.model.HomePagePurchaseModel">
			UPDATE BOSS.HOMEPAGE_PURCHASE
	<trim prefix="SET" suffixOverrides=",">
		  <if test="purchaseId != null" >
	       PURCHASE_ID =  #{purchaseId,jdbcType=VARCHAR},
	      </if>
	       <if test="type != null" >
	       TYPE = #{type,jdbcType=NUMERIC},
	      </if>
	       <if test="sortNo != null" >
	        SORTNO = #{sortNo,jdbcType=NUMERIC},
	      </if>
	       <if test="status != null" >
	        STATUS = #{status,jdbcType=NUMERIC},
	      </if>
	      <if test="updateTime != null" >
	        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="updater != null" >
	       UPDATER = #{updater,jdbcType=NUMERIC},
	      </if>
	</trim>
			WHERE HOMEPAGE_ID = #{homePageId,jdbcType=NUMERIC}
	</update>
</mapper>