<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.HomePageAdDao">
	<resultMap type="com.jointown.zy.common.vo.HomePageAdVo" id="BaseResultMap">
		<result column="AD_ID" property="adid" jdbcType="INTEGER" />
		<result column="CATEGORY" property="category" jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="VARCHAR" />
		<result column="PICURL" property="picurl" jdbcType="VARCHAR" />
		<result column="ALT" property="alt" jdbcType="VARCHAR" />
		<result column="URL" property="url" jdbcType="VARCHAR" />
		<result column="UPDATE_TIME" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="TYPE" property="chinesetype" jdbcType="VARCHAR" />
		<result column="UPDATER" property="updater" jdbcType="DECIMAL" />
		<result column="SORTNO" property="sortno" jdbcType="DECIMAL" />
	</resultMap>
	
	<resultMap type="com.jointown.zy.common.model.HomePageAd" id="ResultMap">
		<result column="AD_ID" property="adid" jdbcType="INTEGER" />
		<result column="CATEGORY" property="category" jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="DECIMAL" />
		<result column="SORTNO" property="sortno" jdbcType="DECIMAL" />
		<result column="URL" property="url" jdbcType="VARCHAR" />
		<result column="PICURL" property="picurl" jdbcType="VARCHAR" />
		<result column="ALT" property="alt" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createtime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="CREATER" property="creater" jdbcType="DECIMAL" />
		<result column="UPDATER" property="updater" jdbcType="DECIMAL" />
	</resultMap>
	
	<select id="getHomePageAdById" resultMap="ResultMap" parameterType="int">
		select * from BOSS.HOMEPAGE_AD where ad_id = #{adid,jdbcType=DECIMAL}
	</select>
	<!--分页查询-->
	<select id="selectAdByPage" resultMap="BaseResultMap" parameterType="com.jointown.zy.common.model.Page">
		select t.ad_id,t.type,t.sortno,t.url,t.picurl,t.alt,t.update_time,bu.user_name as UPDATER from BOSS.HOMEPAGE_AD t left join
		BOSS.boss_user bu on t.updater = bu.user_id
		where t.status = 0
		<if test="params.category != null and params.category != ''">
			and t.category = #{params.category,jdbcType=VARCHAR}
		</if>
		<if test="params.type != null and params.type != ''">
			and t.type = #{params.type,jdbcType=VARCHAR}
		</if>
		<if test="params.alt != null and params.alt != ''">
       		and t.alt like CONCAT(CONCAT('%', #{params.alt, jdbcType=VARCHAR}),'%')
    	</if>
		order by type asc, sortno asc
	</select>

	<!--分页查询-->
	<select id="selectHomePageAdBy" resultMap="BaseResultMap" parameterType="map">
		select t.ad_id,t.type,t.sortno,t.url,t.picurl,t.alt,t.update_time,bu.user_name as UPDATER from BOSS.HOMEPAGE_AD t left join
		BOSS.boss_user bu on t.updater = bu.user_id
		where t.status = 0
		<if test="category != null and category != ''">
			and t.category = #{category,jdbcType=VARCHAR}
		</if>
		<if test="type != null and type != ''">
			and t.type = #{type,jdbcType=VARCHAR}
		</if>
		<if test="alt != null and alt != ''">
       		and t.alt like CONCAT(CONCAT('%', #{alt, jdbcType=VARCHAR}),'%')
    	</if>
		order by type asc, sortno asc
	</select>
	
	<select id="selectHomePageAdByType" resultMap="ResultMap"
		parameterType="map">
		select * from BOSS.HOMEPAGE_AD t
		where t.status = 0
		<if test="category != null and category != ''">
			and t.category = #{category,jdbcType=VARCHAR}
		</if>
		<if test="type != null and type != ''">
			and t.type = #{type,jdbcType=DECIMAL}
		</if>
		<if test="sortno != null and sortno != ''">
			and t.sortno = #{sortno,jdbcType=DECIMAL}
		</if>
		order by type asc, sortno asc
	</select>

	<insert id="insertHomePageAd" parameterType="com.jointown.zy.common.model.HomePageAd">
		insert into BOSS.HOMEPAGE_AD 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ad_id,
			<if test="category != null">
				category,
			</if>
			<if test="sortno != null">
				sortno,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="url != null and url != ''">
				url,
			</if>
			<if test="picurl != null and picurl != ''">
				picurl,
			</if>
			<if test="alt != null and alt != ''">
				alt,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createtime != null">
				create_time,
			</if>
			<if test="updatetime != null">
				update_time,
			</if>
			<if test="creater != null">
				creater,
			</if>
			<if test="updater != null">
				updater,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			BOSS.SEQ_HOMEPAGE_AD.nextval,
			<if test="category != null">
				#{category,jdbcType=VARCHAR},
			</if>
			<if test="sortno != null">
				#{sortno,jdbcType=DECIMAL},
			</if>
			<if test="type != null">
				#{type,jdbcType=DECIMAL},
			</if>
			<if test="url != null and url != ''">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="picurl != null and picurl != ''">
				#{picurl,jdbcType=VARCHAR},
			</if>
			<if test="alt != null  and alt != ''">
				#{alt,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=DECIMAL},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=DECIMAL},
			</if>
			<if test="updater != null">
				#{updater,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	
	<update id="updateHomePageAdByAdid" parameterType="com.jointown.zy.common.model.HomePageAd">
		update BOSS.HOMEPAGE_AD
		<set>
			<if test="category != null and category != ''">
				category = #{category,jdbcType=VARCHAR},
			</if>
			<if test="sortno != null">
				<![CDATA[
					sortno = #{sortno,jdbcType=DECIMAL},
				]]>
			</if>
			<if test="type != null">
				<![CDATA[
					type = #{type,jdbcType=DECIMAL},
				]]>
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="picurl != null">
				picurl = #{picurl,jdbcType=VARCHAR},
			</if>
			<if test="alt != null">
				alt = #{alt,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=DECIMAL},
			</if>
			<if test="updatetime != null">
				update_time = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="updater != null">
				updater = #{updater,jdbcType=DECIMAL},
			</if>
		</set>
		where ad_id = #{adid,jdbcType=DECIMAL}
	</update>
	
	<!-- 根据广告类型获取广告内容 -->
	<select id="selectHomePageAdsByType" parameterType="String" resultMap="ResultMap">
		select * from boss.homepage_ad 
		where type=#{type} and status=0  
		<if test="nums!=null and nums !=''">
			<![CDATA[and rownum <= #{nums}]]>
		</if>
		order by sortno
	</select>
	
	<!-- 首页2.0道地药材 -->
	<select id="selectMinSortno" resultMap="ResultMap">
			select type
				from boss.homepage_ad
			where   sortno = ( select MIN(SORTNO) sortno from boss.homepage_ad where status = 0
					and type in (23, 24, 25, 26,27, 28) )
			and type in (23, 24, 25, 26, 27, 28)
			and status=0
			and rownum=1
	</select>
</mapper>