<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.HomePageListingDao">

	<resultMap type="com.jointown.zy.common.dto.HomePageListingDto" id="BaseResultMap">
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="dictvalue"  property="dictvalue"  jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="origin" property="origin" jdbcType="VARCHAR" />
		<result column="area" property="area" jdbcType="VARCHAR" />
		<result column="grade" property="grade" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="DECIMAL" />
		<result column="picurl" property="picurl" jdbcType="VARCHAR" />
		<result column="alt" property="alt" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="listingid" property="listingid" jdbcType="VARCHAR" />
		<result column="listing_Id" property="listing_Id" jdbcType="DECIMAL" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="userid" property="userId" jdbcType="VARCHAR"/>
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="DECIMAL" />
		<!-- 首页2.0新增维护字段 -->
		<result column="listingamount" property="stockAmount" jdbcType="DECIMAL"/>
		<result column="in_warehouse" property="inWarehouse" jdbcType="VARCHAR"/>
		<result column="updatetime" property="updateTime" jdbcType="TIMESTAMP"/>
		<!-- 首页2.0新增维护字段 -->
	</resultMap>
	
	<!-- 获取首页using数据和预览数据 -->
	<select id="selectHomePageListingsByType" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from 
			(select rownum as rn,
			       b.breed_name as name,
			       c.dict_value,
			       a.lowunitprice as price, 
			       '元/' || c.dict_value as dictvalue,
			       d.origin,
			       e.grade,
			       f.type,
			       f.sortno,
			       f.picurl,
			       f.alt,
			       f.listing_id,
			       a.listingid,
			       f.status,
			       u.user_name as username,
			       g.warehousename area
			  from boss.homepage_listing f,
			       zyc.busi_listing      a,
			       boss.breed            b,
			       boss.dict_info        c,
			       zyc.busi_whlist       d,
			       zyc.busi_quality_info  e,
			       zyc.busi_warehouse    g,
			       boss.UC_USER          u
			 where 1 = 1
			   and f.status = 0
			   and f.listingid(+) = a.listingid
			   and a.breedid = b.breed_id
			   and b.breed_count_unit = c.dict_code
			   and a.wlid = d.wlid
			   and a.wlid = e.wlid(+)
			   and d.warehouseid = g.warehouseid(+)
			   and a.userid = u.user_id(+)
			   and f.type = #{type,jdbcType=DECIMAL}
			   and a.listingflag = 2
         	   and a.SURPLUSES > 0
			   order by f.sortno asc)
		where <![CDATA[rn <= #{length,jdbcType=DECIMAL}]]>
	</select>
	
	<!--首页热门推荐-->
	<select id="selectHomePageRecommListings" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from 
      (select rownum as rn,
             b.breed_name as name,
             c.dict_value,
             f.path as picurl,  
             a.lowunitprice as price, 
             '元/' || c.dict_value as dictvalue,
             d.origin,
             e.grade,
             a.listingamount || c.dict_value as listingamount,
             a.listingid
            <!-- ,g.warehousename area -->
        from 
             zyc.busi_listing      a
             left join zyc.busi_qualitypic  f on a.wlid = f.wlid and f.picindex=1
             left join  zyc.busi_quality_info  e on a.wlid = e.wlid,
             boss.breed            b,
             boss.dict_info        c,
             zyc.busi_whlist       d
            <!-- left join zyc.busi_warehouse    g on d.warehouseid = g.warehouseid --> 
      	   where 1 = 1
           and a.breedid = b.breed_id
           and b.breed_count_unit = c.dict_code
           and a.wlid = d.wlid
           and a.listingflag = 2
           <if test="listingIds == null" >
	         and a.isrecommend = 1
	       </if>
	       <if test="listingIds != null" >
	         and a.listingid in 
	          <foreach collection="listingIds" item= "listingId" index ="index" open= "(" close =")" separator=",">
		            #{listingId}
		      </foreach >
	       </if>
           and a.SURPLUSES > 0
           )
            where <![CDATA[rn <= #{length,jdbcType=DECIMAL}]]>
	</select>

	<!-- 分页获取当前首页挂牌数据 -->
	<select id="selectReviewedListings" parameterType="com.jointown.zy.common.model.Page"
		resultMap="BaseResultMap">
		select
			b.breed_name as name,
			c.dict_value,
	        a.lowunitprice as price, 
	       '元/' || c.dict_value as dictvalue,
			d.origin,
			e.grade,
			f.type,
			f.sortno,
			f.picurl,
			f.alt,
			f.listing_id,
			a.listingid,
			f.status,
			a.listingflag,
			u.user_name as username,
			g.warehousename area
		from
			boss.homepage_listing f,
			zyc.busi_listing a,
			boss.breed b,
			boss.dict_info c,
			zyc.busi_whlist d,
			zyc.busi_quality_info e,
			zyc.busi_warehouse g,
			boss.UC_USER u
		where 1=1
			and f.status = 0
			and f.listingid(+) = a.listingid
			and a.breedid=b.breed_id
			and b.breed_count_unit=c.dict_code
			and a.wlid=d.wlid
			and a.wlid=e.wlid(+)
			and d.warehouseid=g.warehouseid(+)
			and a.userid = u.user_id(+)
		<if
			test="params.homePageListingDto.listingid!=null and params.homePageListingDto.listingid!=''">
			and a.listingid = #{params.homePageListingDto.listingid}
		</if>
		<if
			test="params.homePageListingDto.type!=null and params.homePageListingDto.type!=''">
			and f.type = #{params.homePageListingDto.type}
		</if>
		order by f.update_time desc
	</select>
	
	<select id="selectCurListings" parameterType="com.jointown.zy.common.dto.HomePageListingDto"
		resultMap="BaseResultMap">
		select
			b.breed_name as name,
			c.dict_value,
	        a.lowunitprice as price, 
	       '元/' || c.dict_value as dictvalue,
			d.origin,
			e.grade,
			f.type,
			f.sortno,
			f.picurl,
			f.alt,
			f.listing_id,
			a.listingid,
			f.status,
			u.user_name as username,
			g.warehousename area
		from
			boss.homepage_listing f,
			zyc.busi_listing a,
			boss.breed b,
			boss.dict_info c,
			zyc.busi_whlist d,
			zyc.busi_quality_info e,
			zyc.busi_warehouse g,
			boss.UC_USER u
		where 1=1
			and f.status = 0
			and f.listingid(+) = a.listingid
			and a.breedid=b.breed_id
			and b.breed_count_unit=c.dict_code
			and a.wlid=d.wlid
			and a.wlid=e.wlid(+)
			and d.warehouseid=g.warehouseid(+)
			and a.userid = u.user_id(+)
		<if
			test="listingid!=null and listingid!=''">
			and a.listingid = #{listingid}
		</if>
		<if
			test="listing_Id!=null and listing_Id!=''">
			and f.listing_Id = #{listing_Id}
		</if>
	</select>

	<insert id="insertHomePageListing" parameterType="com.jointown.zy.common.dto.HomePageListingDto">
		insert into
		boss.homepage_listing t
		(
		t.LISTING_ID,
		t.LISTINGID,
		t.TYPE,
		t.SORTNO,
		t.PICURL,
		t.ALT,
		t.STATUS,
		t.CREATE_TIME,
		t.UPDATE_TIME,
		t.CREATER
		)values
		( boss.SEQ_HOMEPAGE_LISTING.nextval,
		#{listingid,jdbcType=VARCHAR},
		#{type,jdbcType=DECIMAL},
		#{sortno,jdbcType=DECIMAL},
		#{picurl,jdbcType=VARCHAR},
		#{alt,jdbcType=VARCHAR},
		0,
		#{create_time,jdbcType=TIMESTAMP},
		#{update_time,jdbcType=TIMESTAMP},
		#{creater_id,jdbcType=DECIMAL}
		)
	</insert>

	<update id="updateHomePageListing" parameterType="com.jointown.zy.common.dto.HomePageListingDto">
		update boss.homepage_listing t set
		<if test="type != null and type != ''">
			t.type=#{type,jdbcType=DECIMAL},
		</if>
		<if test="sortno != null and sortno != ''">
			t.sortno=#{sortno,jdbcType=DECIMAL},
		</if>
		<if test="picurl != null and picurl != ''">
			t.picurl=#{picurl,jdbcType=VARCHAR},
		</if>
		<if test="alt != null and alt != ''">
			t.alt=#{alt,jdbcType=VARCHAR},
		</if>
		t.status=#{status,jdbcType=DECIMAL},
		t.update_time= #{update_time,jdbcType=TIMESTAMP},
		t.updater= #{updater_id,jdbcType=DECIMAL}
		where
		t.LISTING_ID=#{listing_Id,jdbcType=DECIMAL}
	</update>
	
	<!-- 首页2.0 -->
	<!-- 获取首页所有挂牌数据类型 -->
	<select id="queryHomePageListing" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from 
			(select rownum as rn,
			       b.breed_name as name,
			       c.dict_value,
			       a.lowunitprice as price, 
			       '元/' || c.dict_value as dictvalue,
			       d.origin,
			       e.grade,
			       f.type,
			       f.sortno,
			       f.picurl,
			       f.alt,
			       f.listing_id,
			       a.listingid,
			       f.status,
			       boss.get_certify_name(a.userid) as username,
			       a.userid,
			       g.warehousename area
			  from boss.homepage_listing f,
			       zyc.busi_listing      a,
			       boss.breed            b,
			       boss.dict_info        c,
			       zyc.busi_whlist       d,
			       zyc.busi_quality_info e,
			       zyc.busi_warehouse    g,
			       boss.UC_USER          u
			 where 1 = 1
			   and f.status = 0
			   and f.listingid(+) = a.listingid
			   and a.breedid = b.breed_id
			   and b.breed_count_unit = c.dict_code
			   and a.wlid = d.wlid
			   and a.wlid = e.wlid(+)
			   and d.warehouseid = g.warehouseid(+)
			   and a.userid = u.user_id(+)
			   and f.type = #{type,jdbcType=DECIMAL}
			   and a.listingflag = 2
         	   and a.SURPLUSES > 0
			   order by f.sortno asc)
		where <![CDATA[rn <= #{length,jdbcType=DECIMAL}]]>
	</select>
	
	<!-- 最新成交 -->
	<select id="selectNewBargain" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT * FROM (
			select 
				a.listingid,
				c.BREED_NAME as name, 
				round(a.actual_payment / 10000,3) as price,
				a.orderstate as status,
				a.updatetime
			from 
				zyc.busi_order a, 
				zyc.busi_listing b, 
				boss.breed c
			where a.listingid = b.LISTINGID(+)
				and b.BREEDID = c.BREED_ID(+)
				and a.orderstate in (0, 1, 3, 4)
				and a.actual_payment > 1000
				order by a.updatetime desc)
			WHERE <![CDATA[rownum <= 30]]>
	</select>
	
	  <!-- 查询首页挂牌类型为全国大仓的数据 -->
	  <select id="queryBigWarehouse" resultMap="BaseResultMap" parameterType="java.util.Map">
	  	select 
	  	 <if test="areaCount == 1">
	  	 	distinct(in_warehouse)
	  	 </if>
	  	 <if test="areaCount == 0">
	  	 	*
	  	 </if> from (      
	         select
	                a.listingid, 
	                b.breed_name as name,
	                e.grade,
	                c.origin,
	                a.lowunitprice as price,
	                a.listingamount ,
	                d.dict_value as dictvalue,
	                g.district_name1 as in_warehouse
        	 from    
		         (select t2.*,t1.sortno from boss.homepage_listing t1, zyc.busi_listing t2
		                  where t1.LISTINGID = t2.LISTINGID
		                    and t1.type = '21'
		                    and t1.status = 0) a,
		                    boss.breed b,
		                    zyc.busi_whlist c,
		                    boss.dict_info d ,
		                    ZYC.BUSI_QUALITY_INFO e, 
		                    zyc.busi_warehouse f,
		                    zyc.busi_district_area g
		           where  a.listingflag = 2 
		           and a.breedid = b.breed_id(+)
		           and a.wlid = c.wlid(+)
		           and c.wlunit = d.dict_code(+)   
		           and a.wlid = e.wlid(+)    
		           and c.warehouseid = f.warehouseid
		           and f.province = g.province(+)  
		           order by a.sortno) z  
		          where <![CDATA[rownum <= 18]]>
		          and in_warehouse is not null
	  </select>
	  
	  <!-- 查询为挂牌中的最新挂牌信息 -->
	  <select id="queryNewListing"  resultMap="BaseResultMap">
	  	select * from (
        	select
				a.listingid, 
                b.breed_name as name,
                e.grade,
                c.origin,
                a.lowunitprice as price,
                a.listingamount ,
                d.dict_value as dictvalue,
                g.district_name1 as in_warehouse
          	from  
          		zyc.busi_listing       a, 
                boss.breed             b,
                zyc.busi_whlist        c,
                boss.dict_info         d,
                ZYC.BUSI_QUALITY_INFO  e, 
                zyc.busi_warehouse     f,
                zyc.busi_district_area g
         where 1 = 1
	           and a.breedid = b.breed_id
	           and a.wlid = c.wlid
	           and c.wlunit = d.dict_code
	           and c.wlid = e.wlid
	           and c.warehouseid = f.warehouseid
	           and a.listingflag = 2 
	           and f.province = g.province(+)
        order by a.listingamount desc,
                 b.breed_name,
                 f.warehousename,
                 a.examinetime   desc) z
 			where <![CDATA[rownum <= 100]]>
 			and in_warehouse is not null
	  </select>
</mapper>