<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.IndexDao">
	<resultMap id="Article" type="com.jointown.zy.common.dto.ArticleDto">
	    <id column="ID" property="id" jdbcType="VARCHAR" />
	    <result column="TITLE" property="title" jdbcType="VARCHAR" />
	    <result column="CATEGORY_ID" property="categoryId" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="Article1" type="com.jointown.zy.common.dto.Article1Dto">
	    <id column="ACID" property="acid" jdbcType="VARCHAR" />
	    <result column="TITLE" property="title" jdbcType="VARCHAR" />
	    <result column="LMID" property="lmid" jdbcType="VARCHAR" />
	    <result column="DTM" property="dtm" jdbcType="TIMESTAMP" />
	    <result column="WRITER" property="writer" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="Article2" type="com.jointown.zy.common.dto.Article1Dto">
	    <id column="ACID" property="acid" jdbcType="VARCHAR" />
	    <result column="LMID" property="lmid" jdbcType="VARCHAR" />
	    <result column="CONTS" property="cont" jdbcType="VARCHAR" />
	    <result column="DTM" property="dtm" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<resultMap id="ArticleWithCLOB" type="com.jointown.zy.common.dto.Article1Dto" extends="Article1" >
    <result column="CONT" property="cont" jdbcType="CLOB" />
  </resultMap>
 	
	<!-- add by 宋威 2015-7-20 微信获取形态分类下的所有类目分类列表 -->
	<select id="getCateGorys"  resultType="map">
		select A.id, A.categorys_name
        from boss.CATEGORYS A
       where A.class_id = (select a.class_id
                             from boss.class_info a
                            where a.class_name = '形态分类'
		                          and a.status = '1') 
         and A.status = 1 order by CATEGORYS_ORDER asc
	</select>
	
	<!-- add by 宋威 2015-7-20 微信根据类目ID查询该指定类目下的所有在库药材吨数 -->
	<select id="getWlTotalByCateGoryId" parameterType="String" resultType="String">
	select nvl(round(sum(decode(a.wlunit,'kg',a.wltotal/1000.000,'g',a.wltotal/1000000.000,'tiao',0,a.wltotal/1000.000))),0)
    from (select distinct b.breed_id id from  boss.breed_category b where b.categorys_id= #{categoryId,jdbcType=VARCHAR} and b.status=1) t
    left join zyc.busi_whlist a  on t.id = a.breedcode and a.wlflag=0 and a.wlunit is not null
	</select>
	
	<!-- add by 宋威 2015-7-20 微信根据类目ID查询该指定类目下的所有正常可摘牌的挂牌品种id集合 -->
	<select id="findBreedIdsByCid" parameterType="String" resultType="String">
		select breed_id from (select  breed_id,(case  when exists 
        (select 1 from zyc.busi_listing c where c.breedid = a.breed_id and c.listingflag=2 and c.surpluses>0)
        then 1 else 0 end) flag
 		from boss.breed_category a where a.categorys_id= #{categoryId,jdbcType=VARCHAR} and a.status=1) where  flag=1
	</select>
	 
	<!-- 仓单总吨数  换算公式: 除了公斤，克，条外都除以1000换算成吨-->
	<select id="getWarrantsTunnage" parameterType="String" resultType="String">
		select round(sum(decode(b.dict_value,'公斤',a.wltotal/1000,'克',a.wltotal/1000000,'条',0,a.wltotal/1000)))
		from zyc.busi_whlist a,boss.dict_info b
		where a.wlunit= b.dict_code
		and a.wlflag=0
		<!-- and a.createtime>to_date('2015-03-24','yyyy-mm-dd') -->
	</select>
	
	<!-- 获取cms文章列表 -->
	<select id="getArticleList" parameterType="Map" resultMap="Article">
		select * from 
		(select * from cms.cms_article t where t.category_id=#{categoryId} and t.del_flag=0 order by t.update_date desc)
		 where ROWNUM<![CDATA[ <= ]]>#{num}
	</select>
	
	<!-- 行业动态列表 -->
	<!--<select id="getDynamicList" parameterType="String" resultMap="Article1">
		select * from 
		(select * from weixin.east_article t where t.lmid='2' order by t.dtm desc) 
		where ROWNUM<![CDATA[ <= ]]>10
	</select> -->
	
	<!-- 获取微信东网文章列表 -->
	<select id="getWeixinArticleList" parameterType="Map" resultMap="Article1">
		select * from 
		(select * from weixin.east_article t where t.lmid in (#{lmid}) order by t.dtm desc) 
		where ROWNUM<![CDATA[ <= ]]>#{rownum}
	</select>
	
	<!-- 获取微信东网市场快讯文章列表 -->
	<select id="getMKArticleList" resultMap="Article1">
		select * from 
		(select * from weixin.east_mk_news m order by m.dtm desc) 
		where ROWNUM<![CDATA[ <= ]]>8
	</select>

	<!-- 天天播报（查询出天天播报）仓单中最新的15条 -->
	<select id="getBroadcastEveryday" parameterType="String" resultType="map">
		 select rownum,product.* from 
		(select a.listingid,b.breed_name as breedname,a.surpluses as wlsurplus,
		         to_char(a.createtime, 'yyyy-mm-dd') as createtime,e.dict_value as wlunit
		         from 
		         ZYC.busi_listing a 
		         left join BOSS.breed b 
		              on a.breedid = b.breed_id
		         left join BOSS.dict_info e
		              on b.breed_count_unit = e.dict_code
		         where 
		         a.listingflag =2 and  a.SURPLUSES > 0
		         order by createtime desc
		) product
		where <![CDATA[  rownum <= 15]]>
	</select>
	
	<!-- 获取各大区仓库现货（吨） add by ldp-->
	<select id="getBigAreaTunnage" resultType="map">
		select round(sum(decode(dict_value,
                             '公斤',
                             wltotal / 1000,
                             '克',
                             wltotal / 1000000,
                             '条',
                             0,
                             wltotal / 1000))) as bigTunNums,
                    b.district_name
               from zyc.busi_warehouse     a,
                    zyc.BUSI_DISTRICT_AREA b,
                    zyc.busi_whlist        c,
                    boss.dict_info         d
              where a.province = b.province(+)
                and c.warehouseid = a.warehouseid(+)
                and c.wlunit = d.dict_code(+)
                and b.district_name is not null
      group by b.district_name
	</select>
	
	<!-- 获取价格指数数据 (周K,月K,年K) add by ldp-->
	<select id="getPriceIndex" parameterType="map" resultType="map">
		SELECT SUM(pri) AS zhishu, dtm
		  FROM (select *
		          from weixin.east_yc_price
		        union all
		        select * from weixin.east_yc_price_history) vp,
		       weixin.east_zhishupz zp
		 where vp.pzid = zp.pzid
		 <!-- 总指数，家中，野生，小品种，香料，疫情    分别对应的type 是  q,j,y,s,x,c -->
		 	and zp.styp = #{type}
		 <if test="k == 0">
		 	AND vp.dtm >= to_date('2008-1-1', 'yyyy-mm-dd')
		 </if>
		 <if test="k == 1">
		 	AND vp.dtm >= sysdate-2*365
		 </if>
		 <if test="k == 2">
		 	AND vp.dtm >= sysdate-12*7
		 </if>
		 GROUP BY vp.dtm
		 ORDER BY vp.dtm
	</select>
	
	<!-- 获取价格综合指数  add by ldp-->
	<select id="getCompositeIndex" parameterType="map" resultType="map">
		  select * from(
		    SELECT SUM(pri) AS zhishu, dtm
		      FROM (select pzid,pri,dtm from weixin.east_yc_price
		      		 <![CDATA[where dtm <= sysdate-#{dateNums}]]>
		      		  <![CDATA[and dtm > sysdate-#{dateNums}-30]]>
		      
		      ) vp,
		           weixin.east_zhishupz zp
		     where vp.pzid = zp.pzid
		       and zp.styp = #{type}
		       AND vp.dtm >= sysdate-2*365
		     GROUP BY vp.dtm
		     ORDER BY vp.dtm desc) t
		     where rownum = 1
		    
		
	</select>
	<!-- 药材快讯（包括产地快讯、市场快讯） -->
	<select id="getHerbalNews" resultMap="Article2">
		select *
		  from (select a.acid,
		               a.ycnam,
		               to_char(substr(a.cont, 1, 2000)) as conts,
		               a.dtm
		          from weixin.east_article a
		          where a.lmid = 7
		         and a.dtm>sysdate-15
		        union
		        select b.dtid as acid, b.ycnam, b.cont as conts, b.dtm
		          from weixin.east_mk_news b 
		           where b.dtm>sysdate-15
		          order by dtm desc)
		 <![CDATA[where rownum <= 20 ]]><!-- 前20条数据 -->
	</select>
</mapper>