<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.persistence.InfoWarehousMapper">
<resultMap id="InfoWarehousResult" type="com.jointown.zy.common.model.InfoWarehousModel">
     <result column="WAREHOUSE_ID" property="warehouseId" jdbcType="INTEGER"/>
     <result column="BNAME" property="breedName" jdbcType="VARCHAR"/>
     <result column="BREEDNAME" property="breed_Name" jdbcType="VARCHAR"/>
     <result column="BREED_AMOUNT" property="breedAmount" jdbcType="VARCHAR"/>
     <result column="WAREHOUSE_TYPE" property="warehouseType" jdbcType="VARCHAR"/>
     <result column="WAREHOUSE_AREA" property="warehouseArea" jdbcType="VARCHAR"/>
     <result column="STATUS" property="status" jdbcType="INTEGER"/>
     <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
     <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
     <result column="APPLY_NAME" property="applyName" jdbcType="VARCHAR"/>
     <result column="APPLY_MOBILE" property="applyMobile" jdbcType="INTEGER"/>
     <result column="APPLY_RESOURCE" property="applyResource" jdbcType="VARCHAR"/>
     <result column="WAREHOUSE_PLACE" property="warehousePlace" jdbcType="VARCHAR"/>
     <result column="EXPECTED_SERVICE" property="expectedService" jdbcType="VARCHAR"/>
     <result column="USERID" property="userId" jdbcType="INTEGER"/>
     <result column="WAREHOUSE_ADDRESS" property="warehouseAddress" jdbcType="VARCHAR"/>
     <result column="BREEDID" property="breedId" jdbcType="INTEGER"/>
     <result column="HANDLE_TIME" property="handleTime" jdbcType="TIMESTAMP"/>
     <result column="HANDLE_ID" property="handleId" jdbcType="INTEGER"/>
     <result column="HANDLER" property="handler" jdbcType="VARCHAR"/>
</resultMap>

<resultMap id="BreedResultMap" type="com.jointown.zy.common.model.Breed">
	<id column="BREED_ID" property="breedId" jdbcType="DECIMAL" />
	<result column="BREED_CODE" property="breedCode" jdbcType="VARCHAR" />
	<result column="BREED_NAME" property="breedName" jdbcType="VARCHAR" />
	<result column="BREED_CNAME" property="breedCname" jdbcType="VARCHAR" />
	<result column="BREED_COUNT_UNIT" property="breedCountUnit" jdbcType="VARCHAR" />
	<result column="BREED_STANDARD_LEVEL" property="breedStandardLevel" jdbcType="VARCHAR" />
	<result column="BREED_PLACE" property="breedPlace" jdbcType="VARCHAR" />
	<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
	<result column="STATUS" property="status" jdbcType="DECIMAL" />
	<result column="CREATER" property="creater" jdbcType="DECIMAL" />
	<result column="UPDATER" property="updater" jdbcType="DECIMAL" />
</resultMap>

	<!-- 
		后才入仓信息分页查询列表 
		关于BNAME BREEDNAME
		由于需求 前台 分两种情况 1种情况 用户暴力输入不存在的品种名 品种ID默认为0 第二种 用户输入有效品种 品种ID 关联品种表ID为有效
		主要做后台列表显示品种名判断
	-->
	<select id="getQueryPageList"  resultMap="InfoWarehousResult" parameterType="com.jointown.zy.common.model.Page">
		SELECT 
		   a.WAREHOUSE_ID,
	       a.APPLY_NAME,
	       a.APPLY_MOBILE,
	       a.APPLY_RESOURCE,
	       a.BREEDID,
	       a.BREED_NAME BNAME,
           b.BREED_NAME as BREEDNAME,
	       a.BREED_AMOUNT,
	       a.WAREHOUSE_TYPE,
	       a.WAREHOUSE_AREA,
	       a.WAREHOUSE_ADDRESS,
	       a.EXPECTED_SERVICE,
	       a.CREATE_TIME,
	       a.UPDATE_TIME,
	       a.STATUS,
	       a.HANDLE_TIME,
	       c.USER_NAME as HANDLER
		FROM zyc.BUSI_WAREHOUSE_APPLY a
		LEFT JOIN boss.BREED b
		ON a.breedid=b.breed_id
		LEFT JOIN boss.boss_user c
 		ON a.handle_id = c.user_id
 		WHERE 1=1
		<!-- 发布人 -->
		<if test="params.infoWarehousDto.applyName!=null and params.infoWarehousDto.applyName!=''">
			and a.APPLY_NAME like '%${params.infoWarehousDto.applyName}%'
		</if>
		<!-- 联系电话 -->
		<if test="params.infoWarehousDto.applyMobile!=null and params.infoWarehousDto.applyMobile!=''">
			and a.APPLY_MOBILE = #{params.infoWarehousDto.applyMobile}
		</if>
		<!-- 品种名称 -->
		<if test="params.infoWarehousDto.breedName!=null and params.infoWarehousDto.breedName!=''">
			and a.BREED_NAME like '%${params.infoWarehousDto.breedName}%'
		</if>
		<!-- 状态 -->
		<if test="params.infoWarehousDto.status != null and params.infoWarehousDto.status !=''">
	    	and a.STATUS = #{params.infoWarehousDto.status}
	    </if>
	    <!-- 信息来源 -->
		<if test="params.infoWarehousDto.applyResource != null and params.infoWarehousDto.applyResource !=''">
	    	and a.APPLY_RESOURCE = #{params.infoWarehousDto.applyResource}
	    </if>
	    <!-- 创建时间 -->
		<if test="params.infoWarehousDto.createTimeStart != null and params.infoWarehousDto.createTimeStart != ''">
	    	and a.CREATE_TIME &gt; to_date(#{params.infoWarehousDto.createTimeStart},'yyyy-mm-dd hh24:mi:ss') 
	    </if>
	    <if test="params.infoWarehousDto.createTimeEnd != null and params.infoWarehousDto.createTimeEnd != ''">
	    	and to_date(#{params.infoWarehousDto.createTimeEnd},'yyyy-mm-dd hh24:mi:ss') &gt; a.CREATE_TIME 
	    </if>
	    ORDER BY a.STATUS ASC,a.CREATE_TIME DESC
	</select>
	
	<!-- 品种名 别名查询 -->
	<select id="selectTypeName" parameterType="java.lang.String" resultMap="BreedResultMap" >
			SELECT
				BREED_ID, 
				BREED_NAME,
				BREED_CNAME 
			FROM  
				boss.breed t1 where 1=1
			<if test="_parameter !=null and _parameter!=''">
				and (t1.BREED_NAME like '%${_parameter}%' OR t1.BREED_CNAME like '%${_parameter}%')
			</if>
				and t1.status=1
	</select>
	
	<!-- 主键查询 -->
	<select id="selectByWarehousId" resultMap="InfoWarehousResult" parameterType="com.jointown.zy.common.model.InfoWarehousModel">
		SELECT 
			A.WAREHOUSE_ID,
			A.APPLY_NAME,
			A.APPLY_MOBILE,
			A.STATUS,
			A.BREED_NAME,
			A.BREED_AMOUNT,
			A.WAREHOUSE_TYPE,
			A.WAREHOUSE_AREA,
			A.WAREHOUSE_ADDRESS,
			A.EXPECTED_SERVICE,
			A.REMARKS
		FROM ZYC.BUSI_WAREHOUSE_APPLY A
		WHERE 1=1
		<if test="warehouseId !=null">
			and A.WAREHOUSE_ID = #{warehouseId,jdbcType=INTEGER}
		</if>
	</select>
	
	<!-- 后台入仓信息新增 -->
	<insert id="insertInfoWarehous" parameterType="com.jointown.zy.common.model.InfoWarehousModel">
		<selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="warehouseId">
			SELECT ZYC.SEQ_BUSI_WAREHOUSE_APPLY.nextval FROM DUAL
		</selectKey>
   		INSERT INTO ZYC.BUSI_WAREHOUSE_APPLY
	    <trim prefix="(" suffix=")" suffixOverrides="," >
      	  <if test="warehouseId != null" >
	        WAREHOUSE_ID,
	      </if>
	      <if test="breedName != null" >
	        BREED_NAME,
	      </if>
	      <if test="breedAmount != null" >
	        BREED_AMOUNT,
	      </if>
	      <if test="warehouseType != null" >
	        WAREHOUSE_TYPE,
	      </if>
	      <if test="warehouseArea != null" >
	        WAREHOUSE_AREA,
	      </if>
	      <if test="status != null" >
	        STATUS,
	      </if>
	      <if test="createTime != null" >
	        CREATE_TIME,
	      </if>
	      <if test="updateTime != null" >
	        UPDATE_TIME,
	      </if>
	      <if test="applyName != null" >
	        APPLY_NAME,
	      </if>
	      <if test="applyMobile != null" >
	        APPLY_MOBILE,
	      </if>
	      <if test="warehousePlace != null" >
	        WAREHOUSE_PLACE,
	      </if>
	      <if test="applyResource != null" >
	        APPLY_RESOURCE,
	      </if>
	      <if test="expectedService != null" >
	        EXPECTED_SERVICE,
	      </if>
	      <if test="warehouseAddress != null" >
	        WAREHOUSE_ADDRESS,
	      </if>
	      <if test="breedId != null" >
	        BREEDID,
	      </if>
	      <if test="handleTime != null" >
	        HANDLE_TIME,
	      </if>
	      <if test="handleId != null" >
	        HANDLE_ID,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="warehouseId != null" >
	        #{warehouseId,jdbcType=INTEGER},
	      </if>
	      <if test="breedName != null" >
	        #{breedName,jdbcType=VARCHAR},
	      </if>
	      <if test="breedAmount != null" >
	        #{breedAmount,jdbcType=VARCHAR},
	      </if>
	      <if test="warehouseType != null" >
	        #{warehouseType,jdbcType=VARCHAR},
	      </if>
	      <if test="warehouseArea != null" >
	        #{warehouseArea,jdbcType=VARCHAR},
	      </if>
	      <if test="status != null" >
	        #{status,jdbcType=INTEGER},
	      </if>
	      <if test="createTime != null" >
	        #{createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="updateTime != null" >
	        #{updateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="applyName != null" >
	        #{applyName,jdbcType=VARCHAR},
	      </if>
	      <if test="applyMobile != null" >
	        #{applyMobile,jdbcType=INTEGER},
	      </if>
	      <if test="warehousePlace != null" >
	        #{warehousePlace,jdbcType=VARCHAR},
	      </if>
	      <if test="applyResource != null" >
	        #{applyResource,jdbcType=VARCHAR},
	      </if>
	      <if test="expectedService != null" >
	        #{expectedService,jdbcType=VARCHAR},
	      </if>
	      <if test="warehouseAddress != null" >
	        #{warehouseAddress,jdbcType=VARCHAR},
	      </if>
	      <if test="breedId != null" >
	        #{breedId,jdbcType=INTEGER},
	      </if>
	      <if test="handleTime != null" >
	        #{handleTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="handleId != null" >
	        #{handleId,jdbcType=INTEGER},
	      </if>
	    </trim>
  </insert>
  
  <!-- 后台新增入仓信息修改 -->
  <update id="updateByWarehousId" parameterType="com.jointown.zy.common.model.InfoWarehousModel">
	UPDATE ZYC.BUSI_WAREHOUSE_APPLY
	<trim prefix="SET" suffixOverrides=",">
		<if test="status != null and status !=''">
			STATUS = #{status,jdbcType=INTEGER},
		</if>
		<if test="handleId != null and handleId !=''">
			HANDLE_ID = #{handleId,jdbcType=INTEGER},
		</if>
		<if test="updateTime != null and updateTime !=''">
			UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
		</if>
		<if test="handleTime != null and handleTime !=''">
			HANDLE_TIME = #{handleTime,jdbcType=TIMESTAMP},
		</if>
		<if test="remarks != null and remarks!=''">
			REMARKS = #{remarks,jdbcType=VARCHAR},
		</if>
	</trim>
			WHERE WAREHOUSE_ID = #{warehouseId,jdbcType=INTEGER}
	</update>
</mapper>