<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.PayOrderDao">
	<resultMap id="PayOrder" type="com.jointown.zy.common.model.PayOrder">
		<id column="FLOW_ID" property="flowId" jdbcType="NUMERIC" />
		<result column="USER_ID" property="userId" jdbcType="NUMERIC" />
		<result column="RECEIVER_ID" property="recieveId" jdbcType="NUMERIC"/>
		<result column="SOURCE_SYS" property="sourceSys" jdbcType="NUMERIC"/>
		<result column="PAY_CHANNEL" property="payChannel" jdbcType="NUMERIC" />
		<result column="AMT_TYPE" property="amtType" jdbcType="NUMERIC"/>
		<result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR" />
		<result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR"/>
		<result column="ORDERID" property="orderId" jdbcType="VARCHAR"/>
		<result column="AMOUNT" property="amount" jdbcType="NUMERIC"/>
		<result column="STATUS" property="status" jdbcType="NUMERIC"/>
		<result column="CLIENT_IP" property="clientIp" jdbcType="VARCHAR"/>
		<result column="QUERYID" property="queryId" jdbcType="VARCHAR"/>
		<result column="RESPCODE" property="respCode" jdbcType="VARCHAR"/>
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="PAY_TIME" property="payTime" jdbcType="TIMESTAMP"/>
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="ORDERTITLE" property="orderTitle" jdbcType="VARCHAR"/>
		<result column="HANDLING_FEE" property="handingFee" jdbcType="NUMERIC"/>
		<result column="VOUCHER_PIC" property="voucherPic" jdbcType="VARCHAR"/>
		<result column="CONFIRMORID" property="confirmorId" jdbcType="NUMERIC"/>
		<result column="CONFIRM_TIME" property="confirmTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	<!-- 资金流水查询列表 -->
	<resultMap type="com.jointown.zy.common.vo.PayFlowListVo" id="resultPayFlowList">
		<result column="BUYER_ID" property="payerId" jdbcType="NUMERIC" />
		<result column="BUYER_ACCOUNT" property="payerAccount" jdbcType="VARCHAR"/>
		<result column="BUYER_NAME" property="payerName" jdbcType="VARCHAR"/>
		<result column="SELLER_ID" property="payeeId" jdbcType="NUMERIC" />
		<result column="SELLER_ACCOUNT" property="payeeAccount" jdbcType="VARCHAR"/>
		<result column="SELLER_NAME" property="payeeName" jdbcType="VARCHAR"/>
		<result column="AMOUNT" property="amount" jdbcType="NUMERIC"/>
		<result column="HANDLING_FEE" property="handlingFee" jdbcType="NUMERIC"/>
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="PAY_TIME" property="payDate" jdbcType="TIMESTAMP"/>
		<result column="AMT_TYPE" property="payType" jdbcType="VARCHAR"/>
		<result column="ORDERID" property="orderId" jdbcType="VARCHAR"/>
		<result column="FLOW_ID" property="payFlowId" jdbcType="VARCHAR"/>
		<result column="STATUS" property="payStatus" jdbcType="VARCHAR"/>
		<result column="PAY_CHANNEL" property="payChannel" jdbcType="NUMERIC"/>
		<!-- 银行转账汇款相关字段 -->
		<result column="VOUCHER_PIC" property="payVoucher" jdbcType="VARCHAR"/>
		<result column="CONFIRMORID" property="confirmorId" jdbcType="NUMERIC"/>
		<result column="CONFIRMOR" property="confirmor" jdbcType="VARCHAR"/>
		<result column="CONFIRM_TIME" property="confirmTime" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<!-- 支付流水字段列表 -->
	<sql id="pay_flow_list">
		FLOW_ID,USER_ID,RECEIVER_ID,SOURCE_SYS,PAY_CHANNEL,AMT_TYPE,BANK_CODE,CURRENCY_CODE,ORDERID,AMOUNT,STATUS,CLIENT_IP,QUERYID,RESPCODE,CREATE_TIME,PAY_TIME,UPDATE_TIME,ORDERTITLE,HANDLING_FEE,VOUCHER_PIC,CONFIRMORID,CONFIRM_TIME
	</sql>
	<!-- 后台资金流水列表查询 -->
	<sql id="select_pay_flow">
			select 
				t2.user_id BUYER_ID,
				t2.user_name BUYER_ACCOUNT,
				get_certify_name(t2.user_id) BUYER_NAME,
				t3.user_id SELLER_ID,
				t3.user_name SELLER_ACCOUNT,
				get_certify_name(t3.user_id) SELLER_NAME,
				t1.AMOUNT,
				t1.HANDLING_FEE,
				t1.CREATE_TIME,
				t1.PAY_TIME,
				t1.AMT_TYPE,
				t1.ORDERID,
				t1.FLOW_ID,
				t1.STATUS,
				t1.UPDATE_TIME,
				t1.PAY_CHANNEL,
				t1.VOUCHER_PIC,
				t1.CONFIRMORID,
				t4.user_code CONFIRMOR,
				t1.CONFIRM_TIME
			from (select a.user_id buyerid,
				a.receiver_id sellerid,
				a.amount,
				a.handling_fee,
				a.create_time,
				a.pay_time,
				a.amt_type,
				a.orderid,
				a.flow_id,
				a.status,
				a.update_time,
				a.pay_channel,
				a.voucher_pic,
				a.confirmorid,
				a.confirm_time
			from pay.pay_flow a) t1
			left join boss.uc_user t2
				on t1.buyerid = t2.user_id
			left join boss.uc_user t3
				on t1.sellerid = t3.user_id
			left join boss.boss_user t4
				on t1.confirmorid = t4.user_id
			WHERE 1=1
	</sql>
	
	<!-- 生成支付流水 -->
	<insert id="insertPayOrder" parameterType="PayOrder">
		<!-- <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="flowId">
			select pay.SEQ_PAY_FLOW.nextval from dual
		</selectKey> -->
		insert into pay.pay_flow(
			<include refid="pay_flow_list" />
		)values(
			#{flowId,jdbcType=NUMERIC},
			#{userId,jdbcType=NUMERIC},
			#{recieveId,jdbcType=NUMERIC},
			#{sourceSys,jdbcType=NUMERIC},
			#{payChannel,jdbcType=NUMERIC},
			#{amtType,jdbcType=NUMERIC},
			#{bankCode,jdbcType=VARCHAR},
			#{currencyCode,jdbcType=VARCHAR},
			#{orderId,jdbcType=VARCHAR},
			#{amount,jdbcType=NUMERIC},
			#{status,jdbcType=NUMERIC},
			#{clientIp,jdbcType=VARCHAR},
			#{queryId,jdbcType=VARCHAR},
			#{respCode,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{payTime,jdbcType=TIMESTAMP},
			#{createTime,jdbcType=TIMESTAMP},
			#{orderTitle,jdbcType=VARCHAR},
			#{handingFee,jdbcType=NUMERIC},
			#{voucherPic,jdbcType=VARCHAR},
			#{confirmorId,jdbcType=NUMERIC},
			#{confirmTime,jdbcType=TIMESTAMP}
		)
	</insert>
	
	<!-- 根据支付流水号查找支付流水 -->
	<select id="getPayFlowByFlowId" resultMap="PayOrder" parameterType="String">
		select * from pay.pay_flow where flow_id=#{flowId}
	</select>
	
	<!-- 根据交易订单号查询交易成功的支付流水 -->
	<select id="getPaySuccessByOrderId" resultMap="PayOrder" parameterType="String">
		select * from pay.pay_flow where orderid=#{orderId}  and status = 1
	</select>
	
	<!-- 根据支付流水号修改支付流水信息 -->
	<update id="updatePayOrder" parameterType="PayOrder">
		update pay.pay_flow set
		<if test="status != null and status != '' ">
			STATUS = #{status,jdbcType=NUMERIC},
		</if>
		<if test="queryId != null and queryId != '' ">
			QUERYID = #{queryId,jdbcType=VARCHAR},
		</if>
		<if test="respCode != null and respCode != '' ">
			RESPCODE = #{respCode,jdbcType=VARCHAR},
		</if>
		<if test="payTime != null and payTime != '' ">
			PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
		</if>
		UPDATE_TIME = #{payTime,jdbcType=TIMESTAMP}
		where FLOW_ID=#{flowId} AND <![CDATA[STATUS <> 1]]>
	</update>
	
	<!-- 
		后台资金流水分页条件查询
		t2 付款人 t3收款人
	 -->
	<select id="getQueryPageList"  resultMap="resultPayFlowList" parameterType="com.jointown.zy.common.model.Page">
		SELECT * FROM 
		(<include refid="select_pay_flow"/>
			<if test="params.payFlowListDto.payerAccount!=null and params.payFlowListDto.payerAccount!=''">
				and t2.user_name like '%${params.payFlowListDto.payerAccount}%'
			</if>
			<if test="params.payFlowListDto.payeeAccount!=null and params.payFlowListDto.payeeAccount!=''">
				and t3.user_name like '%${params.payFlowListDto.payeeAccount}%'
			</if>  
			<if test="params.payFlowListDto.orderId!=null and params.payFlowListDto.orderId!=''">
				and t1.orderid  like '%${params.payFlowListDto.orderId}%'
			</if>
			<if test="params.payFlowListDto.payFlowId!=null and params.payFlowListDto.payFlowId!=''">
				and t1.flow_id like '%${params.payFlowListDto.payFlowId}%'
			</if>
			<if test="params.payFlowListDto.payStatus != null and params.payFlowListDto.payStatus != ''">
	      		and t1.status = #{params.payFlowListDto.payStatus, jdbcType=VARCHAR}
	   		</if>
			<if test="params.payFlowListDto.payStartDate != null and params.payFlowListDto.payStartDate != ''">
		    	and t1.pay_time &gt; to_date(#{params.payFlowListDto.payStartDate},'yyyy-mm-dd hh24:mi:ss') 
		    </if>
		    <if test="params.payFlowListDto.payEndDate != null and params.payFlowListDto.payEndDate != ''">
		    	and to_date(#{params.payFlowListDto.payEndDate},'yyyy-mm-dd hh24:mi:ss') &gt;  t1.pay_time 
		    </if>
		    <if test="params.payFlowListDto.payChannel != null and params.payFlowListDto.payChannel !=''">
		    	and t1.pay_channel = #{params.payFlowListDto.payChannel,jdbcType=NUMERIC}
		    </if>
		    <if test="params.payFlowListDto.amount !=null and params.payFlowListDto.amount !=''">
		    	and t1.AMOUNT = #{params.payFlowListDto.amount,jdbcType=NUMERIC}
		    </if>
		    <if test="params.payFlowListDto.payChannel == 3">
		    	ORDER BY t1.STATUS,t1.UPDATE_TIME DESC
		    </if>
		    <if test="params.payFlowListDto.payChannel != 3">
		    	ORDER BY t1.UPDATE_TIME DESC
		    </if>
	   	 ) b
	    <where>
		    <if test="params.payFlowListDto.payerName!=null and params.payFlowListDto.payerName!=''">
				and b.BUYER_NAME like '%${params.payFlowListDto.payerName}%'
			</if>
			<if test="params.payFlowListDto.payeeName!=null and params.payFlowListDto.payeeName!=''">
				and b.SELLER_NAME like '%${params.payFlowListDto.payeeName}%'
			</if>
		</where>
	</select>
	
	<!-- 
		导出资金流水查询  
		t2 付款人 t3收款人
	-->
	<select id="getList"  resultMap="resultPayFlowList" parameterType="com.jointown.zy.common.dto.PayFlowListDto">
		SELECT * FROM 
		(<include refid="select_pay_flow" />
			<if test="payerAccount!=null and payerAccount!=''">
				and t2.user_name like '%${payerAccount}%'
			</if>
			<if test="payeeAccount!=null and payeeAccount!=''">
				and t3.user_name like '%${payeeAccount}%'
			</if>  
			<if test="orderId!=null and orderId!=''">
				and t1.orderid  like '%${orderId}%'
			</if>
			<if test="payFlowId!=null and payFlowId!=''">
				and t1.flow_id like '%${payFlowId}%'
			</if>
			<if test="payStatus != null and payStatus != ''">
	      		and t1.status = #{payStatus, jdbcType=VARCHAR}
	   		</if>
			<if test="payStartDate != null and payStartDate != ''">
		    	and t1.pay_time &gt; to_date(#{payStartDate},'yyyy-mm-dd hh24:mi:ss') 
		    </if>
		    <if test="payEndDate != null and payEndDate != ''">
		    	and to_date(#{payEndDate},'yyyy-mm-dd hh24:mi:ss') &gt;  t1.pay_time 
		    </if>
		    <if test="payChannel != null and payChannel !=''">
		    	and t1.pay_channel = #{payChannel,jdbcType=NUMERIC}
		    </if>
		     <if test="amount !=null and amount !=''">
		    	and t1.AMOUNT = #{amount,jdbcType=NUMERIC}
		    </if>
		    ORDER BY t1.UPDATE_TIME DESC
	    ) b
	    <where>
		    <if test="payerName!=null and payerName!=''">
				and b.BUYER_NAME like '%${payerName}%'
			</if>
			<if test="payeeName!=null and payeeName!=''">
				and b.SELLER_NAME like '%${payeeName}%'
			</if>
		</where>
	</select>
	
	<!-- 根据支付订单号查找支付流水 -->
	<select id="getPayFlowByOrderId" resultMap="PayOrder" parameterType="String">
		select * from pay.pay_flow where orderId=#{orderId} and status=1
	</select>
	
	<!-- 线下支付流水凭证确认（更新确认者，确认时间及流水状态） -->
	<update id="updatePayVoucherByFlowId" parameterType="map">
		update pay.pay_flow set
		STATUS = #{status,jdbcType=NUMERIC},
		PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
		CONFIRMORID = #{confirmorId,jdbcType=NUMERIC},
		CONFIRM_TIME = #{confirmTime,jdbcType=TIMESTAMP}
		where FLOW_ID=#{flowId} AND STATUS = 0
	</update>
	<!-- 根据流水号获取PayFlowVo单条记录 -->
	<select id="getPayFlowVoByFlowId" resultMap="resultPayFlowList" parameterType="String">
		<include refid="select_pay_flow" />
		and flow_id = #{flowId}
	</select>
	<!-- 根据条件获取PayFlow多条记录 -->
	<select id="getPayFlowByCondition" resultMap="PayOrder" parameterType="PayOrder">
		<![CDATA[
		select * from pay.pay_flow where orderid=#{orderId}
		and amt_type = #{amtType} and pay_channel = #{payChannel} and flow_id <> #{flowId}
		]]>
	</select>
	<!-- 根据支付流水号修改支付流水信息 -->
	<update id="updatePayFlow" parameterType="PayOrder">
		update pay.pay_flow set
		STATUS = '2',
		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
		where FLOW_ID=#{flowId}
	</update>
	
</mapper>