<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.PayFlowLogDao">
	<resultMap id="PayFlowLog" type="com.jointown.zy.common.model.PayFlowLog">
		<id column="LOG_ID" property="logId" jdbcType="NUMERIC" />
		<result column="SOURCE_SYS" property="sourceSys" jdbcType="NUMERIC" />
		<result column="ORDERID" property="orderId" jdbcType="VARCHAR" />
		<result column="RETURN_CODE" property="returnCode" jdbcType="VARCHAR" />
		<result column="NOTE" property="note" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="NUMERIC" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	 
	<!-- 新增支付流水日志 -->
	<insert id="insertPayFlowLog" parameterType="com.jointown.zy.common.model.PayFlowLog">
		<![CDATA[
			insert into pay.pay_flow_log
			(LOG_ID,SOURCE_SYS,ORDERID,RETURN_CODE,NOTE,STATUS,CREATE_TIME)
			values (pay.SEQ_PAY_FLOW_LOG.nextval,
			#{sourceSys,jdbcType=NUMERIC},
			#{orderId,jdbcType=VARCHAR},
			#{returnCode,jdbcType=VARCHAR},
			#{note,jdbcType=VARCHAR},
			#{status,jdbcType=NUMERIC},
			#{createTime,jdbcType=TIMESTAMP}
			)
		]]>
	</insert>
	
</mapper>