<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.RemitAccountDao">
	<resultMap id="remitFlow" type="com.jointown.zy.common.model.RemitFlow">
		<id column="FLOW_ID" property="flowId" jdbcType="NUMERIC" />
		<result column="SOURCE_SYS" property="sourcesys" jdbcType="INTEGER" /> 
		<result column="ORDERID" property="orderId" jdbcType="VARCHAR" />
		<result column="REMIT_TYPE" property="remitType" jdbcType="NUMERIC" />
		<result column="REMIT_CHANNEL" property="remitChannel" jdbcType="NUMERIC" />
		<result column="CURRENCY_CODE" property="currencyCode" jdbcType="VARCHAR" />
		<result column="AMOUNT_INFO" property="amountInfo" jdbcType="VARCHAR" />
		<result column="TOTAL_AMOUNT" property="totalAmount" jdbcType="NUMERIC" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="CLIENT_IP" property="clientIp" jdbcType="VARCHAR" />
		<result column="RESPCODE" property="respcode" jdbcType="VARCHAR" />
		<result column="RESPSTATUS" property="respstatus" jdbcType="INTEGER" />
		<result column="RESPMSG" property="respmsg" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="REMIT_TIME" property="remitTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="CREATERID" property="createrid" jdbcType="NUMERIC" />
		<!-- 2015.7.2 Calvin.W 新增 -->
		<result column="SELLERID" property="sellerId" jdbcType="NUMERIC" /><!-- 卖家ID -->
		<result column="SELLER_AMOUNT" property="sellerAmount" jdbcType="NUMERIC" /><!-- 卖家划账金额  -->
		<result column="BUYERID" property="buyerId" jdbcType="NUMERIC" /><!-- 买家ID  -->
		<result column="BUYER_AMOUNT" property="buyerAmount" jdbcType="NUMERIC" /><!-- 买家划账金额  -->
		<result column="PLATFORMID" property="platformId" jdbcType="NUMERIC" /><!-- 平台ID(默认为0)  -->
		<result column="PLATFORM_AMOUNT" property="platformAmount" jdbcType="NUMERIC" /><!-- 平台划账金额  -->
		<result column="SELLER_BANK" property="sellerBank" jdbcType="VARCHAR" /><!-- 卖家收款机构名称 -->
		<result column="SELLER_ACCOUT" property="sellerAccount" jdbcType="VARCHAR" /><!-- 卖家收款账户  -->
		<result column="SELLER_VOUCHER" property="sellerVoucher" jdbcType="VARCHAR" /><!-- 卖家付款回单  -->
		<result column="BUYER_BANK" property="buyerBank" jdbcType="VARCHAR" /><!-- 买家收款机构名称  -->
		<result column="BUYER_ACCOUT" property="buyerAccount" jdbcType="VARCHAR" /><!-- 买家收款账户  -->
		<result column="BUYER_VOUCHER" property="buyerVoucher" jdbcType="VARCHAR" /><!-- 买家付款回单  -->
		<result column="MEMO" property="memo" jdbcType="VARCHAR" /><!-- 备注 -->
		<result column="OPRATERID" property="opraterId" jdbcType="NUMERIC" /><!-- 操作人ID（财务，后台用户）  -->
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
		<result column="OPRATER_TIME" property="opraterTime" jdbcType="TIMESTAMP" /><!-- 操作时间  -->
	</resultMap>
	<resultMap id="remitFlowLog" type="com.jointown.zy.common.model.RemitFlowLog">
		<id column="LOG_ID" property="logId" jdbcType="NUMERIC" />
		<result column="SOURCE_SYS" property="sourcesys" jdbcType="INTEGER" /> 
		<result column="ORDERID" property="orderId" jdbcType="VARCHAR" />
		<result column="RETURN_CODE" property="returnCode" jdbcType="VARCHAR" />
		<result column="NOTE" property="note" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<!--2015.7.2 Calvin.W 新增  -->
		<result column="REMIT_TYPE" property="remitType" jdbcType="INTEGER" /><!-- 划账类型：1-订单完成划账  2-订单过期划账 3-订单申退划账 --> 
		<result column="FLOW_ID" property="flowId" jdbcType="NUMERIC"/><!-- 划账流水号 -->
	</resultMap>
	<resultMap id="remitResult" type="com.jointown.zy.common.model.RemitResult">
		<id column="RESULT_ID" property="resultId" jdbcType="NUMERIC" />
		<result column="SOURCE_SYS" property="sourcesys" jdbcType="INTEGER" /> 
		<result column="REMIT_TYPE" property="remitType" jdbcType="INTEGER" />
		<result column="ORDERID" property="orderId" jdbcType="VARCHAR" />
		<result column="FLOW_ID" property="flowId" jdbcType="NUMERIC" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<!--2015.7.2 Calvin.W 新增  -->
		<result column="DONE_TIME" property="doneTime" jdbcType="TIMESTAMP" /><!-- 处理时间  --> 
		<result column="STATUS" property="status" jdbcType="INTEGER"/><!-- 处理状态 0-待处理 1-已处理  -->
		<result column="OPRATE_STATUS" property="oprateStatus" jdbcType="INTEGER"/><!-- 划账返回状态 0-拒绝 1-成功  -->
		<result column="REMIT_TIME" property="remitTime" jdbcType="TIMESTAMP"/><!-- 划账完成时间  -->
	</resultMap>
	<!-- added by biran 20150706 划账流水拒绝信息使用 -->
	<resultMap id="refuseRemitFlow" type="com.jointown.zy.common.model.RefuseRemitFlow">
		<result column="ORDERID" property="orderId" jdbcType="VARCHAR" />
		<result column="MEMO" property="memo" jdbcType="VARCHAR" /><!-- 备注 -->
		<result column="OPRATERID" property="opraterId" jdbcType="NUMERIC" /><!-- 操作人ID（财务，后台用户）  -->
		<result column="OPRATER_CODE" property="opraterCode" jdbcType="VARCHAR" />
		<result column="OPRATER_NAME" property="opraterName" jdbcType="VARCHAR" />
		<result column="OPRATER_TIME" property="opraterTime" jdbcType="TIMESTAMP" /><!-- 操作时间  -->
	</resultMap>
	<sql id="remitFlowColumn">
		FLOW_ID, SOURCE_SYS, ORDERID,REMIT_TYPE, REMIT_CHANNEL, CURRENCY_CODE,AMOUNT_INFO, TOTAL_AMOUNT, STATUS,
		CLIENT_IP, RESPCODE, RESPSTATUS,RESPMSG, CREATE_TIME, REMIT_TIME,UPDATE_TIME, CREATERID, SELLERID,
		SELLER_AMOUNT, BUYERID, BUYER_AMOUNT,PLATFORMID, PLATFORM_AMOUNT, SELLER_BANK,SELLER_ACCOUT, SELLER_VOUCHER, BUYER_BANK,
		BUYER_ACCOUT, BUYER_VOUCHER, MEMO,OPRATERID, OPRATER_TIME
	</sql>
	
	
	<!-- 新增划账流水 -->
	<insert id="addRemitFlow" parameterType="com.jointown.zy.common.model.RemitFlow">
		<![CDATA[
			insert into pay.remit_flow
			(FLOW_ID, SOURCE_SYS, ORDERID,REMIT_TYPE, REMIT_CHANNEL, CURRENCY_CODE,AMOUNT_INFO, TOTAL_AMOUNT, STATUS,
		CLIENT_IP, RESPCODE, RESPSTATUS,RESPMSG, CREATE_TIME, REMIT_TIME,UPDATE_TIME, CREATERID, SELLERID,
		SELLER_AMOUNT, BUYERID, BUYER_AMOUNT,PLATFORMID, PLATFORM_AMOUNT, SELLER_BANK,SELLER_ACCOUT, SELLER_VOUCHER, BUYER_BANK,
		BUYER_ACCOUT, BUYER_VOUCHER, MEMO,OPRATERID, OPRATER_TIME)
			VALUES 
			(#{flowId,jdbcType=NUMERIC},
			#{sourcesys,jdbcType=INTEGER},
			#{orderId,jdbcType=VARCHAR},
			#{remitType,jdbcType=NUMERIC},
			#{remitChannel,jdbcType=NUMERIC},
			#{currencyCode,jdbcType=VARCHAR},
			#{amountInfo,jdbcType=VARCHAR},
			#{totalAmount,jdbcType=NUMERIC},
			#{status,jdbcType=INTEGER},
			#{clientIp,jdbcType=VARCHAR},
			#{respcode,jdbcType=VARCHAR},
			#{respstatus,jdbcType=INTEGER},
			#{respmsg,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{remitTime,jdbcType=TIMESTAMP},
			#{updateTime,jdbcType=TIMESTAMP},
			#{createrid,jdbcType=NUMERIC},
			#{sellerId,jdbcType=NUMERIC},
			#{sellerAmount,jdbcType=NUMERIC},
			#{buyerId,jdbcType=NUMERIC},
			#{buyerAmount,jdbcType=NUMERIC},
			#{platformId,jdbcType=NUMERIC},
			#{platformAmount,jdbcType=NUMERIC},
			#{sellerBank,jdbcType=VARCHAR},
			#{sellerAccount,jdbcType=VARCHAR},
			#{sellerVoucher,jdbcType=VARCHAR},
			#{buyerBank,jdbcType=VARCHAR},
			#{buyerAccount,jdbcType=VARCHAR},
			#{buyerVoucher,jdbcType=VARCHAR},
			#{memo,jdbcType=VARCHAR},
			#{opraterId,jdbcType=NUMERIC},
			#{opraterTime,jdbcType=TIMESTAMP}
			)
		]]>
	</insert>
	<!-- 新增划账流水日志 -->
	<insert id="addRemitFlowLog" parameterType="com.jointown.zy.common.model.RemitFlowLog">
		<![CDATA[
			INSERT INTO PAY.REMIT_FLOW_LOG
			(LOG_ID,SOURCE_SYS,ORDERID,RETURN_CODE,NOTE,STATUS,CREATE_TIME,REMIT_TYPE,FLOW_ID)
			values (pay.seq_remit_flow_log.nextval,
			#{sourcesys,jdbcType=INTEGER},
			#{orderId,jdbcType=VARCHAR},
			#{returnCode,jdbcType=VARCHAR},
			#{note,jdbcType=VARCHAR},
			#{status,jdbcType=INTEGER},
			#{createTime,jdbcType=TIMESTAMP},
			#{remitType,jdbcType=INTEGER},
			#{flowId,jdbcType=NUMERIC}
			)
		]]>
	</insert>
	<!-- 新增划账结果 -->
	<insert id="addRemitResult" parameterType="com.jointown.zy.common.model.RemitResult">
		<![CDATA[
			insert into pay.remit_result
			(result_id,source_sys,remit_type,orderid,flow_id,create_time,status,oprate_status,remit_time)
			values (pay.seq_remit_result.nextval,
			#{sourcesys,jdbcType=INTEGER},
			#{remitType,jdbcType=INTEGER},
			#{orderId,jdbcType=VARCHAR},
			#{flowId,jdbcType=NUMERIC},
			#{createTime,jdbcType=TIMESTAMP},
			#{status,jdbcType=INTEGER},
			#{oprateStatus,jdbcType=INTEGER},
			#{remitTime,jdbcType=TIMESTAMP}
			)
		]]>
	</insert>
	
	<!-- 修改划账流水 -->
	<update id="updateRemitFlow" parameterType="com.jointown.zy.common.model.RemitFlow">
		update pay.remit_flow 
		<set>
			<if test="sourcesys != null">
				SOURCE_SYS = #{sourcesys,jdbcType=INTEGER},
			</if>
			<if test="orderId != null">
				ORDERID = #{orderId,jdbcType=VARCHAR},
			</if>
			<if test="remitType != null">
				REMIT_TYPE = #{remitType,jdbcType=NUMERIC},
			</if>
			<if test="remitChannel != null">
				REMIT_CHANNEL = #{remitChannel,jdbcType=NUMERIC},
			</if>
			<if test="currencyCode != null">
				CURRENCY_CODE = #{currencyCode,jdbcType=VARCHAR},
			</if>
			<if test="amountInfo != null">
				AMOUNT_INFO = #{amountInfo,jdbcType=VARCHAR},
			</if>
			<if test="totalAmount != null">
				TOTAL_AMOUNT = #{totalAmount,jdbcType=NUMERIC},
			</if>
			<if test="clientIp != null">
				CLIENT_IP = #{clientIp,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test="respcode != null">
				RESPCODE = #{respcode,jdbcType=VARCHAR},
			</if>
			<if test="respstatus != null">
				RESPSTATUS = #{respstatus,jdbcType=INTEGER},
			</if>
			<if test="respmsg != null">
				RESPMSG = #{respmsg,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remitTime != null">
				REMIT_TIME = #{remitTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createrid != null">
				CREATERID = #{createrid,jdbcType=NUMERIC},
			</if>
			<if test="sellerId != null">
				SELLERID = #{sellerId,jdbcType=NUMERIC},
			</if>
			<if test="sellerAmount != null">
				SELLER_AMOUNT = #{sellerAmount,jdbcType=NUMERIC},
			</if>
			<if test="buyerId != null">
				BUYERID = #{buyerId,jdbcType=NUMERIC},
			</if>
			<if test="buyerAmount != null">
				BUYER_AMOUNT = #{buyerAmount,jdbcType=NUMERIC},
			</if>
			<if test="platformId != null">
				PLATFORMID = #{platformId,jdbcType=NUMERIC},
			</if>
			<if test="platformAmount != null">
				PLATFORM_AMOUNT = #{platformAmount,jdbcType=NUMERIC},
			</if>
			<if test="sellerBank != null">
				SELLER_BANK = #{sellerBank,jdbcType=VARCHAR},
			</if>
			<if test="sellerAccount != null">
				SELLER_ACCOUT = #{sellerAccount,jdbcType=VARCHAR},
			</if>
			<if test="sellerVoucher != null">
				SELLER_VOUCHER = #{sellerVoucher,jdbcType=VARCHAR},
			</if>
			<if test="buyerBank != null">
				BUYER_BANK = #{buyerBank,jdbcType=VARCHAR},
			</if>
			<if test="buyerAccount != null">
				BUYER_ACCOUT = #{buyerAccount,jdbcType=VARCHAR},
			</if>
			<if test="buyerVoucher != null">
				BUYER_VOUCHER = #{buyerVoucher,jdbcType=VARCHAR},
			</if>
			<if test="memo != null">
				MEMO = #{memo,jdbcType=VARCHAR},
			</if>
			<if test="opraterId != null">
				OPRATERID = #{opraterId,jdbcType=NUMERIC},
			</if>
			<if test="opraterTime != null">
				OPRATER_TIME = #{opraterTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE flow_id = #{flowId}
	</update>
	<!-- 根据支付流水号查找支付流水 -->
	<select id="getRemitFlowById" resultMap="remitFlow" parameterType="java.lang.Long">
		select * from pay.remit_flow where flow_id=#{flowId}
	</select>
	
	<!-- 
		退款/划账 后台分页查询
		Calvin.W
		2015.7.2
	 -->
	 <select id="getRemitFlowPage"  resultMap="remitFlow"  parameterType="com.jointown.zy.common.model.Page">
	 		 SELECT 
	 		 	   a.FLOW_ID,
                   a.SOURCE_SYS,
                   a.ORDERID,
                   a.REMIT_TYPE,
                   a.REMIT_CHANNEL,
                   a.CURRENCY_CODE,
                   a.AMOUNT_INFO,
                   a.TOTAL_AMOUNT,
                   a.STATUS,
                   a.CLIENT_IP,
                   a.RESPCODE,
                   a.RESPSTATUS,
                   a.RESPMSG,
                   a.CREATE_TIME,
                   a.REMIT_TIME,
                   a.UPDATE_TIME,
                   a.CREATERID,
                   a.SELLERID,
                   a.SELLER_AMOUNT,
                   a.BUYERID,
                   a.BUYER_AMOUNT,
                   a.PLATFORMID,
                   a.PLATFORM_AMOUNT,
                   a.SELLER_BANK,
                   a.SELLER_ACCOUT,
                   a.SELLER_VOUCHER,
                   a.BUYER_BANK,
                   a.BUYER_ACCOUT,
                   a.BUYER_VOUCHER,
                   a.MEMO,
                   a.OPRATERID,
                   b.USER_NAME,
                   a.OPRATER_TIME
                  FROM PAY.REMIT_FLOW  a
                  LEFT JOIN BOSS.BOSS_USER b
                  on a.opraterid = b.user_id
                 WHERE 1 = 1
	 	<if test="params.remitDto.orderId!=null and params.remitDto.orderId!='' ">
	 		and a.ORDERID = #{params.remitDto.orderId}
	 	</if>
	 	<if test="params.remitDto.payChannel!=null and params.remitDto.payChannel!=''">
	 		and a.REMIT_CHANNEL = #{params.remitDto.payChannel}
	 	</if>
	 	<if test="params.remitDto.status!=null and params.remitDto.status!=''">
	 		and a.STATUS = #{params.remitDto.status}
	 	</if>
	 	<if test="params.remitDto.remitType!=null and params.remitDto.remitType!=''">
	 		and a.REMIT_TYPE = #{params.remitDto.remitType}
	 	</if>
	 	<if test="params.remitDto.remitStartTime != null and params.remitDto.remitStartTime != ''">
	    	and a.REMIT_TIME &gt; to_date(#{params.remitDto.remitStartTime},'yyyy-mm-dd hh24:mi:ss') 
	    </if>
	    <if test="params.remitDto.remitEndTime != null and params.remitDto.remitEndTime != ''">
	    	and a.to_date(#{params.remitDto.remitEndTime},'yyyy-mm-dd hh24:mi:ss') &gt;  REMIT_TIME
	    </if>
	    <if test="params.remitDto.remitListType == 1001">
	    	and a.REMIT_TYPE NOT IN (2,3) 
	    </if>
	    <if test="params.remitDto.remitListType == 1002">
	    	and a.REMIT_TYPE IN (2,3) 
	    </if>
	 	ORDER BY a.CREATE_TIME DESC
	 </select>
	 
	 <select id="getRemitFlowList"  resultMap="remitFlow" parameterType="com.jointown.zy.common.dto.RemitDto">
	 	SELECT 
	 		<include refid="remitFlowColumn" /> 
	 	FROM PAY.REMIT_FLOW 
	 	WHERE 1=1
	 	<if test="orderId!=null and orderId!='' ">
	 		and ORDERID = #{orderId}
	 	</if>
	 	<if test="payChannel!=null and payChannel!=''">
	 		and REMIT_CHANNEL = #{payChannel}
	 	</if>
	 	<if test="status!=null and status!=''">
	 		and STATUS = #{status}
	 	</if>
	 	<if test="remitType!=null and remitType!=''">
	 		and REMIT_TYPE = #{remitType}
	 	</if>
	 	<if test="remitStartTime != null and remitStartTime != ''">
	    	and REMIT_TIME &gt; to_date(#{remitStartTime},'yyyy-mm-dd hh24:mi:ss') 
	    </if>
	    <if test="remitEndTime != null and remitEndTime != ''">
	    	and to_date(#{remitEndTime},'yyyy-mm-dd hh24:mi:ss') &gt;  REMIT_TIME
	    </if>
	    <if test="remitListType == 1001">
	    	and REMIT_TYPE NOT IN (2,3) 
	    </if>
	    <if test="remitListType == 1002">
	    	and REMIT_TYPE IN (2,3) 
	    </if>
	 	ORDER BY CREATE_TIME DESC
	 </select>
	 
	<!-- 根据系统标识和num,查询划账流水结果记录  add by ldp 20150704-->
	<select id="selectRemitResult" parameterType="String" resultMap="remitResult">
		<![CDATA[
			select *
				  from (select *
				          from pay.remit_result
				         where status = 0 AND source_sys = #{sysSource}
				         order by create_time desc)
				 where rownum < = #{num}
		]]>
	</select>
	
	<!-- 根据划账流水结果ID，修改划账流水结果状态  add by ldp 20150704-->
	<update id="updateRemitResult" parameterType="map">
		<![CDATA[
			update pay.remit_result set 
			status = 1 ,
			done_time = #{doneTime,jdbcType=TIMESTAMP}
			where result_id = #{remitResultId} and status=0
		]]>
	</update>
	
	 <!-- added by biran 
	 	  20150706
	 	     订单查看拒绝划账流水使用
	  -->
	   <select id="getRefuseRemitFlowsByOrderId"  resultMap="refuseRemitFlow" parameterType="com.jointown.zy.common.model.RefuseRemitFlow">
	 	SELECT A.ORDERID,A.MEMO,A.OPRATERID,B.USER_CODE AS OPRATER_CODE,B.USER_NAME AS OPRATER_NAME,TO_CHAR(A.OPRATER_TIME,'YYYY-MM-DD HH24:MI:SS') AS OPRATER_TIME
	 	FROM PAY.REMIT_FLOW A,BOSS.BOSS_USER B
	 	WHERE A.OPRATERID=B.USER_ID(+)
	 	and A.SOURCE_SYS = #{sourcesys,jdbcType=NUMERIC}
	 	and A.ORDERID = #{orderId,jdbcType=VARCHAR}
	 	and A.REMIT_TYPE = #{remitType,jdbcType=NUMERIC}
	 	 <!-- 拒绝状态-->
	    and A.STATUS =3  
	 	ORDER BY A.CREATE_TIME
	 </select>
	
</mapper>