<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.SolrDataDao">
	<sql id="ListingCommonSql">
		LISTINGID,
		TITLE,
		HASBILL,
		LISTINGFLAG,
		CREATETIME,
		EXAMINETIME,
		MINSALES,
		SURPLUS,
		LOWUNITPRICE,
		TRADENUM,
		PATH,
		WLID,
		ORIGIN,
		WAREHOUSENAME,
		GRADE,
		BREED_ID,
		BREED_NAME,
		BREED_CNAME,
		WLUNIT,
		WLUNITNAME,
		CATEGORY_ID,
		CATEGORYS_NAME,
		ORDERS_COUNT
	</sql>
	<sql id="PurchaseCommonSql">
	  PURCHASE_ID,
      PURCHASE_CODE,
      PURCHASE_TITLE,
      BREED_NAME,
      STANDARD_LEVEL,
      ORIGIN,
      QUANTITY,
      WUNIT_NAME,
      QUALITY_DESCRIPTION,
      SALESMAN,
      SALESMAN_MOBILE,
      PUBLISH_TIME,
      AUDIT_TIME,
      VALID_PERIOD,
      EXPIRE_TIME,
      STATUS
	</sql>
	<resultMap type="com.jointown.zy.common.solr.SolrListingVo" id="SolrListingResultMap">
		<id property="listingId" column="LISTINGID"/>
		<result property="title" column="TITLE"/>
		<result property="hasBill" column="HASBILL"/>
		<result property="listingFlag" column="LISTINGFLAG"/>
		<result property="createTime" column="CREATETIME"/>
		<result property="examineTime" column="EXAMINETIME"/>
		<result property="minSales" column="MINSALES"/>
		<result property="listingSurplus" column="SURPLUS"/>
		<result property="price" column="LOWUNITPRICE"/>
		<result property="dealCount" column="TRADENUM"/>
		<result property="listingPic" column="PATH"/>
		<result property="wlid" column="WLID"/>
		<result property="origin" column="ORIGIN"/>
		<result property="warehouseName" column="WAREHOUSENAME"/>
		<result property="grade" column="GRADE"/>
		<result property="breedId" column="BREED_ID"/>
		<result property="breedName" column="BREED_NAME"/>
		<result property="breedCname" column="BREED_CNAME"/>
		<result property="wlunit" column="WLUNIT"/>
		<result property="wlunitName" column="WLUNITNAME"/>
		<result property="categoryId" column="CATEGORY_ID"/>
		<result property="categoryName" column="CATEGORYS_NAME"/>
		<result property="ordersCount" column="ORDERS_COUNT"/>
	</resultMap>
	<resultMap type="com.jointown.zy.common.solr.SolrPurchaseVo" id="SolrPurchaseResultMap">
		<id property="purchaseId" column="PURCHASE_ID"/>
		<result property="purchaseCode" column="PURCHASE_CODE"/>
		<result property="purchaseTitle" column="PURCHASE_TITLE"/>
		<result property="breedName" column="BREED_NAME"/>
		<result property="standardLevel" column="STANDARD_LEVEL"/>
		<result property="origin" column="ORIGIN"/>
		<result property="quantity" column="QUANTITY"/>
		<result property="wunitName" column="WUNIT_NAME"/>
		<result property="qualityDescription" column="QUALITY_DESCRIPTION"/>
		<result property="salesman" column="SALESMAN"/>
		<result property="salesmanMobile" column="SALESMAN_MOBILE"/>
		<result property="publishTime" column="PUBLISH_TIME"/>
		<result property="auditTime" column="AUDIT_TIME"/>
		<result property="validPeriod" column="VALID_PERIOD"/>
		<result property="expireTime" column="EXPIRE_TIME"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<!-- 根据采购IDS查询 -->
	<select id="selectByPurchaseIds" parameterType="list" resultMap="SolrPurchaseResultMap">
		select <include refid="PurchaseCommonSql"/> from ZYC.V_SOLR_PURCHASE
		where PURCHASE_ID in <foreach item="item" collection="list" open="(" separator="," close=")">#{item}</foreach>
	</select>
	
	<!-- 根据采购批次号查询 -->
	<select id="selectByPurchaseCodes" parameterType="list" resultMap="SolrPurchaseResultMap">
		select <include refid="PurchaseCommonSql"/> from ZYC.V_SOLR_PURCHASE
		where PURCHASE_CODE in <foreach item="item" collection="list" open="(" separator="," close=")">#{item}</foreach>
	</select>
	
	<!-- 根据挂牌IDS查询 -->
	<select id="selectByListingIds" parameterType="list" resultMap="SolrListingResultMap">
		select <include refid="ListingCommonSql"/> from ZYC.V_SOLR_LISTING
		where LISTINGID in <foreach item="item" collection="list" open="(" separator="," close=")">#{item}</foreach>
	</select>
	
	<!-- 根据仓单IDS查询 -->
	<select id="selectByWlIds" parameterType="list" resultMap="SolrListingResultMap">
		select <include refid="ListingCommonSql"/> from ZYC.V_SOLR_LISTING
		where WLID in <foreach item="item" collection="list" open="(" separator="," close=")">#{item}</foreach>
	</select>
	
	<!-- 根据品种IDS查询 -->
	<select id="selectByBreedIds" parameterType="list" resultMap="SolrListingResultMap">
		select <include refid="ListingCommonSql"/> from ZYC.V_SOLR_LISTING
		where BREED_ID in <foreach item="item" collection="list" open="(" separator="," close=")">#{item}</foreach>
	</select>
	
	<!-- 根据计量单位编码查询 -->
	<select id="selectByWlunits" parameterType="list" resultMap="SolrListingResultMap">
		select <include refid="ListingCommonSql"/> from ZYC.V_SOLR_LISTING
		where WLUNIT in <foreach item="item" collection="list" open="(" separator="," close=")">#{item}</foreach>
	</select>
</mapper>