<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.SortListDao">
	<!-- 传递Categorys的list查询出数据 -->
	<select id="selectAllMedicinal"  parameterType="map" resultType="map">
		select
		   a.class_id,		<!-- 分类ID -->
		   a.class_name, 	<!-- 分类名称 -->
		   b.id, 			<!-- 类目ID -->
		   b.categorys_name,<!-- 类目名称 -->
		   c.breed_id,		<!-- 品种ID -->
		   c.breed_code,	<!-- 品种代码 -->
		   c.breed_name		<!-- 品种名称 -->
		  from boss.class_info     a,
		       boss.categorys      b,
		       boss.breed          c,
		       boss.breed_category d
		 where a.class_id = b.class_id
		   and d.categorys_id = b.id
		   and d.breed_id = c.breed_id
		   and a.status = '1'
		   and b.categorys_level = '1'
		   and b.status = '1'
		   and d.status = '1'
		   and c.status = '1'
		   and a.class_name = '形态分类'
   		   order by b.id
	</select>
	<!-- 查询出所有的形态分类下面的Categorys -->
	<select id="selectCategorys" parameterType="String" resultType="map">
		  select A.id, A.categorys_name
		    from boss.CATEGORYS A
		   where A.class_id = (select a.class_id
		                         from boss.class_info a
		                        where a.class_name = '形态分类'
		                          and a.status = '1') 
		     and A.status = 1 
		     order by A.categorys_level asc,A.categorys_order asc
	</select>
	<!-- 查询出所有的形态分类下面的Categorys -->
	<select id="selectCategorysByClassName"  resultType="map">
		  select a.breed_id,a.breed_name  from
        	boss.breed a ,boss.breed_category b
 			where a.breed_id=b.breed_id
 				and b.categorys_id in(
                select ID from boss.CATEGORYS where class_id in (
					select class_id from boss.CLASS_INFO where class_name='首页分类')
				and categorys_name=#{className})
 			and b.status='1'
 			<!-- order by a.breed_id asc-->
 			<!-- update 搜索关键字排序 -->
 			order by b.cindex
	</select>
	
	<!-- add by Mr.song 2015-5-19 19:26 查询所有形态分类对应的热门品种 -->
	<select id="selectBreedByCategoryId"  resultType="map">
		 select t.id , a.breed_id,a.breed_name,
          (case
             when exists 
             (select 1 from zyc.busi_listing c where c.breedid = a.breed_id and c.listingflag=2 and c.surpluses>0)
            then 1 else 0 end) flag
            from 
  (select A.id, A.categorys_name
		    from boss.CATEGORYS A
		   where A.class_id = (select a.class_id
		                         from boss.class_info a
		                        where a.class_name = '形态分类'
		                          and a.status = '1') 
         ) t 
         left join  boss.breed_category b
         on t.id=b.categorys_id 
         left join boss.breed a
         on b.breed_id = a.BREED_ID
         where b.status='1' and b.cindex!=0
         order by id asc, b.cindex desc,b.createtime asc,b.breed_id asc
	</select>
	
	<!-- 通过categorys查询出下面的品种 -->
	<select id="selectBreedByCategorys"  parameterType="java.lang.String" resultType="map">
		select  t.id ,t.categorys_name,a.breed_id,
           a.breed_name,a.breed_initial,
          (case
             when exists 
             (select 1 from zyc.busi_listing c where c.breedid = a.breed_id and c.listingflag=2 and c.surpluses>0)
            then 1 else 0 end) flag
            from 
  (select A.id, A.categorys_name
        from boss.CATEGORYS A
       where A.class_id = (select a.class_id
                             from boss.class_info a
                            where a.class_name = '形态分类'
                              and a.status = 1) 
         and A.status = 1) t 
         left join  boss.breed_category b
         on t.id=b.categorys_id 
         left join boss.breed a
         on b.breed_id = a.BREED_ID
         where t.id = #{id,jdbcType=DECIMAL} and b.status = 1
         order by b.categorys_id asc,a.breed_initial asc
	</select>
	
	<!-- 通过breedId查询出breed的等级 -->
	<select id="selectBreedLevelByBreedId"  parameterType="java.lang.String" resultType="map">
		select a.breed_id, b.attr_name, b.attr_value
		  from boss.breed a, boss.breed_attr b
		 where a.breed_id = b.breed_id
		   and b.attr_name = 'BREED_STANDARD_LEVEL'
		   and a.breed_id = #{breedId,jdbcType=VARCHAR}
	</select>
	<!-- 查询出所有的仓库 显示在页面上-->
	
	<select id="selectAllWarehouse"  resultType="map">
		select a.warehouseid,
			a.warehousename 
		from zyc.busi_warehouse a 
	</select>
	<!-- 通过breedId查询出breed的常见产地 -->
	<select id="selectBreedPlaceByBreedId"  parameterType="java.lang.String" resultType="map">
		select a.breed_id, b.attr_name, b.attr_value
		  from boss.breed a, boss.breed_attr b
		 where a.breed_id = b.breed_id
		   and b.attr_name = 'BREED_PLACE'
		   and a.breed_id = #{breedId,jdbcType=VARCHAR}
	</select>
	
	<!-- 通过breedId查询出breed的信息 -->
	<select id="selectBreedInfoByBreedId"  parameterType="java.lang.String" resultType="map">
		  select
	  		a.breed_id,
	  		a.breed_name 
	  		from boss.breed a
		   where a.breed_id = #{breedId,jdbcType=VARCHAR}
	</select>
	
	<!-- 新的需求，通过categoryId，beginSzm,endSzm (将形态分类按照字母顺序排序，并且查询出是否存在挂牌)-->
	<select id="selectBreedByCategorysFN"  parameterType="map" resultType="map">
		select  t.id ,t.categorys_name,a.breed_id,
           a.breed_name,a.breed_initial,
          (case
             when exists 
             (select 1 from zyc.busi_listing c where c.breedid = a.breed_id and c.listingflag=2 and c.surpluses>0)
            then 1 else 0 end) flag
            from 
  (select A.id, A.categorys_name
		    from boss.CATEGORYS A
		   where A.class_id = (select a.class_id
		                         from boss.class_info a
		                        where a.class_name = '形态分类'
		                          and a.status = '1') 
         and A.status = 1) t 
         left join  boss.breed_category b
         on t.id=b.categorys_id 
         left join boss.breed a
         on b.breed_id = a.BREED_ID
         and b.status = '1'
         order by b.categorys_id asc,a.breed_initial asc
	</select>
</mapper>