<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.SyncDataLogDao">
	<resultMap id="SyncDataLog" type="com.jointown.zy.common.model.SyncDataLog">
		<id column="ID" property="id" jdbcType="NUMERIC" />
		<result column="DATA_TYPE" property="dataType" jdbcType="INTEGER" />
		<result column="OPERATION" property="operation" jdbcType="VARCHAR" />
		<result column="DATA_ID" property="dataId" jdbcType="VARCHAR" />
		<result column="DATA" property="data" jdbcType="VARCHAR" />
		<result column="REASON" property="reason" jdbcType="VARCHAR" />
		<result column="SYNC_STATUS" property="syncStatus" jdbcType="INTEGER" />
		<result column="TIME" property="time" jdbcType="TIMESTAMP" />
		<result column="NOTE" property="note" jdbcType="VARCHAR" />
	</resultMap>



	<!-- 查询所有权限 -->
	<select id="findAllSyncDataLog" resultMap="SyncDataLog">
		select * from
		boss.SYNC_DATA_LOG order by time;
	</select>

	<insert id="addSyncDataLog" parameterType="com.jointown.zy.common.model.SyncDataLog">
		insert into
		boss.SYNC_DATA_LOG (ID, DATA_TYPE,
		OPERATION,DATA_ID,DATA, REASON, SYNC_STATUS,TIME,NOTE
		) values
		(boss.SEQ_SYNC_DATA_LOG.nextval,
		#{dataType,jdbcType=INTEGER},
		#{operation,jdbcType=VARCHAR},
		#{dataId,jdbcType=VARCHAR},
		#{data,jdbcType=VARCHAR},
		#{reason,jdbcType=VARCHAR},
		#{syncStatus,jdbcType=INTEGER},
		#{time,jdbcType=TIMESTAMP},
		#{note,jdbcType=VARCHAR})
	</insert>
</mapper>