<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.UcUserDao">
	<resultMap id="ucUser" type="com.jointown.zy.common.model.UcUser">
		<id column="USER_ID" property="userId" jdbcType="INTEGER" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="SALT" property="salt" jdbcType="VARCHAR" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="ACCESS_IP" property="accessIp" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="EXPIRE_TIME" property="expireTime" jdbcType="TIMESTAMP" />
		<result column="LAST_ACCESS_TIME" property="lastAccessTime"
			jdbcType="TIMESTAMP" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="COMPANYNAME" property="companyName" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="CERTIFY" property="certifyStatus" jdbcType="INTEGER"/>
		<result column="ACCESS_TIME" property="AccessTime" jdbcType="TIMESTAMP" />
		<!-- add by fanyuna 关联的业务员ID -->
		<result column="SALESMANID" property="salesmanId" jdbcType="DECIMAL" />
		<!-- added by biran 20150730 增加会员对应业务员信息 -->
		<result column="SALESMAN" property="salesMan" jdbcType="VARCHAR" />
		<!-- added by biran 20150901 增加会员来源 创建人ID,最后更新人ID-->
		<result column="SOURCE" property="source" jdbcType="INTEGER"/>
		<result column="CREATERID" property="createrId" jdbcType="INTEGER"/>
		<result column="UPDATERID" property="updaterId" jdbcType="INTEGER"/>
		<!-- added by fengfeng 20151019 增加会员业务类型,经营身份-->
		<result column="DEAL_TYPE" property="dealType" jdbcType="VARCHAR"/>
		<result column="DEAL_ROLE" property="dealRole" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="findUcUser" resultType="com.jointown.zy.common.model.UcUser">
		select * from boss.uc_user where status=0
	</select>
	
	<!-- add by Mr.song 2015.5.22 17:20  动态获取会员中心首页的数字（如销售已成交笔数，待付保证金笔数，待付货款笔数;采购已成交笔数，待付保证金笔数，待付货款笔数） -->
	<select id="getNums" parameterType="hashmap" resultType="java.lang.Integer">
		select count(1) from busi_order where userid=#{userId}  and orderstate =#{COMPLETED_ORDER}
		union all (select count(1) from busi_order where userid=#{userId}  and orderstate =#{PlACED_ORDER})
		union all (select count(1) from busi_order where userid=#{userId}  and orderstate =#{READY_WARE})
		union all (select count(1) from busi_order where buyer=#{userId}  and orderstate =#{COMPLETED_ORDER})
		union all (select count(1) from busi_order where buyer=#{userId}  and orderstate =#{PlACED_ORDER})
		union all (select count(1) from busi_order where buyer=#{userId}  and orderstate =#{READY_WARE})
		union all (select count(1) from busi_whlist where userid=#{userId})
	</select>
	
	<!-- 根据会员名查询会员信息 -->
	<select id="findUcUserByUserName" parameterType="map" resultMap="ucUser">
		<choose>
			<when test="ignoreStatus != null and 'true' == ignoreStatus">  
                <![CDATA[
					select * from boss.uc_user where user_name=#{userName} order by status
				]]>  
            </when>  
            <otherwise>
            	<![CDATA[
					select * from boss.uc_user where user_name=#{userName} AND status <> 1
				]]> 
            </otherwise>
		</choose>
	</select>
	
	<!-- 根据会员名查询会员信息 -->
	<select id="getUcUserById" parameterType="String" resultMap="ucUser">
		<![CDATA[
			select * from boss.uc_user where user_id=#{userId}
		]]>
	</select>
	
	<!-- 根据会员公司(真实姓名)查询会员信息 -->
	<select id="findMemberByCompanyName" parameterType="String" resultMap="ucUser">
		<![CDATA[
			select * from boss.uc_user where companyName = #{companyName}
		]]>
	</select>
	
	<!-- 根据会员ID查询会员信息 -->
	<select id="findUcUserById" parameterType="String" resultMap="ucUser">
		<![CDATA[
			select * from boss.uc_user where user_id=#{userId} and status <> 1
		]]>
	</select>
	
	<select id="findUcUserByMobile" parameterType="string"
		resultType="com.jointown.zy.common.model.UcUser">
		select * from boss.uc_user where mobile=#{mobile} and status = 0
	</select>
	
	<!-- 新增会员 -->
	<insert id="addUcUser" parameterType="com.jointown.zy.common.model.UcUser">
		<![CDATA[
			insert into boss.uc_user
			(user_id,user_name,password,salt,mobile,create_time,update_time,access_ip,companyName,remark,certify,source,SALESMANID,CREATERID,UPDATERID)
			values (boss.seq_uc_user.nextval,
			#{userName,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			#{salt,jdbcType=VARCHAR},
			#{mobile,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{createTime,jdbcType=TIMESTAMP},
			#{accessIp,jdbcType=VARCHAR},
			#{companyName,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR},
			0,
			#{source,jdbcType=INTEGER},
			#{salesmanId,jdbcType=DECIMAL},
			#{createrId,jdbcType=INTEGER},
			#{updaterId,jdbcType=INTEGER}
			)
		]]>
	</insert>
	
	<!-- 条件查询、模糊查询会员 -->
	<!-- alter by biran 201580804 增加会员对应业务员信息，重新写这个sql -->
	<select id="findMemberByCondition" parameterType="String"
		resultType="com.jointown.zy.common.model.UcUser" resultMap="ucUser">
	SELECT * FROM (
		<![CDATA[
			SELECT A.*,B.USER_NAME AS SALESMAN ,C.DEAL_TYPE,C.DEAL_ROLE
			 FROM BOSS.UC_USER A,BOSS.BOSS_USER B ,BOSS.UC_USER_SCOPE C
			 WHERE A.SALESMANID=B.USER_ID(+) 
			 AND   A.USER_ID=C.USER_ID(+)
		]]>
		<if test="mobile != null and '' != mobile">
			<![CDATA[
				AND A.mobile = #{mobile}
			]]>
		</if>
		<if test="userName != null and '' != userName">
			<![CDATA[
				AND A.user_name like '%${userName}%'
			]]>
		</if>
		<if test="companyName != null and '' != companyName">
			<![CDATA[
				AND A.companyname like '%${companyName}%'
			]]>
		</if>
		<!--added by biran 20150804 增加业务员信息 -->
		<if test="salesMan != null and '' != salesMan">
			<![CDATA[
				AND B.USER_NAME like '%${salesMan}%'
			]]>
		</if>
		
		<if test="regStartDate != null and '' != regStartDate">
			<![CDATA[
				AND A.create_time > to_date(#{regStartDate},'yyyy-mm-dd hh24:mi:ss')
			]]>
		</if>
		<if test="regEndDate != null and '' != regEndDate">
			<![CDATA[
				AND A.create_time < to_date(#{regEndDate},'yyyy-mm-dd hh24:mi:ss')
			]]>
		</if>
		    AND A.status in (0,2)
			ORDER BY A.UPDATE_TIME DESC
			)
			<![CDATA[
			WHERE ROWNUM<=20
			]]>
	</select>
	
	<!-- 前台会员中心修改密码 -->
	<update id="updateUcUserPassword" parameterType="com.jointown.zy.common.model.UcUser">
		update boss.uc_user set
		password = #{password},
		salt = #{salt},
		update_time = #{updateTime,jdbcType=TIMESTAMP}
		WHERE user_name = #{userName}
	</update>
	
	<!-- 前台会员中心修改手机号码 -->
	<update id="updateUcUserMobile" parameterType="com.jointown.zy.common.model.UcUser">
		update boss.uc_user set
		mobile = #{mobile},
		update_time = #{updateTime}
		WHERE user_name = #{userName}
	</update>
	
	<!-- 前台会员中心修改公司名称或姓名 -->
	<update id="updateUcUserCompany" parameterType="com.jointown.zy.common.model.UcUser">
		update boss.uc_user set
		companyname = #{companyName},
		update_time = #{updateTime}
		WHERE user_name = #{userName}
	</update>
	
	<!-- 前台会员中心修改邮箱 -->
	<update id="updateUcUserEmail" parameterType="com.jointown.zy.common.model.UcUser">
		update boss.uc_user set
		email = #{email},
		update_time = #{updateTime}
		WHERE user_name = #{userName}
	</update>
	
	<!-- 修改会员信息 -->
	<update id="updateUcUserInfo" parameterType="com.jointown.zy.common.model.UcUser">
		update boss.uc_user set
		email = #{email},
		mobile = #{mobile},
		update_time = #{updateTime},
		companyName = #{companyName},
		remark = #{remark},
		updaterid = #{updaterId}
		WHERE user_id = #{userId}
	</update>
	
	<!-- 
		根据会员ID 修改用户手机号 / 邮箱
		为前台身份验证使用
	 -->
	<update id="updatePhoneAndEmail" parameterType="com.jointown.zy.common.model.UcUser">
		update boss.uc_user 
		<trim prefix="SET" suffixOverrides=",">
			<if test="email!=null and email !=''">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="mobile!=null and mobile !=''">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="updateTime!=null and updateTime!=''">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
		WHERE user_id = #{userId,jdbcType=INTEGER}
	</update>
	
	<!-- 修改会员登录信息 -->
	<update id="updateUcUserLoginInfo" parameterType="com.jointown.zy.common.model.UcUser">
		update boss.uc_user set
		access_ip = #{accessIp},
		last_access_time=access_time,
		access_time = #{AccessTime},
		update_time = #{updateTime}
		WHERE user_id = #{userId}
	</update>
	
	<!-- 删除会员 -->
	<update id="deleteUcUser" parameterType="String">
		<![CDATA[
		update boss.uc_user set
		status = 1,
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		updaterid = #{updaterId,jdbcType=INTEGER}
		WHERE user_id = #{userId,jdbcType=INTEGER} AND status <> 1
		]]>	
	</update>
	
	<!-- 锁定和解锁会员 -->
	<update id="lockUcUser" parameterType="String">
		<![CDATA[
			update boss.uc_user set 
			status = #{status,jdbcType=INTEGER},
			update_time = #{updateTime,jdbcType=TIMESTAMP},
			updaterid = #{updaterId,jdbcType=INTEGER}
			WHERE user_id = #{userId,jdbcType=INTEGER} AND status <> 1
		]]>
	</update>
	
	<!-- 密码重置 -->
	<update id="secretReset" parameterType="String">
		<![CDATA[
			update boss.uc_user set
			password = #{password,jdbcType=VARCHAR},
			salt = #{salt,jdbcType=VARCHAR},
			update_time = #{updateTime,jdbcType=TIMESTAMP},
			updaterid = #{updaterId,jdbcType=INTEGER}
			WHERE user_id = #{userId,jdbcType=INTEGER}
		]]>
	</update>
	
	<!-- 判断手机号是否存在 -->
	<select id="findMemberMobile" parameterType="String" resultMap="ucUser">
		<![CDATA[
			select * from boss.uc_user where mobile=#{mobile} AND status <> 1
		]]>
	</select>
	
	<!-- 修改会员时判断手机号是否存在 -->
	<select id="findUcUserByMobAndId" parameterType="String" resultMap="ucUser">
		<![CDATA[
			select * from boss.uc_user where mobile=#{mobile} and user_id<>#{userId} AND status <> 1
		]]>
	</select>
	
	<!-- 查询该会员是否已删除 -->
	<select id="findMemberByAllUserName" parameterType="String" resultMap="ucUser">
		<![CDATA[
			select * from boss.uc_user where user_name=#{userName} AND status = 1
		]]>
	</select>
	
	<!-- 如果该会员已删除，新会员添加时可以清空update -->
	<update id="updateMemberByUserName" parameterType="ucUser">
		<![CDATA[
			update boss.uc_user set 
			password = #{password,jdbcType=VARCHAR},
			salt = #{salt,jdbcType=VARCHAR},
			mobile = #{mobile,jdbcType=VARCHAR},
			create_time = #{createTime,jdbcType=TIMESTAMP},
			update_time = #{createTime,jdbcType=TIMESTAMP},
			access_ip = #{accessIp,jdbcType=VARCHAR},
			companyName = #{companyName,jdbcType=VARCHAR},
			email = #{email,jdbcType=VARCHAR},
			remark = #{remark,jdbcType=VARCHAR},
			status = 0,
			updaterid = #{updaterId,jdbcType=INTEGER}
			where user_name = #{userName,jdbcType=VARCHAR} AND status=1
		]]>
	</update>
		
	<!-- 判断手机号和用户名是否一一对应 -->
	<select id="findMemberByMobileAndUsername" parameterType="map" resultMap="ucUser">
		<![CDATA[
			select * from boss.uc_user where  mobile=#{mobile} and user_name=#{username} AND status <> 1
		]]>
	</select>
	
	<!-- added by biran 为用户绑定业务员 20150805  -->
	<update id="updateMemberSalesMan" parameterType="ucUser">
		<![CDATA[
			 update boss.uc_user set salesmanid=#{salesmanId},update_time = #{updateTime,jdbcType=TIMESTAMP},
			 updaterid = #{updaterId,jdbcType=INTEGER}
			 where user_id=#{userId}
		]]>
	</update>
	
	<select id="getCertifyNameByUserId" statementType="CALLABLE" parameterType="java.util.Map" >
		{#{name,mode=OUT,jdbcType=VARCHAR} = call boss.get_certify_name(#{userId,mode=IN,jdbcType=VARCHAR})}
	</select>
	
	<!--added ldp  根聚邮箱查询会员用户  20150827-->
	<select id="findUcUserByEmail" parameterType="String" resultMap="ucUser">
		<![CDATA[
			select * from boss.uc_user where  email=#{email} AND status <> 1
		]]>
	</select>
		
	<!-- WX新增会员 -->
	<insert id="wxAddUcUser" parameterType="com.jointown.zy.common.model.UcUser">
		<![CDATA[
			insert into boss.uc_user
			(user_id,user_name,password,salt,mobile,create_time,update_time,access_ip,companyName,remark,certify,source)
			values (boss.seq_uc_user.nextval,
			#{userName,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			#{salt,jdbcType=VARCHAR},
			#{mobile,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{createTime,jdbcType=TIMESTAMP},
			#{accessIp,jdbcType=VARCHAR},
			#{companyName,jdbcType=VARCHAR},
			#{remark,jdbcType=VARCHAR},
			0,
			1)
		]]>
	</insert>
</mapper>