<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.UcUserBreedDao">
	<resultMap id="UcUserBreed" type="com.jointown.zy.common.model.UcUserBreed">
		<id column="SEQ_ID" property="seqId" jdbcType="NUMERIC" />
		<result column="USER_ID" property="userId" jdbcType="BIGINT" />
		<result column="BREED_ID" property="breedId" jdbcType="BIGINT" />
		<result column="BREED_NAME" property="breedName" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="CREATERID" property="createrId" jdbcType="INTEGER" />
		<result column="UPDATERID" property="updaterId" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Sql">
		SEQ_ID,USER_ID,BREED_ID,BREED_NAME,STATUS,CREATE_TIME,UPDATE_TIME,CREATERID,UPDATERID
	</sql>
	
	<select id="queryUserBreed" parameterType="com.jointown.zy.common.model.UcUserBreed" resultMap="UcUserBreed">
		select * from BOSS.UC_USER_BREED
		WHERE 1=1
		AND status = 1
		<if test="userId != null">
		AND	USER_ID = #{userId,jdbcType=INTEGER}
		</if>
	</select>
 	
	<!-- 添加品种经营信息 -->
 	<insert id="addUcUserBreed" parameterType="com.jointown.zy.common.model.UcUserBreed">
 		insert into boss.uc_user_breed(
 			<include refid="Base_Sql"/>
 		)
 		values(boss.SEQ_UC_USER_BREED.nextval,
	 		#{userId,jdbcType=NUMERIC},
	 		#{breedId,jdbcType=BIGINT},
	 		#{breedName,jdbcType=VARCHAR},
	 		#{status,jdbcType=INTEGER},
	 		#{createTime,jdbcType=TIMESTAMP},
	 		#{updateTime,jdbcType=TIMESTAMP},
	 		#{createrId,jdbcType=INTEGER},
	 		#{updaterId,jdbcType=INTEGER}
 		)
 	</insert>
	
	<!-- 逻辑删除用户经营品种信息 -->
	<update id="delUserBreed" parameterType="com.jointown.zy.common.model.UcUserBreed">
		UPDATE BOSS.UC_USER_BREED
		<trim prefix="SET" suffixOverrides=",">
			<if test="status != null">
				STATUS = #{status,jdbcType=INTEGER},
			</if>
		</trim>
		WHERE USER_ID = #{userId,jdbcType=BIGINT}
	</update>
</mapper>