<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.WxActivityDao" >
  <resultMap id="WxActivity" type="com.jointown.zy.common.model.WxActivity" >
    <id column="ACTIVITY_ID" property="activityId" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="DECIMAL" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="PICURL" property="picUrl" jdbcType="VARCHAR" />
    <result column="SORTNO" property="sortno" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CREATER" property="creater" jdbcType="DECIMAL" />
    <result column="UPDATER" property="updater" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="WxActivityVo" type="com.jointown.zy.common.vo.WxActivityVo" >
    <id column="ACTIVITY_ID" property="activityId" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="DECIMAL" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="PICURL" property="picUrl" jdbcType="VARCHAR" />
    <result column="SORTNO" property="sortno" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="UPDATER" property="updater" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACTIVITY_ID, "NAME", "TYPE", MEMO, URL, PICURL, SORTNO, "STATUS", CREATE_TIME, UPDATE_TIME, 
    CREATER, UPDATER
  </sql>
  <select id="selectByPrimaryKey" resultMap="WxActivityVo" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from WEIXIN.WX_ACTIVITY
    where ACTIVITY_ID = #{activityId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from WEIXIN.WX_ACTIVITY
    where ACTIVITY_ID = #{activityId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.jointown.zy.common.model.WxActivity" >
    insert into WEIXIN.WX_ACTIVITY (ACTIVITY_ID, "NAME", "TYPE", 
      MEMO, URL, PICURL, 
      SORTNO, "STATUS", CREATE_TIME, 
      UPDATE_TIME, CREATER, UPDATER
      )
    values (WEIXIN.SEQ_WX_ACTIVITY.nextval, #{name,jdbcType=VARCHAR}, #{type,jdbcType=DECIMAL}, 
      #{memo,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, 
      #{sortno,jdbcType=DECIMAL}, 0, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{creater,jdbcType=DECIMAL}, #{updater,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jointown.zy.common.model.WxActivity" >
    insert into WEIXIN.WX_ACTIVITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ACTIVITY_ID,
      "NAME",
      "TYPE",
      MEMO,
      URL,
      PICURL,
      SORTNO,
      "STATUS",
      CREATE_TIME,
      UPDATE_TIME,
      CREATER,
      UPDATER,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      WEIXIN.SEQ_WX_ACTIVITY.nextval,
      #{name,jdbcType=VARCHAR},
      #{type,jdbcType=DECIMAL},
      #{memo,jdbcType=VARCHAR},
      #{url,jdbcType=VARCHAR},
      #{picUrl,jdbcType=VARCHAR},
      #{sortno,jdbcType=DECIMAL},
      0,
      #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},
      #{creater,jdbcType=DECIMAL},
      #{updater,jdbcType=DECIMAL},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jointown.zy.common.model.WxActivity" >
    update WEIXIN.WX_ACTIVITY
    <set >
      <if test="name != null" >
        "NAME" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        "TYPE" = #{type,jdbcType=DECIMAL},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        PICURL = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="sortno != null" >
        SORTNO = #{sortno,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        "STATUS" = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        CREATER = #{creater,jdbcType=DECIMAL},
      </if>
      <if test="updater != null" >
        UPDATER = #{updater,jdbcType=DECIMAL},
      </if>
    </set>
    where ACTIVITY_ID = #{activityId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jointown.zy.common.model.WxActivity" >
    update WEIXIN.WX_ACTIVITY
    set "NAME" = #{name,jdbcType=VARCHAR},
      "TYPE" = #{type,jdbcType=DECIMAL},
      MEMO = #{memo,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      PICURL = #{picUrl,jdbcType=VARCHAR},
      SORTNO = #{sortno,jdbcType=DECIMAL},
      "STATUS" = #{status,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=DECIMAL},
      UPDATER = #{updater,jdbcType=DECIMAL}
    where ACTIVITY_ID = #{activityId,jdbcType=DECIMAL}
  </update>
  
  <select id="selectWxActivitysByCondition" parameterType="com.jointown.zy.common.model.Page" resultMap="WxActivityVo">
        select * from (select wx.ACTIVITY_ID, wx.NAME, wx.TYPE, wx.MEMO, wx.URL, wx.PICURL, wx.SORTNO, wx.STATUS, wx.CREATE_TIME, wx.UPDATE_TIME, 
	    (select u.USER_NAME from BOSS.BOSS_USER u where u.USER_ID = wx.creater) as CREATER,(select u.USER_NAME from BOSS.BOSS_USER u where u.USER_ID = wx.updater) as UPDATER
	    from WEIXIN.WX_ACTIVITY wx where wx.STATUS = 0
	    <if test="params.wxActivitySearchDto.name != null and params.wxActivitySearchDto.name != ''">
        	and wx.NAME like CONCAT(CONCAT('%', #{params.wxActivitySearchDto.name, jdbcType=VARCHAR}),'%')
        </if>
        <if test="params.wxActivitySearchDto.type != null">
        	and wx.TYPE = #{params.wxActivitySearchDto.type,jdbcType=DECIMAL}
        </if>
        <if test="params.wxActivitySearchDto.startWxActivityDate != null and params.wxActivitySearchDto.startWxActivityDate != ''">
        	and wx.CREATE_TIME >= to_date(#{params.wxActivitySearchDto.startWxActivityDate},'yyyy-mm-dd hh24:mi:ss') 
        </if>
        <if test="params.wxActivitySearchDto.endWxActivityDate != null and params.wxActivitySearchDto.endWxActivityDate != ''">
        	and to_date(#{params.wxActivitySearchDto.endWxActivityDate},'yyyy-mm-dd hh24:mi:ss') >= wx.CREATE_TIME  
        </if>
        ) wx order by wx.UPDATE_TIME desc
   </select>
   
   <!-- 查询符合对象条件的数量 -->
   <select id="selectByCondition" parameterType="com.jointown.zy.common.model.WxActivity" resultType="java.lang.Integer">
        select count(*) from WEIXIN.WX_ACTIVITY where "STATUS" = 0
        <if test="activityId != null and activityId != ''">
        	and ACTIVITY_ID != #{activityId,jdbcType=VARCHAR}
      	</if>
      	<if test="type != null" >
        	and "TYPE" = #{type,jdbcType=DECIMAL}
      	</if>
      	<if test="sortno != null" >
        	and SORTNO = #{sortno,jdbcType=DECIMAL}
      	</if>
   </select>
   
  	<!-- 查询活动 -->
	<select id="findActivity" resultMap="WxActivity">
		select * from WEIXIN.WX_ACTIVITY where rownum <![CDATA[<=]]> 6 and TYPE = '0' and STATUS = '0' order by SORTNO
	</select>

	<!-- 查询卖药材介绍 -->
	<select id="findSellInfo" resultMap="WxActivity">
		select * from WEIXIN.WX_ACTIVITY where rownum <![CDATA[<=]]> 1 and TYPE = '1' and STATUS = '0' order by SORTNO
	</select>
</mapper>