<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.WxDemandDao" >
  <resultMap id="WxDemand" type="com.jointown.zy.common.model.WxDemand" >
	<id column="DEMAND_ID" property="demandId" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="BREED_ID" property="breedId" jdbcType="DECIMAL" />
    <result column="BREED_NAME" property="breedName" jdbcType="VARCHAR" />
    <result column="STANDARD_LEVEL_ID" property="standardLevelId" jdbcType="DECIMAL" />
    <result column="BREED_STANDARD_LEVEL" property="breedStandardLevel" jdbcType="VARCHAR" />
    <result column="QTY" property="qty" jdbcType="DECIMAL" />
    <result column="QTY_UNIT" property="qtyUnit" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="APPROVE_TIME" property="approveTime" jdbcType="TIMESTAMP" />
    <result column="APPROVER" property="approver" jdbcType="DECIMAL" />
    <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_MOBILE" property="userMobile" jdbcType="VARCHAR" />
    <result column="SYPPLY_RESOURCE" property="sypplyResource" jdbcType="DECIMAL" />
    <result column="BREED_PLACE" property="breedPlace" jdbcType="VARCHAR" />
    <result column="PLACE_ID" property="placeId" jdbcType="DECIMAL" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="DEPICT" property="depict" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="WxDemandVo" type="com.jointown.zy.common.vo.WxDemandVo" >
    <id column="DEMAND_ID" property="demandId" jdbcType="DECIMAL" />
    <result column="BREED_NAME" property="breedName" jdbcType="VARCHAR" />
    <result column="BREED_STANDARD_LEVEL" property="breedStandardLevel" jdbcType="VARCHAR" />
    <result column="QTY" property="qty" jdbcType="DECIMAL" />
    <result column="QTY_UNIT" property="qtyUnit" jdbcType="VARCHAR" />
    <result column="BREED_PLACE" property="breedPlace" jdbcType="VARCHAR" />
    <result column="AREA_CODE" property="areaCode" jdbcType="VARCHAR" />
	<result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="APPROVE_TIME" property="approveTime" jdbcType="TIMESTAMP" />
    <result column="UC_USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="UC_USER_MOBILE" property="userMobile" jdbcType="VARCHAR" />
    <result column="BOSS_USER_NAME" property="approverName" jdbcType="VARCHAR" />
    <!--start author:lichenxiao addtime:2015年6月12日下午  H5页面查询求购信息中的珍药网平台的数据，需要将数量和单位合并成一个字段 （目前平台没有供应信息入口，此属性为保留属性）-->
    <result column="SHUL" property="qtyUnitQty" jdbcType="VARCHAR" /> 
    <!--end author:lichenxiao addtime:2015年6月12日下午  H5页面查询求购信息中的珍药网平台的数据，需要将数量和单位合并成一个字段（目前平台没有供应信息入口，此属性为保留属性） -->
  	
  	<!-- 后台求购信息管理：查询求购信息增加字段  by aizhengdong 2015.06.19  start -->
  	<result column="DEPICT" property="depict" jdbcType="VARCHAR" />
  	<result column="breed_amount" property="qtyUnitQty" jdbcType="VARCHAR" />
  	<!-- 后台求购信息管理：查询求购信息增加字段  by aizhengdong 2015.06.19  end -->
  </resultMap>
  
  <resultMap id="selectWxDemandsByCondition" type="com.jointown.zy.common.vo.WxDemandVo" >
    <result column="demand_id" property="demandId" jdbcType="DECIMAL" />  
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_mobile" property="userMobile" jdbcType="VARCHAR" />
    <result column="apply_resource" property="applyResource" jdbcType="VARCHAR" />
    <result column="breed_name" property="breedName" jdbcType="VARCHAR" />
    <result column="breed_standard_level" property="breedStandardLevel" jdbcType="VARCHAR" />
    <result column="breed_price" property="breedPrice" jdbcType="VARCHAR" />
    <result column="breed_amount" property="qtyUnitQty" jdbcType="VARCHAR" />
    <result column="breed_place" property="breedPlace" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="approve" property="approverName" jdbcType="VARCHAR" />
    <result column="APPROVE_TIME" property="approveTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    DEMAND_ID, USER_ID, BREED_ID, BREED_NAME, STANDARD_LEVEL_ID, BREED_STANDARD_LEVEL, 
    QTY, QTY_UNIT, "STATUS", CREATE_TIME, UPDATE_TIME, APPROVE_TIME, APPROVER, AREA_CODE, 
    AREA_NAME, USER_NAME, USER_MOBILE, SYPPLY_RESOURCE, BREED_PLACE, PLACE_ID, REMARKS, 
    DEPICT
  </sql>
  <select id="selectByPrimaryKey" resultMap="WxDemand" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from WEIXIN.WX_DEMAND
    where DEMAND_ID = #{demandId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from WEIXIN.WX_DEMAND
    where DEMAND_ID = #{demandId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.jointown.zy.common.model.WxDemand" >
    insert into WEIXIN.WX_DEMAND (DEMAND_ID, USER_ID, BREED_ID, 
      BREED_NAME, STANDARD_LEVEL_ID, BREED_STANDARD_LEVEL, 
      QTY, QTY_UNIT, "STATUS", 
      CREATE_TIME, UPDATE_TIME, APPROVE_TIME, 
      APPROVER, AREA_CODE, AREA_NAME, 
      USER_NAME, USER_MOBILE, SYPPLY_RESOURCE, 
      BREED_PLACE, PLACE_ID, REMARKS, 
      DEPICT)
    values (WEIXIN.SEQ_WX_DEMAND.nextval, #{userId,jdbcType=DECIMAL}, #{breedId,jdbcType=DECIMAL}, 
      #{breedName,jdbcType=VARCHAR}, #{standardLevelId,jdbcType=DECIMAL}, #{breedStandardLevel,jdbcType=VARCHAR}, 
      #{qty,jdbcType=DECIMAL}, #{qtyUnit,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{approveTime,jdbcType=TIMESTAMP}, 
      #{approver,jdbcType=DECIMAL}, #{areaCode,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userMobile,jdbcType=VARCHAR}, #{sypplyResource,jdbcType=DECIMAL}, 
      #{breedPlace,jdbcType=VARCHAR}, #{placeId,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}, 
      #{depict,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jointown.zy.common.model.WxDemand" >
  	<selectKey resultType="java.lang.Long" keyProperty="demandId" order="BEFORE">
	   	select WEIXIN.SEQ_WX_DEMAND.nextval as demandId from dual
  	</selectKey>
    insert into WEIXIN.WX_DEMAND
    <trim prefix="(" suffix=")" suffixOverrides="," >
      DEMAND_ID,
      USER_ID,
      BREED_ID,
      BREED_NAME,
      STANDARD_LEVEL_ID,
      BREED_STANDARD_LEVEL,
      QTY,
      QTY_UNIT,
      "STATUS",
      CREATE_TIME,
      UPDATE_TIME,
      APPROVE_TIME,
      APPROVER,
      AREA_CODE,
      AREA_NAME,
      USER_NAME,
      USER_MOBILE,
      SYPPLY_RESOURCE,
      BREED_PLACE,
      PLACE_ID,
      REMARKS,
      DEPICT,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{demandId,jdbcType=DECIMAL},
      #{userId,jdbcType=DECIMAL},
      #{breedId,jdbcType=DECIMAL},
      #{breedName,jdbcType=VARCHAR},
      #{standardLevelId,jdbcType=DECIMAL},
      #{breedStandardLevel,jdbcType=VARCHAR},
      #{qty,jdbcType=DECIMAL},
      #{qtyUnit,jdbcType=VARCHAR},
      #{status,jdbcType=DECIMAL},
      #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},
      #{approveTime,jdbcType=TIMESTAMP},
      #{approver,jdbcType=DECIMAL},
      #{areaCode,jdbcType=VARCHAR},
      #{areaName,jdbcType=VARCHAR},
      #{userName,jdbcType=VARCHAR},
      #{userMobile,jdbcType=VARCHAR},
      #{sypplyResource,jdbcType=DECIMAL},
      #{breedPlace,jdbcType=VARCHAR},
      #{placeId,jdbcType=DECIMAL},
      #{remarks,jdbcType=VARCHAR},
      #{depict,jdbcType=VARCHAR},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jointown.zy.common.model.WxDemand" >
    update WEIXIN.WX_DEMAND
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="breedId != null" >
        BREED_ID = #{breedId,jdbcType=DECIMAL},
      </if>
      <if test="breedName != null" >
        BREED_NAME = #{breedName,jdbcType=VARCHAR},
      </if>
      <if test="standardLevelId != null" >
        STANDARD_LEVEL_ID = #{standardLevelId,jdbcType=DECIMAL},
      </if>
      <if test="breedStandardLevel != null" >
        BREED_STANDARD_LEVEL = #{breedStandardLevel,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        QTY = #{qty,jdbcType=DECIMAL},
      </if>
      <if test="qtyUnit != null" >
        QTY_UNIT = #{qtyUnit,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        "STATUS" = #{status,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveTime != null" >
        APPROVE_TIME = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approver != null" >
        APPROVER = #{approver,jdbcType=DECIMAL},
      </if>
      <if test="areaCode != null" >
        AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        AREA_NAME = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null" >
        USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="sypplyResource != null" >
        SYPPLY_RESOURCE = #{sypplyResource,jdbcType=DECIMAL},
      </if>
      <if test="breedPlace != null" >
        BREED_PLACE = #{breedPlace,jdbcType=VARCHAR},
      </if>
      <if test="placeId != null" >
        PLACE_ID = #{placeId,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="depict != null" >
        DEPICT = #{depict,jdbcType=VARCHAR},
      </if>
    </set>
    where DEMAND_ID = #{demandId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jointown.zy.common.model.WxDemand" >
    update WEIXIN.WX_DEMAND
    set USER_ID = #{userId,jdbcType=DECIMAL},
      BREED_ID = #{breedId,jdbcType=DECIMAL},
      BREED_NAME = #{breedName,jdbcType=VARCHAR},
      STANDARD_LEVEL_ID = #{standardLevelId,jdbcType=DECIMAL},
      BREED_STANDARD_LEVEL = #{breedStandardLevel,jdbcType=VARCHAR},
      QTY = #{qty,jdbcType=DECIMAL},
      QTY_UNIT = #{qtyUnit,jdbcType=VARCHAR},
      "STATUS" = #{status,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      APPROVE_TIME = #{approveTime,jdbcType=TIMESTAMP},
      APPROVER = #{approver,jdbcType=DECIMAL},
      AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      AREA_NAME = #{areaName,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_MOBILE = #{userMobile,jdbcType=VARCHAR},
      SYPPLY_RESOURCE = #{sypplyResource,jdbcType=DECIMAL},
      BREED_PLACE = #{breedPlace,jdbcType=VARCHAR},
      PLACE_ID = #{placeId,jdbcType=DECIMAL},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      DEPICT = #{depict,jdbcType=VARCHAR}
    where DEMAND_ID = #{demandId,jdbcType=DECIMAL}
  </update>

  <!-- 后台求购信息管理：查询求购信息  by aizhengdong 2015.06.15  start -->
   <!-- alter  by biran 20150722 后台求购信息，去除东方中药材网数据  -->
  <select id="selectWxDemandsByCondition" parameterType="com.jointown.zy.common.model.Page" resultMap="selectWxDemandsByCondition">
		select *
		  from (
		        select rownum row_id, s.*
		          from (select *
		                   from (select *
		                           from (select *
		                                   from (
		                                   		select bpa.PURCHASE_ID as demand_id,
		                                                bpa.APPLY_NAME as user_name,
		                                                to_char(bpa.APPLY_MOBILE) user_mobile,
		                                                bpa.APPLY_RESOURCE ,
		                                                bpa.BREED_NAME,
		                                                bpa.BREED_STANDARD_LEVEL,
		                                                bpa.BREED_PRICE,
		                                                bpa.BREED_AMOUNT,
		                                                bpa.BREED_PLACE,
		                                                bpa.CREATE_TIME,
		                                                bpa.UPDATE_TIME,
		                                                bpa.STATUS,
		                                                bu.USER_NAME as approve,
		                                                bpa.APPROVE_TIME
		                                           from ZYC.BUSI_PURCHASE_APPLY bpa
		                                           left join BOSS.BOSS_USER bu
		                                             on bpa.APPROVER = bu.USER_ID
		                                          where bpa.STATUS = '0'
		                                         
		                                         union all
		                                         select wd.DEMAND_ID,
		                                                buu.USER_NAME,
		                                                buu.MOBILE,
		                                                '0' apply_resource,
		                                                wd.BREED_NAME,
		                                                wd.BREED_STANDARD_LEVEL,
		                                                '无',
		                                                concat(wd.QTY, wd.QTY_UNIT) as breed_amount,
		                                                wd.BREED_PLACE,
		                                                wd.CREATE_TIME,
		                                                wd.UPDATE_TIME,
		                                                wd.STATUS,
		                                                bu.USER_NAME,
		                                                wd.APPROVE_TIME
		                                           from WEIXIN.WX_DEMAND wd
		                                           left join BOSS.UC_USER buu
		                                             on wd.USER_ID = buu.USER_ID
		                                           left join BOSS.BOSS_USER bu
		                                             on wd.APPROVER = bu.USER_ID
		                                          where wd.STATUS = '0')
		                                  order by create_time desc)
		                         union all
		                         select *
		                           from (select *
		                                   from (
		                                         select bpa.PURCHASE_ID as demand_id,
		                                                bpa.APPLY_NAME as user_name,
		                                                to_char(bpa.APPLY_MOBILE) user_mobile,
		                                                bpa.APPLY_RESOURCE,
		                                                bpa.BREED_NAME,
		                                                bpa.BREED_STANDARD_LEVEL,
		                                                bpa.BREED_PRICE,
		                                                bpa.BREED_AMOUNT,
		                                                bpa.BREED_PLACE,
		                                                bpa.CREATE_TIME,
		                                                bpa.UPDATE_TIME,
		                                                bpa.STATUS,
		                                                bu.USER_NAME as approve,
		                                                bpa.APPROVE_TIME
		                                           from ZYC.BUSI_PURCHASE_APPLY bpa
		                                           left join BOSS.BOSS_USER bu
		                                             on bpa.APPROVER = bu.USER_ID
		                                          where bpa.STATUS != '0'
		                                         
		                                         union all
		                                         select wd.DEMAND_ID,
		                                                buu.USER_NAME,
		                                                buu.MOBILE,
		                                                '0' apply_resource,
		                                                wd.BREED_NAME,
		                                                wd.BREED_STANDARD_LEVEL,
		                                                '无',
		                                                concat(wd.QTY, wd.QTY_UNIT) as breed_amount,
		                                                wd.BREED_PLACE,
		                                                wd.CREATE_TIME,
		                                                wd.UPDATE_TIME,
		                                                wd.STATUS,
		                                                bu.USER_NAME,
		                                                wd.APPROVE_TIME
		                                           from WEIXIN.WX_DEMAND wd
		                                           left join BOSS.UC_USER buu
		                                             on wd.USER_ID = buu.USER_ID
		                                           left join BOSS.BOSS_USER bu
		                                             on wd.APPROVER = bu.USER_ID
		                                          where wd.STATUS != '0')
		                                  order by create_time desc)
		                         
		                         )
		                         ) s
		        where 1=1
		       	<!-- 查询条件：发布人 -->
			    <if test="params.wxDemandSearchDto.userName != null and params.wxDemandSearchDto.userName != ''">
		       	    and instr(user_name, #{params.wxDemandSearchDto.userName, jdbcType=VARCHAR}) > 0
		        </if>
		        <!-- 查询条件：联系电话 -->
		        <if test="params.wxDemandSearchDto.userMobile!= null and params.wxDemandSearchDto.userMobile != ''">
		         	and user_mobile = #{params.wxDemandSearchDto.userMobile, jdbcType=VARCHAR}
		        </if>
		        <!-- 查询条件：品种名称 -->
		        <if test="params.wxDemandSearchDto.breedName != null and params.wxDemandSearchDto.breedName != ''">
		            instr(breed_name, #{params.wxDemandSearchDto.breedName, jdbcType=VARCHAR}) > 0
		        </if>
		        <!-- 查询条件：状态 -->
		        <if test="params.wxDemandSearchDto.status != null">
		         	and status = #{params.wxDemandSearchDto.status, jdbcType=DECIMAL}
		        </if>
		        <!-- 查询条件：信息来源 -->
		        <if test="params.wxDemandSearchDto.applyResource != null and params.wxDemandSearchDto.applyResource != ''">
		            and apply_resource = #{params.wxDemandSearchDto.applyResource, jdbcType=VARCHAR}
		        </if>
		        <!-- 查询条件：创建时间 -->
		        <if test="params.wxDemandSearchDto.startDate != null and params.wxDemandSearchDto.startDate != ''">
		        	and create_time >= to_date(#{params.wxDemandSearchDto.startDate},'yyyy-mm-dd hh24:mi:ss') 
		        </if>
		        <if test="params.wxDemandSearchDto.endDate != null and params.wxDemandSearchDto.endDate != ''">
		        	and create_time <![CDATA[<=]]> to_date(#{params.wxDemandSearchDto.endDate},'yyyy-mm-dd hh24:mi:ss')
		        </if>
		        )
  </select>
  <!-- 后台求购信息管理：查询求购信息  by aizhengdong 2015.06.15  end -->
   
	<!-- 后台求购信息管理：查询单条微信求购信息  by aizhengdong 2015.06.19  start  -->
	<select id="selectWxDemandByIdFromBack" parameterType="com.jointown.zy.common.model.WxDemand" resultMap="WxDemandVo">
		select wd.DEMAND_ID,
		       buu.USER_NAME as UC_USER_NAME,
		       buu.MOBILE as UC_USER_MOBILE,
		       wd.BREED_NAME,
		       wd.BREED_STANDARD_LEVEL,
		       concat(wd.QTY, wd.QTY_UNIT) as breed_amount,
		       wd.BREED_PLACE,
		       wd.CREATE_TIME,
		       wd.UPDATE_TIME,
		       wd.STATUS,
		       bu.USER_NAME as BOSS_USER_NAME,
		       wd.APPROVE_TIME,
		       wd.DEPICT
		  from WEIXIN.WX_DEMAND wd
		  left join BOSS.UC_USER buu
		    on wd.USER_ID = buu.USER_ID
		  left join BOSS.BOSS_USER bu
		    on wd.APPROVER = bu.USER_ID
		 where 1=1
		 <if test="demandId != null and demandId != ''">
		 	and wd.DEMAND_ID = #{demandId, jdbcType=DECIMAL}
		 </if>
	</select>
    <!-- 后台求购信息管理：查询单条微信求购信息  by aizhengdong 2015.06.19  end  -->
   
	<!--start author:lichenxiao addtime:2015年4月28日下午  H5页面查询求购信息中的珍药网的数据（默认全部按挂牌时间排序，点击查询时，显示只可按品种名称查询） -->
	<select id="selectInfoByDemand" parameterType="java.util.Map" resultMap="WxDemandVo">
	select * from (
		select demandId,
           userName,
           userMobile,
           breedName,
           breedStandardLevel,
           qtyUnitQty,
           huoYuandi,
          dtm,
          ROWNUM rno
    from (
			select gqid as demandId,
               unam as userName,
               moba as userMobile,
               ycnam as breedName,
               guige as breedStandardLevel,
               shul as qtyUnitQty,
               huoyuandi as huoYuandi,
               dtm as dtm
			  from (
			        select gqid,
                       unam,
                       (SELECT REGEXP_SUBSTR(mob, '[0-9]{11}') FROM DUAL) moba,
                       ycnam,
                       guige,
                       CONCAT(shul,danw) as shul,
                       huoyuandi,
                       e1.dtm
                  from weixin.east_gongqiu e1, weixin.east_lianxi e2
                 where e1.yhid = e2.yhid
                   and gqflg = '0'
                   and shflg = '1'
                   and shul > 0
			           and chandi is not null
			           <!--start 查询条件为品种名称有值时带条件 -->
			           	<if test="yc!=null and yc!=''"><!-- 按品种查询 -->
					  		and ycnam = #{yc,jdbcType=VARCHAR}
						</if>
						<!-- end 查询条件为品种名称有值时带条件 -->
		    union all
		        select a.demand_id,
                       b.companyname,
                       b.mobile,
                       a.breed_name,
                       a.breed_standard_level,
                       CONCAT(a.qty,a.qty_unit) as shul,
                       a.area_name,
                       a.create_time
                  from weixin.wx_demand a, boss.uc_user b
                 where a.status = 1
                   and a.user_id = b.user_id
		           	<!--start 查询条件为品种名称有值时带条件 -->
			        <if test="yc!=null and yc!=''"><!-- 按品种查询 -->
					  	and a.breed_name = #{yc,jdbcType=VARCHAR}
					</if>
					<!-- end 查询条件为品种名称有值时带条件 -->
		        
		    union all
	            select zyc1.purchase_id,
	                   zyc1.Apply_Name,
	                   to_char(zyc1.apply_mobile),
	                   zyc1.Breed_Name,
	                   zyc1.breed_standard_level,
	                   zyc1.breed_amount,
	                   zyc1.Breed_Place,
	                   zyc1.create_time
	             from zyc.busi_purchase_apply zyc1
	            where zyc1.status = 1   
	            	<!--start 查询条件为品种名称有值时带条件 -->
			        <if test="yc!=null and yc!=''"><!-- 按品种查询 -->
					  	and zyc1.breed_name = #{yc,jdbcType=VARCHAR}
					</if>   
		        ) aa where aa.moba is not null
		 order by aa.dtm desc
			) r
		) rr
		 where <![CDATA[rno >=#{start,jdbcType=DECIMAL} and rno<=#{end,jdbcType=DECIMAL}]]>
	</select>
	<!--end author:lichenxiao addtime:2015年4月28日下午  H5页面查询求购信息中的珍药网的数据（默认全部按挂牌时间排序，点击查询时，显示只可按品种名称查询） -->   
   
   <!-- 分页条件查询微信求购信息 -->
	<select id="selectWxDemandsByPage" parameterType="com.jointown.zy.common.model.Page" resultMap="WxDemandVo">
	    select 
	   	DEMAND_ID, BREED_NAME, BREED_STANDARD_LEVEL, QTY, QTY_UNIT, AREA_CODE, AREA_NAME, "STATUS"
	    from WEIXIN.WX_DEMAND
	    where "STATUS" != 3
	    <if test="params.wxDemand.demandId != null and params.wxDemand.demandId != ''">
	 		and DEMAND_ID = #{params.wxDemand.demandId,jdbcType=DECIMAL}
	    </if>
	    <if test="params.wxDemand.userId != null and params.wxDemand.userId != ''">
	 		and USER_ID = #{params.wxDemand.userId,jdbcType=DECIMAL}
	    </if>
	    order by UPDATE_TIME desc
	</select>
	
  	<!-- ID条件查询微信求购信息 -->
	<select id="selectWxDemandById" parameterType="com.jointown.zy.common.model.WxDemand" resultMap="WxDemandVo">
	    select 
		DEMAND_ID, USER_ID, BREED_ID, BREED_NAME, STANDARD_LEVEL_ID, BREED_STANDARD_LEVEL, QTY, QTY_UNIT, BREED_PLACE, AREA_CODE, AREA_NAME, "STATUS"
	    from WEIXIN.WX_DEMAND
	    <where>
		    <if test="demandId != null and demandId != ''">
		 		and DEMAND_ID = #{demandId,jdbcType=DECIMAL}
		    </if>
		    <if test="userId != null and userId != ''">
		 		and USER_ID = #{userId,jdbcType=DECIMAL}
		    </if>
	    </where>
	</select>
	
</mapper>