<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.WxFinanceDao" >
  <resultMap id="BaseResultMap" type="com.jointown.zy.common.model.WxFinance" >
    <result column="FINANCE_ID" property="financeId" jdbcType="DECIMAL" />
    <result column="FINANCE_BREED_NAME" property="financeBreedName" jdbcType="VARCHAR" />
    <result column="FINANCE_BREED_STANDARD_LEVEL" property="financeBreedStandardLevel" jdbcType="VARCHAR" />
    <result column="FINANCE_BREED_AMOUNT" property="financeBreedAmount" jdbcType="VARCHAR" />
    <result column="FINANCE_ADDRESS" property="financeAddress" jdbcType="VARCHAR" />
    <result column="FINANCE_DATE" property="financeDate" jdbcType="TIMESTAMP" />
    <result column="FINANCE_NAME" property="financeName" jdbcType="VARCHAR" />
    <result column="FINANCE_MOBILE" property="financeMobile" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATER" property="updater" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    FINANCE_ID, FINANCE_BREED_NAME, FINANCE_BREED_STANDARD_LEVEL, FINANCE_BREED_AMOUNT, 
    FINANCE_ADDRESS, FINANCE_DATE, FINANCE_NAME, FINANCE_MOBILE, "STATUS", CREATE_TIME, 
    UPDATE_TIME, UPDATER
  </sql>
  <insert id="insertSelective" parameterType="com.jointown.zy.common.model.WxFinance" >
    insert into WEIXIN.WX_FINANCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      FINANCE_ID,
      FINANCE_BREED_NAME,
      FINANCE_BREED_STANDARD_LEVEL,
      FINANCE_BREED_AMOUNT,
      FINANCE_ADDRESS,
      FINANCE_DATE,
      FINANCE_NAME,
      FINANCE_MOBILE,
      "STATUS",
      CREATE_TIME,
      UPDATE_TIME,
      UPDATER,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      WEIXIN.SEQ_WX_FINANCE.nextval,
      #{financeBreedName,jdbcType=VARCHAR},
      #{financeBreedStandardLevel,jdbcType=VARCHAR},
      #{financeBreedAmount,jdbcType=VARCHAR},
      #{financeAddress,jdbcType=VARCHAR},
      #{financeDate,jdbcType=TIMESTAMP},
      #{financeName,jdbcType=VARCHAR},
      #{financeMobile,jdbcType=VARCHAR},
      #{status,jdbcType=DECIMAL},
      #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP},
      #{updater,jdbcType=DECIMAL},
    </trim>
  </insert>
</mapper>