<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jointown.zy.common.dao.WxPriceMapper">
	<resultMap id="VoResultMap" type="com.jointown.zy.common.vo.WxPriceVo" >
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="AREA" property="area" jdbcType="VARCHAR" />
		<result column="GRADE" property="grade" jdbcType="VARCHAR" />
		<result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
		<result column="AMOUNT_UNIT" property="amountUnit" jdbcType="VARCHAR" />
		<result column="PRICE" property="price" jdbcType="VARCHAR" />
	</resultMap>
	
	
	<!-- 根据市场查询价格信息 -->
	<!-- 
	<select id="selectPriceByMasket" parameterType="java.util.Map" resultMap="VoResultMap">
	select * from (
	select row_number() over(partition by s.area order by s.updatetime asc) rum, s.name,trim(to_char(s.price,9999999999990.99)) price,s.area,s.amount,s.grade
		from (select e.breed_name			  as name,
					 round(a.lowunitprice,2)  as price,
					 c.warehousename 		  as area,
					 round(a.listingamount,2) as amount,
					 d.grade,
					 a.updatetime
				from zyc.busi_listing     a,
					 zyc.busi_whlist      b,
					 zyc.busi_warehouse   c,
					 zyc.busi_qualityinfo d,
					 boss.breed           e
				where a.wlid = b.wlid(+)
					  and a.updatetime between to_date(''||#{startdate,jdbcType=VARCHAR}||' 00:00:00', 'yyyy-mm-dd hh24:mi:ss') and to_date(''||#{enddate,jdbcType=VARCHAR}||' 23:59:59', 'yyyy-mm-dd hh24:mi:ss')
					  and b.warehouseid = c.warehouseid(+)
					  and a.wlid(+) = d.wlid
					  and a.breedid = e.breed_id(+)
					  and a.listingflag = 2
					<if test="chandi!=null and chandi!=''">
					  and c.warehousename like '%' || #{chandi,jdbcType=VARCHAR} ||'%'
					</if>
					<if test="yc!=null and yc!=''">
					  and e.breed_name = #{yc,jdbcType=VARCHAR}
					</if>
				 order by a.lowunitprice asc
			) s)
	where <![CDATA[rum >=#{start,jdbcType=DECIMAL} and rum<#{end,jdbcType=DECIMAL}]]> 
	</select>
	
	<select id="selectPriceByAll" parameterType="java.util.Map" resultMap="VoResultMap">
	select u.* from (
	select rownum rn,s.name,trim(to_char(s.price,9999999999990.99)) price,s.area,s.amount,s.grade
		from (select e.breed_name    as name,
					 round(a.lowunitprice,2)  as price,
					 c.warehousename as area,
					 round(a.listingamount,2) as amount,
					 d.grade
				from zyc.busi_listing     a,
					 zyc.busi_whlist      b,
					 zyc.busi_warehouse   c,
					 zyc.busi_qualityinfo d,
					 boss.breed           e
				where a.wlid = b.wlid(+)
					  and a.updatetime between to_date(''||#{startdate,jdbcType=VARCHAR}||' 00:00:00', 'yyyy-mm-dd hh24:mi:ss') and to_date(''||#{enddate,jdbcType=VARCHAR}||' 23:59:59', 'yyyy-mm-dd hh24:mi:ss')
					  and b.warehouseid = c.warehouseid(+)
					  and a.wlid(+) = d.wlid
					  and a.breedid = e.breed_id(+)
					  and a.listingflag = 2
					<if test="chandi!=null and chandi!=''">
					  and c.warehousename like '%' || #{chandi,jdbcType=VARCHAR} ||'%'
					</if>
					<if test="yc!=null and yc!=''">
					  and e.breed_name = #{yc,jdbcType=VARCHAR}
					</if>
				order by a.updatetime desc
			) s) u
	where <![CDATA[u.rn >=#{start,jdbcType=DECIMAL} and u.rn<#{end,jdbcType=DECIMAL}]]>
	</select>
	 -->
	 
	<!-- start 查询珍药材挂牌的药材价格    by aizhengdong at 2015/04/14 -->
	<select id="selectPriceByAll" parameterType="java.util.Map" resultMap="VoResultMap">
	select sp.*
	from (select rownum row_id,
                b.breed_name as name,
                bq.grade,
                trim(to_char(bl.lowunitprice, 9999999999990.99)) as price,
                round(bl.listingamount, 2) as amount,
                di.dict_value as amount_unit
           from ZYC.Busi_Listing bl
           left join BOSS.Breed b
             on bl.breedid = b.breed_id
           left join ZYC.Busi_Qualityinfo bq
             on bl.wlid = bq.wlid
           left join ZYC.Busi_Whlist bw
             on bl.wlid = bw.wlid
           left join BOSS.Dict_Info di
             on bw.wlunit = di.dict_code
          where bl.listingflag = '2'
          <if test="yc!=null and yc!=''">
		    and b.breed_name = #{yc,jdbcType=VARCHAR}
	      </if>
          order by bl.updatetime desc) sp
	where sp.row_id between #{start,jdbcType=DECIMAL} and #{end,jdbcType=DECIMAL}
	</select>
	<!-- end 查询珍药材挂牌的药材价格    by aizhengdong at 2015/04/14 -->
</mapper>