body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:461px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:716px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5238 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:716px;
}
#u5239 {
  position:absolute;
  left:2px;
  top:350px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:-webkit-linear-gradient(90deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5240 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5241 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u5242 {
  position:absolute;
  left:61px;
  top:686px;
  width:107px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5242_img.selected {
}
#u5242.selected {
}
#u5243 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u5244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u5244 {
  position:absolute;
  left:168px;
  top:686px;
  width:102px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5244_img.selected {
}
#u5244.selected {
}
#u5245 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u5246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u5246 {
  position:absolute;
  left:270px;
  top:686px;
  width:94px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5246_img.selected {
}
#u5246.selected {
}
#u5247 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u5248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u5248 {
  position:absolute;
  left:364px;
  top:686px;
  width:97px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5248_img.selected {
}
#u5248.selected {
}
#u5249 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u5250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5250 {
  position:absolute;
  left:61px;
  top:15px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5251 {
  position:absolute;
  left:10px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u5252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u5252 {
  position:absolute;
  left:65px;
  top:20px;
  width:25px;
  height:20px;
  font-family:'Arial Black Black', 'Arial Black';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5253 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u5254_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:31px;
}
#u5254 {
  position:absolute;
  left:343px;
  top:686px;
  width:21px;
  height:21px;
}
#u5255 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u5256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:171px;
}
#u5256 {
  position:absolute;
  left:61px;
  top:50px;
  width:400px;
  height:170px;
}
#u5257 {
  position:absolute;
  left:2px;
  top:77px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:62px;
}
#u5258 {
  position:absolute;
  left:221px;
  top:77px;
  width:80px;
  height:62px;
}
#u5259 {
  position:absolute;
  left:2px;
  top:23px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5260 {
  position:absolute;
  left:253px;
  top:147px;
  width:20px;
  height:16px;
}
#u5261 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u5262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:96px;
}
#u5262 {
  position:absolute;
  left:61px;
  top:230px;
  width:113px;
  height:95px;
}
#u5263 {
  position:absolute;
  left:2px;
  top:40px;
  width:109px;
  word-wrap:break-word;
}
#u5264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:96px;
}
#u5264 {
  position:absolute;
  left:185px;
  top:230px;
  width:113px;
  height:95px;
}
#u5265 {
  position:absolute;
  left:2px;
  top:40px;
  width:109px;
  word-wrap:break-word;
}
#u5266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:96px;
}
#u5266 {
  position:absolute;
  left:325px;
  top:230px;
  width:113px;
  height:95px;
}
#u5267 {
  position:absolute;
  left:2px;
  top:40px;
  width:109px;
  word-wrap:break-word;
}
