body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:461px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5512 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:716px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5513 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:716px;
}
#u5514 {
  position:absolute;
  left:2px;
  top:350px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:-webkit-linear-gradient(90deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5515 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5516 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u5517 {
  position:absolute;
  left:61px;
  top:686px;
  width:107px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5517_img.selected {
}
#u5517.selected {
}
#u5518 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u5519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u5519 {
  position:absolute;
  left:168px;
  top:686px;
  width:102px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5519_img.selected {
}
#u5519.selected {
}
#u5520 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u5521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u5521 {
  position:absolute;
  left:270px;
  top:686px;
  width:94px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5521_img.selected {
}
#u5521.selected {
}
#u5522 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u5523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u5523 {
  position:absolute;
  left:364px;
  top:686px;
  width:97px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5523_img.selected {
}
#u5523.selected {
}
#u5524 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u5525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5525 {
  position:absolute;
  left:61px;
  top:15px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5526 {
  position:absolute;
  left:10px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u5527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u5527 {
  position:absolute;
  left:65px;
  top:20px;
  width:25px;
  height:20px;
  font-family:'Arial Black Black', 'Arial Black';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u5528 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u5529_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:31px;
}
#u5529 {
  position:absolute;
  left:343px;
  top:686px;
  width:21px;
  height:21px;
}
#u5530 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u5531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:171px;
}
#u5531 {
  position:absolute;
  left:61px;
  top:50px;
  width:400px;
  height:170px;
}
#u5532 {
  position:absolute;
  left:2px;
  top:77px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:62px;
}
#u5533 {
  position:absolute;
  left:221px;
  top:77px;
  width:80px;
  height:62px;
}
#u5534 {
  position:absolute;
  left:2px;
  top:23px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5535 {
  position:absolute;
  left:253px;
  top:147px;
  width:20px;
  height:16px;
}
#u5536 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u5537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:96px;
}
#u5537 {
  position:absolute;
  left:61px;
  top:230px;
  width:113px;
  height:95px;
}
#u5538 {
  position:absolute;
  left:2px;
  top:40px;
  width:109px;
  word-wrap:break-word;
}
#u5539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:96px;
}
#u5539 {
  position:absolute;
  left:185px;
  top:230px;
  width:113px;
  height:95px;
}
#u5540 {
  position:absolute;
  left:2px;
  top:40px;
  width:109px;
  word-wrap:break-word;
}
#u5541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:96px;
}
#u5541 {
  position:absolute;
  left:325px;
  top:230px;
  width:113px;
  height:95px;
}
#u5542 {
  position:absolute;
  left:2px;
  top:40px;
  width:109px;
  word-wrap:break-word;
}
