body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:897px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:1139px;
}
#u3149 {
  position:absolute;
  left:185px;
  top:-238px;
  width:712px;
  height:1139px;
}
#u3150 {
  position:absolute;
  left:2px;
  top:562px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
