@charset "utf-8";
/* CSS Document */
/*
 * zhouli 2015.1.16
*/
a{color: #555;}
a:hover{color: #c90301; text-decoration: none;}
body{font-family:"宋体",arial,sans-serif;}
/*  css sprite  */
.nav .kf-phone,
.topright .arrow,
.topright .stock,
.topright .collect,
.topright .service,
.topright .qa,
.topright .menu,
.class-list .open-down i{
    background: url("../images/icon-1.png") no-repeat;
}
.area-1200{
    width: 1200px;
    margin: 0 auto;
    height: auto;
}
.area-1200{width: 1200px;}
/* header */
.topper{
    width: 100%;
    height: 32px;
    background: #f6f6f6;
    border-bottom: 1px solid #eee;
}
.topper.sty1{
 height:115px;
 background:#fff;
 border-bottom:0 none;
 overflow:hidden;
}
.topper p{
    line-height: 30px;
    color: #555;
}
.topper .topleft{
    /*background-position: 0 -120px;
    padding-left: 15px;*/
}
.topper .topleft .news{
    background-position: 28px -160px;
    padding-left: 52px;
}
.topper p a{
    color: #555;
    padding: 0 8px;
}
.topper p a:hover,
.topright li a:hover{color: #c90301;}
.topper .logo {
    background: url("../images/logo.gif") no-repeat scroll 0 0;
    height: 75px;
    margin: 20px 0 10px;
    padding-top: 12px;
    width: 500px;
}
.topper .logo a{
    display: block;
    width: 253px;
    height: 78px;
    line-height: 999;
    overflow: hidden;
    float: left;
}
.topper .logo span{
    float: left;
    font-size: 24px;
    font-family: microsoft yahei;
    color: #505050;
    line-height: 78px;
    border-left: 1px solid #b4b4b4;
    padding-left: 25px;
    margin-top: -15px;
    margin-left: 25px;
    font-weight: 400;
}
/*.topper .logo h1{
    margin-left: 266px;
    border-left: 1px solid #bfbfbf;
    font-size: 26px;
    line-height: 26px;
    color: #333;
    padding: 8px 0 8px 14px;
    font-family: "Microsoft YaHei";
}*/
.topright{
    position: relative;
    z-index: 9998;
}
.topright li{
    float: left;
    line-height: 30px;
    height: 30px;
    z-index: 3;
}
.topright li .cur1{
    background: #fff;
    line-height: 30px;
    height: 30px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-right: -1px;
    /* padding-right: 11px;*/
}
.topright li .cur1 a{
    *padding: 0;
    *display: block;
    *margin: 0;
    *line-height: 30px;
}

.topright li .cur1.cur2{height: 31px;}
.topright .hover{
    display: block;
    background: #fff;
    border: 1px solid #999;
    border-bottom: 0 none;
    border-top: 0 none;
    z-index: 2;
    position: relative;
    line-height: 30px;
}
.topright li .sub{
    display: none;
    position: absolute;
    top:29px;
    right: 0;
    z-index: 999999;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0 none;
    padding: 0 3px 5px 0;
    *width:97px;
    margin-right: -1px;
    line-height: 24px;
    -webkit-box-shadow: 1px 2px 2px #e6e6e6;
    -moz-box-shadow: 1px 2px 2px #e6e6e6;
    box-shadow: 1px 2px 2px #e6e6e6;
}
.topright li .sub.first{
    *width: 92px;
}
.topright li .sub.webnav{
    position: absolute;
    top:31px;
    right: 0;
    z-index: 100;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0 none;
    width: 460px;
}
.topright li .sub.webnav dl{
    padding: 10px 10px 10px 20px;
}
.topright li .sub.webnav dl dt,
.topright li .sub.webnav dl dd{
    padding-bottom: 10px;
    float: left;
}
.topright li .sub.webnav dl dt{
    color:#c90301;
    font-weight: bold;
    line-height: 18px;
    width: 60px;
}
.topright li .sub.webnav dl dd{
    width: 365px;
}
.topright li .sub.webnav dl dd a{padding: 0 10px; }
.topright li .sub a{color: #666;} .topright li .sub a:hover{color: #c90301; text-decoration: underline;}
.topright li a,
.topright li span{
    display: inline-block;
    *display: inline;
    *zoom:1;
    color: #555;
    padding: 0 10px;
    line-height: 14px;
}
.topright li span a{padding: 0;}
.topright li .bl{border-left: 1px solid #d2d2d2;}
.topright .stock{
    display: inline-block;
    *display: inline;
    zoom:1;
    background-position: -51px -28px;
    width: 10px;
    height: 14px;
    vertical-align: middle;
    margin-right: 5px;
}
.topright span:hover .stock{background-position: -89px -47px;}
.topright span:hover .collect{background-position: -107px -47px;}
.topright span:hover .service{background-position: -69px -61px;}
.topright span:hover .qa{background-position: -50px -61px;}
.topright span:hover .menu{background-position: -132px -48px;}
.topright span:hover{color: #c90301;}
.topright .collect{
    display: inline-block;
    *display: inline;
    zoom:1;
    background-position: -71px -28px;
    padding-right: 8px;
    width: 10px;
    height: 14px;
    vertical-align: middle;
}
.topright .service{
    display: inline-block;
    *display: inline;
    zoom:1;
    background-position: -92px -28px;
    padding-right: 8px;
    width: 10px;
    height: 14px;
    vertical-align: middle;
}
.topright .qa{
    width: 12px;
    height: 14px;
    display: inline-block;
    *display:inline;
    zoom:1;
    background-position: -112px -28px;
    vertical-align: middle;
    margin-right: 5px;
}
.topright .menu{
    width: 14px;
    height: 14px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    background-position: -132px -28px;
    vertical-align: middle;
    margin-right: 5px;
}
.topright .arrow{
    display: inline-block;
    *display:inline;
    zoom:1;
    background-position: -35px -28px;
    width: 10px;
    height: 12px;
    vertical-align: middle;
    margin-left: 5px;
}
.topright .arrow.cur{
    background-position: 0 -41px;
}
.topright a:hover{text-decoration: none;}
.tophr{
    border-top: 1px solid #ddddde;
    min-width: 1200px;
    overflow: hidden;
    height: 0;
}

/*common sprite png*/
.header .sendstock i,
.header .kf-phone,
.foot .style-2,
.s-topper .sendstock i{background: url("../images/common.png") no-repeat;}
/* header */
.header .logo{
    background: url("../images/index-logo.png") no-repeat;
    width: 253px;
    height: 82px;
    overflow: hidden;
    margin-top: 20px;
}
.header .logo a{
    display: block;
    height: 82px;
    line-height: 9999px;
    overflow: hidden;
}
.header .search{
    width: 545px;
    margin: 30px 0 0 20px;
    *position: relative;
    *z-index: 9997;
}
.header .search ul li{
    float: left;
    display: inline;
    padding: 0 12px;
    font-size: 14px;
    border-right: 1px solid #5a5a5a;
    line-height: 14px;
    *line-height: 16px;
    margin: 5px 0 8px;
    cursor: pointer;
}
.header .search ul li.cur{color: #c90301;}
.header .search ul li.bn{border-right: 0 none;}
.header .search .text-bg{
    border: 2px solid #c90301;
    height: 36px;
}
.header .search .search-text{
    width: 395px;
    height: 34px;
    line-height: 34px;
    color: #999;
    padding: 0 10px;
    font-size: 14px;
}
.header .search .search-btn{
    position: absolute;
    right: -2px;
    top:-2px;
    background: #c90301;
    height: 40px;
    width: 129px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.header .search .search-btn:hover{background: #e62c2a;}
.header .search p{line-height: 28px; padding-left: 12px; overflow:hidden; height:28px;}
.header .search p a{
    color: #757575;
    padding-right: 10px;
}
.header .search p a:hover{color: #c90301;}
.header .search .match-bg,
.s-topper .match-bg{
    display: none;
    position: absolute;
    left:-2px;
    z-index: 3;
    top:36px;
    background: #fff;
    border: 2px solid #c90301;
    width: 414px;
    border-top:0 none;
    padding-bottom: 10px;
}
.header .search .match-bg h5,
.s-topper .match-bg h5{
    line-height: 28px;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
    color: #999;
}
.header .search .match-bg h5:hover,
.s-topper .match-bg h5:hover{
    color: #464646;
    font-weight: bold;
}
.header .sendstock{
    background: #ffb33b;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 166px;
    text-align: center;
    margin-top: 30px;
}
.header .sendstock:hover{background: #ffc365;}
.header .sendstock a,.header .sendstock a:hover{color: #fff; text-decoration: none; display: block;}
.header .sendstock i{
    background-position: 0 -1px;
    width: 20px;
    height:20px;
    margin-right: 8px;
}
.header .kf-phone{
    background-position: 0 -28px;
    width: 150px;
    height: 40px;
    margin: 30px 8px 0 0;
}
/* nav */
.nav{
    height: 41px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    border-bottom: 1px solid #c90301;
    width: 100%;
    *z-index: 1;
}
.nav .list{
    width: 195px;
    background: #c90301;
    line-height: 42px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    *z-index: 9999;
}
/* subnav */
.nav .list .sub-nav{
    display: none;
    position: absolute;
    left:0;
    top:42px;
    width: 193px;
    height: 418px;
    border: 1px solid #e6e6e6;
    border-top:0 none;
    background: #f0f0f0;
    z-index: 1001;
    padding-bottom: 3px;
}
.nav .list .sub-nav .sub-nav-box{height: 38px; width: 188px; position: relative; z-index: 9999;}
/*.nav .list .sub-nav dl.cur dd{display: none;}*/
.nav .list .sub-nav .sub-nav-box .tit{
    font-size: 14px;
    color: #646464;
    line-height: 38px;
    height: 38px;
    text-align: left;
    padding-left: 25px;
    font-weight: normal;
}
.nav .list .sub-nav .sub-nav-box .tit a{color: #666;}

.nav .list .sub-nav .sub-nav-box .tit.cur{
    background: url("../images/navHover.png") no-repeat right 16px #fff;
    border-top: 1px solid #e0615f;
    border-bottom: 1px solid #e0615f;
    border-left: 1px solid #e0615f;
    cursor: pointer;
    color: #9f0200;
    margin-left: -1px;
    *margin-left: -3px;
    z-index: 999;
    font-weight: bold;
    background-color: #fff;
    position: relative;
}
.nav .list .sub-nav .sub-nav-box .tit.cur a{color: #c90301;}
.nav .list .sub-nav .sub-nav-box.cur,
.nav .list .sub-nav .sub-nav-box.cur a{color: #c90301;}
.more-list a:hover{text-decoration: underline;}
/*.nav .list .sub-nav .sub-nav-box .tit.cur .sub-navs{
    display: block;

}*/
.nav .list .sub-nav .sub-nav-box .sub-navs{
    display: none;
    position: absolute;
    right: -566px;
    /*top:8px;*/
    width: 565px;
    padding:10px 0;
    border: 1px solid #e0615f;
    background: #fff;
    z-index: 998;
    /*max-height: 404px;*/
    overflow: hidden;
    /*-webkit-box-shadow: 1px 2px 3px #ccc;
    -moz-box-shadow: 1px 2px 3px #ccc;
    box-shadow: 1px 2px 3px #ccc;*/
}
.nav .list .sub-nav .sub-nav-box .sub-navs dl{
    padding: 0 22px 0 0;
}
.nav .list .sub-nav .sub-nav-box .sub-navs dl dt{
    font-size: 14px;
    color: #9f0200;
    line-height: 23px;
    font-weight: bold;
    text-align: left;
    padding-left: 22px;
    padding-bottom: 2px;
}
.nav .list .sub-nav .sub-nav-box .sub-navs dl dd{
    padding-left: 21px;
    color: #e0e0e0;
}
.nav .list .sub-nav .sub-nav-box .sub-navs dl dd a{
    color: #464646;
    padding: 2px;
    display: inline-block;
}
.nav .list .sub-nav .sub-nav-box .sub-navs dl dd a.col_999{color: #999;}
.nav .list .sub-nav .sub-nav-box .sub-navs h4{
    color: #9f0200;
    margin: 10px 20px 0 20px;
    border-top: 1px solid #ddd;
    text-align: right;
    padding-top:8px;
}
.nav .list .sub-nav .sub-nav-box .sub-navs h4 img{ width:15px; height:15px; margin-left:4px;}
.nav .list .sub-nav .sub-nav-box .tit.cur{background-color: none;}
.nav .list .sub-nav .sub-nav-box .sub-navs a:hover{color: #c90301; text-decoration: underline;}
.nav .list .sub-nav .sub-nav-box .sub-navs h4 a{color: #646464;}
.nav .list .sub-nav .sub-nav-box .sub-navs p{
    margin: 10px 0 15px 20px;
    text-align: left;

}
.nav .list .sub-nav .sub-nav-box .sub-navs p a{
    color: #757575;
    padding: 0 5px;
    line-height: 25px;
    display: inline-block;
    *display: inline;
    zoom:1;
    text-align: left;
}
.nav .list .sub-nav .sub-nav-box .tit i{
    background: url("../images/sub-nav.png") no-repeat;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 12px;
}
.nav .list .sub-nav .sub-nav-box i.icon-1{background-position: 0 0;}
.nav .list .sub-nav .sub-nav-box i.icon-2{background-position: 0 -38px;}
.nav .list .sub-nav .sub-nav-box i.icon-3{background-position: 0 -75px;}
.nav .list .sub-nav .sub-nav-box i.icon-4{background-position: 0 -114px;}
.nav .list .sub-nav .sub-nav-box i.icon-5{background-position: 0 -152px;}
.nav .list .sub-nav .sub-nav-box i.icon-6{background-position: 0 -188px;}
.nav .list .sub-nav .sub-nav-box i.icon-7{background-position: 0 -228px;}
.nav .list .sub-nav .sub-nav-box i.icon-8{background-position: 0 -267px;}
.nav .list .sub-nav .sub-nav-box i.icon-9{background-position: 0 -303px;}
.nav .list .sub-nav .sub-nav-box i.icon-10{background-position: 0 -339px;}
.nav .list .sub-nav .sub-nav-box i.icon-11{background-position: 0 -377px;}
.nav .list .sub-nav dl dd{
    text-align: left;
    line-height: 20px;
    padding-left: 35px;
}
.nav .list .sub-nav dl dd a{
    color: #757575;
    padding-right: 10px;
}
.nav .list .sub-nav dl dd a:hover{color: #c90301; text-decoration: underline;}
.nav .list .sub-nav .more-list{
    background: url("../images/sub-nav.png") no-repeat 15px -375px #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 130px;
    height: 37px;
    line-height: 37px;
    color: #c90301;
    font-weight: normal;
    border-top:1px solid #e6e6e6;
    font-size: 12px;
    text-align: left;
    padding-left: 60px;
}
.nav .list .sub-nav .more-list a{color: #c90301;}
.nav ul li{
    float: left;
    display: inline;
    font-size: 16px;
    line-height: 24px;
    border-right: 1px solid #e6e6e6;
    margin-top: 8px;
}
.nav ul li.bn{border: 0 none;}
.nav ul li a{
    display: block;
    padding: 0 40px;
    outline: none;
}
.nav ul li.cur a,
.nav ul li.cur a:hover {color: #c90301; }
.nav ul li a{color: #333;}
.nav ul li a:hover{text-decoration:none; color:#c90301;}
.nav .kf-phone{
    background-position: -146px 0;
    width: 228px;
    height: 28px;
    margin: 13px 0 0 0;
}
.br{border-right: 1px solid #d2d2d2;}

/* foot */
.mt15{margin-top: 15px;}
.foot{
    width: 100%;
    height: 360px;
    border-top:1px solid #ededed;
    margin-top: 36px;
    background: #f4f4f4;
}
.foot.compate{
	margin: 0;
    height: auto;
    padding: 10px 0;
	background:#fff;
	border-top:1px solid #9a0000;
}
.foot ul{
    margin-left: 45px;
    padding: 18px 0 0;
}
.foot ul li{
    float: left;
    display: inline;

}
.foot ul li strong{
    color: #555;
    display: block;
    line-height: 28px;
}
.foot ul li a{
    display: block;
    line-height: 25px;
    color: #666;
}
.foot .style-1{width: 120px;}
.foot .style-2{
    width: 343px;
    padding-left: 40px;
    background-position: 0 -76px;
    height: 190px;
    margin-top: 5px;
}
.foot .style-2 a{
    display: block;
    margin: 112px 0 0;
    width: 122px;
    height: 35px;
    line-height: 9999px;
    overflow: hidden;
}
.foot .style-2 a:hover{
    background: url("../images/common.png") 0 -289px;
}
.hr{
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 0px;
    line-height: 0px;
    overflow:hidden;
}
.foot .links{
    line-height: 24px;
    padding: 3px 0;
    color: #969696;
}
.foot .links span{color: #666;}
.foot .links a{
    padding: 0 10px;
    color: #666;
    border-right: 1px solid #666;
}
.foot .links a.bn{border:0 none;}
.foot .links a.pn{padding: 0;}
.foot a:hover{
    text-decoration: underline;
    color: #c90303;
}
.col_888{color: #888;}
.col_50{color: #505050;}
.col_red{color: #d61b1b;}
.col_303030{color: #303030;}
.col_7d7d7d{color: #7d7d7d;}
.col_yellow{color: #fff000;}
.f16{font-size: 16px;}
.text{
    border: 1px solid #e3e8ee;
    border-top: 1px solid #a8a9ae;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

}
.text-1{
    line-height: 20px;
    height: 20px;
    padding: 0 10px;
    width: 50px;
}
/* 鍙充晶鍥剧墖鍒楄〃鏍峰紡 */
.png{background: url("../images/png.png") repeat;}
.img-list1 li{
    position:relative;
    width: 122px;
    margin: 0 auto 15px;
}
.img-list1 li:hover{
    filter:alpha(opacity=90); /*IE滤镜，透明度50%*/
    -moz-opacity:0.9; /*Firefox私有，透明度50%*/
    opacity:0.9;/*其他，透明度50%*/
}
.img-list1 li .png{
    display:none;
    position:absolute;
    left:0;
    top:0;
    width:118px;
    height:118px;
}
.img-list1 li:hover .png{display:block;}
.img-list1 li img{
    width: 118px;
    height: 118px;
    border: 1px solid #ddd;
    padding: 1px;
}

.img-list1 li h3{
    padding: 5px 0px 5px 3px;
    color: #333;
    line-height: 20px;
    max-height: 39px;
    overflow: hidden;
}
.img-list1 li h3:hover{
    text-decoration: underline;
    color: #C90301;
}

.img-list1 li p{
    padding-left: 3px;
    color: #666;
    line-height: 22px;
}
.img-list1 li p strong{
    font-size: 16px;
    color: #d61b1b;
}

/* pageFile */
.page-file{margin: 30px 0;}
.page-file a,
.page-file span{
    display: inline-block;
    _display:inline;
    _zoom:1;
    padding: 0 5px;
    font-size: 14px;
    color: #373737;
    margin-left: -1px;
}
.page-file span{font-size: 12px;}
.page-file .fy{
    height: 22px;
    line-height: 22px;
    width: 40px;
}
.page-file b,
.page-file a:hover{color: #0288cf;}
.page-file span.c_bbb{color: #bbb;}
.pageup {
    display: block;
    text-align: center;
    padding: 5px 0px;
    color: #868686;
}

.pageup a {
    border: 1px solid #ddd;
    padding: 5px 13px;
    color: #363636;
    cursor: pointer;
}
.pageup a.prev,
.pageup a.next{
    background: url("../images/pagefile.png") no-repeat;
}
.pageup a.prev{
    margin-right: 6px;
    background-position: 10px 11px;
    padding-left: 22px;
}
.pageup a.prev.disab,.pageup a.prev.disab:hover{
    background-position: 10px -47px;
    color: #ccc;
}
.pageup a.next{
    margin-right: 6px;
    background-position: 60px -19px;
    padding-right: 22px;
}
.pageup a.next.disab,.pageup a.next.disab:hover{
    background-position: 60px -80px;
    color: #ccc;
}
.pageup a.prev:hover,
.pageup a.next:hover{
    background-color:#fff;
    border:1px solid #ddd;
    color:#363636;}
.pageup a.show {
    background:#d61b1b;
    border: 1px solid #d61b1b;
    color: #fff;
}
.btn-gray {
    color: #464646;
    background: #f3f3f3;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#e7e7e7));
    background: -moz-linear-gradient(top,  #f3f3f3,  #e7e7e7);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e7e7e7');
    padding:4px 12px;
    -webkit-box-border-radius: 3px;
    -moz-box-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    border:1px #ccc solid;
}
.btn-red:hover {
    text-decoration: none;
}
/* alert css */
#msgdiv{
    background: #fff;
    border: 2px solid #e60b0f;
    font: 12px/1.6em verdana,geneva,arial,helvetica,sans-serif;
    padding-bottom: 15px;
    top:50%;
    left:50px;
    margin:-75px 0 0 -125px;
    min-width: 230px;
    *width: 230px;
    padding:0 10px 10px;
    min-height: 120px;
    z-index: 10001;
}
#msgdiv h4{
    border-bottom: 1px solid #d0d0d0;
    color: #202020;
    font: 16px Microsoft YaHei;
    height: 18px;
    margin: 0 10px;
    padding: 5px 0 8px;
    position: relative;
}
#msgtxt{
    color: #474e5d;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    padding: 10px 0 15px;
}
#aClose{
    background: url("../images/jzt-user-center/close-red.png") no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    top:0;
    overflow: hidden;
    cursor: pointer;
    z-index: 1002;
}
#msgdiv input{
    *margin-left: 130px;
}
.btn-style-hui{
    border: 1px solid #999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background:#dedede;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dedede));
    background: -moz-linear-gradient(top,  #fff,  #dedede);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dedede');
    padding: 0px 15px;
    color: #666;
}
.btn-style{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:#c90301;
    padding: 5px 12px;
    color: #fff;
}
#msgdiv .btn-style,
#msgdiv .btn-style-hui{margin: 0 5px;}
.co_fff,.co_fff:hover{color: #fff;}
.ml20{margin-left: 20px;}
/* 璐ㄦ鎶ュ憡寮瑰眰 */
.pop-report{
    position: fixed;
    top:50%;
    left: 50%;
    width: 542px;
    height: 550px;
    margin: -297px 0 0 -271px;
    background: #fff;
    /*border: 3px solid #7f7f7f;*/
    z-index: 10001;
    overflow: hidden;
    display: none;
    border: 10px solid #fff;
}
.pop-report-border{
    position: fixed;
    left: 50%;
    top:50%;
    width: 1085px;
    height: 600px;
    background: #fff;
    margin: -300px 0 0 -535px;
    z-index: 10000;
    display: none;
    border: 3px solid #7f7f7f;
}

/*.pop-report #reportPop{
    width: 542px;
    height: 595px;
    overflow: hidden;
}*/
.pop-report-border .close{
    position: absolute;
    bottom: 10px;
    left: 500px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 80px;
    margin: 0 auto;
}