@charset "utf-8";
/* CSS Document */
/*
 * zhouli 2015.1.19
*/
.area-192{width: 192px;}
.box-1{border: 1px solid #e5e5e5;}
.box-1.top0{ border-top:0px;}
.title-1{
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
    line-height: 38px;
    padding-left: 18px;
    font-weight: bold;
}
.title-2{
    font-size: 14px;
    color: #333;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
}
.sals-box{
    padding: 10px 18px 15px;
    color: #333;
}
.sals-box h3{
    line-height: 30px;
    padding-bottom: 5px;
}
.sals-box p{line-height: 25px;}
.sals-box span{color: #888;}
.show-box .pic-show{
    width: 360px;
    *position: relative;
    *z-index: 0;
}
.show-box .pic-show span{
    display: block;
    border: 1px solid #e5e5e5;
    width: 356px;
    height: 356px;
    padding: 1px;
    overflow: hidden;
}
.zoomLens, .elevate-zoom-mod {
    /*cursor: url("http://images.baby-walz.cn/2014/images/glass.cur"), url("http://images.baby-walz.cn/2014/images/glass.png"), crosshair !important;*/
    background: #ddd;
    cursor: move;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.show-box .pic-show span img{width: 356px; height: 356px;}
.small-pic{width: 380px;  margin-top: 12px;}
/*.small-pic ul{margin: 12px 0 0 0; width: 500px;}*/
.small-pic a{
    display: block;
    float: left;
    cursor: pointer;
    border: 1px solid #cecfce;
    width: 50px;
    height: 50px;
    padding: 1px;
    margin-right: 7px;
}
.small-pic a img{
    width: 50px;
    height: 50px;
}
.small-pic a:hover,
.small-pic a.hover{
    border: 2px solid #e4393c;
    width: 48px;
    height: 48px;
}
.small-pic a:hover img,
.small-pic a.hover img{
    width: 48px;
    height: 48px;
}
.prev, .next{
    position: absolute;
    width: 17px;
    height: 54px;
    background: url("../images/arrow.png") no-repeat;
    top:0;
    z-index: 0;
}
.prev{background-position: 0 0; left:0;}
.next{background-position: -17px 0; right: 0;}
.show-box .intro{
    width: 602px;
}
.show-box .intro h1{
    font-family: Microsoft YaHei;
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    padding: 0 18px;
    height: 50px;
    overflow: hidden;
}
.show-box .intro  p{
    width: 335px;
    padding-left: 18px;
    line-height: 30px;
    color: #333;
}
.show-box .intro .charge{font-size: 18px; color: #d61b1b; font-family:"微软雅黑";}
.charge1{font-size: 18px; color: #d61b1b; font-weight:bold; font-family:"微软雅黑";}
.show-box .intro dl{padding-top: 10px;}
.show-box .intro dl dt{
    background: #eee;
    height: 32px;
    line-height: 32px;
    color: #363636;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-left: 18px;
}
.show-box .intro dl dd{
    float: left;
    display: inline;
    width: 165px;
    padding: 0 18px;
    line-height: 22px;
}
.show-box .intro .others{
    padding: 10px 18px 20px;
    color: #363636;
    line-height: 30px;
    width: auto;
}
.show-box .intro .others .bz-box{
    position: absolute;
    top:10px;
    right: 15px;
}
.show-box .intro .others .bz-box span{
    display: inline-block;
    *display: inline;
    zoom:1;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: #fff;
}
.show-box .intro .others .bz-box .zhi{background: #f5aa00;}
.show-box .intro .others .bz-box .xian{background: #f54f00;}
.show-box .intro .others .bz-box .cheng{background: #61af00;}
.btn-buy{
    background: url("../images/buy-btn.png") no-repeat 30px 12px #c40000;
    color: #fff;
    width: 160px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 30px;
}
.btn-buygray{
    background: url("../images/buy-btn.png") no-repeat 30px 12px #cccccc;
    color: #fff;
    width: 160px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 30px;
}
.btn-collect{
    background: #fef0f0;
    border: 1px solid #c40000;
    color: #c40000;
    width: 160px;
    height: 40px;
    font-size: 14px;
}
.btn-collectgray{
    background: #ccc;
    border: 1px solid #ccc;
    color: #fff;
    width: 160px;
    height: 40px;
    font-size: 14px;
	font-weight: bold;
}
.title-3{
    background: #fff;
	border-top:2px solid #b00000;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	border-bottom:0 none;
    width: 135px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-family: "microsoft yahei";
    font-weight: 400;
    color: #000;
    position: relative;
    z-index: 1;
	margin-bottom:-1px;
}
.title-3fu{
    padding-left: 25px;
    color: #363636;
    line-height: 38px;
    display: inline-block;
    margin-top: 20px;
}
.hr{
    border-bottom: 1px solid #e1e1e1;
    width: auto;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    padding-bottom: 0;
    margin-top: -1px;
    position: relative;
    z-index: -1;
}
.quality li{
    /*float: left;
    display: inline;*/
    padding: 10px 0 0 28px;
    /*width: 376px;*/
}
.quality li h4{
    font-weight: bold;
    color: #363636;
    line-height: 28px;
}
.quality li p{
    color: #363636;
    line-height: 24px;
    padding: 10px 0;
}
.quality li .tit{
    display: inline-block;
    *display: inline;
    zoom:1;
    width: 60px;
}
.quality li .cont{
    display: inline-block;
    *display: inline;
    zoom:1;
    width: 275px;
}
.quality li .check-table{width: 930px; margin: 10px 0 40px;}
.quality li .check-table th,
.quality li .check-table td{padding-left: 15px;}
.quality li .check-table th{color: #fff;}
.taright{text-align: right;}
.buy-notes{
    width: 965px;
    margin: 0 auto;
    margin-top: 20px;
}
.buy-notes table tr th{
    background: #eee;
    color: #151515;
    text-align: center;
    font-weight: normal;
}
.buy-notes table tr td.bn{border-bottom: 0 none;}
.buy-notes table tr td{
    border-bottom: 1px dotted #dadada;
    text-align: center;
    color: #2b2b2b;
}
.buy-notes table tr td.col_7d7d7d{color: #7d7d7d;}
.buy-notes table tr td.col_161616{color: #161616;}
.buy-notes table tr td span.col_red{color: #ff0000;}
.detail-box{margin: 0 38px 30px;}
.detail-box .list{
    margin-top: 20px;
    width: 405px;
}
.detail-box .list li{
    border-bottom: 1px solid #e0e0e0;
    width: 405px;
    line-height: 30px;
}
.zhijianbiao{
    position: absolute;
    top:40px;
    right: 30px;
    width: 82px;
    height: 81px;
}
.btn-report{
    position: absolute;
    left:150px;
    top:2px;
    background: url("../images/btn-report.png") no-repeat;
    width: 128px;
    height: 30px;
}

.detail-submit .caption{
    background: url("../images/detail-icon.png") left no-repeat;
    font-family: "microsoft yahei";
    font-size: 24px;
    color: #43a617;
    padding-left: 45px;
    line-height: 110px;
    margin-left: 290px;
}
.detail-submit .message{padding: 15px 5px;}
.detail-submit .message dt,
.detail-submit .message dd{
    line-height: 34px;
}
.detail-submit .message dt{font-weight: bold;}
.detail-submit .message dd{
    float: left;
    min-width: 100px;
    padding-right: 40px;
    line-height: 30px;
}
.detail-submit .message.temp{padding: 20px 20px 60px;}
.detail-submit .message.temp dd{
    color: #666;
}
.detail-submit .table{
    border: 1px solid #e4e4e4;
}
.detail-submit .table th{
    height: 36px;
    vertical-align: middle;
    border-bottom: 1px solid #e4e4e4;
    background: #f5f5f5;
    font-weight: normal;
}
.detail-submit .table .intro{
    padding: 20px;
}
.detail-submit .table .intro span img{
    width: 96px;
    margin-right: 25px;
    float: left;
}
.detail-submit .table .intro h3{
    line-height: 20px;
    font-weight: bold;
    margin-left: 121px;
}
.detail-submit .table .intro ul{
    margin-left: 121px;
}
.detail-submit .table .intro ul li{
    float: left;
    width: 190px;
    line-height: 28px;
}
.col_red{color: #ff0000;}
.btn-red{
    background: #c90301;
    border-radius: 3px;
    padding: 8px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    min-width: 100px;
    -webkit-box-shadow: inset 0.5px 0.5px 2px #94100f;
    -moz-box-shadow: inset 0.5px 0.5px 2px #94100f;
    box-shadow: inset 0.5px 0.5px 2px #94100f;
}
.btn-red.fn{font-weight: normal; padding: 8px 15px;}
.btn-red:hover{
    background: #e62c2a;
}
.detail-submit .account{
    padding: 22px 0 25px;
}
.detail-submit .account strong{vertical-align: middle; display: inline-block; *display: inline; zoom:1;}
.detail-pay-title{
    padding: 10px 20px 20px;
}

.wrong-box{
    background: url("../images/wrong-bg.png") 108px 0 no-repeat;
    margin: 50px 0;
    height: 440px;
    width: auto;
    padding-left: 515px;
}
.wrong-box h3{
    font-size: 30px;
    font-family: "microsoft yahei";
    line-height: 50px;
    color: #464646;
    padding-top: 25px;
}
.wrong-box span{
    color: #c90301;
    font-size: 72px;
    line-height: 90px;
}
.wrong-box h4{
    font-family: "microsoft yahei";
    color: #464646;
    font-size: 14px;
    line-height: 35px;
    padding-top: 10px;
}
.wrong-box p{
    line-height: 35px;
    color: #464646;
}
.wrong-box p a{
    background: #c90301;
    padding: 7px 12px;
    color: #fff;
}
/* 20150618登录弹框 */
.logon-box{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    border: 2px solid #cf5445;
    width: 446px;
    height: 404px;
    margin: -202px 0 0 -223px;
    background: #fff;
    overflow: hidden;
    z-index: 99999;
}
.logon-box .layout{padding: 10px 48px;}
.logon-box .layout h3{
    font-family: "microsoft yahei";
    font-size: 20px;
    color: #333;
    line-height: 44px;
    font-weight: normal;
}
.logon-box .layout ul li label{
    font-size: 14px;
    color: #434343;
    display: block;
    line-height: 32px;
}
.logon-box .layout .col_red{color: #ff4001;}
.logon-box .layout ul li .error{
    font-size: 12px;
    color: #fd0000;
    line-height: 40px;
    height: 40px;
}
.login-text{
    width: 300px;
    height: 36px;
    line-height: 36px;
    color: #666;
    font-size: 14px;
    padding-left: 35px;
}
.login-text.yzm{width: 90px;}
.login-text.user,
.login-text.password{background: url("../images/jzt-user-center/icon-1.png") no-repeat;}
.login-text.user{background-position:7px 10px;}
.login-text.password{background-position:7px -32px;}
.login-btn{
    width: 342px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 21px;
    font-family: Microsoft YaHei;
    background: #d94736;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: 100;
}
.logon-box .close{
    position: absolute;
    right: 15px;
    top: 15px;
    background: url("../images/loginbox-close.png") no-repeat;
    width: 13px;
    height: 13px;
    cursor: pointer;
    overflow: hidden;
}