@charset "utf-8";
/* CSS Document */
/*
 * zhouli 2014.11.12
*/
.area-1100{
    width: 1100px;
    margin: 0 auto;
    height: auto;
}
.area-1200{
    width: 1200px;
    margin: 0 auto;
    height: auto;
}
/* css sprite */
.login-text,
.login-bg .login-box ul li.tip,
/*.topper .topleft .news,
.topper .stock,
.topright .collect,
.topright .qa,
.topright .arrow,*/
.hy-top .search .search-btn,
.hy-top .search .sort .arrow,
.hy-left .menu>li i,
.hy-left .menu li .sub-menu li.cur span,
.box-tip .tip-icon,
.box-tip .lega,
.box-tip .sj,
.hy-center .box-tabs i,
.hy-left .else-tags i,
.hy-sidebar .title i{background: url("../../images/jzt-user-center/icon-1.png") no-repeat;}
.legalize-list li .icon-person,
.legalize-list li .icon-company,
.kf-box i{background: url("../../images/jzt-user-center/icon-3.png") no-repeat;}
/* header */
/*.topper{
    width: 1200px;
    margin: 0 auto;
}
.topper p{
    line-height: 30px;
    color: #555;
}
.topper .topleft{
    /*background-position: 0 -120px;
    padding-left: 15px;
}
.topper .topleft .news{
    background-position: 28px -160px;
    padding-left: 52px;
}
.topper p a{
    color: #555;
    padding: 0 8px;
}

.topper .logo{
    margin: 10px 0 10px;
    background: url("../../images/logo.gif") no-repeat;
    width: 500px;
    height: 75px;
    padding-top: 12px;
}
.topper .logo a{
	display: inline-block;
	*display:inline;
	zoom:1;
    height: 75px;
    vertical-align: middle;
    width: 253px;
}
.topper .logo h1{
    margin-left: 0;
	display: inline-block;
	*display:inline;
	zoom:1;
    border-left: 1px solid #bfbfbf;
    font-size: 26px;
    line-height: 26px;
    color: #333;
    padding: 8px 0 8px 14px;
    font-family: "Microsoft YaHei";
}
.topright li{
    float: left;
    line-height: 30px;
    z-index: 2;
    cursor: pointer;
}
.topright .hover{
    display: block;
    background: #fff;
    border: 1px solid #999;
    border-bottom: 0 none;
    border-top: 0 none;
    z-index: 2;
    position: relative;
    line-height: 30px;
}
.topright li .sub{
    display: none;
    position: absolute;
    top:29px;
    left: 0;
    z-index: 1;
    background: #fff;
    border: 1px solid #999;
    width: 120px;
    padding: 5px 0;
}
.topright li .sub a{color: #666;} .topright li .sub a:hover{color: #c90301;}
.topright li a,
.topright li span{
    display: inline-block;
    *display: inline;
    *zoom:1;
    color: #555;
    padding: 0 15px;
    line-height: 14px;
}
.topright li span{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.topright li span strong a{
	padding:0;
	margin:0;
}
.topright li .bl{border-left: 1px solid #d2d2d2;}
.topright .stock{
    background-position: 0 -185px;
    margin-left:10px;
}
.topright .collect{
    background-position: 15px -210px;
    padding-left: 33px;
}
.topright .qa{
    background-position: 15px -233px;
    padding-left: 33px;
}
.topright .arrow{
    display: inline-block;
    *display:inline;
    *zoom:1;
    background-position: 0 -254px;
    width: 12px;
    height: 10px;
    margin-left: 8px;
}
.topright .arrow.cur{
    background-position: 0 -277px;
}
.topright a:hover{text-decoration: none;}*/
.tophr{
    position: absolute;
    left: 0;
    top:120px;
    z-index: 6;
    border-top: 1px solid #ddddde;
    width: 100%;
}
.hy-top{
    min-width: 1200px;
    height: 55px;
    background: #c90301;
}
.hy-top .logo{
    font-family: microsoft yahei;
    font-size: 28px;
    color: #fff;
    line-height: 55px;
    padding-left: 30px;
}
.hy-top .logo a,.hy-top .logo a:hover{color: #fff; text-decoration: none;}
.hy-top .search{margin-top: 16px;}
.hy-top .search ul li{
    float: left;
    background: #fff;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.hy-top .search .sort{
    width: 57px;
    font-size: 14px;
    color: #666;
    border-right: 1px solid #ddd;
    padding-left: 35px;
    background: #f5f5f5;
}
.hy-top .search .sort .arrow{
    display: inline-block;
    *display:inline;
    zoom:1;
    background-position: 0 -335px;
    width: 12px;
    height: 8px;
    margin-left: 3px;
}
.hy-top .search .search-text{
    padding-left: 10px;
    font-size: 12px;
    color: #999;
    width: 145px;
    margin-right: 10px;
    line-height: 22px;
    height: 26px;
    vertical-align: middle;
}
.hy-top .search .btn{margin-left: 1px;}
.hy-top .search .search-btn{
    background-position: 5px -298px;
    width: 32px;
    height: 28px;
}

/* foot */
/*.foot{
    width: 100%;
    border-top:2px solid #9a0000;
    margin-top: 15px;
}
.foot ul{
    margin-left: 60px;
    padding: 15px 0;
}
.foot ul li{
    float: left;
    display: inline;

}
.foot ul li strong{
    color: #555;
    display: block;
    line-height: 28px;
}
.foot ul li a{
    display: block;
    line-height: 25px;
    color: #666;
}
.foot .style-1{width: 145px;}
.foot .style-2{width: 170px;}
.foot .style-3{
    width: 130px;
    padding-left: 65px;
    border-left: 1px solid #ddd;
}
.hr{
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding-bottom: 10px;
}
.bottom-left{margin-left: 48px;}
.bottom-left p{color: #666;}
.bottom-left p a,
.bottom-left p span{
    line-height: 14px;
    display: inline-block;
    *display: inline;
    zoom:1;
    margin:18px 0 0 0;
    color: #666;
    border-right: 1px solid #666;
    padding: 0 12px;
}
.bottom-left p a:last-child,
.bottom-left p span:last-child{border-right: 0 none;}
.bottom-left div{padding: 15px 0;}
.bottom-left div a{
    padding: 0 12px;
}
.bottom-right p{
    padding-top: 10px;
}
.bottom-right p img{cursor: pointer;}
.bottom-right p{
	position: relative;
	width: 309px;
	height: 120px;
	background: url("../../images/jzt-user-center/weixin.png") no-repeat 5px 45px;
	cursor: pointer;
}
.bottom-right p #erweima{
    position: absolute;
    right: 0;
    top: 10px;
}*/
/* login */
.login-bg{
    background: url("../../images/jzt-user-center/login-bg.jpg") no-repeat;
    width: 1100px;
    height: 508px;
}
.login-bg .login-box{
    float: right;
    margin: 32px 50px 0 0;
    width: 344px;
    background: #fff;
    padding: 30px 38px 0 38px;
    height: 446px;
    overflow: hidden;
    
}
.login-bg .login-box h2{
    font-size: 28px;
    line-height: 40px;
    font-family: Microsoft YaHei;
}
.login-bg .login-box h2 span{font-size: 18px;}
.login-bg .login-box h2 span a{color: #fe4002;}
.login-bg .login-box ul{padding-top: 10px;}
.login-bg .login-box ul li label{
    line-height: 38px;
    color: #444444;
    font-size: 14px;
    cursor: default;
}
.login-bg .login-box ul li label a{
    font-size: 12px;
    color: #0088cc;
}
.login-bg .login-box ul li.tip{
    background-position: 0 -90px;
    color: #666;
    padding-left: 20px;
    font-size: 14px;
    margin-top: 25px;
}
/* register */
.register-bg{
    background: url("../../images/jzt-user-center/register-bg.jpg") no-repeat top left;
    height: 602px;
    width: auto;
    border-top: 2px solid #d41c12;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.register-bg .tip{
    margin: 135px 0 0 104px;
    color: #fff;
}
.register-bg .tip a{color: #fff; text-decoration: underline;}
.register-bg .register-box{
    width: 610px;
    margin-right: 20px;
}
.register-bg .register-box ul{
    padding: 32px 0;
}
.register-bg .register-box ul li label{
    display: inline-block;
    *display:inline;
    *zoom:1;
    width: 100px;
    height: 36px;
    vertical-align: middle;
    line-height: 36px;
    font-size: 14px;
    color: #000;
    text-align: right;
}
.register-bg .register-box ul li p{
    margin-left: 108px;
    line-height: 34px;
    color:#666;
}
.register-bg .register-box ul li strong{
    font-weight: normal;
    color: #4a4a4a;
}
.re-success,
.find-pswd,
.send-email{
    margin-top: 30px;
    border: 2px solid #e0e0e0;
    width: 808px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0 80px;
}
.re-success strong{
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: url("../../images/jzt-user-center/re-success.gif") no-repeat;
    color: #7abb53;
    font-family: "黑体";
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    padding-left: 80px;
}
.re-success p{
    line-height:70px;
}
.find-pswd{
    text-align: left;
    padding: 50px 0;
}

/* 个人中心 */
.hy-left,
.hy-right,
.hy-center{
    width: 198px;
    margin-top: 10px;
}
.box-left{
    border: 1px solid #ddd;
    border-top: 3px #c90301 solid;
}
/*.hy-left h2{
    height: 32px;
    line-height: 32px;
    background: url("../../images/jzt-user-center/icon.png") no-repeat 25px 9px #c90301;
    font-size: 14px;
    color: #fff;
    padding-left: 55px;
}*/
.hy-left .menu>li{
    font-size: 14px;
    line-height: 25px;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #d2d2d2;
}
.hy-left .menu>li a,
.hy-left .menu>li a:hover{color: #333; text-decoration: none;}
.hy-left .menu>li:last-child{border-bottom:0 none;}
.hy-left .menu>li i{
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: middle;
    width: 26px;
    height: 26px;
}
.hy-left .menu .account{
    background-position: 0 -348px;
    margin-right: 15px;
}
.hy-left .menu .sals{
    background-position: 0 -376px;
    margin-right: 15px;
}
.hy-left .menu .buyer{
    background-position: 0 -403px;
    margin-right: 15px;
}
.hy-left .menu .funds{
    background-position: 0 -427px;
    margin-right: 15px;
}
.hy-left .menu .serve{
    background-position: 0 -450px;
    margin-right: 15px;
}
.hy-left .menu .arrow{
    background-position: 0 -335px;
    width:12px;
    height: 8px;
    float: right;
    margin-top: 8px;
    *margin-top:-16px;
}
.hy-left .menu .arrow.cur{
    background-position: 0 -576px;
}
.hy-left .menu li .sub-menu{padding-top: 5px;}
.hy-left .menu li .sub-menu li{
    line-height: 30px;
    padding-left: 60px;
    font-size: 14px;
}
.hy-left .menu li .sub-menu li span{display: none;}
.hy-left .menu li .sub-menu li.cur{
    padding-left: 42px;
}
.hy-left .menu li .sub-menu li.cur a,.hy-left .menu li .sub-menu li.cur a:hover{ color: #c90301;}
.hy-left .menu li .sub-menu li.cur span{
    background-position: 0 -561px;
    display: inline-block;
    *display: inline;
    zoom:1;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    margin-right: 12px;
    margin-top: -4px;
    *margin-top:0;
}
.hy-left .menu li .sub-menu li a,.hy-left .menu li .sub-menu li a:hover{
    color: #666;
    text-decoration: none;
}
.hy-left .menu li .sub-menu.cur{
    display: none;
}
.hy-left .else-tags{
    margin-top: 5px;
    padding: 10px 30px;
}
.hy-left .else-tags i{
    display: inline-block;
    *display:inline;
    zoom:1;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.hy-left .else-tags .tags1{background-position: 0 -478px;}
.hy-left .else-tags .tags2{background-position: 2px -504px;}
.hy-left .else-tags .tags3{background-position: 5px -531px;}
.hy-left .else-tags a{
    display: block;
    font-size: 14px;
    color: #555;
    text-decoration: none;
    line-height: 32px;
}
.hy-right{width: 980px;}
.hy-right .title,
.hy-left .title{
    border-bottom: 1px solid #d7d7d7;
    font-size: 14px;
    padding-left: 20px;
    line-height: 35px;
    color: #585858;
    font-weight: bold;
}
.hy-right .form{
    margin: 20px 0 50px;
}
.hy-right .form li .lab,
.hy-right .form li .xm,
.hy-right .form .tip2,
.hy-right .form li b{
    display: inline-block;
    *display:inline;
    zoom:1;
    vertical-align: middle;
    padding: 0 5px;
    color: #585858;
    line-height: 26px;
    margin: 6px 0;
}
.hy-right .form li .lab{
    width: 150px;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
}
.hy-right .form li .xm{
    font-size: 14px;
    /*width: 70px;*/
}
.hy-right .form li a{}
.hy-right .form li b{
    margin-left: 20px;
    font-weight: normal;
}
.hy-right .form li b.tips{
    position: relative;
    background: #f4cccc;
    border: 1px solid #eba6a5;
    padding: 0 10px;
}
.hy-right .form li b.tips i,
.re-message .sj{
    position: absolute;
    display: inline-block;
    *display:inline;
    zoom:1;
    background: url("../../images/jzt-user-center/sy.png") no-repeat;
}
.hy-right .form li b.tips i{
    background-position: 0 0;
    width: 7px;
    height: 10px;
    left:-7px;
    top:8px;
    z-index: 1;
}
.hy-right .form li b.tips {
    background: none repeat scroll 0 0 #f4cccc;
    border: 1px solid #eba6a5;
    padding: 0 10px;
    position: relative;
}
.hy-right .form li b {
    font-weight: normal;
    margin-left: 20px;
}
.re-message{
    display: none;
    margin: 10px 0 10px 32px;
    position: relative;
    width: 500px;
    padding: 15px 25px 18px 15px;
    border: 1px solid #cbcaca;
    border-radius: 6px;
}
.re-message .sj{
    background-position: 0 -13px;
    width: 18px;
    height: 13px;
    background-color: #333;
    top:-12px;
    left:50%;
    margin-left: -9px;
    z-index: 1;
}
.re-message p{
    display: block;
    font-weight: normal;
    line-height: 38px;
    padding: 5px 0;
    color: #585858;
}
.re-message p label{
    display: inline-block;
    *display:inline;
    zoom:1;
    width: 115px;
    text-align: right;
    color: #585858;
}
/* */
.hy-center{
    margin-left: 10px;
    width: 740px;
}
.border-1{
    border: 1px solid #d2d2d2;
    -webkit-border-radius:2px ;
    -moz-border-radius:2px ;
    -ms-border-radius:2px ;
    -o-border-radius:2px ;
    border-radius:2px ;
}
.p1525{padding: 15px 25px;}
.hy-center .box-date{
    background: url("../../images/jzt-user-center/bg1.png") no-repeat right center;
    padding-right: 10px;
    line-height: 30px;
}
/* 认证的各种状态 */
.legalize{
    display: inline-block;
    *display: inline;
    zoom:1;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: #999;
    -webkit-border-radius:25px ;
    -moz-border-radius:25px ;
    -ms-border-radius:25px ;
    -o-border-radius:25px ;
    border-radius:25px ;
    color: #fff;
    line-height: 20px;
    text-align: center;
    margin: 0 6px;
    margin-top: -5px;
    *margin-top: 0px;
}
.legalize.cur{background: #0046fd;}
b.col_blue{color: #0048ff;}/* 已认证 */
.legalize.normal{background: #999;}
b.col_555{color: #555;}/* 未认证 */
.legalize.legalizing{background: #007f00;}
b.col_green{color: #007f00;}/* 正在审核 */
.legalize.miss{background: #ff0000;}
b.col_red{color: #ff0000;}/* 驳回 */

/* 认证的各种状态 over */
.hy-center .box-account{
    margin: 15px 0 0 30px;
    color: #f6660d;
    font-size: 14px;
}
.hy-center .box-account p{
    color: #333;
    font-size: 30px;
    font-family:arial, serif;
    line-height: 30px;
    padding-top: 15px;
}
.hy-center .box-account p .tx{
    background: #c90301;
    width: 70px;
    height: 25px;
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    margin-left: 20px;
}
.box-tip p{
    padding: 15px 25px;
}
.box-tip .tip-icon{
    display: inline-block;
    *display: inline;
    zoom:1;
    background-position: 0 -592px;
    width: 21px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -5px;
    *margin-top:0;
}
.hy-center .box-tip .lega{
    display: inline-block;
    *display: inline;
    zoom:1;
    background-position: 60px -611px;
    background-color: #f6660d;
    color: #fff;
    font-size: 12px;
    width: 78px;
    height: 25px;
    line-height: 25px;
    margin-left:20px;
    padding-left: 8px;
}
.hy-center .box-tip .sj{
    display: inline-block;
    *display: inline;
    zoom:1;
    position: absolute;
    left: 30px;
    top:-6px;
    background-position: 0 -639px;
    width: 6px;
    height: 10px;
}
.hy-center .box-tabs{
    padding: 22px 0;
    border-bottom: 1px dashed #ddd;
}
.hy-center .box-tabs .title1,
.hy-center .box-tabs .title2,
.hy-center .box-tabs .title3{
    position: absolute;
    left: 2px;
    top:20px;
    background-color: #c90303;
    width: 30px;
    height: 110px;
    color: #fff;
    -webkit-border-radius:0 8px 8px 0px;
    -moz-border-radius:0 8px 8px 0px;
    -ms-border-radius:0 8px 8px 0px;
    -o-border-radius:0 8px 8px 0px;
    border-radius:0 8px 8px 0px;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
}
.hy-center .box-tabs .title1 i,
.hy-center .box-tabs .title2 i,
.hy-center .box-tabs .title3 i{
    display: inline-block;
    *display: inline;
    zoom:1;
    background-position: 0 -654px;
    width: 22px;
    height: 21px;
    margin: 5px 0 0;
}
.hy-center .box-tabs .title2 i{background-position: 0 -682px;}
.hy-center .box-tabs .title3 i{background-position: 0 -707px;}
.hy-center .box-tabs ul{
    margin-left: 40px;
}
.hy-center .box-tabs ul li{
    float: left;
    *display: inline;
    width: 175px;
    margin: 0 10px;
    border-right: 1px solid #f0f0f0;
}
.hy-center .box-tabs ul li:last-child{border-right: 0 none;}
.hy-center .box-tabs ul li p{
    text-align: center;
    line-height: 30px;
}
.hy-center .box-tabs ul li i{
    background: url("../../images/jzt-user-center/icon-2.png") no-repeat;
    display: inline-block;
    *display: inline;
    zoom:1;
    width: 60px;
    height: 50px;
    margin:20px 0 0 58px;
    text-align: right;
    color: #fff;
    padding-right: 5px;
}
.hy-center .box-tabs ul li i span{
    display: inline-block;
    *display: inline;
    zoom:1;
    width: 23px;
    height: 23px;
    float: right;
    margin-right: 1px;
    text-align: center;
}
.hy-center .box-tabs ul li .ico1{background-position: 0 0;}
.hy-center .box-tabs ul li .ico2{background-position: -68px 0;}
.hy-center .box-tabs ul li .ico3{background-position: -126px 0;}
.hy-center .box-tabs ul li .ico4{background-position: 0 -112px;}
.hy-sidebar{
    width: 240px;
    margin-top: 10px;
}
.hy-sidebar .title{
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
}
.hy-sidebar .title span{
    font-weight: normal;
    color: #666;
}
.hy-sidebar .title i{
    display: inline-block;
    *display: inline;
    zoom:1;
    width: 20px;
    height: 25px;
    vertical-align: middle;
    margin: 0 8px;
}
.hy-sidebar .title .icon-post{background-position: 0 -736px;}
.hy-sidebar .title .icon-recom{background-position: 0 -770px;}
.border-2{
    border: 1px solid #ddd;
    border-top-width:3px ;
}
.hy-right .box-tip{}
.hy-right .box-tip p{
    line-height: 28px;
    padding: 10px 25px;
}
.hy-right .box-tip p span{padding-left: 26px;}
.legalize-list{margin-top: 28px;}
.legalize-list li{
    border: 1px solid #d2d2d2;
    padding: 28px;
    margin: 0 0 10px 28px;
}
.legalize-list li i,
.legalize-list li span,
.legalize-list li a{
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: middle;
}
.legalize-list li .icon-person{
    background-position: 0 0;
    width: 122px;
    height: 122px;
}
.legalize-list li .icon-company{
    background-position: 0 -124px;
    width: 122px;
    height: 122px;
}
.legalize-list li .status{
    width: 160px;
    font-size: 14px;
    margin-left: 30px;
    line-height: 34px;
}
.legalize-list li .status .legalize{font-size: 12px;}
.legalize-list li a{margin: 0 100px 0 0;}
.legalize-list li a.shengji,
.legalize-list li a.shengji:hover{
    margin-right: 0;
    padding-left: 20px;
    background: url("../../images/jzt-user-center/icon-4.png") no-repeat 115px 4px;
    width: 110px;
    color: #c90301;
    font-weight: bold;
    text-decoration: underline;
}
.kf-box{
    margin: 35px 0 0 30px;
}
.kf-box h3,
.kf-box p{
    font-size: 14px;
    line-height: 35px;
    color: #666;
}
.kf-box p strong{
    font-size: 16px;
    padding-left: 35px;
    color: #ff6c00;
}
.kf-box .phone{
    background-position: -128px 0;
    width: 26px;
    height: 26px;
}
.kf-box .qq{
    background-position: -128px -56px;
    width: 26px;
    height: 26px;
}
/* form */
.text,
.text-1{
    border: 1px solid #c4d4db;
    background-color: #fff;
    padding: 0 10px;
}
.text-1{
    border: 1px solid #c9c9c9;
    width: 190px;
    height: 32px;
    line-height: 32px;
    color: #666;
    font-size: 14px;
    padding: 0 5px;
}
.text-2{
    border: 1px solid #ccc;
    width: 200px;
    height: 26px;
    line-height: 26px;
    color: #666;
    font-size: 14px;
    padding: 0 5px;
}
.login-text{
    width: 285px;
    height: 38px;
    line-height: 38px;
    color: #666;
    font-size: 14px;
    padding-left: 35px;
}
.register-text{
    width: 290px;
    height: 36px;
    line-height: 36px;
    color: #666;
    padding-left: 10px;
    border: #c2c2c2 1px solid;
    font-size: 14px;
}
.register-text:focus{border: 1px solid #41b0f6;}
.register-text.yzm{width: 123px;}
.login-text.user{background-position:7px 10px;}
.login-text.password{background-position:7px -32px;}
.login-text.yz{
    width:100px;
    background-image: none;
    padding-left: 10px;
}
.login-btn{
    width: 342px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-family: Microsoft YaHei;
    background: #d94736;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: 400;

}
.register-btn,
.yellow-btn,
.yellow-btn2{
    width: 180px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    background: #d94736;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 15px;
}
.register-btn.wid1{width: 122px; margin-top: 0; font-size: 16px;}
.yellow-btn{
    margin-top: 0;
    line-height: 36px;
    height: 36px;
    width: 200px;
}
.yellow-btn2{
    width:66px;
    height: 30px;
    line-height: 30px;
    margin-top: 0;
}
.yellow-btn3{
    background: #c90301;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 35px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.yzm-btn {
    padding:0 15px;
    height: 36px;
    line-height: 36px;
    color: #606060;
    text-align: center;
    font-size: 14px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 10px;
}
.yzm-btn2{
    border: 1px solid #aaa;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ffffff));
    background: -moz-linear-gradient(top,  #f8f8f8,  #ffffff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ffffff');
    padding:3px 5px;
    color: #999;
    margin:10px 0 0 270px;
}
.yzm-btn.wid2{width: 88px; font-weight: bold; font-size: 16px;}
.btn-hui{
    width: 66px;
    height:30px;
    line-height: 30px;
    color: #3c3c3c;
    text-align: center;
    font-size: 14px;
    background: #c9c9c9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
}
.btn-hui1,
.btn-style-hui{
    border: 1px solid #999;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background:#dedede;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dedede));
    background: -moz-linear-gradient(top,  #fff,  #dedede);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dedede');
    padding: 8px 30px;
    color: #666;
}
.btn-hui1{
    padding: 0px 15px;
}
.btn-style-hui{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.btn-hui1:hover{
    color: #666;
    text-decoration: none;
}
.btn-hui1 .btn-none{
    position:absolute;
    top:0;
    right:0;
    height:26px;
    filter:alpha(opacity:0);
    opacity: 0;
    width:90px;
    cursor: pointer;
}
.btn-disable{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background:#bbbbbb;
    padding: 5px 15px;
    color: #fff;
}
.btn-red1,
.btn-style{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:#c90301;
    padding: 8px 30px;
    color: #fff;
}
.btn-style{padding: 5px 12px;}
.btn-red1:hover{background: #ff4848;}
a.btn-red1,a.btn-red1:hover{color: #fff; text-decoration: none;}
/* form */
.form-1 li{padding: 15px 0;}
.form-1 li label,
.form-2 li label{
    display: inline-block;
    *display:inline;
    zoom:1;
    width: 230px;
    vertical-align: middle;
    font-size: 14px;
    color: #434343;
    text-align: right;
}
.form-1 li .tips{
    padding-left:10px;
    color: #888;
}
.form-1 li p{
    padding:0 0 10px 110px;
    color: #585858;
}
.re-suc{
    padding: 20px;
    text-align: center;
    color: #484848;
    font-size: 14px;
}
.form-2 li{
    padding: 8px 0;
    line-height: 26px;
}
.form-2 li.hr{
    border-bottom: 1px solid #999;
    overflow: hidden;
    margin: 10px 0 10px 125px;
    width: 600px;
}
.form-2 li span{
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: middle;
}
.form-2 li label{width: 140px; color: #333;}
.form-2 li.coption{padding-left: 145px; line-height: 25px;}
.form-2 .paption.mid{padding:5px 0 0 300px;}
.form-2 li.coption p{line-height: 26px;}
.form-2 .tj-btn{margin-left: 250px;}
.form-2 .tj-btn.mid{margin-left: 360px;}
.form-2 .paption{
    color: #999;
    padding: 5px 0 0 190px;
}
.form-2 .middle{margin-left: 80px;}
.form-2 .right{
    min-width: 18px;
    min-height: 22px;
    display: inline-block;
    *display: inline;
    zoom:1;
    background: url("../../images/jzt-user-center/right.png") no-repeat 0 4px;
    text-indent: 20px;
    vertical-align: middle;
}
.form-2 .img{
    display: block;
    border: 1px solid #d2d2d2;
    width: 250px;
    height: 150px;
    margin-bottom: 18px;
    overflow: hidden;
}
.form-2 .capt{
    padding-left: 145px;
    color: #909090;
    padding-top: 8px;
}

.popup-box{
    display: none;
    background: #fff;
    border: 2px solid #666;
    z-index: 1000;
    overflow: hidden;
}
.popup-box .close{
    background: url("../../images/jzt-user-center/close.png") no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    right: 3px;
    top:3px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1002;
}
.popup-box .close:hover{background: url("../../images/jzt-user-center/close_hover.png") no-repeat;}
.popup-box .pictio{position:absolute;z-index:1;background-color:#666;cursor:move;}
.popup-box .down_showpic{overflow:hidden;width:auto;text-align:center;}
/* 文字例表 */
.list_12{margin: 5px 10px;}
.list_12 li{
    background: url("../../images/jzt-user-center/li.png") 0 13px no-repeat;
    font-size: 12px;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    text-indent: 10px;
}
.list_12 li a{color: #666;}
.list_12 li a:hover{color: #c90303;}
/* 图片加文字布局 */
.list_img{padding-bottom: 14px;}
.list_img li{
    padding: 18px 0 0 12px;
    height: 104px;
}
.list_img li a:hover{text-decoration: none;}
.list_img li span img{
    float: left;
    border: 1px solid #ccc;
    padding: 1px;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
.list_img li h3{
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    color: #0f0f0f;
}
.list_img li p{
    line-height: 30px;
    color: #666;
}
/* 分隔线 */
.hr-red{
    border-bottom: 3px solid #c90301;
    width: auto;
    overflow: hidden;
}
.loading{
    display:none;
    position:absolute;
    left:180px;
    top:5px;
    width:30px;
    height:30px;
}
.loading img{width:30px; height:30px;}
.text-Valid:focus{border:1px solid #41b0f6;}

/* alert css */
#msgdiv{
    background: #fff;
    border: 2px solid #e60b0f;
    font: 12px/1.6em verdana,geneva,arial,helvetica,sans-serif;
    padding-bottom: 15px;
    /*top:50%;
    left:50px;*/
    margin:-75px 0 0 -220px;
    min-width: 220px;
    padding:0 10px 10px;
    min-height: 120px;
    z-index: 10001;
	/*lujing modification*/
	left:50%;/*FF IE7*/
	top: 50%;/*FF IE7*/
	position:fixed!important;/*FF IE7*/
	position:absolute;/*IE6*/
	max-width:500px;
}
#msgdiv p{ 
	font-size:12px; 
	line-height:24px; 
	height:24px;
	*width:230px;
	*height:50px; 
	*text-align:left;
}
#msgdiv h4{
    border-bottom: 1px solid #d0d0d0;
    color: #202020;
    font: 16px Microsoft YaHei;
    height: 18px;
    margin: 0 10px;
    padding: 5px 0 8px;
    position: relative;
}
#msgtxt{
    color: #474e5d;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    padding: 10px 0 15px;
}
#aClose{
    background: url("../../images/jzt-user-center/close-red.png") no-repeat;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 0;
    top:0;
    overflow: hidden;
    cursor: pointer;
    z-index: 1002;
}
#msgdiv input{
    *margin-left: 130px;
}
#msgdiv .btn-style,
#msgdiv .btn-style-hui{margin: 0 5px;}

.hy-right .text-1{
    width: 150px;
}

/* 摘牌 */
.pickcard-box,
.order-box{padding: 0 0 0 10px;}
.pickcard-box .process-list{
    padding: 20px 0 0 10px;
    width: 1200px;
    margin-left: -55px;
}
.pickcard-box .process-list li{
    float: left;
    width: 200px;
    line-height: 60px;
    font-size: 14px;
    font-family: "microsoft yahei";
    color: #464646;
    text-align: center;
    padding-right: 85px;
}
.pickcard-box .process-list.sell{margin-left: -50px;}
.hy-right .title4{
    background: #f2f2f2;
    border: 1px solid #e9e9e9;
    line-height: 33px;
    height: 33px;
    padding-left: 10px;
    font-weight: bold;
    color: #464646;
}

.pickcard-box .process-list.sell li{
    width: 200px;
    padding-right: 80px;
}
.pickcard-box .process-list li.cur{
    color: #c90301;
}
.pickcard-box .process{
    position: relative;
    background: url("../../images/jzt-user-center/procee.png") no-repeat top center;
    width: auto;
    height: 42px;
    margin-bottom: 30px;
}
.pickcard-box .process span{
    display: inline-block;
    *display: inline;
    zoom:1;
    position: absolute;
    left: 0;
    top:0;
    background: url("../../images/jzt-user-center/procee.png") no-repeat 25px -46px;
    width: 100%;
    height: 42px;
}
.pickcard-box .process span.step1{width: 200px;}
.pickcard-box .process span.step2{width: 480px;}
.pickcard-box .process span.step3{width: 760px;}
.pickcard-box .process span.step4{width: 100%;}

.pickcard-box .fontstyle{
    color: #464646;
    line-height: 40px;
}
.pickcard-box .fontstyle.lineH{line-height: 20px;}
.pickcard-box a.btn-gray{
    margin: 0 5px;
    padding: 6px 10px;
    -webkit-box-shadow: 0.5px 0.5px 2px #d9d9d9;
    -moz-box-shadow: 0.5px 0.5px 2px #d9d9d9;
    box-shadow: 0.5px 0.5px 2px #d9d9d9;
}
.col_blue{color: #005ea7;}
.pickcard-box .order-message,
.order-box .order-list li table{
    border: 1px solid #e4e4e4;
}
.pickcard-box .order-message th,
.order-box .order-list li table th{
    height: 36px;
    vertical-align: middle;
    border-bottom: 1px solid #e4e4e4;
    background: #f5f5f5;
    font-weight: normal;
}
.pickcard-box .order-message .order-intro,
.order-box .order-list li table .order-intro{
    padding: 12px;
}
.pickcard-box .order-message .order-intro span img,
.order-box .order-list li table .order-intro span img{
    width: 96px;
}
.pickcard-box .order-message .order-intro span,
.order-box .order-list li table .order-intro span{
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: middle;
    width: 96px;
    max-height: 96px;
    overflow: hidden;
    margin-right:10px;
}
.pickcard-box .order-message .order-intro h3,
.order-box .order-list li table .order-intro h3{
    width: 350px;
    max-height: 96px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: middle;
}
.order-box .order-list li table .order-intro h3{width: 250px;}
.pickcard-box .order-message .order-intro ul{
    margin-left: 121px;
}
.pickcard-box .order-message .order-intro ul li{
    float: left;
    width: 190px;
    line-height: 28px;
}
.pickcard-box .collect{
    line-height: 30px;
}
.pickcard-box .collect strong{
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: middle;
    min-width: 66px;
    text-align: right;
    color: #ff0000;
    font-size: 16px;
}
.order-box .o-title{
    font-size: 22px;
    color: #202020;
    font-family: "microsoft yahei";
    font-weight: 400;
    line-height: 40px;
}
.order-box .tabs{
    border-bottom: 2px solid #d1d1d1;
}
.order-box .tabs li{
    float: left;
    line-height: 48px;
    padding: 0 25px;
    margin-right: 15px;
    font-size: 14px;
    color: #464646;
    cursor: pointer;
}
.order-box .tabs li.cur/*,
.order-box .tabs li:hover*/{
    border-bottom: 2px solid #c90301;
    margin-bottom: -2px;
    color: #c90301;
    font-weight: bold;
    background: url("../../images/jzt-user-center/order-tabs.png") no-repeat bottom center;
}
.order-box .o-search{
    border: 1px solid #e4e4e4;
    background: #f5f5f5;
    padding: 10px 20px;
    line-height: 26px;
}
.order-box .txt{
    border: 1px solid #d7d7d7;
    height: 26px;
    line-height: 26px;
    padding: 4px 0\9;
    width: 70px;
    color: #999;
    text-indent: 6px;
    font-size: 12px;
}
.order-box .txt.dat{
    background: url("../../images/jzt-user-center/date.png") no-repeat 88px center #fff;
    width: 106px;
}
.order-box .txt.sech{width:200px; *width: 190px; }
.pl15{padding-left: 15px;}
.pl30{padding-left: 30px;}
.btn-red{
    background: #c90301;
    border-radius: 3px;
    padding: 6px 15px;
    padding: 8px 15px 4px\9;
    *padding: 7px 15px 3px;
    color: #fff;
    -webkit-box-shadow: inset 0.5px 0.5px 2px #94100f;
    -moz-box-shadow: inset 0.5px 0.5px 2px #94100f;
    box-shadow: inset 0.5px 0.5px 2px #94100f;
}
.btn-gray {
    box-shadow: 0.5px 0.5px 2px #d9d9d9;
    color: #fff;
    background: #eeeeee;
    padding:6px 15px;
    -webkit-box-border-radius: 3px;
    -moz-box-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    *padding: 5px 15px; *display: inline; zoom:1;
    color: #464646;
    border: 1px solid #cdcdcd;
}
.btn-gray:hover {
    text-decoration: none;
}
.btn-red:hover{
    background: #e62c2a;
    color: #fff;
}
.order-box .order-list{display: none;}
.order-box .order-list li{margin-bottom: 10px;}
.order-box .order-list li table th span{padding: 0 20px;

}
.order-box .order-list li table .btn-red{padding: 9px 22px; *padding: 10px 22px 7px;}
.order-box .pageup{margin-top: 10px;}
.order-state{padding: 15px 12px 50px;}
.order-state div img{
    width: 118px;
    padding: 1px;
    border: 1px solid #f4f4f4;
}
.order-state p{
    padding-top: 15px;
    line-height: 25px;
}
.reimburse-box{margin-top: 30px; padding: 0 10px;}
.reimburse-box .process,
.reimburse-box .process-re{
    background:url("../../images/jzt-user-center/procee.png") no-repeat 0 -158px;
    width: auto;
    height: 85px;
    position: relative;
}
.reimburse-box .process span,
.reimburse-box .process-re span{
    position: absolute;
    left: 0;
    top:0;
    background:url("../../images/jzt-user-center/procee.png") no-repeat 0 -279px;
    width: 100%;
    height: 85px;
}
.reimburse-box .process-re span{background-position: 0 -378px;}
.reimburse-box .process span.step1{width: 27%;}
.reimburse-box .process span.step2{width: 71%;}
.reimburse-box .process span.step3,
.reimburse-box .process-re span.step3{width: 100%;}
.reimburse-box .title1{
    background: #eee;
    line-height: 32px;
    height: 32px;
    width:auto;
    padding-left: 18px;
    font-size: 14px;
    color: #464646;
    font-weight: bold;
}
.reimburse-box .reim-form li{
    padding: 10px 0;
}
.reimburse-box .reim-form li label{
    display: inline-block;
    *display: inline;
    zoom:1;
    min-width: 80px;
    text-align: right;
    vertical-align: middle;
    line-height: 25px;
    color: #464646;
}
.reimburse-box .reim-form .text-1{
    height: 25px;
    line-height: 25px;
    width: 285px;
}
.reimburse-box .reim-form .textarea{
    border: #c9c9c9 1px solid;
    width: 480px;
    height: 95px;
    color: #666;
    padding: 5px;
    line-height: 22px;
}
.reimburse-box .reim-form .text-1:focus,
.reimburse-box .reim-form .textarea:focus{border: 1px solid #41b0f6;}
.reimburse-box .reim-form .problem-pic,
.reimburse-box .reim-form .problem-pic a,
.reimburse-box .reim-form .btn-file,
.reimburse-box .reim-form .ve-mid,
.reimburse-box .reim-form .intro,
.reimburse-box .reim-form .problem-pic a i{
    display: inline-block;
    *display: inline;
    zoom:1;
    vertical-align: top;
}
.reimburse-box .reim-form .ve-mid{line-height: 35px; padding-left: 15px; color: #464646;}
.reimburse-box .reim-form .problem-pic a{
    position: relative;
    width: 186px;
    margin-right: 25px;
    text-align: center;
    line-height: 44px;
    color: #464646;
    cursor: inherit;
}
.reimburse-box .reim-form .problem-pic a:hover i{
    display: block;
}
.reimburse-box .reim-form .problem-pic a img{
    border: 1px solid #e3e3e3;
    padding: 5px;
    overflow: hidden;
    width: 180px;
    height: 180px;
}
.reimburse-box .reim-form .problem-pic a i{
    position: absolute;
    bottom:50px;
    left:6px;
    width: 180px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    background: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    vertical-align: inherit;
    cursor: pointer;
    display: none;
}
.reimburse-box .reim-form .btn-file{
    position: relative;
    background: url("../../images/jzt-user-center/file.png") no-repeat;
    width: 125px;
    height: 36px;
    overflow: hidden;
}
.reimburse-box .reim-form .btn-file input[type=file]{
    position: absolute;
    top:0;
    left: 0;
    width: 125px;
    height: 36px;
    cursor: pointer;
    opacity: 0;
    filter:Alpha(opacity=0);

}
.reimburse-box .reim-form .btn-red{ padding:9px 25px;  *padding:9px 25px 6px; padding:9px 25px 6px\9; }
.area-1200.mb45{margin-bottom: 45px;}
.reimburse-box .reim-form .intro{
    width: 615px;
    line-height: 28px;
}
.txt.textmini{
    line-height: 22px;
    height: 22px;
    width: 48px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #ccc inset;
    color: #474e5d;
    font-size: 100%;
}
.sell-box .btn-gray{
    padding: 5px 10px;
}
.sell-box td .wid{
    padding: 0 12px;
}