body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:461px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3605 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:716px;
  background:inherit;
  background-color:rgba(251, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3606 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:716px;
}
#u3607 {
  position:absolute;
  left:2px;
  top:350px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:40px;
  background:-webkit-linear-gradient(90deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  background:linear-gradient(0deg, rgba(57, 105, 165, 1) 0%, rgba(57, 105, 165, 1) 0%, rgba(90, 150, 198, 1) 100%, rgba(90, 150, 198, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3608 {
  position:absolute;
  left:61px;
  top:10px;
  width:400px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3609 {
  position:absolute;
  left:2px;
  top:12px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3610 {
  position:absolute;
  left:61px;
  top:15px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3611 {
  position:absolute;
  left:10px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u3612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u3612 {
  position:absolute;
  left:65px;
  top:20px;
  width:25px;
  height:20px;
  font-family:'Arial Black Black', 'Arial Black';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u3613 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u3614 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u3615 {
  position:absolute;
  left:65px;
  top:80px;
  width:396px;
  height:221px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u3616 {
  position:absolute;
  left:16px;
  top:102px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
  background:inherit;
  background-color:rgba(35, 192, 250, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u3617 {
  position:absolute;
  left:388px;
  top:261px;
  width:61px;
  height:23px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u3618 {
  position:absolute;
  left:16px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u3619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u3619 {
  position:absolute;
  left:73px;
  top:125px;
  width:378px;
  height:114px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u3620 {
  position:absolute;
  left:8px;
  top:5px;
  width:370px;
  word-wrap:break-word;
}
#u3621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u3621 {
  position:absolute;
  left:77px;
  top:89px;
  width:37px;
  height:37px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u3622 {
  position:absolute;
  left:0px;
  top:6px;
  width:37px;
  white-space:nowrap;
}
#u3623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3623 {
  position:absolute;
  left:234px;
  top:344px;
  width:57px;
  height:20px;
}
#u3624 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
